<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_yijianzhuangbei_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_yijianzhuangbei_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{163,1},{160,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_yijianzhuangbei_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{325,1},{160,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_yijianzhuangbei_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{1,92},{160,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_yijianzhuangbei_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{1,254},{160,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_yijianzhuangbei_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,89}</string>
                <key>spriteSourceSize</key>
                <string>{160,89}</string>
                <key>textureRect</key>
                <string>{{1,416},{160,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_yijianzhuangbei.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54442d549258873d6d1d6d28d9ed3b0e:38cf0e35a0f11c48f37af3d7af2f8d30:be8ff957b5036626220f3a4d16fe1922$</string>
            <key>textureFileName</key>
            <string>ui_yijianzhuangbei.png</string>
        </dict>
    </dict>
</plist>
