<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanghe_atk1_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,404},{88,88}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{88,88}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhanghe_atk1_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{82,92}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{82,92}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhanghe_atk1_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,92},{88,96}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{88,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhanghe_atk1_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{88,96}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{88,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhanghe_atk1_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,87},{80,96}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{80,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhanghe_atk1_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,449},{54,86}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{54,86}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhanghe_atk1_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,457},{36,84}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,12},{36,84}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>zhanghe_atk_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,457},{86,39}}</string>
                <key>offset</key>
                <string>{-62,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,74},{86,39}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,91}}</string>
                <key>offset</key>
                <string>{20,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{208,91}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,236},{166,99}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,53},{166,99}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,220},{164,119}}</string>
                <key>offset</key>
                <string>{-10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,51},{164,119}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{154,139}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{154,139}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,95},{160,123}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,33},{160,123}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{190,103}}</string>
                <key>offset</key>
                <string>{13,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,64},{190,103}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{192,83}}</string>
                <key>offset</key>
                <string>{-28,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{192,83}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,185},{148,75}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,70},{148,75}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,386},{144,69}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,70},{144,69}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,182},{144,69}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,70},{144,69}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,382},{146,65}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,74},{146,65}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,335},{144,45}}</string>
                <key>offset</key>
                <string>{-11,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,93},{144,45}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
            <key>zhanghe_atk_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,182},{48,17}}</string>
                <key>offset</key>
                <string>{-60,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,93},{48,17}}</string>
                <key>sourceSize</key>
                <string>{248,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhanghe_02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fac0a4c3e611160a1c249d60a3e7044:6e73ff7f7288e28b78a5df3ddea1fcb9:32a9e34277b27eb3ecaf2b2894ea7676$</string>
            <key>textureFileName</key>
            <string>skill_zhanghe_02.png</string>
        </dict>
    </dict>
</plist>
