<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_zhiliao_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,102},{90,39}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{90,39}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,161},{92,41}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{92,41}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,57},{90,43}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{90,43}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,210},{94,43}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{94,43}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,161},{98,47}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{98,47}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,57},{102,49}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{102,49}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,57},{106,49}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{106,49}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,169},{108,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{108,51}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{112,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{112,53}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,53}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{114,53}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
            <key>buff_zhiliao_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{110,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,53}}</string>
                <key>sourceSize</key>
                <string>{114,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_zhiliao_01b.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:462e4da4e9d102043142c45147509e4c:147b97a9020997dac8a9c0e0f9a3c8a6:33e0cfb5388737f7b97bbf94b47b2c91$</string>
            <key>textureFileName</key>
            <string>buff_zhiliao_01b.png</string>
        </dict>
    </dict>
</plist>
