<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_huolong_effect2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{137,97}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{137,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,4}</string>
                <key>spriteSize</key>
                <string>{137,99}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{271,1},{137,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,4}</string>
                <key>spriteSize</key>
                <string>{135,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{138,102},{135,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{137,103}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{132,205},{137,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{131,107}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{271,209},{131,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,4}</string>
                <key>spriteSize</key>
                <string>{131,105}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{275,102},{131,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{139,105}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,310},{139,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{139,105}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{271,318},{139,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_huolong_effect2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,5}</string>
                <key>spriteSize</key>
                <string>{129,105}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,201},{129,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{127,107}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{404,271},{127,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_huolong_effect2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{127,109}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{142,310},{127,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{129,97}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{140,1},{129,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{131,99}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{410,1},{131,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_huolong_effect2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{135,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{408,134},{135,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_huolong_effect2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{135,99}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,100},{135,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_huolong_effect2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8fb64129d11ed7c29a08bc761ddc27f:bdeef440619c624a096a19169e212a32:2ca40466a007b4ec674184a2e1964648$</string>
            <key>textureFileName</key>
            <string>playerskill_huolong_effect2.png</string>
        </dict>
    </dict>
</plist>
