<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lvbu_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,421},{91,67}}</string>
                <key>offset</key>
                <string>{-94,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,3},{91,67}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{139,69}}</string>
                <key>offset</key>
                <string>{-57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,2},{139,69}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,73},{271,73}}</string>
                <key>offset</key>
                <string>{-79,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,73}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{273,71}}</string>
                <key>offset</key>
                <string>{-50,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{273,71}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,148},{271,71}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,2},{271,71}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,148},{295,73}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{295,73}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,73},{327,73}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,0},{327,73}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,73},{359,69}}</string>
                <key>offset</key>
                <string>{26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,4},{359,69}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{363,69}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,4},{363,69}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
            <key>skill_lvbu_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{367,69}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{367,69}}</string>
                <key>sourceSize</key>
                <string>{429,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lvbu_02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5561c05ff9c19abc80e3a46ed8665f1f:6d42993549b03b9fdd2182aa077b97ba:98b7937b66003a9a218b0bde58a11f90$</string>
            <key>textureFileName</key>
            <string>skill_lvbu_02.png</string>
        </dict>
    </dict>
</plist>
