<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_summon_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,315},{110,175}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,37},{110,175}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{110,201}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{110,201}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,203}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{110,203}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,2},{110,199}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{110,199}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,313},{110,197}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,17},{110,197}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,199}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{110,199}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,114},{110,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,21},{110,197}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,203},{110,193}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,27},{110,193}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,315},{108,169}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,40},{108,169}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
            <key>skill_summon_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{100,167}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,40},{100,167}}</string>
                <key>sourceSize</key>
                <string>{140,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_summon_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d362380f411fb71a6665faea6e94261$</string>
            <key>textureFileName</key>
            <string>skill_summon_1.png</string>
        </dict>
    </dict>
</plist>
