<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_jiangwei_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>hit_jiangwei_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,202},{47,53}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{47,53}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>hit_jiangwei_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,162},{67,61}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{67,61}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>hit_jiangwei_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,81},{79,71}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{79,71}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>hit_jiangwei_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,2},{85,77}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,19},{85,77}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>hit_jiangwei_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{87,77}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{87,77}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>hit_jiangwei_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,125},{87,75}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{87,75}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_jiangwei_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0abccb08dca3e886655875c143b86fb8:2754586bc4c15bb85c36c5219e53948e:8c9acbdc4ba4619a388e084a1b3596ea$</string>
            <key>textureFileName</key>
            <string>hit_jiangwei_1.png</string>
        </dict>
    </dict>
</plist>
