<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huanggai_atk_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,0}</string>
                <key>spriteSize</key>
                <string>{116,134}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,441},{116,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_atk_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{240,130}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_atk_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{243,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_atk_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{228,98}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{485,1},{228,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_atk_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{198,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{715,1},{198,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_atk_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-28}</string>
                <key>spriteSize</key>
                <string>{152,36}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{671,140},{152,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,91}</string>
                <key>spriteSourceSize</key>
                <string>{86,91}</string>
                <key>textureRect</key>
                <string>{{584,360},{86,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,97}</string>
                <key>spriteSourceSize</key>
                <string>{103,97}</string>
                <key>textureRect</key>
                <string>{{243,369},{103,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{348,414},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,44}</string>
                <key>spriteSourceSize</key>
                <string>{43,44}</string>
                <key>textureRect</key>
                <string>{{348,369},{43,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{413,216},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{647,294},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{479,317},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{137,441},{28,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{162,451},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{194,451},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{671,101},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{413,178},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanggai_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,68}</string>
                <key>spriteSourceSize</key>
                <string>{53,68}</string>
                <key>textureRect</key>
                <string>{{413,123},{53,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{893,165},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huanggai_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,89}</string>
                <key>spriteSourceSize</key>
                <string>{112,89}</string>
                <key>textureRect</key>
                <string>{{910,169},{112,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{138,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{883,260},{138,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-50}</string>
                <key>spriteSize</key>
                <string>{166,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{479,221},{166,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-61}</string>
                <key>spriteSize</key>
                <string>{166,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,133},{166,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_huanggai_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-59}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{243,261},{160,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-57}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{163,301},{148,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_huanggai_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-55}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{405,276},{148,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_huanggai_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-28}</string>
                <key>spriteSize</key>
                <string>{162,72}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,217},{162,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-28}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,387},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-29}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{243,337},{132,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-43}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{485,101},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{136,168}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{243,123},{136,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_huanggai_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,29}</string>
                <key>spriteSize</key>
                <string>{166,108}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{915,1},{166,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_huanggai_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,40}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,133},{166,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,8}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{709,245},{146,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_huanggai_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-44}</string>
                <key>spriteSize</key>
                <string>{186,96}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{715,67},{186,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-56}</string>
                <key>spriteSize</key>
                <string>{182,78}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{709,165},{182,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_huanggai_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-46}</string>
                <key>spriteSize</key>
                <string>{160,94}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,291},{160,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huanggai.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8692ef07401eee0dd8ea43cf7d3ea00:710734dbbdd09ecd127ce93f9bf60db1:4c33c63ec7b880065ace7e8cf76c4edb$</string>
            <key>textureFileName</key>
            <string>huanggai.png</string>
        </dict>
    </dict>
</plist>
