<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_copper_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-11}</string>
                <key>spriteSize</key>
                <string>{136,114}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{293,111},{136,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_copper_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-22}</string>
                <key>spriteSize</key>
                <string>{130,92}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,369},{130,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_copper_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-32}</string>
                <key>spriteSize</key>
                <string>{122,70}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{431,111},{122,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_copper_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-25}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{427,235},{116,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_copper_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{110,90}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{225,227},{110,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_copper_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-24}</string>
                <key>spriteSize</key>
                <string>{118,88}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{337,227},{118,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_copper_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-23}</string>
                <key>spriteSize</key>
                <string>{122,90}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{187,319},{122,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_copper_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-23}</string>
                <key>spriteSize</key>
                <string>{124,90}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{95,319},{124,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_copper_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,235},{132,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_copper_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{138,94}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{153,109},{138,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_copper_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{150,98}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,105},{150,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_copper_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-17}</string>
                <key>spriteSize</key>
                <string>{154,102}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_copper_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{150,106}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{157,1},{150,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_copper_02_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-14}</string>
                <key>spriteSize</key>
                <string>{142,108}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{309,1},{142,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_copper_02_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-12}</string>
                <key>spriteSize</key>
                <string>{128,112}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{95,205},{128,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guangsuxian_3_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:076966148c55088ab3d6aa43a2b2488b:50fa32d5b0d9f5fda9d48df74dd319da:06ba087d5907e389e1d14d94da143327$</string>
            <key>textureFileName</key>
            <string>guangsuxian_3_2.png</string>
        </dict>
    </dict>
</plist>
