<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_zhouyu_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,65},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhouyu_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhouyu_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,67},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhouyu_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,133},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhouyu_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{195,1},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhouyu_0_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{67,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhouyu_0_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{131,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_zhouyu_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e32f5d0695bf35c01aaa605821c69cfc:c9af30cef1aae5ebb772af2448a09892:d49e376c7a9776548b71f6dc236e8e0e$</string>
            <key>textureFileName</key>
            <string>hit_zhouyu_0.png</string>
        </dict>
    </dict>
</plist>
