<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_yanliang_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,8}</string>
                <key>spriteSize</key>
                <string>{140,156}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,317},{140,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-50}</string>
                <key>spriteSize</key>
                <string>{168,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{929,189},{168,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-61}</string>
                <key>spriteSize</key>
                <string>{168,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{742,259},{168,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-59}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{429,133},{160,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-57}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{165,147},{148,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-55}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{163,297},{148,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-28}</string>
                <key>spriteSize</key>
                <string>{162,72}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,147},{162,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-28}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{691,113},{142,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-29}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{499,373},{132,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-44}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{505,113},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{138,168}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{505,233},{138,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,21}</string>
                <key>spriteSize</key>
                <string>{156,136}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{237,329},{156,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,40}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{741,333},{166,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,8}</string>
                <key>spriteSize</key>
                <string>{148,174}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{253,133},{148,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yanliang_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-44}</string>
                <key>spriteSize</key>
                <string>{186,96}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{745,81},{186,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-56}</string>
                <key>spriteSize</key>
                <string>{182,78}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{745,179},{182,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yanliang_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-46}</string>
                <key>spriteSize</key>
                <string>{160,94}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,221},{160,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_atk_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{59,1}</string>
                <key>spriteSize</key>
                <string>{126,146}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,459},{126,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_atk_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{250,144}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{250,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_atk_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{250,130}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{253,1},{250,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_atk_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{238,110}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{505,1},{238,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_atk_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{208,78}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{745,1},{208,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_atk_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-33}</string>
                <key>spriteSize</key>
                <string>{158,44}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{245,283},{158,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,91}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{909,359},{107,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{66,81}</string>
                <key>textureRect</key>
                <string>{{955,1},{66,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{546,405},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{499,405},{29,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{675,295},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{675,355},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{933,84},{103,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{613,412},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{499,436},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{583,405},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{633,373},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{675,257},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{159,447},{53,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{912,259},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,92}</string>
                <key>spriteSourceSize</key>
                <string>{141,92}</string>
                <key>textureRect</key>
                <string>{{405,295},{141,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yanliang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69276f9ec94b53e4a41987a86d5e2537:cc5eb435efc27738f80137f40803f4a1:a60f0f24e47e4513411cb9c29acc7757$</string>
            <key>textureFileName</key>
            <string>yanliang.png</string>
        </dict>
    </dict>
</plist>
