<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_lvmeng_02_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{65,34}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{257,130},{65,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{89,46}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{209,92},{89,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_lvmeng_02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{99,82}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{108,92},{99,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,42}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{265,86},{107,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{105,40}</string>
                <key>spriteSourceSize</key>
                <string>{107,82}</string>
                <key>textureRect</key>
                <string>{{1,92},{105,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,89}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{128,89}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{135,1},{128,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{122,83}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{265,1},{122,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{114,77}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{389,1},{114,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{112,75}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{389,80},{112,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-6}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{1,134},{86,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-11}</string>
                <key>spriteSize</key>
                <string>{84,65}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{1,213},{84,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_lvmeng_02_act7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-10}</string>
                <key>spriteSize</key>
                <string>{86,67}</string>
                <key>spriteSourceSize</key>
                <string>{132,99}</string>
                <key>textureRect</key>
                <string>{{89,176},{86,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_02shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,5}</string>
                <key>spriteSourceSize</key>
                <string>{19,5}</string>
                <key>textureRect</key>
                <string>{{505,1},{19,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_lvmeng_02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccc7352748c81daa2398873c050f3ff5:6316488cd05cdaaa1423aa3ca061e4e5:3c32c54d52dd8903ba7988f0e5cf99a6$</string>
            <key>textureFileName</key>
            <string>hit_lvmeng_02.png</string>
        </dict>
    </dict>
</plist>
