<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xuchu_01_t_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{58,105}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{1,437},{58,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_xuchu_01_t_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{82,105}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{131,328},{82,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xuchu_01_t_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{92,107}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xuchu_01_t_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{92,107}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{1,110},{92,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xuchu_01_t_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{82,107}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{1,219},{82,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xuchu_01_t_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,107}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{1,328},{70,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xuchu_01_t_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{56,107}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{73,328},{56,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xuchu_01_t_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{46,107}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{85,219},{46,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xuchu_01_t_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{40,101}</string>
                <key>spriteSourceSize</key>
                <string>{92,109}</string>
                <key>textureRect</key>
                <string>{{108,437},{40,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_xuchu_ex_01_t.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b234fff448426959d8e1c15530f48d62:25f1d4c9ddd68cdb1b66e6cc8fe5adc1:34c90cd0335b3c5b96cf9ef395f45c57$</string>
            <key>textureFileName</key>
            <string>skill_xuchu_ex_01_t.png</string>
        </dict>
    </dict>
</plist>
