<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_xiaoqiao_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,304},{28,20}}</string>
                <key>offset</key>
                <string>{0,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,1},{28,20}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,326},{26,18}}</string>
                <key>offset</key>
                <string>{0,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,10},{26,18}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,280},{28,22}}</string>
                <key>offset</key>
                <string>{-2,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,15},{28,22}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,182},{98,96}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,280},{70,70}}</string>
                <key>offset</key>
                <string>{2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,15},{70,70}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,100},{80,84}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,7},{80,84}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{92,96}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{92,96}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,256},{96,128}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{96,128}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,128}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{136,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,122}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{136,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,126},{134,132}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{134,132}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{132,130}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{132,130}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,126},{132,128}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{132,128}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>hit_xiaoqiao_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,260},{108,122}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,5},{108,122}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_xiaoqiao_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08576abd53394361ced465118d10d774:1b57d7b7b69c871d14f3686b69c12f9e:7829ed6e913f4145fdc7a9912533983c$</string>
            <key>textureFileName</key>
            <string>hit_xiaoqiao_01.png</string>
        </dict>
    </dict>
</plist>
