<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_treasure_lvup0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-24}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{129,377},{126,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_lvup10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{124,160}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{129,1},{124,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_lvup12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{124,154}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{291,1},{124,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_lvup14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{124,152}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{129,127},{124,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_lvup16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{120,152}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{283,127},{120,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_lvup18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-13}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{129,253},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_lvup2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{126,144}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{283,249},{126,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_lvup4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_lvup6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{126,166}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{1,169},{126,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_lvup8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{126,162}</string>
                <key>spriteSourceSize</key>
                <string>{126,174}</string>
                <key>textureRect</key>
                <string>{{1,337},{126,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_treasure_lvup.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda78f395be3c4a7ee6f99fb4edcb00a:84e48e78bfe4870ce05e6206ce88e84a:91ff8c71d00f68210dda049b401e36dd$</string>
            <key>textureFileName</key>
            <string>ui_treasure_lvup.png</string>
        </dict>
    </dict>
</plist>
