<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jushou_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,131}</string>
                <key>spriteSourceSize</key>
                <string>{101,131}</string>
                <key>textureRect</key>
                <string>{{3,149},{101,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{3,3},{32,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,94}</string>
                <key>spriteSourceSize</key>
                <string>{76,94}</string>
                <key>textureRect</key>
                <string>{{3,391},{76,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,87}</string>
                <key>spriteSourceSize</key>
                <string>{46,87}</string>
                <key>textureRect</key>
                <string>{{83,391},{46,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,64}</string>
                <key>spriteSourceSize</key>
                <string>{76,64}</string>
                <key>textureRect</key>
                <string>{{133,366},{76,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jushou_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,67}</string>
                <key>spriteSourceSize</key>
                <string>{78,67}</string>
                <key>textureRect</key>
                <string>{{99,284},{78,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jushou_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,92}</string>
                <key>spriteSourceSize</key>
                <string>{103,92}</string>
                <key>textureRect</key>
                <string>{{3,284},{103,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jushou_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,25}</string>
                <key>spriteSourceSize</key>
                <string>{32,25}</string>
                <key>textureRect</key>
                <string>{{121,482},{32,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,27}</string>
                <key>spriteSourceSize</key>
                <string>{30,27}</string>
                <key>textureRect</key>
                <string>{{87,116},{30,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,25}</string>
                <key>spriteSourceSize</key>
                <string>{34,25}</string>
                <key>textureRect</key>
                <string>{{83,482},{34,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,31}</string>
                <key>spriteSourceSize</key>
                <string>{42,31}</string>
                <key>textureRect</key>
                <string>{{108,204},{42,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jushou_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,28}</string>
                <key>spriteSourceSize</key>
                <string>{44,28}</string>
                <key>textureRect</key>
                <string>{{39,116},{44,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,53}</string>
                <key>spriteSourceSize</key>
                <string>{48,53}</string>
                <key>textureRect</key>
                <string>{{108,147},{48,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{157,446},{60,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{3,489},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jushou_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{107,109}</string>
                <key>textureRect</key>
                <string>{{39,3},{107,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jushou_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e784afb507dc9f763ff2c1dc40be6d45:d4c38ebed80833abf41a32c9de43272b:a06fc14f2057ca5d2c3f9fde98961c4d$</string>
            <key>textureFileName</key>
            <string>jushou_display.png</string>
        </dict>
    </dict>
</plist>
