<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xiaoqiao_00_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{96,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{185,93},{96,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{94,102}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{96,208},{94,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{283,92},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-9}</string>
                <key>spriteSize</key>
                <string>{98,84}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{284,194},{98,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_xiaoqiao_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-25}</string>
                <key>spriteSize</key>
                <string>{98,52}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{370,194},{98,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_xiaoqiao_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-29}</string>
                <key>spriteSize</key>
                <string>{92,44}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{284,346},{92,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-32}</string>
                <key>spriteSize</key>
                <string>{60,36}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{429,432},{60,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-7}</string>
                <key>spriteSize</key>
                <string>{90,110}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{2,233},{90,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{94,312},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{192,197},{90,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{90,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{2,345},{90,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{88,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{276,2},{88,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_xiaoqiao_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{384,2},{86,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_xiaoqiao_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{2,103},{92,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,22}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{192,387},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,21}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{424,90},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,19}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{192,301},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_xiaoqiao_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,30}</string>
                <key>spriteSize</key>
                <string>{58,68}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{369,399},{58,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_xiaoqiao_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{382,294},{50,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_limianshou .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,63}</string>
                <key>spriteSourceSize</key>
                <string>{77,63}</string>
                <key>textureRect</key>
                <string>{{424,318},{77,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{284,294},{50,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{241,473},{36,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{378,346},{51,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{192,473},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_longshenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,58}</string>
                <key>spriteSourceSize</key>
                <string>{97,58}</string>
                <key>textureRect</key>
                <string>{{2,451},{97,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{103,87}</string>
                <key>textureRect</key>
                <string>{{96,103},{103,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,47}</string>
                <key>spriteSourceSize</key>
                <string>{65,47}</string>
                <key>textureRect</key>
                <string>{{429,383},{65,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{492,2},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{282,467},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_shanzi li.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{135,89}</string>
                <key>textureRect</key>
                <string>{{145,2},{129,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_shanzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,99}</string>
                <key>spriteSourceSize</key>
                <string>{141,99}</string>
                <key>textureRect</key>
                <string>{{2,2},{141,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{282,392},{73,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{101,416},{89,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{96,80}</string>
                <key>textureRect</key>
                <string>{{424,178},{96,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_xiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,40}</string>
                <key>textureRect</key>
                <string>{{424,276},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaoqiao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0307a0816ce6909f52bf2baa1168653c:ae1c2ab0e3c879bb41b39ca1d1390bfd:755896182437763652109ecc941968cc$</string>
            <key>textureFileName</key>
            <string>xiaoqiao.png</string>
        </dict>
    </dict>
</plist>
