<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_animal_3-idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,143},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,97},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,130},{42,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,97},{42,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,64},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,64},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,64},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,64},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,204},{44,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,158},{44,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,112},{44,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,66},{44,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,97},{42,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,97},{42,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-idle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,189},{42,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{42,31}}</string>
                <key>sourceSize</key>
                <string>{50,33}</string>
            </dict>
            <key>battle_animal_3-walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,31}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,31}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{45,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,33},{45,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,33},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,33},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,33},{45,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{45,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{45,29}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
            <key>battle_animal_3-walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,2},{45,29}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{45,29}}</string>
                <key>sourceSize</key>
                <string>{49,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_animal_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0213586305ec087dd863f3879fe3f17:a970c571232ddf35010c709699677559:f251e2fdbd28e7440121807c4c8160b4$</string>
            <key>textureFileName</key>
            <string>battle_animal_3.png</string>
        </dict>
    </dict>
</plist>
