<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvmeng_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,97}</string>
                <key>spriteSourceSize</key>
                <string>{112,97}</string>
                <key>textureRect</key>
                <string>{{323,3},{112,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,97}</string>
                <key>spriteSourceSize</key>
                <string>{113,97}</string>
                <key>textureRect</key>
                <string>{{3,56},{113,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,70}</string>
                <key>spriteSourceSize</key>
                <string>{51,70}</string>
                <key>textureRect</key>
                <string>{{439,3},{51,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvmeng_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,46}</string>
                <key>spriteSourceSize</key>
                <string>{61,46}</string>
                <key>textureRect</key>
                <string>{{190,116},{61,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,57}</string>
                <key>spriteSourceSize</key>
                <string>{31,57}</string>
                <key>textureRect</key>
                <string>{{120,134},{31,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvmeng_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,129}</string>
                <key>spriteSourceSize</key>
                <string>{109,129}</string>
                <key>textureRect</key>
                <string>{{190,3},{109,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvmeng_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{374,139},{32,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_long_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{120,56},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{340,173},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{374,164},{25,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvmeng_display_long_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,83}</string>
                <key>spriteSourceSize</key>
                <string>{94,83}</string>
                <key>textureRect</key>
                <string>{{423,120},{94,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvmeng_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{313,173},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,30}</string>
                <key>spriteSourceSize</key>
                <string>{54,30}</string>
                <key>textureRect</key>
                <string>{{316,139},{54,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,40}</string>
                <key>spriteSourceSize</key>
                <string>{57,40}</string>
                <key>textureRect</key>
                <string>{{255,116},{57,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{439,58},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{255,160},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,31}</string>
                <key>spriteSourceSize</key>
                <string>{96,31}</string>
                <key>textureRect</key>
                <string>{{323,104},{96,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvmeng_display_wuqi3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{183,49}</string>
                <key>spriteSourceSize</key>
                <string>{193,49}</string>
                <key>textureRect</key>
                <string>{{3,3},{183,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lvmeng_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d78a304dabe0d525fdb79018df5803d:caf2ae172a1568be66367c253f3edc43:1912189e4a5731d43e59e6bdc0970f55$</string>
            <key>textureFileName</key>
            <string>lvmeng_display.png</string>
        </dict>
    </dict>
</plist>
