<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guangyu_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{210,170}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{210,170}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guangyu_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,318},{214,160}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{214,160}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guangyu_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{214,156}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{214,156}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guangyu_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,297},{214,152}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{214,152}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guangyu_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{206,122}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{206,122}}</string>
                <key>sourceSize</key>
                <string>{220,180}</string>
            </dict>
            <key>guangyu_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,162}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,162}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>guangyu_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{292,162}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{292,162}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>guangyu_skill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,141},{244,154}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,8},{244,154}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>guangyu_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,166},{220,150}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,10},{220,150}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>guangyu_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,210},{194,146}}</string>
                <key>offset</key>
                <string>{34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,13},{194,146}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>guangyu_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{168,136}}</string>
                <key>offset</key>
                <string>{37,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,21},{168,136}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>guangyu_skill2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,824},{110,70}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,47},{110,70}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,748},{100,78}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,37},{100,78}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,857},{96,106}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,15},{96,106}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,850},{92,104}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{92,104}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,394},{86,108}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{86,108}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,936},{76,112}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,896},{74,112}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{74,112}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,818},{76,112}}</string>
                <key>offset</key>
                <string>{-8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{76,112}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,547},{78,112}}</string>
                <key>offset</key>
                <string>{-9,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{78,112}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,595},{78,110}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{78,110}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,755},{100,122}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,6},{100,122}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,570},{158,92}}</string>
                <key>offset</key>
                <string>{-44,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,42},{158,92}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,399},{78,84}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{78,84}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,573},{172,116}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,18},{172,116}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,478},{190,90}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{190,90}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,480},{204,120}}</string>
                <key>offset</key>
                <string>{14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{204,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,358},{200,118}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,15},{200,118}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,451},{210,120}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,13},{210,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{212,120}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,13},{212,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,602},{154,120}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,13},{154,120}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,277},{120,8}}</string>
                <key>offset</key>
                <string>{5,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,124},{120,8}}</string>
                <key>sourceSize</key>
                <string>{250,140}</string>
            </dict>
            <key>guangyu_skill2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,857},{106,62}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,36},{106,62}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,321},{76,74}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,38},{76,74}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{92,66}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{92,66}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,763},{94,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,30},{94,68}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,661},{78,100}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{78,100}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,841},{102,92}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,34},{102,92}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guangyu_skill2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,833},{100,94}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,27},{100,94}}</string>
                <key>sourceSize</key>
                <string>{120,140}</string>
            </dict>
            <key>guanyu_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,718},{120,98}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,7},{120,98}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>guanyu_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,691},{132,62}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{132,62}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>guanyu_attack_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,618},{98,40}}</string>
                <key>offset</key>
                <string>{-17,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,61},{98,40}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>guanyu_attack_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,166},{70,34}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,67},{70,34}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>guanyu_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,479},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,80}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>guanyu_long_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,756},{66,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,73}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>guanyu_long_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,857},{114,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{114,93}}</string>
                <key>sourceSize</key>
                <string>{116,95}</string>
            </dict>
            <key>guanyu_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,141},{54,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,42}}</string>
                <key>sourceSize</key>
                <string>{56,44}</string>
            </dict>
            <key>guanyu_long_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,763},{76,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,68}}</string>
                <key>sourceSize</key>
                <string>{78,70}</string>
            </dict>
            <key>guanyu_long_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,607},{33,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>guanyu_long_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,570},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>guanyu_long_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,639},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,35}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>guanyu_long_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,570},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,18}}</string>
                <key>sourceSize</key>
                <string>{32,20}</string>
            </dict>
            <key>guanyu_long_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,573},{64,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{64,37}}</string>
                <key>sourceSize</key>
                <string>{66,39}</string>
            </dict>
            <key>guanyu_long_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,638},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>guanyu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,185},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>guanyu_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,504},{89,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,85}}</string>
                <key>sourceSize</key>
                <string>{91,87}</string>
            </dict>
            <key>guanyu_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,166},{84,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{84,152}}</string>
                <key>sourceSize</key>
                <string>{100,152}</string>
            </dict>
            <key>guanyu_toujin.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,676},{70,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,28}}</string>
                <key>sourceSize</key>
                <string>{72,30}</string>
            </dict>
            <key>guanyu_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{300,137}}</string>
                <key>sourceSize</key>
                <string>{302,139}</string>
            </dict>
            <key>guanyu_youjianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,200},{46,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,75}}</string>
                <key>sourceSize</key>
                <string>{48,77}</string>
            </dict>
            <key>guanyu_zuojianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,320},{80,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,72}</string>
            </dict>
            <key>guanyu_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,277},{44,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,42}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanyu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0809aa8e48c3a48e71ddee3157117dc1:b0b4c9cdbf7c4761aa5663bf0165fc22:3f3018c5c75f1365eeb08fc1365eff6a$</string>
            <key>textureFileName</key>
            <string>guanyu.png</string>
        </dict>
    </dict>
</plist>
