<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianchan_atk_02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{164,188}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{209,2},{164,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianchan_atk_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{152,188}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{2,132},{152,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianchan_atk_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{154,182}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{587,2},{154,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianchan_atk_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{172,186}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{399,2},{172,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianchan_atk_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-4}</string>
                <key>spriteSize</key>
                <string>{170,178}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{587,158},{170,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianchan_atk_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-3}</string>
                <key>spriteSize</key>
                <string>{168,180}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{771,2},{168,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianchan_atk_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-12}</string>
                <key>spriteSize</key>
                <string>{158,154}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{2,286},{158,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchan_atk_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-11}</string>
                <key>spriteSize</key>
                <string>{146,136}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{390,328},{146,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchan_atk_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-10}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{390,466},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_gebo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,48}</string>
                <key>spriteSourceSize</key>
                <string>{97,48}</string>
                <key>textureRect</key>
                <string>{{340,380},{97,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{565,600},{46,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_gebo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{104,81}</string>
                <key>textureRect</key>
                <string>{{307,479},{104,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_houchibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,48}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{2,568},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_houchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-64}</string>
                <key>spriteSize</key>
                <string>{92,132}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{764,398},{92,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_houchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,33}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{620,585},{70,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_houchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-34}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{928,563},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_houchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,6}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{704,585},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{762,586},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,93}</string>
                <key>spriteSourceSize</key>
                <string>{51,93}</string>
                <key>textureRect</key>
                <string>{{928,510},{51,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_longhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{919,709},{56,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_longhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{498,600},{48,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_longqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{48,69}</string>
                <key>textureRect</key>
                <string>{{953,2},{48,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{262,487},{43,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,50}</string>
                <key>spriteSourceSize</key>
                <string>{77,50}</string>
                <key>textureRect</key>
                <string>{{762,638},{77,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,116}</string>
                <key>textureRect</key>
                <string>{{144,487},{90,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{841,676},{76,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,128}</string>
                <key>spriteSourceSize</key>
                <string>{205,128}</string>
                <key>textureRect</key>
                <string>{{2,2},{205,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_qian chibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{678,420},{72,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_qianchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,38}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{762,492},{92,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_qianchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-49}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{680,330},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_qianchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-74}</string>
                <key>spriteSize</key>
                <string>{66,138}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{538,392},{66,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_qianchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,49}</string>
                <key>spriteSize</key>
                <string>{76,124}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{538,460},{76,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{192,132},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_shanzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,85}</string>
                <key>spriteSourceSize</key>
                <string>{143,85}</string>
                <key>textureRect</key>
                <string>{{162,400},{143,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{89,95}</string>
                <key>textureRect</key>
                <string>{{664,494},{89,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{82,88}</string>
                <key>textureRect</key>
                <string>{{935,218},{80,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,72}</string>
                <key>textureRect</key>
                <string>{{844,602},{78,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_tui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,46}</string>
                <key>spriteSourceSize</key>
                <string>{86,46}</string>
                <key>textureRect</key>
                <string>{{935,300},{86,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-24}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{565,648},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-19}</string>
                <key>spriteSize</key>
                <string>{140,64}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{2,442},{140,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-2}</string>
                <key>spriteSize</key>
                <string>{166,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{767,172},{166,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-5}</string>
                <key>spriteSize</key>
                <string>{164,68}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{953,52},{164,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-4}</string>
                <key>spriteSize</key>
                <string>{162,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{395,176},{162,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-9}</string>
                <key>spriteSize</key>
                <string>{166,64}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{767,252},{166,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-21}</string>
                <key>spriteSize</key>
                <string>{72,36}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{354,244},{72,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{160,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{931,348},{160,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{152,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{392,252},{152,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{162,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{767,318},{162,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{160,80}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{192,244},{160,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{924,637},{70,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,19}</string>
                <key>spriteSize</key>
                <string>{52,28}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{162,286},{52,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{354,318},{60,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{76,32}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{546,252},{76,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-7}</string>
                <key>spriteSize</key>
                <string>{140,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{538,330},{140,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,2}</string>
                <key>spriteSize</key>
                <string>{184,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{209,168},{184,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{27,0}</string>
                <key>spriteSize</key>
                <string>{146,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{192,326},{146,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-10}</string>
                <key>spriteSize</key>
                <string>{108,52}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{874,492},{108,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_diaochan_01_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-10}</string>
                <key>spriteSize</key>
                <string>{106,52}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{390,582},{106,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-13}</string>
                <key>spriteSize</key>
                <string>{116,58}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{2,508},{116,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,-15}</string>
                <key>spriteSize</key>
                <string>{106,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{512,538},{106,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_diaochan_01_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-6}</string>
                <key>spriteSize</key>
                <string>{20,16}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{935,172},{20,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>diaochan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3624a56d161d0b099816ea774ad11f59:fe487e03613a91c79878e253547962c1:0b79506a880c9861289a64b319f56297$</string>
            <key>textureFileName</key>
            <string>diaochan.png</string>
        </dict>
    </dict>
</plist>
