<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,176},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>skill_huangzhong_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,95},{74,79}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{74,79}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>skill_huangzhong_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{76,91}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,14},{76,91}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>skill_huangzhong_111.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,95},{70,91}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{70,91}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>skill_huangzhong_113.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{68,85}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,14},{68,85}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>skill_huangzhong_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,91}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{84,91}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>skill_huangzhong_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,188},{64,91}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{64,91}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>skill_huangzhong_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{66,91}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,14},{66,91}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
            <key>skill_huangzhong_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{68,91}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{68,91}}</string>
                <key>sourceSize</key>
                <string>{86,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_huangzhong_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102d6c9d4f8cc38e44e13aaa5298986a:3c437462264cd7e25b41f001ef612532:83f6c318f0e4db99ff6b93f0089b7f3c$</string>
            <key>textureFileName</key>
            <string>skill_huangzhong_1.png</string>
        </dict>
    </dict>
</plist>
