<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxu_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,85}</string>
                <key>spriteSourceSize</key>
                <string>{63,85}</string>
                <key>textureRect</key>
                <string>{{3,338},{63,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,112}</string>
                <key>spriteSourceSize</key>
                <string>{85,112}</string>
                <key>textureRect</key>
                <string>{{3,3},{85,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,44}</string>
                <key>spriteSourceSize</key>
                <string>{52,44}</string>
                <key>textureRect</key>
                <string>{{217,266},{52,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long-body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,51}</string>
                <key>spriteSourceSize</key>
                <string>{85,51}</string>
                <key>textureRect</key>
                <string>{{70,338},{85,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long-head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,99}</string>
                <key>spriteSourceSize</key>
                <string>{68,99}</string>
                <key>textureRect</key>
                <string>{{85,119},{68,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_long-weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,46}</string>
                <key>spriteSourceSize</key>
                <string>{76,46}</string>
                <key>textureRect</key>
                <string>{{160,414},{76,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,34}</string>
                <key>spriteSize</key>
                <string>{77,68}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{125,333},{77,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,27}</string>
                <key>spriteSize</key>
                <string>{69,54}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{197,333},{69,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-30}</string>
                <key>spriteSize</key>
                <string>{65,74}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{157,115},{65,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-33}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{102,222},{57,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,26}</string>
                <key>spriteSize</key>
                <string>{63,50}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{163,266},{63,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,47}</string>
                <key>spriteSourceSize</key>
                <string>{25,47}</string>
                <key>textureRect</key>
                <string>{{102,304},{25,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,52}</string>
                <key>spriteSourceSize</key>
                <string>{42,52}</string>
                <key>textureRect</key>
                <string>{{226,96},{42,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,31}</string>
                <key>spriteSize</key>
                <string>{109,78}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{3,119},{109,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,41}</string>
                <key>spriteSize</key>
                <string>{95,102}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{3,232},{95,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-31}</string>
                <key>spriteSize</key>
                <string>{79,80}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{3,427},{79,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-40}</string>
                <key>spriteSize</key>
                <string>{59,98}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{92,3},{59,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,31}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{165,208}</string>
                <key>textureRect</key>
                <string>{{86,427},{79,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jiaxu_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{65,69}</string>
                <key>textureRect</key>
                <string>{{163,193},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{155,96},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jiaxu_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,84}</string>
                <key>spriteSourceSize</key>
                <string>{89,84}</string>
                <key>textureRect</key>
                <string>{{155,3},{89,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>jiaxu_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8583f22c7c64d77f28dedb0cf862a4b9:75d9098c2c85951e82c65d46c0fcc7a0:a320fe2961424b794ee7a3417b82e434$</string>
            <key>textureFileName</key>
            <string>jiaxu_display.png</string>
        </dict>
    </dict>
</plist>
