<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_juanzhou_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,422},{55,51}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,177},{55,51}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,347},{65,73}}</string>
                <key>offset</key>
                <string>{15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,162},{65,73}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,985},{83,83}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,155},{83,83}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,906},{91,77}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,157},{91,77}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,789},{115,93}}</string>
                <key>offset</key>
                <string>{30,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,163},{115,93}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,917},{117,121}}</string>
                <key>offset</key>
                <string>{32,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,157},{117,121}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,658},{101,129}}</string>
                <key>offset</key>
                <string>{32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,159},{101,129}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1550},{123,155}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,151},{123,155}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,1397},{161,151}}</string>
                <key>offset</key>
                <string>{3,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,154},{161,151}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1300},{169,125}}</string>
                <key>offset</key>
                <string>{-4,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,167},{169,125}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1397},{197,153}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,129},{197,153}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,1186},{185,201}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,92},{185,201}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{149,209}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,80},{149,209}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1300},{149,209}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,80},{149,209}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1288},{161,325}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,33},{161,325}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,1222},{173,343}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,32},{173,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1186},{175,343}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,32},{175,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,991},{229,343}}</string>
                <key>offset</key>
                <string>{21,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,32},{229,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1003},{233,343}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,32},{233,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,917},{267,343}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,32},{267,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{289,343}}</string>
                <key>offset</key>
                <string>{28,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,32},{289,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,979},{307,343}}</string>
                <key>offset</key>
                <string>{27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,32},{307,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,668},{309,343}}</string>
                <key>offset</key>
                <string>{33,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,32},{309,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,664},{325,343}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,32},{325,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,658},{345,343}}</string>
                <key>offset</key>
                <string>{30,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,32},{345,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{357,343}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{357,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{415,343}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{415,343}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1652,2},{391,333}}</string>
                <key>offset</key>
                <string>{24,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{391,333}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,323},{395,333}}</string>
                <key>offset</key>
                <string>{22,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{395,333}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{397,333}}</string>
                <key>offset</key>
                <string>{21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{397,333}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,333}}</string>
                <key>offset</key>
                <string>{3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,42},{433,333}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,337},{387,325}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,50},{387,325}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,337},{409,325}}</string>
                <key>offset</key>
                <string>{-2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,50},{409,325}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,347},{367,319}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,56},{367,319}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,337},{395,319}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,56},{395,319}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{397,319}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,56},{397,319}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1243,658},{347,257}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,75},{347,257}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
            <key>ui_juanzhou_01_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,1363},{337,227}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,85},{337,227}}</string>
                <key>sourceSize</key>
                <string>{439,375}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_juanzhou_01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f6dfaa03b71ed6178dc5783b02c3797:446859804178fa20ba37623a5a82181f:5afaf96ae66e23b270de00ecbb32ffe3$</string>
            <key>textureFileName</key>
            <string>ui_juanzhou_01.png</string>
        </dict>
    </dict>
</plist>
