<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_jiaxu_0_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{87,89}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>hit_jiaxu_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{85,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{85,85}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>hit_jiaxu_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,93},{83,85}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{83,85}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>hit_jiaxu_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{81,83}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{81,83}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>hit_jiaxu_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{75,75}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>hit_jiaxu_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{67,67}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{67,67}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_jiaxu_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:573884ccf81b4f503a99f84bec6ff4fc:f33e7a4111836633cb7c2c63cafac3fd:98cacd69cd55eebda59ef1b93af166a4$</string>
            <key>textureFileName</key>
            <string>hit_jiaxu_0.png</string>
        </dict>
    </dict>
</plist>
