<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xunyu_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,85},{33,33}}</string>
                <key>offset</key>
                <string>{-68,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,31},{33,33}}</string>
                <key>sourceSize</key>
                <string>{525,85}</string>
            </dict>
            <key>skill_xunyu_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{57,57}}</string>
                <key>offset</key>
                <string>{-69,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,19},{57,57}}</string>
                <key>sourceSize</key>
                <string>{525,85}</string>
            </dict>
            <key>skill_xunyu_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,281},{65,65}}</string>
                <key>offset</key>
                <string>{-69,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,15},{65,65}}</string>
                <key>sourceSize</key>
                <string>{525,85}</string>
            </dict>
            <key>xunyu_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,102},{88,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,75}}</string>
                <key>sourceSize</key>
                <string>{90,77}</string>
            </dict>
            <key>xunyu_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,158},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>xunyu_juanzhou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{141,82}}</string>
                <key>sourceSize</key>
                <string>{143,84}</string>
            </dict>
            <key>xunyu_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,255},{40,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,50}}</string>
                <key>sourceSize</key>
                <string>{42,56}</string>
            </dict>
            <key>xunyu_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,208},{45,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,53}}</string>
                <key>sourceSize</key>
                <string>{45,53}</string>
            </dict>
            <key>xunyu_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,145},{55,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,61}}</string>
                <key>sourceSize</key>
                <string>{57,63}</string>
            </dict>
            <key>xunyu_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,187},{80,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,52}}</string>
                <key>sourceSize</key>
                <string>{82,54}</string>
            </dict>
            <key>xunyu_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{98,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,105}}</string>
                <key>sourceSize</key>
                <string>{100,107}</string>
            </dict>
            <key>xunyu_long_l_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{76,48}}</string>
                <key>offset</key>
                <string>{32,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,31},{76,48}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_l_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,163},{68,40}}</string>
                <key>offset</key>
                <string>{35,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,47},{68,40}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_l_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{48,70}}</string>
                <key>offset</key>
                <string>{2,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,72},{48,70}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_l_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,241},{38,76}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,73},{38,76}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_l_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,233},{58,40}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,39},{58,40}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,120},{27,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>xunyu_long_r_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{112,64}}</string>
                <key>offset</key>
                <string>{-15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{112,64}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_r_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,68},{88,90}}</string>
                <key>offset</key>
                <string>{-5,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{88,90}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_r_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,125},{60,80}}</string>
                <key>offset</key>
                <string>{16,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,68},{60,80}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_r_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{64,82}}</string>
                <key>offset</key>
                <string>{39,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,70},{64,82}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_r_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{78,62}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{78,62}}</string>
                <key>sourceSize</key>
                <string>{142,152}</string>
            </dict>
            <key>xunyu_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,297},{38,45}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,45}}</string>
                <key>sourceSize</key>
                <string>{40,47}</string>
            </dict>
            <key>xunyu_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,38},{45,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,35}}</string>
                <key>sourceSize</key>
                <string>{47,37}</string>
            </dict>
            <key>xunyu_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,38},{95,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{95,85}}</string>
                <key>sourceSize</key>
                <string>{97,87}</string>
            </dict>
            <key>xunyu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,68},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>xunyu_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{34,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,133}}</string>
                <key>sourceSize</key>
                <string>{34,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xunyu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2cefdcbb99a78b7ccc557d2f6334c22:0ab56ff3176d7ba8a4a3600be3dafd9a:c626a43f9d665db7443b7981cee5e584$</string>
            <key>textureFileName</key>
            <string>xunyu.png</string>
        </dict>
    </dict>
</plist>
