<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_huangzhong_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{106,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{106,104}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>hit_huangzhong_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{114,110}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>hit_huangzhong_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,88},{106,80}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,19},{106,80}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>hit_huangzhong_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{104,84}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{104,84}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>hit_huangzhong_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,170},{102,84}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,17},{102,84}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
            <key>hit_huangzhong_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{86,16}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,53},{86,16}}</string>
                <key>sourceSize</key>
                <string>{118,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_huangzhong_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa7908804526f2614d181bd18c5bb907:f10adc38201e7af211dfe63d20628e4e:198892a049e7df4529632e4c2667c5ca$</string>
            <key>textureFileName</key>
            <string>hit_huangzhong_0.png</string>
        </dict>
    </dict>
</plist>
