<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhugeliang_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,64}</string>
                <key>spriteSourceSize</key>
                <string>{73,64}</string>
                <key>textureRect</key>
                <string>{{209,214},{73,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{94,118}</string>
                <key>textureRect</key>
                <string>{{145,3},{94,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{90,142},{56,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{422,310},{53,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{82,66}</string>
                <key>textureRect</key>
                <string>{{123,198},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{138,102}</string>
                <key>textureRect</key>
                <string>{{3,3},{138,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,41}</string>
                <key>spriteSize</key>
                <string>{111,62}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{388,3},{111,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,17}</string>
                <key>spriteSize</key>
                <string>{101,50}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{267,77},{101,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-29}</string>
                <key>spriteSize</key>
                <string>{59,100}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{372,122},{59,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-34}</string>
                <key>spriteSize</key>
                <string>{49,108}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{388,69},{49,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,34}</string>
                <key>spriteSize</key>
                <string>{83,58}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{3,109},{83,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,17}</string>
                <key>spriteSourceSize</key>
                <string>{29,17}</string>
                <key>textureRect</key>
                <string>{{350,131},{29,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,29}</string>
                <key>spriteSourceSize</key>
                <string>{30,29}</string>
                <key>textureRect</key>
                <string>{{90,109},{30,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,57}</string>
                <key>spriteSourceSize</key>
                <string>{68,57}</string>
                <key>textureRect</key>
                <string>{{350,258},{68,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,27}</string>
                <key>spriteSize</key>
                <string>{117,70}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{267,3},{117,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-31,39}</string>
                <key>spriteSize</key>
                <string>{93,100}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{145,101},{93,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-29}</string>
                <key>spriteSize</key>
                <string>{67,82}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{3,171},{67,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-33}</string>
                <key>spriteSize</key>
                <string>{69,90}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{369,185},{69,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,29}</string>
                <key>spriteSize</key>
                <string>{81,68}</string>
                <key>spriteSourceSize</key>
                <string>{199,178}</string>
                <key>textureRect</key>
                <string>{{3,242},{81,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{476,160},{32,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{476,122},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhugeliang_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{50,39}</string>
                <key>textureRect</key>
                <string>{{463,256},{50,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{60,42}</string>
                <key>textureRect</key>
                <string>{{463,192},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{286,214},{64,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{350,164},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhugeliang_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,79}</string>
                <key>textureRect</key>
                <string>{{249,131},{97,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhugeliang_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4ff23f14d1949b7f3699c6177713c0d:237054a9dc994b11cc0fab3f5625cb4a:34550048c141eb839bff87b846bda7e6$</string>
            <key>textureFileName</key>
            <string>zhugeliang_display.png</string>
        </dict>
    </dict>
</plist>
