<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongzhuo_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,76}</string>
                <key>spriteSourceSize</key>
                <string>{65,76}</string>
                <key>textureRect</key>
                <string>{{139,83},{65,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,105}</string>
                <key>spriteSourceSize</key>
                <string>{132,105}</string>
                <key>textureRect</key>
                <string>{{3,3},{132,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongzhuo_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,55}</string>
                <key>spriteSourceSize</key>
                <string>{33,55}</string>
                <key>textureRect</key>
                <string>{{272,101},{33,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_l_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,94}</string>
                <key>spriteSourceSize</key>
                <string>{126,94}</string>
                <key>textureRect</key>
                <string>{{272,3},{126,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongzhuo_display_long-jiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{402,70},{96,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_long-shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,63}</string>
                <key>spriteSourceSize</key>
                <string>{103,63}</string>
                <key>textureRect</key>
                <string>{{402,3},{103,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongzhuo_display_long-weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,49}</string>
                <key>spriteSourceSize</key>
                <string>{39,49}</string>
                <key>textureRect</key>
                <string>{{219,83},{39,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_long-youhoujiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{400,170},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_long-youqianjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{23,33}</string>
                <key>textureRect</key>
                <string>{{363,154},{23,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_long-zuohoujiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,47}</string>
                <key>spriteSourceSize</key>
                <string>{36,47}</string>
                <key>textureRect</key>
                <string>{{270,138},{36,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_long-zuoqianjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,50}</string>
                <key>spriteSourceSize</key>
                <string>{30,50}</string>
                <key>textureRect</key>
                <string>{{331,120},{30,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,38}</string>
                <key>spriteSourceSize</key>
                <string>{29,38}</string>
                <key>textureRect</key>
                <string>{{321,154},{29,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,47}</string>
                <key>spriteSourceSize</key>
                <string>{37,47}</string>
                <key>textureRect</key>
                <string>{{219,126},{37,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dongzhuo_display_r_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,76}</string>
                <key>spriteSourceSize</key>
                <string>{129,76}</string>
                <key>textureRect</key>
                <string>{{139,3},{129,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dongzhuo_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{331,101},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dongzhuo_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:556f243353d68a8edff5e2f71cab4207:780f096fd6e56e965af87396a5253950:fceef925a69b5a20faed195f16000410$</string>
            <key>textureFileName</key>
            <string>dongzhuo_display.png</string>
        </dict>
    </dict>
</plist>
