<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_embattle_arrow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,62}</string>
                <key>spriteSourceSize</key>
                <string>{170,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{170,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_embattle_arrow_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,54}</string>
                <key>spriteSourceSize</key>
                <string>{78,54}</string>
                <key>textureRect</key>
                <string>{{173,61},{76,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_embattle_arrow_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{58,2}</string>
                <key>spriteSize</key>
                <string>{49,54}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{1,65},{49,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_embattle_arrow_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,3}</string>
                <key>spriteSize</key>
                <string>{79,58}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{173,1},{79,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_embattle_arrow_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{22,3}</string>
                <key>spriteSize</key>
                <string>{95,60}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{67,129},{95,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_embattle_arrow_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{101,62}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{67,65},{101,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_embattle_arrow_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,0}</string>
                <key>spriteSize</key>
                <string>{105,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{1,117},{105,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_embattle_arrow_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,0}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{170,117},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_embattle_arrow_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-61,0}</string>
                <key>spriteSize</key>
                <string>{55,64}</string>
                <key>spriteSourceSize</key>
                <string>{183,70}</string>
                <key>textureRect</key>
                <string>{{67,191},{55,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_embattle_arrow.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4b3071eba169f7affc3572f959f68c0:85d0629ba79955da7670bdd7318523eb:4abb9b68c14b92a9e218684b58a88589$</string>
            <key>textureFileName</key>
            <string>ui_embattle_arrow.png</string>
        </dict>
    </dict>
</plist>
