<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_leilong_effect3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{145,91}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,419},{145,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{153,97}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{164,308},{153,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{153,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{156,407},{153,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{157,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{172,205},{157,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{159,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{172,102},{159,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{161,99}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{337,1},{161,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{163,99}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{172,1},{163,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{169,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{151,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{319,405},{151,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{153,107}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,310},{153,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{157,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{331,302},{157,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{161,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,207},{161,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{161,99}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{333,102},{161,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{163,97}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{333,203},{163,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_leilong_effect3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{169,101}</string>
                <key>spriteSourceSize</key>
                <string>{217,167}</string>
                <key>textureRect</key>
                <string>{{1,104},{169,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_leilong_effect3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6087c0475af21ba0a0efa4f0d3bb262b:8db58be9e86dccf799acd50a73a22ffd:e3d73ea7b2b5498eb17a2aa1e3ca96bb$</string>
            <key>textureFileName</key>
            <string>playerskill_leilong_effect3.png</string>
        </dict>
    </dict>
</plist>
