<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wenchou_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{3,92},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,72}</string>
                <key>spriteSourceSize</key>
                <string>{83,72}</string>
                <key>textureRect</key>
                <string>{{165,115},{83,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,30}</string>
                <key>textureRect</key>
                <string>{{168,191},{33,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenchou_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{133,215},{31,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{52,185},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenchou_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{103,115},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenchou_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{3,3},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{168,228},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{202,191},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{133,183},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{216,3},{39,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenchou_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{216,46},{65,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenchou_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{45,65}</string>
                <key>textureRect</key>
                <string>{{3,185},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wenchou_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{114,191},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wenchou_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,93}</string>
                <key>spriteSourceSize</key>
                <string>{102,93}</string>
                <key>textureRect</key>
                <string>{{110,3},{102,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wenchou_display.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c3dafba5b7cbbfbdbfa770522cbf159:da96b75c6cbeaffccb4cd9c52e7b0f65:85a82082a60ca5399bde8216e6318803$</string>
            <key>textureFileName</key>
            <string>wenchou_display.png</string>
        </dict>
    </dict>
</plist>
