<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoren_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,90}</string>
                <key>spriteSourceSize</key>
                <string>{57,90}</string>
                <key>textureRect</key>
                <string>{{362,3},{57,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_dao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,77}</string>
                <key>spriteSourceSize</key>
                <string>{141,77}</string>
                <key>textureRect</key>
                <string>{{3,3},{141,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caoren_display_dun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,100}</string>
                <key>spriteSourceSize</key>
                <string>{79,100}</string>
                <key>textureRect</key>
                <string>{{148,81},{79,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,104}</string>
                <key>spriteSourceSize</key>
                <string>{74,104}</string>
                <key>textureRect</key>
                <string>{{148,3},{74,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,61}</string>
                <key>spriteSourceSize</key>
                <string>{38,61}</string>
                <key>textureRect</key>
                <string>{{105,146},{38,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caoren_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{456,39},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caoren_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{3,145},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caoren_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,102}</string>
                <key>spriteSourceSize</key>
                <string>{78,102}</string>
                <key>textureRect</key>
                <string>{{256,3},{78,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_long_l_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{456,83},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_long_l_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{456,109},{22,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_long_r_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,45}</string>
                <key>spriteSourceSize</key>
                <string>{32,45}</string>
                <key>textureRect</key>
                <string>{{456,3},{32,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_long_r_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,44}</string>
                <key>spriteSourceSize</key>
                <string>{32,44}</string>
                <key>textureRect</key>
                <string>{{420,64},{32,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caoren_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,36}</string>
                <key>spriteSourceSize</key>
                <string>{58,36}</string>
                <key>textureRect</key>
                <string>{{107,84},{58,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,100}</string>
                <key>spriteSourceSize</key>
                <string>{57,100}</string>
                <key>textureRect</key>
                <string>{{3,84},{57,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caoren_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{362,64},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caoren_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73cba2c48436378a6fd57505a36d63fa:d3bd4b56b30287ac9b00279cd2154ccb:bc02ad021b99dd6621df88e235ec065a$</string>
            <key>textureFileName</key>
            <string>caoren_display.png</string>
        </dict>
    </dict>
</plist>
