<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huangzhong_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,98}</string>
                <key>spriteSourceSize</key>
                <string>{90,98}</string>
                <key>textureRect</key>
                <string>{{335,116},{90,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{204,3},{32,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_long-bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,57}</string>
                <key>spriteSourceSize</key>
                <string>{31,57}</string>
                <key>textureRect</key>
                <string>{{3,297},{31,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_long-shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,46}</string>
                <key>spriteSourceSize</key>
                <string>{96,46}</string>
                <key>textureRect</key>
                <string>{{204,168},{96,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_long-tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,129}</string>
                <key>spriteSourceSize</key>
                <string>{109,129}</string>
                <key>textureRect</key>
                <string>{{350,3},{109,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_long-youbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{437,187},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_long-youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{21,17}</string>
                <key>textureRect</key>
                <string>{{483,95},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_long-youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,21}</string>
                <key>spriteSourceSize</key>
                <string>{32,21}</string>
                <key>textureRect</key>
                <string>{{483,59},{32,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_long-zuochi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,83}</string>
                <key>spriteSourceSize</key>
                <string>{94,83}</string>
                <key>textureRect</key>
                <string>{{323,210},{94,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_long-zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,21}</string>
                <key>spriteSourceSize</key>
                <string>{23,21}</string>
                <key>textureRect</key>
                <string>{{483,34},{23,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_long-zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,27}</string>
                <key>spriteSourceSize</key>
                <string>{25,27}</string>
                <key>textureRect</key>
                <string>{{483,3},{25,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,73}</string>
                <key>spriteSourceSize</key>
                <string>{63,73}</string>
                <key>textureRect</key>
                <string>{{421,265},{63,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{304,168},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{127,125}</string>
                <key>spriteSourceSize</key>
                <string>{131,125}</string>
                <key>textureRect</key>
                <string>{{204,39},{127,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,180}</string>
                <key>spriteSourceSize</key>
                <string>{197,180}</string>
                <key>textureRect</key>
                <string>{{3,3},{197,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{437,116},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{3,187},{33,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huangzhong_display_zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,35}</string>
                <key>spriteSourceSize</key>
                <string>{32,35}</string>
                <key>textureRect</key>
                <string>{{3,226},{32,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huangzhong_display_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,34}</string>
                <key>spriteSourceSize</key>
                <string>{58,34}</string>
                <key>textureRect</key>
                <string>{{3,332},{58,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huangzhong_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86fd3f95aadf4559864c253b28b762f7:d28cbc6635f0aa97ea457715499d12f6:2ead8a5175c66c9a5a4b9b4a3f294ea1$</string>
            <key>textureFileName</key>
            <string>huangzhong_display.png</string>
        </dict>
    </dict>
</plist>
