<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_gong_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{176,300},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_geboshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{207,366},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_geboxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,47}</string>
                <key>spriteSourceSize</key>
                <string>{25,47}</string>
                <key>textureRect</key>
                <string>{{99,388},{25,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{138,156}</string>
                <key>textureRect</key>
                <string>{{2,2},{138,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{2,160},{32,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,97}</string>
                <key>spriteSourceSize</key>
                <string>{38,97}</string>
                <key>textureRect</key>
                <string>{{91,260},{38,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{176,366},{43,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{36,260},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{190,411},{50,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{36,160},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{2,304},{95,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{144,415},{74,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{144,491},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{65,89}</string>
                <key>textureRect</key>
                <string>{{77,418},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,73}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{2,418},{91,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,86}</string>
                <key>spriteSourceSize</key>
                <string>{75,86}</string>
                <key>textureRect</key>
                <string>{{99,300},{75,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_toufa2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,97}</string>
                <key>spriteSourceSize</key>
                <string>{67,97}</string>
                <key>textureRect</key>
                <string>{{104,160},{67,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lan_gong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19967df21cdfc5181ffae7560387a5c0:436eabe757b1aad01d3f3881e9a150b6:1818b11d455cecd8871e799440ce7528$</string>
            <key>textureFileName</key>
            <string>lan_gong.png</string>
        </dict>
    </dict>
</plist>
