<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_caoren_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,82}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_caoren_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{167,69},{60,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_caoren_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{167,1},{66,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_caoren_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{70,78}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{87,1},{70,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_caoren_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-7}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{87,73},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_caoren_00.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8074e91e2880c7ef3a39317e36957b3a:d13393905049e0f5f625ebea201f430b:e81ba2180e4c2ad33ffd792ea89da23e$</string>
            <key>textureFileName</key>
            <string>hit_caoren_00.png</string>
        </dict>
    </dict>
</plist>
