<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyu_atk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,369},{40,44}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,44}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zhouyu_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,261},{42,40}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{42,40}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zhouyu_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,125},{40,30}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{40,30}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>zhouyu_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,157}}</string>
                <key>sourceSize</key>
                <string>{122,159}</string>
            </dict>
            <key>zhouyu_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{71,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{71,79}</string>
            </dict>
            <key>zhouyu_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,446},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,64}}</string>
                <key>sourceSize</key>
                <string>{72,66}</string>
            </dict>
            <key>zhouyu_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,175},{73,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,52}}</string>
                <key>sourceSize</key>
                <string>{75,54}</string>
            </dict>
            <key>zhouyu_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,152},{59,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,61}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>zhouyu_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,419},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,88}}</string>
                <key>sourceSize</key>
                <string>{93,90}</string>
            </dict>
            <key>zhouyu_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,125},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,24}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>zhouyu_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,125},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,33}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>zhouyu_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,419},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>zhouyu_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,368},{35,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,42}}</string>
                <key>sourceSize</key>
                <string>{37,44}</string>
            </dict>
            <key>zhouyu_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,267},{61,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,41}}</string>
                <key>sourceSize</key>
                <string>{63,43}</string>
            </dict>
            <key>zhouyu_long_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,229},{61,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,66}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>zhouyu_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,215},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,54}}</string>
                <key>sourceSize</key>
                <string>{52,56}</string>
            </dict>
            <key>zhouyu_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,369},{67,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,42}}</string>
                <key>sourceSize</key>
                <string>{69,44}</string>
            </dict>
            <key>zhouyu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,125},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>zhouyu_skill0_01_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,265},{102,71}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{102,71}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>zhouyu_skill0_01_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,155},{108,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,75}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>zhouyu_skill0_01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,2},{106,75}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{106,75}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>zhouyu_skill0_01_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,75},{98,75}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{98,75}}</string>
                <key>sourceSize</key>
                <string>{110,75}</string>
            </dict>
            <key>zhouyu_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,292},{63,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{63,63}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>zhouyu_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,303},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,36},{63,63}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>zhouyu_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,110},{63,63}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,35},{63,63}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>zhouyu_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{121,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{121,117}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>zhouyu_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,161},{133,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,9},{133,117}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>zhouyu_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,296},{117,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{117,121}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>zhouyu_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{137,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{137,117}}</string>
                <key>sourceSize</key>
                <string>{195,135}</string>
            </dict>
            <key>zhouyu_skill3_bianshen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,88},{62,83}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,17},{62,83}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>zhouyu_skill3_bianshen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{64,89}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{64,89}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>zhouyu_skill3_bianshen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,175},{84,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,11},{84,89}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>zhouyu_skill3_bianshen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,413},{86,89}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{86,89}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>zhouyu_skill3_bianshen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,415},{86,91}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{86,91}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>zhouyu_skill3_bianshen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{84,77}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,13},{84,77}}</string>
                <key>sourceSize</key>
                <string>{90,111}</string>
            </dict>
            <key>zhouyu_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,161},{144,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,78}}</string>
                <key>sourceSize</key>
                <string>{146,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhouyu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f05a64059c5a5afc0a0fc49e3e2ea55f:b4f9edb470d91f3779adaf6efe3d6987:ba1f6de5d2830f54946679e2eb48a95d$</string>
            <key>textureFileName</key>
            <string>zhouyu.png</string>
        </dict>
    </dict>
</plist>
