<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honglong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{110,490},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,107}</string>
                <key>spriteSourceSize</key>
                <string>{160,107}</string>
                <key>textureRect</key>
                <string>{{1,350},{160,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_shenti_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,174}</string>
                <key>spriteSourceSize</key>
                <string>{162,174}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_shetou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,44}</string>
                <key>spriteSourceSize</key>
                <string>{59,44}</string>
                <key>textureRect</key>
                <string>{{225,63},{59,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,138}</string>
                <key>spriteSourceSize</key>
                <string>{166,138}</string>
                <key>textureRect</key>
                <string>{{110,350},{166,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_tou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,138}</string>
                <key>spriteSourceSize</key>
                <string>{171,138}</string>
                <key>textureRect</key>
                <string>{{1,177},{171,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,57}</string>
                <key>spriteSourceSize</key>
                <string>{65,57}</string>
                <key>textureRect</key>
                <string>{{141,275},{65,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_weiba_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,57}</string>
                <key>spriteSourceSize</key>
                <string>{93,57}</string>
                <key>textureRect</key>
                <string>{{278,341},{93,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,64}</string>
                <key>spriteSourceSize</key>
                <string>{96,64}</string>
                <key>textureRect</key>
                <string>{{200,275},{96,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_xiaba_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,82}</string>
                <key>textureRect</key>
                <string>{{141,177},{96,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_youhoujiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{165,42},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_youhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,47}</string>
                <key>textureRect</key>
                <string>{{298,1},{58,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_youqianjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,51}</string>
                <key>spriteSourceSize</key>
                <string>{49,51}</string>
                <key>textureRect</key>
                <string>{{298,50},{49,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_zuohoujiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{165,1},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_zuohoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,57}</string>
                <key>spriteSourceSize</key>
                <string>{63,57}</string>
                <key>textureRect</key>
                <string>{{358,1},{63,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_zuoqianjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,62}</string>
                <key>spriteSourceSize</key>
                <string>{60,62}</string>
                <key>textureRect</key>
                <string>{{225,1},{60,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>honglong_zuoqianjiao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,75}</string>
                <key>spriteSourceSize</key>
                <string>{78,75}</string>
                <key>textureRect</key>
                <string>{{278,436},{78,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_honglong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e91a6abc55eb2a11279acaea541a6a9:757bf580ada5fe297c68af59008342f3:1f266830d1967d50e06f6b5590a614ca$</string>
            <key>textureFileName</key>
            <string>playerskill_honglong.png</string>
        </dict>
    </dict>
</plist>
