<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_beat_egg_chuizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,114}}</string>
                <key>sourceSize</key>
                <string>{120,114}</string>
            </dict>
            <key>ui_beat_egg_huohua1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,88},{94,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,81}}</string>
                <key>sourceSize</key>
                <string>{94,81}</string>
            </dict>
            <key>ui_beat_egg_huohua2.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,171},{76,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{76,84}</string>
            </dict>
            <key>ui_beat_egg_huohua3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{94,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,78}}</string>
                <key>sourceSize</key>
                <string>{94,78}</string>
            </dict>
            <key>ui_beat_egg_huohua4.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{84,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,95}}</string>
                <key>sourceSize</key>
                <string>{84,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_beat_egg.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e90c11329af5fa9d963e728bc57c87$</string>
            <key>textureFileName</key>
            <string>ui_beat_egg.png</string>
        </dict>
    </dict>
</plist>
