<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhugeliang_01b_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,352},{154,93}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,93}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,196},{154,93}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,93}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,352},{154,93}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,93}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,99},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,99},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,411},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,255},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,99},{154,95}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{154,95}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{154,95}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,95}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{154,95}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,255},{154,93}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,93}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
            <key>skill_zhugeliang_01b_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,196},{154,93}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{154,93}}</string>
                <key>sourceSize</key>
                <string>{156,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhugeliang_01b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dfca042abc550dce71c8ae7ba1c32f37:70e6b30f68ac0cf5662f0aa4b399ffdf:12d58d1f37b5a0e7b4886cd3990eafa3$</string>
            <key>textureFileName</key>
            <string>skill_zhugeliang_01b.png</string>
        </dict>
    </dict>
</plist>
