<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuoci_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,424},{80,81}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zuoci_attack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{68,79}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zuoci_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{80,83}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zuoci_attack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,315},{80,83}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,83}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zuoci_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,280},{68,63}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{68,63}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zuoci_attack_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,350},{66,59}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{66,59}}</string>
                <key>sourceSize</key>
                <string>{80,89}</string>
            </dict>
            <key>zuoci_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,158},{88,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,78}}</string>
                <key>sourceSize</key>
                <string>{90,80}</string>
            </dict>
            <key>zuoci_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,71},{91,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,98}}</string>
                <key>sourceSize</key>
                <string>{93,100}</string>
            </dict>
            <key>zuoci_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{144,72}}</string>
                <key>sourceSize</key>
                <string>{146,74}</string>
            </dict>
            <key>zuoci_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,149},{89,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,96}}</string>
                <key>sourceSize</key>
                <string>{91,98}</string>
            </dict>
            <key>zuoci_long_l_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,424},{55,65}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,43},{55,65}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_l_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,279},{69,47}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,46},{69,47}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_l_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,424},{57,55}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,98},{57,55}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_l_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,355},{65,55}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,39},{65,55}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_l_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,355},{59,53}}</string>
                <key>offset</key>
                <string>{9,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,94},{59,53}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,202},{35,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,40}}</string>
                <key>sourceSize</key>
                <string>{37,42}</string>
            </dict>
            <key>zuoci_long_r_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,238},{75,85}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{75,85}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_r_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,355},{63,67}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,31},{63,67}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_r_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,276},{61,81}}</string>
                <key>offset</key>
                <string>{24,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,83},{61,81}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_r_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,359},{63,75}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,83},{63,75}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_r_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{95,55}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,54},{95,55}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>zuoci_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,424},{53,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,55}}</string>
                <key>sourceSize</key>
                <string>{55,57}</string>
            </dict>
            <key>zuoci_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,280},{69,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,59}}</string>
                <key>sourceSize</key>
                <string>{71,61}</string>
            </dict>
            <key>zuoci_qiu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,177},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,39}}</string>
                <key>sourceSize</key>
                <string>{23,39}</string>
            </dict>
            <key>zuoci_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,239},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,39}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>zuoci_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,237},{45,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,37}}</string>
                <key>sourceSize</key>
                <string>{47,39}</string>
            </dict>
            <key>zuoci_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,76},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>zuoci_skill1_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,164},{79,87}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{79,87}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>zuoci_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{89,44}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{89,44}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,424},{81,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,24},{81,38}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,158},{77,46}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,12},{77,46}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{81,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{81,72}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,245},{85,54}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{85,54}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{101,32}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{101,32}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,107},{97,40}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,41},{97,40}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,107},{93,30}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,40},{93,30}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,240},{87,38}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{87,38}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,301},{85,52}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{85,52}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>zuoci_skill2_baofa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{122,99}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,18},{122,99}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zuoci_skill2_baofa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,36},{120,99}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{120,99}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zuoci_skill2_baofa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{124,103}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,17},{124,103}}</string>
                <key>sourceSize</key>
                <string>{150,135}</string>
            </dict>
            <key>zuoci_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{121,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{121,67}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
            <key>zuoci_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,234},{28,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,41}}</string>
                <key>sourceSize</key>
                <string>{30,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zuoci.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d2dc54ab3dee33cb452a10af5838dd2:69b3e7c543a02ca4db1679c6d417aa1d:b03b0fbbf0e1e7fa14a853f937064521$</string>
            <key>textureFileName</key>
            <string>zuoci.png</string>
        </dict>
    </dict>
</plist>
