<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yujin_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{221,3},{95,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yujin_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,78}</string>
                <key>spriteSourceSize</key>
                <string>{89,78}</string>
                <key>textureRect</key>
                <string>{{114,92},{89,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,75}</string>
                <key>spriteSourceSize</key>
                <string>{58,75}</string>
                <key>textureRect</key>
                <string>{{3,161},{58,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yujin_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{392,3},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{323,43},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{114,3},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{391,65},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{460,44},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{82,161},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{460,3},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{323,3},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yujin_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,85}</string>
                <key>spriteSourceSize</key>
                <string>{54,85}</string>
                <key>textureRect</key>
                <string>{{3,103},{54,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yujin_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{92,103},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yujin_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,96}</string>
                <key>spriteSourceSize</key>
                <string>{107,96}</string>
                <key>textureRect</key>
                <string>{{3,3},{107,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yujin_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5887ee6d23452b1342894070849bc12:a7a163a713007c89f9f06a951d2b81dc:ad67ef01751aff0cd9e87511073a5e56$</string>
            <key>textureFileName</key>
            <string>yujin_display.png</string>
        </dict>
    </dict>
</plist>
