<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianwei_atk_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,700},{142,180}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,0},{142,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dianwei_atk_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,702},{142,180}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{142,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dianwei_atk_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,520},{164,180}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dianwei_atk_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,338},{164,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{164,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dianwei_atk_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dianwei_atk_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{178,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>dianwei_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,190},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>dianwei_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,534},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>dianwei_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,479},{53,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,88}}</string>
                <key>sourceSize</key>
                <string>{53,88}</string>
            </dict>
            <key>dianwei_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,600},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>dianwei_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,660},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>dianwei_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{89,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,83}}</string>
                <key>sourceSize</key>
                <string>{89,83}</string>
            </dict>
            <key>dianwei_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,534},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>dianwei_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,158},{27,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,22}}</string>
                <key>sourceSize</key>
                <string>{27,22}</string>
            </dict>
            <key>dianwei_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,282},{41,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,32}}</string>
                <key>sourceSize</key>
                <string>{41,32}</string>
            </dict>
            <key>dianwei_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,494},{36,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,31}}</string>
                <key>sourceSize</key>
                <string>{36,31}</string>
            </dict>
            <key>dianwei_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,104},{52,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,49}}</string>
                <key>sourceSize</key>
                <string>{52,49}</string>
            </dict>
            <key>dianwei_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,93},{68,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,72}}</string>
                <key>sourceSize</key>
                <string>{68,72}</string>
            </dict>
            <key>dianwei_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,660},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>dianwei_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,645},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>dianwei_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,494},{186,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,82}}</string>
                <key>sourceSize</key>
                <string>{186,82}</string>
            </dict>
            <key>skill_dianwei_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,336},{138,148}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{138,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>skill_dianwei_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,336},{154,156}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{154,156}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>skill_dianwei_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{152,154}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{152,154}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>skill_dianwei_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,670},{146,134}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{146,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>skill_dianwei_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,818},{134,104}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,52},{134,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>skill_dianwei_01_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,336},{166,68}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{166,68}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,486},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,264},{180,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,840},{172,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{172,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,844},{172,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{172,70}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,954},{164,68}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{164,68}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,682},{156,66}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,3},{156,66}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,501},{142,60}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{142,60}}</string>
                <key>sourceSize</key>
                <string>{180,70}</string>
            </dict>
            <key>skill_dianwei_01_t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{855,818},{112,93}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,74},{112,93}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_01_t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,848},{174,163}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{174,163}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_01_t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,548},{150,127}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,39},{150,127}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_01_t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,282},{128,105}}</string>
                <key>offset</key>
                <string>{3,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,62},{128,105}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_01_t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,265},{110,91}}</string>
                <key>offset</key>
                <string>{6,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,76},{110,91}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_01_t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,377},{100,91}}</string>
                <key>offset</key>
                <string>{5,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,76},{100,91}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_01_t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,163},{100,93}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,74},{100,93}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_01_t_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,412},{100,87}}</string>
                <key>offset</key>
                <string>{0,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,79},{100,87}}</string>
                <key>sourceSize</key>
                <string>{180,167}</string>
            </dict>
            <key>skill_dianwei_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,190},{192,72}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,21},{192,72}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{242,100}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{242,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{250,100}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{250,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{254,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{246,100}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{246,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{254,100}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{254,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,366},{240,100}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,608},{238,100}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{238,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,236},{216,100}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{216,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,846},{174,100}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,0},{174,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,682},{156,100}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{156,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,504},{164,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{164,100}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,844},{178,94}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,1},{178,94}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,494},{182,88}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,6},{182,88}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,338},{208,82}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{208,82}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,186},{208,70}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{208,70}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,258},{204,76}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,14},{204,76}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,104},{222,84}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,16},{222,84}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,104},{246,74}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{246,74}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,104},{232,80}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{232,80}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,840},{168,82}}</string>
                <key>offset</key>
                <string>{-46,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{168,82}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,180},{222,54}}</string>
                <key>offset</key>
                <string>{-9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{222,54}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>skill_dianwei_02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,723},{62,52}}</string>
                <key>offset</key>
                <string>{98,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,26},{62,52}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianwei_ex.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc03a90f3fa3cbaaa611da28b76ae20:ff6bc2c778d7e951c6824275477027f7:f9c3fc35dd5864b6b10308c4837296e6$</string>
            <key>textureFileName</key>
            <string>dianwei_ex.png</string>
        </dict>
    </dict>
</plist>
