<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_nan_bing_02_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,176},{64,122}}</string>
                <key>offset</key>
                <string>{-143,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{64,122}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{172,182}}</string>
                <key>offset</key>
                <string>{-89,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{172,182}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,216},{244,202}}</string>
                <key>offset</key>
                <string>{-53,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{244,202}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,212}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{312,212}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{288,208}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,8},{288,208}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_nan_bing_02_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61859c327c0b7e264fb10f4a159318b9:ad2c4906977d024531675c2f6f48c6e8:eaa9385919f7c48b85b745b2cd2dabc0$</string>
            <key>textureFileName</key>
            <string>skill_nan_bing_02_2.png</string>
        </dict>
    </dict>
</plist>
