<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>liubei_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,72}</string>
                <key>spriteSourceSize</key>
                <string>{54,72}</string>
                <key>textureRect</key>
                <string>{{266,103},{54,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,89}</string>
                <key>spriteSourceSize</key>
                <string>{80,89}</string>
                <key>textureRect</key>
                <string>{{136,80},{80,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{342,145},{47,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_l_hijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{38,48}</string>
                <key>textureRect</key>
                <string>{{342,103},{38,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,65}</string>
                <key>spriteSourceSize</key>
                <string>{98,65}</string>
                <key>textureRect</key>
                <string>{{394,93},{98,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{458,162},{44,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,122}</string>
                <key>spriteSourceSize</key>
                <string>{96,122}</string>
                <key>textureRect</key>
                <string>{{268,3},{96,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{229,80},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{333,210},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{229,107},{29,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,42}</string>
                <key>spriteSourceSize</key>
                <string>{43,42}</string>
                <key>textureRect</key>
                <string>{{458,210},{43,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,30}</string>
                <key>spriteSourceSize</key>
                <string>{63,30}</string>
                <key>textureRect</key>
                <string>{{229,140},{63,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,73}</string>
                <key>spriteSourceSize</key>
                <string>{128,73}</string>
                <key>textureRect</key>
                <string>{{136,3},{128,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,52}</string>
                <key>spriteSourceSize</key>
                <string>{66,52}</string>
                <key>textureRect</key>
                <string>{{263,161},{66,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,61}</string>
                <key>spriteSourceSize</key>
                <string>{49,61}</string>
                <key>textureRect</key>
                <string>{{393,162},{49,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{333,191},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liubei_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,106}</string>
                <key>spriteSourceSize</key>
                <string>{86,106}</string>
                <key>textureRect</key>
                <string>{{394,3},{86,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>liubei_display_wuqi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,75}</string>
                <key>spriteSourceSize</key>
                <string>{129,75}</string>
                <key>textureRect</key>
                <string>{{3,3},{129,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>liubei_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c67ef6ca54ff9da8ab962e966b02326e:e8e39828b05366c1b1abff033e6962c3:08039f2e265664853f88701962565791$</string>
            <key>textureFileName</key>
            <string>liubei_display.png</string>
        </dict>
    </dict>
</plist>
