<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_gongsutisheng_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{69,99},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_gongsutisheng_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{65,195},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{24,38}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{69,1},{24,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{1,227},{28,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_gongsutisheng_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{28,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{1,173},{28,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{31,59},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{28,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{1,59},{28,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{32,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{32,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{1,117},{32,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{32,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{35,1},{32,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{31,173},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{35,115},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{51,225},{30,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_gongsutisheng_01_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{63,55},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_gongsutisheng_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,14}</string>
                <key>spriteSize</key>
                <string>{30,16}</string>
                <key>spriteSourceSize</key>
                <string>{52,66}</string>
                <key>textureRect</key>
                <string>{{65,163},{30,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff_gongsutisheng_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46f9d4fcdcc8c7f1527b733b4d218272:b6009693d27099d24ca45b9430ff9785:97b8d345042bdd7608248fd7ec0cefda$</string>
            <key>textureFileName</key>
            <string>buff_gongsutisheng_01.png</string>
        </dict>
    </dict>
</plist>
