<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_huatuo_0_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{114,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{114,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hit_huatuo_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{122,116}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hit_huatuo_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{112,86}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{112,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>hit_huatuo_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,118},{112,90}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,19},{112,90}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_huatuo_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:958f170288e2f26bac2d1cd7d15d08e1:8e8245a069cd6479b81d37b58ccba883:00bd25a2f99ea23c7cb5d0bd239518a7$</string>
            <key>textureFileName</key>
            <string>hit_huatuo_0.png</string>
        </dict>
    </dict>
</plist>
