<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanxing_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,79}</string>
                <key>spriteSourceSize</key>
                <string>{98,79}</string>
                <key>textureRect</key>
                <string>{{3,406},{98,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanxing_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,87}</string>
                <key>spriteSourceSize</key>
                <string>{114,87}</string>
                <key>textureRect</key>
                <string>{{3,185},{114,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanxing_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{145,398},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,27}</string>
                <key>spriteSourceSize</key>
                <string>{32,27}</string>
                <key>textureRect</key>
                <string>{{94,272},{32,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,55}</string>
                <key>spriteSourceSize</key>
                <string>{87,55}</string>
                <key>textureRect</key>
                <string>{{86,406},{87,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanxing_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{3,303},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{106,379},{33,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{130,272},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_long_r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{33,28}</string>
                <key>textureRect</key>
                <string>{{180,450},{33,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanxing_display_long_r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{145,450},{31,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{158,303},{56,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanxing_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,83}</string>
                <key>spriteSourceSize</key>
                <string>{73,83}</string>
                <key>textureRect</key>
                <string>{{94,185},{73,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,72}</string>
                <key>spriteSourceSize</key>
                <string>{48,72}</string>
                <key>textureRect</key>
                <string>{{106,303},{48,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{143,379},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanxing_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,178}</string>
                <key>spriteSourceSize</key>
                <string>{123,178}</string>
                <key>textureRect</key>
                <string>{{3,3},{123,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guanxing_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:27df555c109235f8a028c54bd28bdf40:79c88bae1e2bbf33f0285329885cadbb:059646b7ee2861dda932694d988e6dc6$</string>
            <key>textureFileName</key>
            <string>guanxing_display.png</string>
        </dict>
    </dict>
</plist>
