<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_silver_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{144,104}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{121,121},{144,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{138,96}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{121,227},{138,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-17}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{261,233},{132,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{128,94}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{409,121},{128,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_silver_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-21}</string>
                <key>spriteSize</key>
                <string>{120,82}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{243,413},{120,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-20}</string>
                <key>spriteSize</key>
                <string>{124,86}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{121,325},{124,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-21}</string>
                <key>spriteSize</key>
                <string>{120,84}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{121,413},{120,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-25}</string>
                <key>spriteSize</key>
                <string>{114,76}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{395,251},{114,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-25}</string>
                <key>spriteSize</key>
                <string>{118,76}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{247,329},{118,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-7}</string>
                <key>spriteSize</key>
                <string>{140,110}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{267,121},{140,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-4}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{1,121},{160,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_silver_01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{168,118}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{168,118}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{171,1},{168,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{168,118}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{341,1},{168,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_silver_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{160,118}</string>
                <key>spriteSourceSize</key>
                <string>{168,128}</string>
                <key>textureRect</key>
                <string>{{1,283},{160,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guangsuxian_2_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40924782efc0a85128afe53694a5260c:8f252439793ef79776cfcc713bdc6cc0:396bca82dfb86f025ad19e70ab5f3f0a$</string>
            <key>textureFileName</key>
            <string>guangsuxian_2_1.png</string>
        </dict>
    </dict>
</plist>
