<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lejin_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{383,156},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,73}</string>
                <key>spriteSourceSize</key>
                <string>{117,73}</string>
                <key>textureRect</key>
                <string>{{383,3},{117,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,68}</string>
                <key>spriteSourceSize</key>
                <string>{45,68}</string>
                <key>textureRect</key>
                <string>{{3,194},{45,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lejin_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,76}</string>
                <key>spriteSourceSize</key>
                <string>{104,76}</string>
                <key>textureRect</key>
                <string>{{238,114},{104,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,72}</string>
                <key>spriteSourceSize</key>
                <string>{108,72}</string>
                <key>textureRect</key>
                <string>{{383,80},{108,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,107}</string>
                <key>spriteSourceSize</key>
                <string>{141,107}</string>
                <key>textureRect</key>
                <string>{{238,3},{141,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,23}</string>
                <key>spriteSourceSize</key>
                <string>{39,23}</string>
                <key>textureRect</key>
                <string>{{346,158},{39,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lejin_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,23}</string>
                <key>spriteSourceSize</key>
                <string>{39,23}</string>
                <key>textureRect</key>
                <string>{{471,186},{39,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lejin_display_long_r_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,26}</string>
                <key>spriteSourceSize</key>
                <string>{37,26}</string>
                <key>textureRect</key>
                <string>{{471,156},{37,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,33}</string>
                <key>spriteSourceSize</key>
                <string>{40,33}</string>
                <key>textureRect</key>
                <string>{{346,114},{40,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lejin_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{3,287},{58,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{3,360},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,39}</string>
                <key>textureRect</key>
                <string>{{3,244},{45,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lejin_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{471,229},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lejin_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,136}</string>
                <key>spriteSourceSize</key>
                <string>{231,136}</string>
                <key>textureRect</key>
                <string>{{3,3},{231,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lejin_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5870dd3c51a26afd0c4518a0792e1f34:9a1e0dca648d47d414d238a2fad813eb:50f941b393d8e51c5e5ef513f446a424$</string>
            <key>textureFileName</key>
            <string>lejin_display.png</string>
        </dict>
    </dict>
</plist>
