<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbu_display_hongying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{66,156},{42,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_display_long-shenti_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{51,59}</string>
                <key>textureRect</key>
                <string>{{3,156},{51,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_display_long-shenti_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{80,49}</string>
                <key>textureRect</key>
                <string>{{425,218},{80,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_long-tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,112}</string>
                <key>spriteSourceSize</key>
                <string>{86,112}</string>
                <key>textureRect</key>
                <string>{{213,3},{86,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_display_long-weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{213,144},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_long-youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{399,133},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_long-youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,15}</string>
                <key>spriteSourceSize</key>
                <string>{26,15}</string>
                <key>textureRect</key>
                <string>{{399,196},{26,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_long-zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{399,162},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_long-zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{399,215},{20,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,80}</string>
                <key>spriteSourceSize</key>
                <string>{97,80}</string>
                <key>textureRect</key>
                <string>{{329,49},{97,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{279,144},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_display_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{312,133},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,91}</string>
                <key>spriteSourceSize</key>
                <string>{72,91}</string>
                <key>textureRect</key>
                <string>{{436,3},{72,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,149}</string>
                <key>spriteSourceSize</key>
                <string>{206,149}</string>
                <key>textureRect</key>
                <string>{{3,3},{206,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_youhongying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{430,98},{79,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,95}</string>
                <key>spriteSourceSize</key>
                <string>{47,95}</string>
                <key>textureRect</key>
                <string>{{213,93},{47,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_display_zuohongying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,42}</string>
                <key>spriteSourceSize</key>
                <string>{103,42}</string>
                <key>textureRect</key>
                <string>{{329,3},{103,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_display_zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,78}</string>
                <key>spriteSourceSize</key>
                <string>{65,78}</string>
                <key>textureRect</key>
                <string>{{430,149},{65,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_display_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{120,156},{39,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lvbu_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1e940214f7f839e8da2545d3e8f308c:6b8c76d1edce864487a4a9e886bc0519:05728047d72ab9fa41bc530ef92fe135$</string>
            <key>textureFileName</key>
            <string>lvbu_display.png</string>
        </dict>
    </dict>
</plist>
