<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaochan_display_gebo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,48}</string>
                <key>spriteSourceSize</key>
                <string>{97,48}</string>
                <key>textureRect</key>
                <string>{{460,169},{97,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{46,50}</string>
                <key>textureRect</key>
                <string>{{414,362},{46,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_gebo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,81}</string>
                <key>spriteSourceSize</key>
                <string>{104,81}</string>
                <key>textureRect</key>
                <string>{{3,239},{104,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_houchibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,48}</string>
                <key>spriteSize</key>
                <string>{100,112}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{3,135},{100,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_houchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{40,-64}</string>
                <key>spriteSize</key>
                <string>{92,132}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{359,73},{92,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_houchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,33}</string>
                <key>spriteSize</key>
                <string>{70,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{3,324},{70,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_houchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,-34}</string>
                <key>spriteSize</key>
                <string>{90,72}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{211,268},{90,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_houchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,6}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{3,398},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{63,398},{80,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,93}</string>
                <key>spriteSourceSize</key>
                <string>{51,93}</string>
                <key>textureRect</key>
                <string>{{326,263},{51,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_longhoutui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,74}</string>
                <key>spriteSourceSize</key>
                <string>{56,74}</string>
                <key>textureRect</key>
                <string>{{247,396},{56,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_longhoutui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{270,344},{48,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_longqiantui1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{48,69}</string>
                <key>textureRect</key>
                <string>{{197,344},{48,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,71}</string>
                <key>spriteSourceSize</key>
                <string>{43,71}</string>
                <key>textureRect</key>
                <string>{{339,318},{43,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,50}</string>
                <key>spriteSourceSize</key>
                <string>{77,50}</string>
                <key>textureRect</key>
                <string>{{193,396},{77,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,116}</string>
                <key>textureRect</key>
                <string>{{340,169},{90,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_piaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,128}</string>
                <key>spriteSourceSize</key>
                <string>{205,128}</string>
                <key>textureRect</key>
                <string>{{3,3},{205,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_qian chibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-4}</string>
                <key>spriteSize</key>
                <string>{72,82}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{111,320},{72,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_qianchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,38}</string>
                <key>spriteSize</key>
                <string>{92,110}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{212,172},{92,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_qianchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-49}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{119,234},{82,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_qianchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-74}</string>
                <key>spriteSize</key>
                <string>{66,138}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{359,3},{66,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_qianchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,49}</string>
                <key>spriteSize</key>
                <string>{76,124}</string>
                <key>spriteSourceSize</key>
                <string>{238,308}</string>
                <key>textureRect</key>
                <string>{{212,92},{76,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{340,92},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>diaochan_display_shanzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,85}</string>
                <key>spriteSourceSize</key>
                <string>{143,85}</string>
                <key>textureRect</key>
                <string>{{212,3},{143,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{89,95}</string>
                <key>textureRect</key>
                <string>{{119,135},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,88}</string>
                <key>spriteSourceSize</key>
                <string>{82,88}</string>
                <key>textureRect</key>
                <string>{{423,270},{82,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>diaochan_display_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,72}</string>
                <key>spriteSourceSize</key>
                <string>{78,72}</string>
                <key>textureRect</key>
                <string>{{117,396},{78,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>diaochan_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:baa271debd3b8eadb0128f5d6758a507:8834d09871b7224d53db3af7394986ab:95bf9b489caadd220f20084d25145bd9$</string>
            <key>textureFileName</key>
            <string>diaochan_display.png</string>
        </dict>
    </dict>
</plist>
