<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishici_atk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{963,618},{56,40}}</string>
                <key>offset</key>
                <string>{-42,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,41},{56,40}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_atk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,670},{62,80}}</string>
                <key>offset</key>
                <string>{-39,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,16},{62,80}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_atk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,520},{148,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{148,88}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_atk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,374},{144,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{144,94}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_atk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,245},{142,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{142,98}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_atk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,452},{132,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,22},{132,66}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_atk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,617},{130,48}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{130,48}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_atk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,130},{128,10}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,49},{128,10}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>taishici_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,682},{48,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{48,79}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>taishici_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,150},{93,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,84}}</string>
                <key>sourceSize</key>
                <string>{95,86}</string>
            </dict>
            <key>taishici_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,414},{36,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,65}}</string>
                <key>sourceSize</key>
                <string>{38,67}</string>
            </dict>
            <key>taishici_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{103,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,73}}</string>
                <key>sourceSize</key>
                <string>{105,75}</string>
            </dict>
            <key>taishici_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,298},{91,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,74}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
            <key>taishici_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,554},{62,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,51}}</string>
                <key>sourceSize</key>
                <string>{64,53}</string>
            </dict>
            <key>taishici_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,606},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,46}}</string>
                <key>sourceSize</key>
                <string>{30,48}</string>
            </dict>
            <key>taishici_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,593},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>taishici_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,577},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,29}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>taishici_long_r_leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,540},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,25}}</string>
                <key>sourceSize</key>
                <string>{37,27}</string>
            </dict>
            <key>taishici_long_r_leg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,626},{25,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,34}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>taishici_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,540},{77,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,51}}</string>
                <key>sourceSize</key>
                <string>{79,53}</string>
            </dict>
            <key>taishici_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,570},{38,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,63}}</string>
                <key>sourceSize</key>
                <string>{40,65}</string>
            </dict>
            <key>taishici_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,653},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,46}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>taishici_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,148},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>taishici_skill01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,540},{70,28}}</string>
                <key>offset</key>
                <string>{-65,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{70,28}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,476},{154,50}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{154,50}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,528},{152,48}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,33},{152,48}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,272},{140,40}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,36},{140,40}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,586},{74,26}}</string>
                <key>offset</key>
                <string>{-52,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,39},{74,26}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{170,96}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{170,96}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,466},{164,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{164,74}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,332},{180,58}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{180,58}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,272},{182,58}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{182,58}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{176,56}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,25},{176,56}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{162,56}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,29},{162,56}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,390},{162,54}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,33},{162,54}}</string>
                <key>sourceSize</key>
                <string>{200,110}</string>
            </dict>
            <key>taishici_skill02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,682},{110,46}}</string>
                <key>offset</key>
                <string>{-91,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,74},{110,46}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,578},{138,64}}</string>
                <key>offset</key>
                <string>{-40,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,5},{138,64}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{162,112}}</string>
                <key>offset</key>
                <string>{-66,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{162,112}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,542},{158,82}}</string>
                <key>offset</key>
                <string>{-68,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,41},{158,82}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,392},{166,72}}</string>
                <key>offset</key>
                <string>{-56,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,47},{166,72}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,318},{166,72}}</string>
                <key>offset</key>
                <string>{-47,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,47},{166,72}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,392},{158,34}}</string>
                <key>offset</key>
                <string>{-35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,81},{158,34}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{110,28}}</string>
                <key>offset</key>
                <string>{-60,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,83},{110,28}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{104,28}}</string>
                <key>offset</key>
                <string>{-64,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,82},{104,28}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,140},{226,130}}</string>
                <key>offset</key>
                <string>{-37,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{226,130}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{270,148}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,18},{270,148}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,626},{122,54}}</string>
                <key>offset</key>
                <string>{-74,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,76},{122,54}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,144}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{286,144}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{274,146}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{274,146}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{242,136}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{242,136}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,260},{222,128}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{222,128}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{208,126}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,28},{208,126}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,555},{144,60}}</string>
                <key>offset</key>
                <string>{-75,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,69},{144,60}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{160,54}}</string>
                <key>offset</key>
                <string>{-53,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,75},{160,54}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,428},{156,46}}</string>
                <key>offset</key>
                <string>{-42,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,78},{156,46}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,150},{188,92}}</string>
                <key>offset</key>
                <string>{-50,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,36},{188,92}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,389},{164,120}}</string>
                <key>offset</key>
                <string>{-49,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{164,120}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,130},{192,126}}</string>
                <key>offset</key>
                <string>{-50,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{192,126}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_skill02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,390},{176,148}}</string>
                <key>offset</key>
                <string>{-39,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,7},{176,148}}</string>
                <key>sourceSize</key>
                <string>{300,180}</string>
            </dict>
            <key>taishici_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,244},{188,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{188,72}}</string>
                <key>sourceSize</key>
                <string>{190,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>taishici.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d354e2d9ef15ce6ca906bac77699102:1532ece191be48ff914e4c8ff0d23627:fe7f7ff58618033fefd459d8a3ef5210$</string>
            <key>textureFileName</key>
            <string>taishici.png</string>
        </dict>
    </dict>
</plist>
