<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zuoci_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,80}</string>
                <key>spriteSourceSize</key>
                <string>{90,80}</string>
                <key>textureRect</key>
                <string>{{384,64},{90,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,100}</string>
                <key>spriteSourceSize</key>
                <string>{93,100}</string>
                <key>textureRect</key>
                <string>{{280,3},{93,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,74}</string>
                <key>spriteSourceSize</key>
                <string>{146,74}</string>
                <key>textureRect</key>
                <string>{{3,3},{146,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,98}</string>
                <key>spriteSourceSize</key>
                <string>{91,98}</string>
                <key>textureRect</key>
                <string>{{153,76},{91,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,9}</string>
                <key>spriteSize</key>
                <string>{57,67}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{452,148},{57,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,15}</string>
                <key>spriteSize</key>
                <string>{71,49}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{78,154},{71,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-41}</string>
                <key>spriteSize</key>
                <string>{59,57}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,215},{59,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,18}</string>
                <key>spriteSize</key>
                <string>{67,57}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{153,171},{67,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-36}</string>
                <key>spriteSize</key>
                <string>{61,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{78,207},{61,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,42}</string>
                <key>spriteSourceSize</key>
                <string>{37,42}</string>
                <key>textureRect</key>
                <string>{{224,171},{37,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{77,87}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{274,100},{77,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,20}</string>
                <key>spriteSize</key>
                <string>{65,69}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{84,81},{65,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-39}</string>
                <key>spriteSize</key>
                <string>{63,83}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{365,148},{63,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-36}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,81},{65,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,3}</string>
                <key>spriteSize</key>
                <string>{97,57}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{384,3},{97,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,57}</string>
                <key>spriteSourceSize</key>
                <string>{55,57}</string>
                <key>textureRect</key>
                <string>{{270,181},{55,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{3,150},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_qiu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,39}</string>
                <key>spriteSourceSize</key>
                <string>{23,39}</string>
                <key>textureRect</key>
                <string>{{485,3},{23,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{224,212},{40,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,39}</string>
                <key>spriteSourceSize</key>
                <string>{47,39}</string>
                <key>textureRect</key>
                <string>{{143,232},{47,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{255,76},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zuoci_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,69}</string>
                <key>spriteSourceSize</key>
                <string>{123,69}</string>
                <key>textureRect</key>
                <string>{{153,3},{123,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zuoci_display_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,43}</string>
                <key>textureRect</key>
                <string>{{478,64},{30,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zuoci_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fbbd98a707521608cbbef3c3bec853a:23f0c8d9b0e93bc3af086055f130d7b9:1e07fa78d7025cc97b6e1c0697938726$</string>
            <key>textureFileName</key>
            <string>zuoci_display.png</string>
        </dict>
    </dict>
</plist>
