<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_luxun_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,124}</string>
                <key>textureRect</key>
                <string>{{1,401},{108,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_luxun_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,124}</string>
                <key>spriteSourceSize</key>
                <string>{150,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,124}</string>
                <key>spriteSourceSize</key>
                <string>{150,124}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,124}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,124}</string>
                <key>textureRect</key>
                <string>{{305,125},{150,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,124}</string>
                <key>textureRect</key>
                <string>{{1,249},{150,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_luxun_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{150,122}</string>
                <key>spriteSourceSize</key>
                <string>{150,124}</string>
                <key>textureRect</key>
                <string>{{125,127},{150,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_luxun_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:715d1a9055cb50c0f908be859f662dd9:96d6165f0a907ce3f226f1d7d06913b4:c78ad751452f8b545e54cfd3013da8a7$</string>
            <key>textureFileName</key>
            <string>skill_luxun_01.png</string>
        </dict>
    </dict>
</plist>
