<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangfei_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,80}</string>
                <key>spriteSourceSize</key>
                <string>{69,80}</string>
                <key>textureRect</key>
                <string>{{223,87},{69,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{3,100},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangfei_display_long_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,57}</string>
                <key>textureRect</key>
                <string>{{346,95},{80,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangfei_display_long_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,58}</string>
                <key>spriteSourceSize</key>
                <string>{95,58}</string>
                <key>textureRect</key>
                <string>{{445,80},{95,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,35}</string>
                <key>spriteSourceSize</key>
                <string>{49,35}</string>
                <key>textureRect</key>
                <string>{{307,87},{49,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_long_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,62}</string>
                <key>spriteSourceSize</key>
                <string>{73,62}</string>
                <key>textureRect</key>
                <string>{{445,3},{73,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_long_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{186,127},{28,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_long_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{143,100},{28,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_long_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,42}</string>
                <key>spriteSourceSize</key>
                <string>{41,42}</string>
                <key>textureRect</key>
                <string>{{52,100},{41,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_long_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,23}</string>
                <key>spriteSourceSize</key>
                <string>{33,23}</string>
                <key>textureRect</key>
                <string>{{186,100},{33,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangfei_display_long_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{143,132},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangfei_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,80}</string>
                <key>spriteSourceSize</key>
                <string>{119,80}</string>
                <key>textureRect</key>
                <string>{{223,3},{119,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangfei_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{419,156},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,95}</string>
                <key>spriteSourceSize</key>
                <string>{88,95}</string>
                <key>textureRect</key>
                <string>{{346,3},{88,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,93}</string>
                <key>spriteSourceSize</key>
                <string>{216,93}</string>
                <key>textureRect</key>
                <string>{{3,3},{216,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangfei_display_youbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,71}</string>
                <key>spriteSourceSize</key>
                <string>{40,71}</string>
                <key>textureRect</key>
                <string>{{344,156},{40,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_zuobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{98,100},{38,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,33}</string>
                <key>spriteSourceSize</key>
                <string>{28,33}</string>
                <key>textureRect</key>
                <string>{{307,140},{28,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangfei_display_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{48,52}</string>
                <key>textureRect</key>
                <string>{{438,179},{48,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhangfei_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecfcdd2026fb75e63ef932f5194d4465:9921cd298e5cb13ce287d748edc7f179:3d081e64fc70bdc97a3aa9516de5399c$</string>
            <key>textureFileName</key>
            <string>zhangfei_display.png</string>
        </dict>
    </dict>
</plist>
