<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_13_guangxiao-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,64}</string>
                <key>spriteSourceSize</key>
                <string>{226,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_13_shou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,35}</string>
                <key>spriteSourceSize</key>
                <string>{40,35}</string>
                <key>textureRect</key>
                <string>{{1,176},{40,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_13_shou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,47}</string>
                <key>spriteSourceSize</key>
                <string>{39,47}</string>
                <key>textureRect</key>
                <string>{{1,127},{39,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_13_shou3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,58}</string>
                <key>spriteSourceSize</key>
                <string>{47,58}</string>
                <key>textureRect</key>
                <string>{{1,67},{47,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_13.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85ead604002534202947bb91258ebacf:067ebef5d1b477b05b6cc17e4a656a5c:03f25fd3b972fea4e0677a3fc0775f79$</string>
            <key>textureFileName</key>
            <string>story_13.png</string>
        </dict>
    </dict>
</plist>
