<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulianshi_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{156,164},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,85}</string>
                <key>spriteSourceSize</key>
                <string>{80,85}</string>
                <key>textureRect</key>
                <string>{{290,1},{80,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{305,88},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{165,103},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{55,113},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{1,282},{104,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,46}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{1,388},{97,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,39}</string>
                <key>spriteSize</key>
                <string>{91,72}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{97,271},{91,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-36}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{89,388},{83,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-38}</string>
                <key>spriteSize</key>
                <string>{73,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{81,167},{73,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,36}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{171,255},{83,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{171,340},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,27}</string>
                <key>spriteSize</key>
                <string>{112,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{1,168},{112,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,40}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{55,1},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{234,164},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-45}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{151,1},{66,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,26}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{221,92},{82,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{44,49}</string>
                <key>textureRect</key>
                <string>{{119,113},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,36}</string>
                <key>textureRect</key>
                <string>{{174,467},{47,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{202,340},{29,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_long_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{223,467},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{1,487},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_long_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{230,340},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{174,387},{78,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{30,487},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_display_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,69}</string>
                <key>textureRect</key>
                <string>{{219,1},{89,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,165}</string>
                <key>spriteSourceSize</key>
                <string>{52,165}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bulianshi_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:430b029cd337f9df2d1f996f792d1184:5d2b15d7ca39d1d4cbec19873ff1374e:598162d7037966d12d42755a2409b972$</string>
            <key>textureFileName</key>
            <string>bulianshi_display.png</string>
        </dict>
    </dict>
</plist>
