<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_zhuoshao_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{110,2},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{48,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{54,172},{48,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{48,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{104,58},{48,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{50,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{54,118},{50,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{2,60},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{54,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{2,2},{54,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{2,118},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{50,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{2,176},{50,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{48,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{54,60},{48,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_zhuoshao_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{50,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{58,2},{50,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff_zhuoshao.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a11f33f1f3ebfee44c59183415b2c5bf:a60013cbc51349791f68f7cad7b68af2:dbc393a836f470455d2f0edb3ea4acc4$</string>
            <key>textureFileName</key>
            <string>buff_zhuoshao.png</string>
        </dict>
    </dict>
</plist>
