<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuji_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,114},{67,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,73}}</string>
                <key>sourceSize</key>
                <string>{69,75}</string>
            </dict>
            <key>yuji_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,122}}</string>
                <key>sourceSize</key>
                <string>{102,124}</string>
            </dict>
            <key>yuji_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,217},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,36}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>yuji_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,126},{89,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,65}}</string>
                <key>sourceSize</key>
                <string>{91,67}</string>
            </dict>
            <key>yuji_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{81,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,69}}</string>
                <key>sourceSize</key>
                <string>{83,71}</string>
            </dict>
            <key>yuji_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,65},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,28}}</string>
                <key>sourceSize</key>
                <string>{30,28}</string>
            </dict>
            <key>yuji_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,95},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>yuji_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,33},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>yuji_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,2},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,31}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>yuji_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,73},{63,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,39}}</string>
                <key>sourceSize</key>
                <string>{65,41}</string>
            </dict>
            <key>yuji_qiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,88},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,21}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>yuji_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{33,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,52}}</string>
                <key>sourceSize</key>
                <string>{35,54}</string>
            </dict>
            <key>yuji_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,217},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,35}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>yuji_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,73},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>yuji_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{121,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{121,67}}</string>
                <key>sourceSize</key>
                <string>{123,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuji.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:158677d925c9533cac286460cf7c5881:814dfbd42c06af5a8ae2522e7b8bc2cc:d505421e2fe6967965b29053e6c29526$</string>
            <key>textureFileName</key>
            <string>yuji.png</string>
        </dict>
    </dict>
</plist>
