<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xunyou_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,115}</string>
                <key>spriteSourceSize</key>
                <string>{97,115}</string>
                <key>textureRect</key>
                <string>{{3,174},{97,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,102}</string>
                <key>spriteSourceSize</key>
                <string>{62,102}</string>
                <key>textureRect</key>
                <string>{{3,293},{62,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,38}</string>
                <key>spriteSourceSize</key>
                <string>{59,38}</string>
                <key>textureRect</key>
                <string>{{124,110},{59,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,42}</string>
                <key>spriteSourceSize</key>
                <string>{57,42}</string>
                <key>textureRect</key>
                <string>{{185,157},{57,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{145,384},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{3,399},{98,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{65,110},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,19}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{178,446},{57,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-26}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{136,287},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{96,392},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{185,218},{51,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{136,352},{28,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,24}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{69,293},{95,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{104,173},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{166,88},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-34}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{125,3},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,23}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{184,3},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{96,461},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{135,461},{46,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunyou_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,103}</string>
                <key>spriteSourceSize</key>
                <string>{56,103}</string>
                <key>textureRect</key>
                <string>{{65,3},{56,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{104,268},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunyou_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,167}</string>
                <key>spriteSourceSize</key>
                <string>{58,167}</string>
                <key>textureRect</key>
                <string>{{3,3},{58,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xunyou_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e9972fc545bb988d584359d4870f35a:c0817d1839c0f9e4365846acfea01be4:1897b571e2c3ad149546124be510d671$</string>
            <key>textureFileName</key>
            <string>xunyou_display.png</string>
        </dict>
    </dict>
</plist>
