<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_nan_bing_02_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,212},{64,120}}</string>
                <key>offset</key>
                <string>{-143,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{64,120}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,334},{140,138}}</string>
                <key>offset</key>
                <string>{-105,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,18},{140,138}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{188,194}}</string>
                <key>offset</key>
                <string>{-80,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{188,194}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,208}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,5},{296,208}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
            <key>skill_nan_bing_02_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{266,210}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,6},{266,210}}</string>
                <key>sourceSize</key>
                <string>{360,220}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_nan_bing_02_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55b7407af604a30d946fbfa7133a0d79:32b5f91482f730b97be643c15db2202a:63682c6736cca1b49bed628009baf6d1$</string>
            <key>textureFileName</key>
            <string>skill_nan_bing_02_1.png</string>
        </dict>
    </dict>
</plist>
