<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_xunlong_effect1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{130,231}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{236,193},{130,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{130,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{710,187},{130,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_xunlong_effect1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{1,238},{190,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_xunlong_effect1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{1,475},{190,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_xunlong_effect1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{1,712},{190,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_xunlong_effect1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{236,1},{190,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{473,1},{190,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{184,235}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{710,1},{184,235}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{184,229}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{469,193},{184,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-10}</string>
                <key>spriteSize</key>
                <string>{176,215}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{700,319},{176,215}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-8}</string>
                <key>spriteSize</key>
                <string>{176,219}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{236,325},{176,219}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_xunlong_effect1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{116,189}</string>
                <key>spriteSourceSize</key>
                <string>{190,235}</string>
                <key>textureRect</key>
                <string>{{457,379},{116,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_baobao_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{947,218},{57,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_baobao_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,44}</string>
                <key>spriteSourceSize</key>
                <string>{48,44}</string>
                <key>textureRect</key>
                <string>{{648,379},{48,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_baobao_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,21}</string>
                <key>spriteSourceSize</key>
                <string>{20,21}</string>
                <key>textureRect</key>
                <string>{{1002,274},{20,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_baobao_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,18}</string>
                <key>spriteSourceSize</key>
                <string>{15,18}</string>
                <key>textureRect</key>
                <string>{{1002,296},{15,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,79}</string>
                <key>spriteSourceSize</key>
                <string>{77,79}</string>
                <key>textureRect</key>
                <string>{{434,522},{77,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{1006,218},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,82}</string>
                <key>spriteSourceSize</key>
                <string>{90,82}</string>
                <key>textureRect</key>
                <string>{{286,925},{90,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_shenti_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,140}</string>
                <key>spriteSourceSize</key>
                <string>{89,140}</string>
                <key>textureRect</key>
                <string>{{193,667},{89,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,115}</string>
                <key>spriteSourceSize</key>
                <string>{123,115}</string>
                <key>textureRect</key>
                <string>{{317,522},{123,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_tou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,114}</string>
                <key>spriteSourceSize</key>
                <string>{123,114}</string>
                <key>textureRect</key>
                <string>{{286,800},{123,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_tou_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,143}</string>
                <key>spriteSourceSize</key>
                <string>{122,143}</string>
                <key>textureRect</key>
                <string>{{193,522},{122,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{76,53}</string>
                <key>spriteSourceSize</key>
                <string>{78,53}</string>
                <key>textureRect</key>
                <string>{{947,1},{76,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_weiba_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,51}</string>
                <key>spriteSourceSize</key>
                <string>{73,51}</string>
                <key>textureRect</key>
                <string>{{90,949},{73,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_weiba_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,53}</string>
                <key>spriteSourceSize</key>
                <string>{92,53}</string>
                <key>textureRect</key>
                <string>{{947,250},{92,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_youchibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,44}</string>
                <key>spriteSize</key>
                <string>{78,63}</string>
                <key>spriteSourceSize</key>
                <string>{102,159}</string>
                <key>textureRect</key>
                <string>{{947,138},{78,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_youchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-34}</string>
                <key>spriteSize</key>
                <string>{66,91}</string>
                <key>spriteSourceSize</key>
                <string>{102,159}</string>
                <key>textureRect</key>
                <string>{{143,949},{66,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_youchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-32}</string>
                <key>spriteSize</key>
                <string>{74,87}</string>
                <key>spriteSourceSize</key>
                <string>{102,159}</string>
                <key>textureRect</key>
                <string>{{1,949},{74,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_youchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,35}</string>
                <key>spriteSize</key>
                <string>{80,65}</string>
                <key>spriteSourceSize</key>
                <string>{102,159}</string>
                <key>textureRect</key>
                <string>{{947,56},{80,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_youchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,41}</string>
                <key>spriteSize</key>
                <string>{86,77}</string>
                <key>spriteSourceSize</key>
                <string>{102,159}</string>
                <key>textureRect</key>
                <string>{{370,925},{86,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,42}</string>
                <key>spriteSourceSize</key>
                <string>{36,42}</string>
                <key>textureRect</key>
                <string>{{193,242},{36,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_youtui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{193,46},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_youtui_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,41}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{193,1},{43,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_zuobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,22}</string>
                <key>spriteSourceSize</key>
                <string>{35,22}</string>
                <key>textureRect</key>
                <string>{{193,286},{33,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_zuochibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,32}</string>
                <key>spriteSize</key>
                <string>{95,81}</string>
                <key>spriteSourceSize</key>
                <string>{149,223}</string>
                <key>textureRect</key>
                <string>{{917,344},{95,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_zuochibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-53}</string>
                <key>spriteSize</key>
                <string>{77,117}</string>
                <key>spriteSourceSize</key>
                <string>{149,223}</string>
                <key>textureRect</key>
                <string>{{397,647},{77,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_zuochibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-42}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{149,223}</string>
                <key>textureRect</key>
                <string>{{917,427},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_zuochibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,46}</string>
                <key>spriteSize</key>
                <string>{111,131}</string>
                <key>spriteSourceSize</key>
                <string>{149,223}</string>
                <key>textureRect</key>
                <string>{{284,667},{111,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_zuochibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,32}</string>
                <key>spriteSize</key>
                <string>{137,91}</string>
                <key>spriteSourceSize</key>
                <string>{149,223}</string>
                <key>textureRect</key>
                <string>{{193,809},{137,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{193,209},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,34}</string>
                <key>spriteSourceSize</key>
                <string>{37,34}</string>
                <key>textureRect</key>
                <string>{{193,173},{37,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xunlong_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{193,133},{38,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_zuotui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{193,88},{43,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xunlong_zuotui_3..png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{648,425},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_xunlong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e054b003f6b5ef516db01e28fbd526ef:a748719ee5332c25990dcb9e5cbe63eb:20178e7650f390dcbc6bdc1a057d0c8a$</string>
            <key>textureFileName</key>
            <string>playerskill_xunlong.png</string>
        </dict>
    </dict>
</plist>
