<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuhuang_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,84}</string>
                <key>textureRect</key>
                <string>{{221,3},{100,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,86}</string>
                <key>spriteSourceSize</key>
                <string>{74,86}</string>
                <key>textureRect</key>
                <string>{{110,65},{74,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuhuang_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{33,28}</string>
                <key>textureRect</key>
                <string>{{479,124},{33,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuhuang_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,39}</string>
                <key>spriteSourceSize</key>
                <string>{33,39}</string>
                <key>textureRect</key>
                <string>{{436,90},{33,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuhuang_display_l_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,56}</string>
                <key>spriteSourceSize</key>
                <string>{106,56}</string>
                <key>textureRect</key>
                <string>{{3,3},{106,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{394,3},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{325,43},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{3,63},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{251,91},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{479,90},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{219,91},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{393,65},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{325,3},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{462,3},{40,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuhuang_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{462,47},{39,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xuhuang_display_r_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,58}</string>
                <key>spriteSourceSize</key>
                <string>{104,58}</string>
                <key>textureRect</key>
                <string>{{113,3},{104,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuhuang_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{200,65},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xuhuang_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf8cdee2a585ceb23e43ad3288562f26:384f5444de6e51464e8a06b86cfd64c6:e5f6dd730d4d8e39a46868abe433e155$</string>
            <key>textureFileName</key>
            <string>xuhuang_display.png</string>
        </dict>
    </dict>
</plist>
