<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>weiyan_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,77}</string>
                <key>spriteSourceSize</key>
                <string>{65,77}</string>
                <key>textureRect</key>
                <string>{{3,75},{65,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,77}</string>
                <key>spriteSourceSize</key>
                <string>{94,77}</string>
                <key>textureRect</key>
                <string>{{396,3},{94,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weiyan_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,64}</string>
                <key>spriteSourceSize</key>
                <string>{46,64}</string>
                <key>textureRect</key>
                <string>{{84,75},{46,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,60}</string>
                <key>spriteSourceSize</key>
                <string>{91,60}</string>
                <key>textureRect</key>
                <string>{{396,84},{91,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weiyan_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,97}</string>
                <key>spriteSourceSize</key>
                <string>{122,97}</string>
                <key>textureRect</key>
                <string>{{270,3},{122,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weiyan_display_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{214,106},{30,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{45,144},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_long_r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,38}</string>
                <key>spriteSourceSize</key>
                <string>{36,38}</string>
                <key>textureRect</key>
                <string>{{3,144},{36,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_long_r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,26}</string>
                <key>spriteSourceSize</key>
                <string>{25,26}</string>
                <key>textureRect</key>
                <string>{{146,133},{25,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{269,104},{36,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weiyan_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,27}</string>
                <key>textureRect</key>
                <string>{{214,75},{51,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weiyan_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{152,75},{54,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,58}</string>
                <key>spriteSourceSize</key>
                <string>{46,58}</string>
                <key>textureRect</key>
                <string>{{84,125},{46,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{494,3},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weiyan_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,68}</string>
                <key>spriteSourceSize</key>
                <string>{263,68}</string>
                <key>textureRect</key>
                <string>{{3,3},{263,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>weiyan_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f71cc560de2262e6bdc2f1429a12925:75c2353168295c9a8252eef185d80cf5:a80a709278b016128ba52a8d0b96adc8$</string>
            <key>textureFileName</key>
            <string>weiyan_display.png</string>
        </dict>
    </dict>
</plist>
