<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_9_guangxiao-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{177,144},{50,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_9_tou-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,77}</string>
                <key>spriteSourceSize</key>
                <string>{141,77}</string>
                <key>textureRect</key>
                <string>{{177,1},{141,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_9_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,147}</string>
                <key>spriteSourceSize</key>
                <string>{174,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_9_yanzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,13}</string>
                <key>spriteSourceSize</key>
                <string>{62,13}</string>
                <key>textureRect</key>
                <string>{{1,150},{62,13}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_9.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3fbc7371fc3cbad998c62baad4df1e4:c6d69c69c63116d45161d6e4fe4f39a6:ac28913884ef9fa2b44e8ff66a2f0cad$</string>
            <key>textureFileName</key>
            <string>story_9.png</string>
        </dict>
    </dict>
</plist>
