<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_mj77_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_mj77_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{1,185},{160,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_mj77_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{163,1},{160,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_mj77_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{160,174}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{347,1},{160,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_mj77_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{347,177},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_mj77_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{185,163},{160,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_mj77_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{1,347},{160,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_mj77_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{160,182}</string>
                <key>spriteSourceSize</key>
                <string>{166,190}</string>
                <key>textureRect</key>
                <string>{{185,347},{160,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_mj77.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a2130c74193d0159b4780c1161b6f7:481f7e76784b3bfab48a463ce7fe036a:4a57a60a9c2723ac4eaa0f7612af1494$</string>
            <key>textureFileName</key>
            <string>ui_mj77.png</string>
        </dict>
    </dict>
</plist>
