<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{63,137},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_effect_3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{1,1},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_effect_3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{73,1},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_effect_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{145,1},{70,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_effect_3_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,62}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{1,65},{70,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_effect_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{68,60}</string>
                <key>spriteSourceSize</key>
                <string>{70,64}</string>
                <key>textureRect</key>
                <string>{{1,137},{68,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_effect_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b1fb69071932626aed7c85461c9f133:46ff53bea94b6951e696bc71dfdeee9b:d60f2dede904955f6dee14dfbca33e39$</string>
            <key>textureFileName</key>
            <string>hit_effect_3.png</string>
        </dict>
    </dict>
</plist>
