<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tianming_soul_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,110},{76,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,110},{76,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{76,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{76,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,218},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,182},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,182},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,146},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,34}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,74},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,146},{80,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{80,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,74},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,38},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
            <key>tianming_soul_00_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,38},{78,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{86,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tianming_soul_00.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3137f42348e5f20c7a73c9ee2dfba0f1$</string>
            <key>textureFileName</key>
            <string>tianming_soul_00.png</string>
        </dict>
    </dict>
</plist>
