<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lanlong_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,70}</string>
                <key>spriteSourceSize</key>
                <string>{85,70}</string>
                <key>textureRect</key>
                <string>{{355,399},{85,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_bozi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,70}</string>
                <key>spriteSourceSize</key>
                <string>{85,70}</string>
                <key>textureRect</key>
                <string>{{349,1},{85,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{79,452},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,82}</string>
                <key>spriteSourceSize</key>
                <string>{75,82}</string>
                <key>textureRect</key>
                <string>{{427,1},{75,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_shenti_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,167}</string>
                <key>spriteSourceSize</key>
                <string>{116,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{116,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_shetou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,34}</string>
                <key>spriteSourceSize</key>
                <string>{44,34}</string>
                <key>textureRect</key>
                <string>{{269,119},{44,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{119,1},{116,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_tou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,113}</string>
                <key>spriteSourceSize</key>
                <string>{116,113}</string>
                <key>textureRect</key>
                <string>{{234,1},{116,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_tou_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,113}</string>
                <key>spriteSourceSize</key>
                <string>{139,113}</string>
                <key>textureRect</key>
                <string>{{1,170},{139,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,49}</string>
                <key>spriteSourceSize</key>
                <string>{73,49}</string>
                <key>textureRect</key>
                <string>{{119,119},{73,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_weiba_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,49}</string>
                <key>spriteSourceSize</key>
                <string>{73,49}</string>
                <key>textureRect</key>
                <string>{{194,119},{73,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_weiba_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,61}</string>
                <key>spriteSourceSize</key>
                <string>{94,61}</string>
                <key>textureRect</key>
                <string>{{159,448},{94,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{96,448},{61,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_youchibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,33}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{102,162}</string>
                <key>textureRect</key>
                <string>{{1,452},{76,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_youchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-35}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,162}</string>
                <key>textureRect</key>
                <string>{{285,410},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_youchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-33}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{102,162}</string>
                <key>textureRect</key>
                <string>{{294,165},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_youchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,35}</string>
                <key>spriteSize</key>
                <string>{82,66}</string>
                <key>spriteSourceSize</key>
                <string>{102,162}</string>
                <key>textureRect</key>
                <string>{{427,78},{82,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_youchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,41}</string>
                <key>spriteSize</key>
                <string>{88,80}</string>
                <key>spriteSourceSize</key>
                <string>{102,162}</string>
                <key>textureRect</key>
                <string>{{298,309},{88,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,19}</string>
                <key>spriteSourceSize</key>
                <string>{34,19}</string>
                <key>textureRect</key>
                <string>{{339,255},{34,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,35}</string>
                <key>spriteSourceSize</key>
                <string>{23,35}</string>
                <key>textureRect</key>
                <string>{{314,255},{23,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{213,410},{35,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_youtui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,34}</string>
                <key>spriteSourceSize</key>
                <string>{35,34}</string>
                <key>textureRect</key>
                <string>{{249,410},{35,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_zuobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,25}</string>
                <key>spriteSourceSize</key>
                <string>{38,25}</string>
                <key>textureRect</key>
                <string>{{255,447},{38,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_zuochibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,31}</string>
                <key>spriteSize</key>
                <string>{97,83}</string>
                <key>spriteSourceSize</key>
                <string>{151,231}</string>
                <key>textureRect</key>
                <string>{{213,311},{97,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_zuochibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-55}</string>
                <key>spriteSize</key>
                <string>{79,121}</string>
                <key>spriteSourceSize</key>
                <string>{151,231}</string>
                <key>textureRect</key>
                <string>{{116,170},{79,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_zuochibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-46}</string>
                <key>spriteSize</key>
                <string>{95,97}</string>
                <key>spriteSourceSize</key>
                <string>{151,231}</string>
                <key>textureRect</key>
                <string>{{197,170},{95,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_zuochibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,48}</string>
                <key>spriteSize</key>
                <string>{115,135}</string>
                <key>spriteSourceSize</key>
                <string>{151,231}</string>
                <key>textureRect</key>
                <string>{{96,311},{115,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_zuochibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,28}</string>
                <key>spriteSize</key>
                <string>{139,93}</string>
                <key>spriteSourceSize</key>
                <string>{151,231}</string>
                <key>textureRect</key>
                <string>{{1,311},{139,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{279,269},{38,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_zuojiao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{305,119},{38,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{340,119},{38,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lanlong_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{197,269},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lanlong_zuotui_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{238,269},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_lanlong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36ca17f5fe7268c2a472c745638468bd:57d9622c4bc88700d10af043fc738497:3d19e127a740e8843869778f547a6531$</string>
            <key>textureFileName</key>
            <string>playerskill_lanlong.png</string>
        </dict>
    </dict>
</plist>
