<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_dalong_atk0.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,820},{106,174}}</string>
                <key>offset</key>
                <string>{-33,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,13},{106,174}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,72},{146,176}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{146,176}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,220},{202,180}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{202,180}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,850},{164,152}}</string>
                <key>offset</key>
                <string>{30,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,18},{164,152}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,688},{160,150}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,19},{160,150}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,820},{112,140}}</string>
                <key>offset</key>
                <string>{55,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,28},{112,140}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,688},{90,130}}</string>
                <key>offset</key>
                <string>{64,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,38},{90,130}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,934},{78,122}}</string>
                <key>offset</key>
                <string>{68,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{143,48},{78,122}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_atk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,936},{82,128}}</string>
                <key>offset</key>
                <string>{66,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,39},{82,128}}</string>
                <key>sourceSize</key>
                <string>{228,190}</string>
            </dict>
            <key>boss_dalong_bozi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,928},{99,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,75}}</string>
                <key>sourceSize</key>
                <string>{99,75}</string>
            </dict>
            <key>boss_dalong_bozi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,936},{85,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,78}}</string>
                <key>sourceSize</key>
                <string>{85,78}</string>
            </dict>
            <key>boss_dalong_effect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,306},{265,106}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{265,106}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{273,138}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{273,138}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{281,156}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{277,142}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{277,142}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect12.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,146},{275,136}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,23},{275,136}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect13.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,574},{253,86}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,36},{253,86}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{259,96}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{259,96}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect15.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,434},{259,138}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{259,138}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{249,144}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{249,144}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect17.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,638},{235,100}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,49},{235,100}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect18.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,2},{179,68}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,57},{179,68}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{187,60}}</string>
                <key>offset</key>
                <string>{28,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,95},{187,60}}</string>
                <key>sourceSize</key>
                <string>{285,200}</string>
            </dict>
            <key>boss_dalong_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2},{277,142}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,20},{277,142}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,536},{253,150}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{253,150}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,662},{241,156}}</string>
                <key>offset</key>
                <string>{-18,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{241,156}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,284},{271,148}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{271,148}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,146},{273,158}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{273,158}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{267,130}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{267,130}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{271,120}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,36},{271,120}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_effect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,414},{263,120}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{263,120}}</string>
                <key>sourceSize</key>
                <string>{285,162}</string>
            </dict>
            <key>boss_dalong_l_chibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,798},{175,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,136}}</string>
                <key>sourceSize</key>
                <string>{175,136}</string>
            </dict>
            <key>boss_dalong_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,688},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>boss_dalong_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,740},{75,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,67}}</string>
                <key>sourceSize</key>
                <string>{75,67}</string>
            </dict>
            <key>boss_dalong_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,932},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>boss_dalong_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,978},{52,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,36}}</string>
                <key>sourceSize</key>
                <string>{52,36}</string>
            </dict>
            <key>boss_dalong_r_chibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,424},{212,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,187}}</string>
                <key>sourceSize</key>
                <string>{212,187}</string>
            </dict>
            <key>boss_dalong_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,742},{42,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,55}}</string>
                <key>sourceSize</key>
                <string>{42,55}</string>
            </dict>
            <key>boss_dalong_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,934},{72,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,81}}</string>
                <key>sourceSize</key>
                <string>{72,81}</string>
            </dict>
            <key>boss_dalong_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,928},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{48,56}</string>
            </dict>
            <key>boss_dalong_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,306},{51,14}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{51,14}}</string>
                <key>sourceSize</key>
                <string>{53,14}</string>
            </dict>
            <key>boss_dalong_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,740},{96,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,105}}</string>
                <key>sourceSize</key>
                <string>{96,105}</string>
            </dict>
            <key>boss_dalong_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,847},{143,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,158}}</string>
                <key>sourceSize</key>
                <string>{143,158}</string>
            </dict>
            <key>boss_dalong_weiba1.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,809},{68,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,65}}</string>
                <key>sourceSize</key>
                <string>{68,65}</string>
            </dict>
            <key>boss_dalong_weiba2.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,536},{22,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,48}}</string>
                <key>sourceSize</key>
                <string>{22,48}</string>
            </dict>
            <key>boss_dalong_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,820},{106,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,74}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
            <key>boss_dalong_xiaba_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,876},{54,62}}</string>
                <key>offset</key>
                <string>{26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,2},{54,62}}</string>
                <key>sourceSize</key>
                <string>{106,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boss_dalong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:093b64f3b55cee2d0772c4322b35349f$</string>
            <key>textureFileName</key>
            <string>boss_dalong.png</string>
        </dict>
    </dict>
</plist>
