<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lusu_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,47},{41,25}}</string>
                <key>offset</key>
                <string>{-62,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,108},{41,25}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{43,27}}</string>
                <key>offset</key>
                <string>{-62,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,108},{43,27}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,382},{89,61}}</string>
                <key>offset</key>
                <string>{-55,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,79},{89,61}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{279,181}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{279,181}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{229,195}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,9},{229,195}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{191,177}}</string>
                <key>offset</key>
                <string>{49,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,31},{191,177}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,181},{167,155}}</string>
                <key>offset</key>
                <string>{64,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,53},{167,155}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,350},{173,133}}</string>
                <key>offset</key>
                <string>{64,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,74},{173,133}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{177,113}}</string>
                <key>offset</key>
                <string>{66,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,94},{177,113}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
            <key>skill_lusu_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,185},{181,95}}</string>
                <key>offset</key>
                <string>{66,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,110},{181,95}}</string>
                <key>sourceSize</key>
                <string>{319,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lusu_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f271599376404ee3c81ca89173f3acb:f7a2c99e2e34910543952633556d5890:f7aef0f3acef67b52a361f049213ab45$</string>
            <key>textureFileName</key>
            <string>skill_lusu_01.png</string>
        </dict>
    </dict>
</plist>
