<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_zulong_effect3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{167,144}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{1,147},{167,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{171,142}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{174,1},{171,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{171,144}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{171,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{171,142}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{174,145},{171,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{155,144}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{339,305},{155,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{347,153},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{159,150}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{1,293},{159,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{161,150}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{347,1},{161,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{167,130}</string>
                <key>spriteSourceSize</key>
                <string>{175,150}</string>
                <key>textureRect</key>
                <string>{{170,289},{167,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_zulong_effect3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e77c68e739b682b555da505ba3f7073:f7d332b3489c86826c0ae97fd592999d:a5986610c558240c0077fb530a0b6046$</string>
            <key>textureFileName</key>
            <string>playerskill_zulong_effect3.png</string>
        </dict>
    </dict>
</plist>
