<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_yuji_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{132,93}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,93}}</string>
                <key>sourceSize</key>
                <string>{132,99}</string>
            </dict>
            <key>hit_yuji_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,93}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,93}}</string>
                <key>sourceSize</key>
                <string>{132,99}</string>
            </dict>
            <key>hit_yuji_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,136},{84,85}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{84,85}}</string>
                <key>sourceSize</key>
                <string>{132,99}</string>
            </dict>
            <key>hit_yuji_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,136},{86,83}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,10},{86,83}}</string>
                <key>sourceSize</key>
                <string>{132,99}</string>
            </dict>
            <key>hit_yuji_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,97},{88,77}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,13},{88,77}}</string>
                <key>sourceSize</key>
                <string>{132,99}</string>
            </dict>
            <key>hit_yuji_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{66,69}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,16},{66,69}}</string>
                <key>sourceSize</key>
                <string>{132,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_yuji_00.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bedd80a8b1063ba664ebe7a7d93736c8:c7033f5ec5f9b026889c9e780eb79589:b3c99711029464ebde40200b3e214427$</string>
            <key>textureFileName</key>
            <string>hit_yuji_00.png</string>
        </dict>
    </dict>
</plist>
