<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_baolong_effect3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{242,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_baolong_effect3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{242,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{245,1},{242,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_baolong_effect3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{242,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{489,1},{242,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_baolong_effect3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,17}</string>
                <key>spriteSize</key>
                <string>{236,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1,313},{236,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_baolong_effect3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{230,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1,551},{230,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_baolong_effect3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,18}</string>
                <key>spriteSize</key>
                <string>{226,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{467,159},{226,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_baolong_effect3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,18}</string>
                <key>spriteSize</key>
                <string>{228,156}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{161,775},{228,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_baolong_effect3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,17}</string>
                <key>spriteSize</key>
                <string>{228,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1,783},{228,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_baolong_effect3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{228,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{159,545},{228,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_baolong_effect3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,17}</string>
                <key>spriteSize</key>
                <string>{228,158}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{307,313},{228,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_baolong_effect3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{230,148}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{157,313},{230,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_baolong_effect3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,15}</string>
                <key>spriteSize</key>
                <string>{234,152}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{1,159},{234,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_baolong_effect3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{238,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{733,157},{238,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_baolong_effect3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,15}</string>
                <key>spriteSize</key>
                <string>{240,154}</string>
                <key>spriteSourceSize</key>
                <string>{256,192}</string>
                <key>textureRect</key>
                <string>{{733,1},{240,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_baolong_effect3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20c0ba8ab9434b219819633f6c67a6c0:de44a9c825e96b37426c7884946aedeb:0178b442d044aadea1b9ea877f9db68e$</string>
            <key>textureFileName</key>
            <string>playerskill_baolong_effect3.png</string>
        </dict>
    </dict>
</plist>
