<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_sunshangxiang_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,160},{35,30}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,61},{35,30}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,135},{67,58}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,36},{67,58}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,376},{101,96}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,28},{101,96}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,376},{123,118}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{123,118}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,345},{145,138}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,5},{145,138}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,349},{155,134}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,23},{155,134}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,217},{157,112}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,22},{157,112}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,217},{167,126}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{167,126}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{187,138}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,14},{187,138}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{201,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,1},{201,156}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{213,142}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,15},{213,142}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
            <key>hit_sunshangxiang_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,2},{131,124}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,11},{131,124}}</string>
                <key>sourceSize</key>
                <string>{237,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_sunshangxiang_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1e75525cf6b3e350512683de149edfe:2e21a6b114d9a94e7cecac6fe0a3a0e9:9800f6db3483b63c5cf0e1a137d8721c$</string>
            <key>textureFileName</key>
            <string>hit_sunshangxiang_01.png</string>
        </dict>
    </dict>
</plist>
