<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_12_guangxiao-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,91}</string>
                <key>spriteSourceSize</key>
                <string>{162,91}</string>
                <key>textureRect</key>
                <string>{{312,1},{162,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_12_guangxiao-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,143}</string>
                <key>spriteSourceSize</key>
                <string>{252,143}</string>
                <key>textureRect</key>
                <string>{{1,207},{252,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_12_guangxiao-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,204}</string>
                <key>spriteSourceSize</key>
                <string>{309,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{309,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_12_guangxiao-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,97}</string>
                <key>spriteSourceSize</key>
                <string>{104,97}</string>
                <key>textureRect</key>
                <string>{{146,207},{104,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_12_zi-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,42}</string>
                <key>spriteSourceSize</key>
                <string>{115,42}</string>
                <key>textureRect</key>
                <string>{{1,461},{115,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_12_zi-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{124,111}</string>
                <key>spriteSourceSize</key>
                <string>{130,113}</string>
                <key>textureRect</key>
                <string>{{312,94},{124,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_12.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3897089ace40d9f42a076a60766ca98c:342d6ae1617b3b7faf132257f653157a:4ce253d8eadef80464f5e3ac6666d6a9$</string>
            <key>textureFileName</key>
            <string>story_12.png</string>
        </dict>
    </dict>
</plist>
