<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_weiyan_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{105,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,38}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{105,38}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,40},{105,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{105,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{105,36}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{105,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,114},{105,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{105,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,184},{105,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{105,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,150},{105,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{105,32}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,109},{105,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{105,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
            <key>buff_weiyan_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,78},{105,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{105,34}}</string>
                <key>sourceSize</key>
                <string>{105,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_weiyan_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e7920ccdb0d4af712701f2b58ea31e8:9584b54814e73d40a0d1ecbaacdd3f96:c9031016ed6bc22371f94d6dea781061$</string>
            <key>textureFileName</key>
            <string>buff_weiyan_01.png</string>
        </dict>
    </dict>
</plist>
