<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_loading_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,100},{13,56}}</string>
                <key>offset</key>
                <string>{65,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,8},{13,56}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,100},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,490},{19,92}}</string>
                <key>offset</key>
                <string>{62,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,4},{19,92}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,394},{29,94}}</string>
                <key>offset</key>
                <string>{57,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,2},{29,94}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,394},{57,96}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,0},{57,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{67,96}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,0},{67,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,296},{75,96}}</string>
                <key>offset</key>
                <string>{34,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{75,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{91,96}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,0},{91,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,100},{101,96}}</string>
                <key>offset</key>
                <string>{21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
            <key>ui_loading_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{119,96}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{119,96}}</string>
                <key>sourceSize</key>
                <string>{143,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_loading.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c073fe9cac908e4e8bcb71917b4d07c4$</string>
            <key>textureFileName</key>
            <string>ui_loading.png</string>
        </dict>
    </dict>
</plist>
