<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_dao_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,92}</string>
                <key>spriteSourceSize</key>
                <string>{74,92}</string>
                <key>textureRect</key>
                <string>{{3,67},{74,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_dao_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,78}</string>
                <key>spriteSourceSize</key>
                <string>{90,78}</string>
                <key>textureRect</key>
                <string>{{237,3},{90,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,65}</string>
                <key>spriteSourceSize</key>
                <string>{49,65}</string>
                <key>textureRect</key>
                <string>{{410,3},{49,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_dao_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{331,57},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{399,96},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{130,3},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{99,67},{28,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_dao_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{479,3},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{479,37},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{467,127},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{410,56},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_dao_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,75}</string>
                <key>spriteSourceSize</key>
                <string>{50,75}</string>
                <key>textureRect</key>
                <string>{{331,3},{50,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_dao_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{479,69},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_dao_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,60}</string>
                <key>spriteSourceSize</key>
                <string>{123,60}</string>
                <key>textureRect</key>
                <string>{{3,3},{123,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lan_dao_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b1dcc597006683ab398c18696d1d05:50595a15661c1f7c7e2321f496beba76:4ab02d4cdba2da943e823be8b9e4fe74$</string>
            <key>textureFileName</key>
            <string>lan_dao_display.png</string>
        </dict>
    </dict>
</plist>
