<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_introduce_BG.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,212},{499,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{499,200}}</string>
                <key>sourceSize</key>
                <string>{501,202}</string>
            </dict>
            <key>guide_introduce_tx1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{900,144}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{900,144}}</string>
                <key>sourceSize</key>
                <string>{900,200}</string>
            </dict>
            <key>guide_introduce_tx1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{900,142}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{900,142}}</string>
                <key>sourceSize</key>
                <string>{900,200}</string>
            </dict>
            <key>guide_introduce_tx1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{900,124}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{900,124}}</string>
                <key>sourceSize</key>
                <string>{900,200}</string>
            </dict>
            <key>guide_introduce_tx1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,146},{900,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{900,140}}</string>
                <key>sourceSize</key>
                <string>{900,200}</string>
            </dict>
            <key>guide_introduce_tx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,212},{30,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{30,122}}</string>
                <key>sourceSize</key>
                <string>{50,128}</string>
            </dict>
            <key>guide_introduce_tx2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{398,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{398,100}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>guide_introduce_tx2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1353},{398,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{398,100}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>guide_introduce_tx2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1913,953},{398,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{398,100}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>guide_introduce_tx2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1811,953},{398,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{398,100}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>guide_introduce_tx2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,860},{398,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,20},{398,100}}</string>
                <key>sourceSize</key>
                <string>{420,140}</string>
            </dict>
            <key>guide_introduce_tx3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,274},{86,76}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{86,76}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>guide_introduce_tx3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,847},{114,104}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{114,104}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>guide_introduce_tx3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,713},{134,132}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{134,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>guide_introduce_zhaoyun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{814,760}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{814,760}}</string>
                <key>sourceSize</key>
                <string>{816,762}</string>
            </dict>
            <key>guide_introduce_zhugeliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,288},{811,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{811,768}}</string>
                <key>sourceSize</key>
                <string>{813,770}</string>
            </dict>
            <key>guide_introduce_zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{208,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{208,231}}</string>
                <key>sourceSize</key>
                <string>{210,233}</string>
            </dict>
            <key>guide_introduce_zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1709,713},{145,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{145,178}}</string>
                <key>sourceSize</key>
                <string>{147,180}</string>
            </dict>
            <key>guide_introduce_zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{397,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{397,99}}</string>
                <key>sourceSize</key>
                <string>{399,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guide_introduce.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4f2e06adf93c4be735295ce461f284f:8c78e29941ff50635ee97d355c712d5e:ddb58e39b2de601d41fbc636b9f6ece8$</string>
            <key>textureFileName</key>
            <string>guide_introduce.png</string>
        </dict>
    </dict>
</plist>
