<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xuhuang_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,446},{144,92}}</string>
                <key>offset</key>
                <string>{-18,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{144,92}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{106,156}}</string>
                <key>offset</key>
                <string>{7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{106,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,764},{84,146}}</string>
                <key>offset</key>
                <string>{38,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,29},{84,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,446},{84,120}}</string>
                <key>offset</key>
                <string>{41,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,55},{84,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,932},{84,88}}</string>
                <key>offset</key>
                <string>{41,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,86},{84,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,817},{84,78}}</string>
                <key>offset</key>
                <string>{41,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,94},{84,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,568},{84,76}}</string>
                <key>offset</key>
                <string>{41,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,95},{84,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{106,156}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,5},{106,156}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,616},{84,146}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,32},{84,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,592},{84,120}}</string>
                <key>offset</key>
                <string>{28,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,58},{84,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{84,88}}</string>
                <key>offset</key>
                <string>{28,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,88},{84,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,818},{84,78}}</string>
                <key>offset</key>
                <string>{28,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,96},{84,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{138,168}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{138,168}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,616},{84,146}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,32},{84,146}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,592},{84,120}}</string>
                <key>offset</key>
                <string>{13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,58},{84,120}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,932},{84,88}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,88},{84,88}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,818},{84,78}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,96},{84,78}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,903},{84,76}}</string>
                <key>offset</key>
                <string>{13,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,97},{84,76}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>skill_xuhuang_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,112},{332,102}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{332,102}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{334,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{334,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,324},{320,106}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{320,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{328,104}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{328,104}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{332,108}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{332,108}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{326,106}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{326,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,110},{332,102}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{332,102}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,214},{328,106}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{328,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,322},{322,106}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{322,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{332,104}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{332,104}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,106}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,24},{334,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>skill_xuhuang_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,216},{326,106}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,24},{326,106}}</string>
                <key>sourceSize</key>
                <string>{350,150}</string>
            </dict>
            <key>xuhuang_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,904},{98,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,82}}</string>
                <key>sourceSize</key>
                <string>{100,84}</string>
            </dict>
            <key>xuhuang_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,712},{72,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,84}}</string>
                <key>sourceSize</key>
                <string>{74,86}</string>
            </dict>
            <key>xuhuang_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,246},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,26}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>xuhuang_l_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,989},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,37}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>xuhuang_l_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,912},{104,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,54}}</string>
                <key>sourceSize</key>
                <string>{106,56}</string>
            </dict>
            <key>xuhuang_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,654},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>xuhuang_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,654},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>xuhuang_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,714},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,83}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>xuhuang_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,307},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,21}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>xuhuang_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,216},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>xuhuang_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,279},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>xuhuang_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,409},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,35}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>xuhuang_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,798},{63,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,34}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>xuhuang_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,330},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,41}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>xuhuang_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,370},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,39}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>xuhuang_r_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,714},{102,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,56}}</string>
                <key>sourceSize</key>
                <string>{104,58}</string>
            </dict>
            <key>xuhuang_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuhuang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d638aa2f3b048faaf48b8781ec92cc1:b3afbb5b13956e396ebfef5e0556807a:4ffc37770a93f16d745afcc77dcf59c3$</string>
            <key>textureFileName</key>
            <string>xuhuang.png</string>
        </dict>
    </dict>
</plist>
