<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luzhi_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,112}</string>
                <key>spriteSourceSize</key>
                <string>{91,112}</string>
                <key>textureRect</key>
                <string>{{161,3},{91,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luzhi_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,88}</string>
                <key>spriteSourceSize</key>
                <string>{101,88}</string>
                <key>textureRect</key>
                <string>{{3,89},{101,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luzhi_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,37}</string>
                <key>spriteSourceSize</key>
                <string>{27,37}</string>
                <key>textureRect</key>
                <string>{{318,93},{27,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luzhi_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,32}</string>
                <key>spriteSourceSize</key>
                <string>{38,32}</string>
                <key>textureRect</key>
                <string>{{463,36},{38,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luzhi_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,59}</string>
                <key>spriteSourceSize</key>
                <string>{88,59}</string>
                <key>textureRect</key>
                <string>{{371,3},{88,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luzhi_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,86}</string>
                <key>spriteSourceSize</key>
                <string>{90,86}</string>
                <key>textureRect</key>
                <string>{{277,3},{90,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luzhi_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{29,43}</string>
                <key>spriteSourceSize</key>
                <string>{35,43}</string>
                <key>textureRect</key>
                <string>{{463,3},{29,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luzhi_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,50}</string>
                <key>spriteSourceSize</key>
                <string>{37,50}</string>
                <key>textureRect</key>
                <string>{{460,72},{37,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luzhi_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,34}</string>
                <key>spriteSourceSize</key>
                <string>{52,34}</string>
                <key>textureRect</key>
                <string>{{441,126},{52,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luzhi_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,66}</string>
                <key>spriteSourceSize</key>
                <string>{64,66}</string>
                <key>textureRect</key>
                <string>{{371,66},{64,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luzhi_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,37}</string>
                <key>spriteSourceSize</key>
                <string>{30,37}</string>
                <key>textureRect</key>
                <string>{{277,93},{30,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luzhi_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,39}</string>
                <key>textureRect</key>
                <string>{{108,89},{45,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luzhi_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{441,66},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luzhi_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,82}</string>
                <key>spriteSourceSize</key>
                <string>{154,82}</string>
                <key>textureRect</key>
                <string>{{3,3},{154,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luzhi_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a485dd99bb0183d64e54b4fcb056609:e69f0dd7359593f4fde6bd978feae9c1:356fabdfa6a83b282cc67593688ba498$</string>
            <key>textureFileName</key>
            <string>luzhi_display.png</string>
        </dict>
    </dict>
</plist>
