<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_tx_penquan_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{346,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{279,353},{346,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_penquan_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{344,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{351,701},{344,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_penquan_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{346,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{1,845},{346,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_penquan_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{348,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{1,143},{348,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_penquan_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{350,140}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_penquan_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{350,140}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{353,1},{350,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_penquan_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{350,140}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{705,1},{350,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_penquan_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{350,140}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{847,1},{350,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_penquan_01_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{350,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{1,353},{350,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_penquan_01_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{348,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{351,143},{348,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_penquan_01_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{348,136}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{141,353},{348,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_penquan_01_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{348,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{1,705},{348,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_penquan_01_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{346,138}</string>
                <key>spriteSourceSize</key>
                <string>{380,180}</string>
                <key>textureRect</key>
                <string>{{349,845},{346,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene_tx_penquan_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f0e4d2f59055412b8c3c47275f7e31d:5f497bbac6a2c4642a31590617b0bf1a:dcc152a1d1a373be39e4ec31a4007c7a$</string>
            <key>textureFileName</key>
            <string>scene_tx_penquan_01.png</string>
        </dict>
    </dict>
</plist>
