<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_treasure_b2l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,79}</string>
                <key>spriteSourceSize</key>
                <string>{115,79}</string>
                <key>textureRect</key>
                <string>{{105,422},{115,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,63}</string>
                <key>spriteSourceSize</key>
                <string>{258,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{258,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_set0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{138,102}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{1,367},{138,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_set1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{164,120}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{389,127},{164,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_treasure_set2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,124}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{195,241},{184,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_set3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,124}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{261,1},{192,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_set4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,124}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{1,66},{192,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_set5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{192,112}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{195,127},{192,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_set6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,110}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{1,192},{192,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_treasure_set7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{116,80}</string>
                <key>spriteSourceSize</key>
                <string>{192,124}</string>
                <key>textureRect</key>
                <string>{{105,304},{116,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_treasure_skill_set.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c35b8cead11f430cebe1d1db28ade8b3:9444222d66c02e56d93a61799e913902:1feeef51ca847773919739404a5b3419$</string>
            <key>textureFileName</key>
            <string>ui_treasure_skill_set.png</string>
        </dict>
    </dict>
</plist>
