<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huatuo_atk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,98},{93,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{93,41}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>huatuo_atk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,348},{85,77}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{85,77}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>huatuo_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{75,79}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{75,79}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>huatuo_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,229},{49,79}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{49,79}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>huatuo_atk_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,244},{49,77}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{49,77}}</string>
                <key>sourceSize</key>
                <string>{93,87}</string>
            </dict>
            <key>huatuo_beibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{97,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,94}}</string>
                <key>sourceSize</key>
                <string>{99,96}</string>
            </dict>
            <key>huatuo_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,144},{98,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,94}}</string>
                <key>sourceSize</key>
                <string>{100,96}</string>
            </dict>
            <key>huatuo_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{81,107}}</string>
                <key>sourceSize</key>
                <string>{83,109}</string>
            </dict>
            <key>huatuo_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,119},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,34}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>huatuo_l_zrm.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,119},{65,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{65,37}}</string>
                <key>sourceSize</key>
                <string>{67,39}</string>
            </dict>
            <key>huatuo_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,152},{101,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,56}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>huatuo_long_guike.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,141},{86,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,67}}</string>
                <key>sourceSize</key>
                <string>{88,69}</string>
            </dict>
            <key>huatuo_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,310},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,77}}</string>
                <key>sourceSize</key>
                <string>{80,79}</string>
            </dict>
            <key>huatuo_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,117},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,23}}</string>
                <key>sourceSize</key>
                <string>{27,25}</string>
            </dict>
            <key>huatuo_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,229},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,23}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>huatuo_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,117},{30,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>huatuo_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,254},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,19}}</string>
                <key>sourceSize</key>
                <string>{25,21}</string>
            </dict>
            <key>huatuo_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,275},{22,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,18}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>huatuo_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,117},{26,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,33}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>huatuo_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,270},{76,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,39}}</string>
                <key>sourceSize</key>
                <string>{76,39}</string>
            </dict>
            <key>huatuo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,255},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>huatuo_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,272},{113,113}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,113}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>huatuo_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,158},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>huatuo_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,155},{115,105}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{115,105}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>huatuo_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{115,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>huatuo_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,277},{113,117}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>huatuo_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{113,113}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{113,113}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>huatuo_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,396},{113,113}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{113,113}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>huatuo_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{122,51}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{122,51}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>huatuo_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{118,51}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{118,51}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>huatuo_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,277},{116,49}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,9},{116,49}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>huatuo_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,396},{114,45}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{114,45}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>huatuo_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,427},{76,41}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{76,41}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>huatuo_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,119},{70,33}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{70,33}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>huatuo_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,255},{40,15}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{40,15}}</string>
                <key>sourceSize</key>
                <string>{140,65}</string>
            </dict>
            <key>huatuo_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,154}}</string>
                <key>sourceSize</key>
                <string>{102,156}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huatuo.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7149d35d5c3c138f506df90500a88991:fd1070746824f5e202dc412a7209269d:19751998e7edbec99bee3a274cde628b$</string>
            <key>textureFileName</key>
            <string>huatuo.png</string>
        </dict>
    </dict>
</plist>
