<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurong_display_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,61}</string>
                <key>spriteSourceSize</key>
                <string>{49,61}</string>
                <key>textureRect</key>
                <string>{{105,438},{49,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_geboshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{39,289},{24,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_display_geboxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{149,384},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,166}</string>
                <key>spriteSourceSize</key>
                <string>{134,166}</string>
                <key>textureRect</key>
                <string>{{3,3},{134,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{3,173},{32,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,97}</string>
                <key>spriteSourceSize</key>
                <string>{38,97}</string>
                <key>textureRect</key>
                <string>{{107,308},{38,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{192,267},{43,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{158,436},{53,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_display_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{138,267},{50,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{3,438},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{39,173},{95,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{149,306},{74,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{78,289},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{138,173},{76,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,100}</string>
                <key>spriteSourceSize</key>
                <string>{115,100}</string>
                <key>textureRect</key>
                <string>{{3,319},{115,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhurong_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb4997171b9bd9f811aac445389be049:4b3b270bc782f49ffcfa4b129291bc6c:066514438e7ba80f1bfd37b31715e1fe$</string>
            <key>textureFileName</key>
            <string>zhurong_display.png</string>
        </dict>
    </dict>
</plist>
