<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunjian_atk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,414},{206,64}}</string>
                <key>offset</key>
                <string>{-22,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{206,64}}</string>
                <key>sourceSize</key>
                <string>{250,170}</string>
            </dict>
            <key>sunjian_atk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,480},{186,146}}</string>
                <key>offset</key>
                <string>{30,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{186,146}}</string>
                <key>sourceSize</key>
                <string>{250,170}</string>
            </dict>
            <key>sunjian_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{186,152}}</string>
                <key>offset</key>
                <string>{27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{186,152}}</string>
                <key>sourceSize</key>
                <string>{250,170}</string>
            </dict>
            <key>sunjian_atk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,801},{192,98}}</string>
                <key>offset</key>
                <string>{21,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,65},{192,98}}</string>
                <key>sourceSize</key>
                <string>{250,170}</string>
            </dict>
            <key>sunjian_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,371},{176,78}}</string>
                <key>offset</key>
                <string>{20,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,83},{176,78}}</string>
                <key>sourceSize</key>
                <string>{250,170}</string>
            </dict>
            <key>sunjian_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,724},{49,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,74}}</string>
                <key>sourceSize</key>
                <string>{51,76}</string>
            </dict>
            <key>sunjian_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,609},{120,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,113}}</string>
                <key>sourceSize</key>
                <string>{122,115}</string>
            </dict>
            <key>sunjian_dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,280},{109,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,111}}</string>
                <key>sourceSize</key>
                <string>{111,113}</string>
            </dict>
            <key>sunjian_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,448},{103,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{103,88}}</string>
                <key>sourceSize</key>
                <string>{105,90}</string>
            </dict>
            <key>sunjian_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,953},{40,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,69}}</string>
                <key>sourceSize</key>
                <string>{40,69}</string>
            </dict>
            <key>sunjian_l_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,801},{40,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,49}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>sunjian_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,925},{94,70}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{94,70}}</string>
                <key>sourceSize</key>
                <string>{98,72}</string>
            </dict>
            <key>sunjian_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,827},{85,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,107}}</string>
                <key>sourceSize</key>
                <string>{87,109}</string>
            </dict>
            <key>sunjian_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,414},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>sunjian_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,344},{30,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,34}}</string>
                <key>sourceSize</key>
                <string>{32,36}</string>
            </dict>
            <key>sunjian_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,302},{30,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,40}}</string>
                <key>sourceSize</key>
                <string>{32,42}</string>
            </dict>
            <key>sunjian_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,553},{36,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,54}}</string>
                <key>sourceSize</key>
                <string>{38,56}</string>
            </dict>
            <key>sunjian_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,724},{72,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,32}}</string>
                <key>sourceSize</key>
                <string>{72,32}</string>
            </dict>
            <key>sunjian_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,170},{99,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,54}}</string>
                <key>sourceSize</key>
                <string>{101,56}</string>
            </dict>
            <key>sunjian_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,724},{57,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{57,81}}</string>
                <key>sourceSize</key>
                <string>{59,83}</string>
            </dict>
            <key>sunjian_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,155},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>sunjian_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,451},{127,135}}</string>
                <key>offset</key>
                <string>{-49,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{127,135}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,628},{171,141}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,25},{171,141}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{221,145}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{221,145}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{251,151}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{251,151}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{251,145}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,19},{251,145}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,2},{245,151}}</string>
                <key>offset</key>
                <string>{15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,21},{245,151}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{219,167}}</string>
                <key>offset</key>
                <string>{22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{219,167}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{213,157}}</string>
                <key>offset</key>
                <string>{19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,6},{213,157}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,301},{209,111}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{209,111}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,280},{209,111}}</string>
                <key>offset</key>
                <string>{17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,27},{209,111}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,258},{215,111}}</string>
                <key>offset</key>
                <string>{14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,27},{215,111}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,630},{221,109}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,29},{221,109}}</string>
                <key>sourceSize</key>
                <string>{275,175}</string>
            </dict>
            <key>sunjian_skill2_boom25.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,152},{104,222}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,7},{104,222}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_boom27.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{148,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,230}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_boom29.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,155},{144,228}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{144,228}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_boom31.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{140,230}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{140,230}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_boom33.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,144},{134,226}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{134,226}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_boom35.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,853},{118,168}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,48},{118,168}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_boom37.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,480},{118,166}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,47},{118,166}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_boom39.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,796},{114,168}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,49},{114,168}}</string>
                <key>sourceSize</key>
                <string>{150,230}</string>
            </dict>
            <key>sunjian_skill2_dilie25.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{166,53}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{166,53}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie27.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,556},{166,51}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{166,51}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie29.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,393},{168,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,53}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie31.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,393},{168,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,53}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie33.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,966},{168,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,53}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie35.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,827},{168,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,51}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie37.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,783},{168,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,51}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie39.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,730},{168,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{168,51}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_dilie41.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,796},{168,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{168,53}}</string>
                <key>sourceSize</key>
                <string>{170,55}</string>
            </dict>
            <key>sunjian_skill2_xuli10.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,609},{100,134}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,1},{100,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sunjian_skill2_xuli11.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,783},{106,140}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{106,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sunjian_skill2_xuli12.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,588},{108,140}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{108,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sunjian_skill2_xuli13.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,588},{106,138}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{106,138}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sunjian_skill2_xuli14.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,448},{106,142}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,1},{106,142}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sunjian_skill2_xuli15.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,648},{146,136}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{146,136}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sunjian_skill2_xuli16.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,448},{130,132}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,11},{130,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>sunjian_skill2_xuli17.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,711},{114,116}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{114,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sunjian.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b8229b82189b75cea96fb389709fff:06a7c98e2f1ad2b0ce77e482125d4f2c:013cc2eeea767549966cdfeb74b91dfa$</string>
            <key>textureFileName</key>
            <string>sunjian.png</string>
        </dict>
    </dict>
</plist>
