<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lusu_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,104}</string>
                <key>textureRect</key>
                <string>{{3,152},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lusu_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,91}</string>
                <key>spriteSourceSize</key>
                <string>{74,91}</string>
                <key>textureRect</key>
                <string>{{3,260},{74,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lusu_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,45}</string>
                <key>spriteSourceSize</key>
                <string>{77,45}</string>
                <key>textureRect</key>
                <string>{{81,260},{77,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,50}</string>
                <key>spriteSourceSize</key>
                <string>{31,50}</string>
                <key>textureRect</key>
                <string>{{123,341},{31,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lusu_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,63}</string>
                <key>spriteSourceSize</key>
                <string>{73,63}</string>
                <key>textureRect</key>
                <string>{{67,445},{73,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lusu_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,65}</string>
                <key>textureRect</key>
                <string>{{54,355},{86,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,102}</string>
                <key>spriteSourceSize</key>
                <string>{100,102}</string>
                <key>textureRect</key>
                <string>{{75,3},{100,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lusu_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{157,395},{32,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,25}</string>
                <key>spriteSourceSize</key>
                <string>{29,25}</string>
                <key>textureRect</key>
                <string>{{177,431},{29,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,26}</string>
                <key>spriteSourceSize</key>
                <string>{33,26}</string>
                <key>textureRect</key>
                <string>{{75,109},{33,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,29}</string>
                <key>spriteSourceSize</key>
                <string>{41,29}</string>
                <key>textureRect</key>
                <string>{{144,441},{41,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{42,30}</string>
                <key>textureRect</key>
                <string>{{123,395},{42,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,59}</string>
                <key>spriteSourceSize</key>
                <string>{41,59}</string>
                <key>textureRect</key>
                <string>{{3,448},{41,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lusu_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,47}</string>
                <key>spriteSourceSize</key>
                <string>{89,47}</string>
                <key>textureRect</key>
                <string>{{3,355},{89,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{48,448},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lusu_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,145}</string>
                <key>spriteSourceSize</key>
                <string>{68,145}</string>
                <key>textureRect</key>
                <string>{{3,3},{68,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lusu_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49fe0b0f7bd20f92d154805c781d6948:162c19b69c1734627a54bcab6bc21966:82c4d47692c01ebbb3c8ac54aea1e81b$</string>
            <key>textureFileName</key>
            <string>lusu_display.png</string>
        </dict>
    </dict>
</plist>
