<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_display_beijiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,90}</string>
                <key>spriteSourceSize</key>
                <string>{140,90}</string>
                <key>textureRect</key>
                <string>{{3,3},{140,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caocao_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,72}</string>
                <key>spriteSourceSize</key>
                <string>{116,72}</string>
                <key>textureRect</key>
                <string>{{284,3},{116,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caocao_display_long_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,90}</string>
                <key>spriteSourceSize</key>
                <string>{60,90}</string>
                <key>textureRect</key>
                <string>{{403,87},{60,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{27,21}</string>
                <key>spriteSourceSize</key>
                <string>{27,23}</string>
                <key>textureRect</key>
                <string>{{114,173},{27,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caocao_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,32}</string>
                <key>spriteSourceSize</key>
                <string>{34,32}</string>
                <key>textureRect</key>
                <string>{{240,97},{34,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caocao_display_long_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,40}</string>
                <key>spriteSourceSize</key>
                <string>{82,40}</string>
                <key>textureRect</key>
                <string>{{403,151},{82,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caocao_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{33,28}</string>
                <key>textureRect</key>
                <string>{{82,173},{27,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_long_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{231,168},{44,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{240,133},{31,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_long_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,115}</string>
                <key>spriteSourceSize</key>
                <string>{109,115}</string>
                <key>textureRect</key>
                <string>{{284,79},{109,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,72}</string>
                <key>textureRect</key>
                <string>{{88,97},{77,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caocao_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{489,151},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,81}</string>
                <key>spriteSourceSize</key>
                <string>{71,81}</string>
                <key>textureRect</key>
                <string>{{3,97},{71,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{404,3},{80,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,90}</string>
                <key>spriteSourceSize</key>
                <string>{133,90}</string>
                <key>textureRect</key>
                <string>{{147,3},{133,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caocao_display_youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,75}</string>
                <key>spriteSourceSize</key>
                <string>{35,75}</string>
                <key>textureRect</key>
                <string>{{3,172},{35,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_zuojanjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,67}</string>
                <key>spriteSourceSize</key>
                <string>{53,67}</string>
                <key>textureRect</key>
                <string>{{169,97},{53,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caocao_display_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,58}</string>
                <key>spriteSourceSize</key>
                <string>{52,58}</string>
                <key>textureRect</key>
                <string>{{169,154},{52,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caocao_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f5673f7d307e3e2bfafe8f2538b572d:dfba4c91c11f0d4e16ae9c86b7eef6c8:6bc95e7d48c11d37d05fee56a82bf091$</string>
            <key>textureFileName</key>
            <string>caocao_display.png</string>
        </dict>
    </dict>
</plist>
