<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_lejin_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,50}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,50}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>hit_lejin_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{72,48}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{72,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>hit_lejin_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,48}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,5},{72,48}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
            <key>hit_lejin_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,76},{44,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,7},{44,40}}</string>
                <key>sourceSize</key>
                <string>{90,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_lejin_00.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa0fdd7f9eeb0e8c9aceb66f0fc2e6b3:d8ef98b039029d0f1ab49d12bca0483d:7019a79711aaa4154102dfc0a5449e97$</string>
            <key>textureFileName</key>
            <string>hit_lejin_00.png</string>
        </dict>
    </dict>
</plist>
