<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maliang_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{103,98}</string>
                <key>textureRect</key>
                <string>{{86,3},{103,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,122}</string>
                <key>spriteSourceSize</key>
                <string>{84,122}</string>
                <key>textureRect</key>
                <string>{{3,159},{84,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,68}</string>
                <key>spriteSourceSize</key>
                <string>{57,68}</string>
                <key>textureRect</key>
                <string>{{96,283},{57,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,43}</string>
                <key>spriteSourceSize</key>
                <string>{57,43}</string>
                <key>textureRect</key>
                <string>{{216,98},{57,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,59}</string>
                <key>textureRect</key>
                <string>{{190,382},{49,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{3,285},{98,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{157,277},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,19}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{155,110},{57,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-26}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{131,456},{51,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{86,110},{45,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{76,467},{51,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,32}</string>
                <key>spriteSourceSize</key>
                <string>{17,32}</string>
                <key>textureRect</key>
                <string>{{55,472},{17,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{96,355},{28,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,24}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{91,159},{95,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{188,3},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{121,387},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-34}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,387},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,23}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{158,159},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{91,258},{21,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{3,472},{35,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>maliang_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{157,340},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,76}</string>
                <key>spriteSourceSize</key>
                <string>{55,76}</string>
                <key>textureRect</key>
                <string>{{62,387},{55,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{134,258},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>maliang_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,152}</string>
                <key>spriteSourceSize</key>
                <string>{79,152}</string>
                <key>textureRect</key>
                <string>{{3,3},{79,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>maliang_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75faab713e7936af921a0b6639ca6972:2eed1dfc0e53d233d7a0a86cdb77cab9:27dcc64c5e21c9579b0de1ca1b4910f1$</string>
            <key>textureFileName</key>
            <string>maliang_display.png</string>
        </dict>
    </dict>
</plist>
