<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_dengjishengji_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{566,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dengjishengji_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1,583},{566,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dengjishengji_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1,1165},{566,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dengjishengji_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{569,1},{566,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_dengjishengji_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1151,1},{566,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_dengjishengji_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{569,569},{566,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dengjishengji_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{569,1151},{566,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dengjishengji_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{566,580}</string>
                <key>spriteSourceSize</key>
                <string>{580,580}</string>
                <key>textureRect</key>
                <string>{{1137,569},{566,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_dengjishengji_01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ef63b14f47d05ff7f66293790d6c94f:d834d8d6ccc74067cdf6e3a082866b1c:ef5a555ddf2ecd7283d92a25ed0533bf$</string>
            <key>textureFileName</key>
            <string>ui_dengjishengji_01.png</string>
        </dict>
    </dict>
</plist>
