<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_ganning_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{52,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hit_ganning_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,54},{40,48}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{40,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hit_ganning_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{44,48}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{44,48}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hit_ganning_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{48,50}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{48,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>hit_ganning_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,52},{32,34}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{32,34}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_ganning_00.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b01a9febb537d68a78afe7302ce147bb:cb0b9feb2ffeb1197937dc91bf034f5d:019a038a3eaf44241aed4f2dee4ad255$</string>
            <key>textureFileName</key>
            <string>hit_ganning_00.png</string>
        </dict>
    </dict>
</plist>
