<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangde_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{91,94}</string>
                <key>textureRect</key>
                <string>{{231,3},{91,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangde_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,80}</string>
                <key>spriteSourceSize</key>
                <string>{85,80}</string>
                <key>textureRect</key>
                <string>{{3,106},{85,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{397,84},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{37,46}</string>
                <key>textureRect</key>
                <string>{{466,44},{37,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{398,3},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{329,43},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{124,3},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{92,138},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{454,94},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{92,106},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{466,3},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{329,3},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,86}</string>
                <key>spriteSourceSize</key>
                <string>{52,86}</string>
                <key>textureRect</key>
                <string>{{124,92},{52,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangde_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{397,65},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangde_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,99}</string>
                <key>spriteSourceSize</key>
                <string>{117,99}</string>
                <key>textureRect</key>
                <string>{{3,3},{117,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pangde_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:072ed7b2ef25f2434084d5d0ee88eeae:a6b33b8cec26e6efc5f49a382f680301:cc6dc62d3750987c9b4584f6eb14004d$</string>
            <key>textureFileName</key>
            <string>pangde_display.png</string>
        </dict>
    </dict>
</plist>
