<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunjian_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,76}</string>
                <key>spriteSourceSize</key>
                <string>{51,76}</string>
                <key>textureRect</key>
                <string>{{457,136},{51,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_dao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,115}</string>
                <key>spriteSourceSize</key>
                <string>{122,115}</string>
                <key>textureRect</key>
                <string>{{3,3},{122,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_dun.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,113}</string>
                <key>spriteSourceSize</key>
                <string>{111,113}</string>
                <key>textureRect</key>
                <string>{{129,3},{111,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunjian_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,90}</string>
                <key>textureRect</key>
                <string>{{359,3},{105,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,69}</string>
                <key>spriteSourceSize</key>
                <string>{40,69}</string>
                <key>textureRect</key>
                <string>{{468,3},{40,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{42,51}</string>
                <key>textureRect</key>
                <string>{{305,154},{42,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{96,72}</string>
                <key>spriteSourceSize</key>
                <string>{98,72}</string>
                <key>textureRect</key>
                <string>{{129,118},{96,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,109}</string>
                <key>spriteSourceSize</key>
                <string>{87,109}</string>
                <key>textureRect</key>
                <string>{{246,3},{87,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunjian_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{391,160},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,36}</string>
                <key>spriteSourceSize</key>
                <string>{32,36}</string>
                <key>textureRect</key>
                <string>{{351,160},{32,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunjian_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{229,190},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunjian_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{38,56}</string>
                <key>textureRect</key>
                <string>{{468,76},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,32}</string>
                <key>spriteSourceSize</key>
                <string>{72,32}</string>
                <key>textureRect</key>
                <string>{{229,154},{72,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,56}</string>
                <key>spriteSourceSize</key>
                <string>{101,56}</string>
                <key>textureRect</key>
                <string>{{246,94},{101,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunjian_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,83}</string>
                <key>spriteSourceSize</key>
                <string>{59,83}</string>
                <key>textureRect</key>
                <string>{{351,97},{59,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunjian_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{438,97},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sunjian_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ceddfb702ffcfd9a69308db08b2eacbb:e60aab24e3583183b5baf712cbc58c4b:c4ad64758355d27dca2ef585c3e40a83$</string>
            <key>textureFileName</key>
            <string>sunjian_display.png</string>
        </dict>
    </dict>
</plist>
