<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_sunquan_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{226,236}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,489},{226,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sunquan_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{232,244}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sunquan_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{240,228}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,247},{240,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_sunquan_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-48}</string>
                <key>spriteSize</key>
                <string>{236,154}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,727},{236,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_sunquan_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-70}</string>
                <key>spriteSize</key>
                <string>{202,96}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{157,727},{202,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_atk_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-71}</string>
                <key>spriteSize</key>
                <string>{130,72}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{255,727},{130,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_atk_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-57}</string>
                <key>spriteSize</key>
                <string>{130,94}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{229,489},{130,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_atk_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-42}</string>
                <key>spriteSize</key>
                <string>{128,116}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{329,727},{128,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_atk_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{122,120}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{231,247},{122,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_atk_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,51}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{447,719},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_atk_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,52}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{444,919},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_atk_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,49}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{325,478},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_atk_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,52}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{229,621},{104,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_atk_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,50}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{337,621},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_atk_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,50}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{150,220}</string>
                <key>textureRect</key>
                <string>{{441,615},{102,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,107}</string>
                <key>spriteSourceSize</key>
                <string>{77,107}</string>
                <key>textureRect</key>
                <string>{{231,371},{77,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,97}</string>
                <key>spriteSourceSize</key>
                <string>{77,97}</string>
                <key>textureRect</key>
                <string>{{448,819},{77,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,78}</string>
                <key>spriteSourceSize</key>
                <string>{41,78}</string>
                <key>textureRect</key>
                <string>{{401,931},{41,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,41}</string>
                <key>textureRect</key>
                <string>{{157,931},{31,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,47}</string>
                <key>spriteSourceSize</key>
                <string>{84,47}</string>
                <key>textureRect</key>
                <string>{{352,931},{84,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,60}</string>
                <key>spriteSourceSize</key>
                <string>{43,60}</string>
                <key>textureRect</key>
                <string>{{403,857},{43,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,67}</string>
                <key>spriteSourceSize</key>
                <string>{84,67}</string>
                <key>textureRect</key>
                <string>{{255,859},{84,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{405,584},{29,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{132,965},{30,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,49}</string>
                <key>spriteSourceSize</key>
                <string>{36,49}</string>
                <key>textureRect</key>
                <string>{{94,965},{36,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,35}</string>
                <key>spriteSourceSize</key>
                <string>{31,35}</string>
                <key>textureRect</key>
                <string>{{372,584},{31,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{164,964},{35,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{325,584},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,51}</string>
                <key>spriteSourceSize</key>
                <string>{74,51}</string>
                <key>textureRect</key>
                <string>{{18,965},{74,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,45}</string>
                <key>spriteSourceSize</key>
                <string>{41,45}</string>
                <key>textureRect</key>
                <string>{{527,819},{41,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,72}</string>
                <key>spriteSourceSize</key>
                <string>{60,72}</string>
                <key>textureRect</key>
                <string>{{341,857},{60,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{1,965},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sunquan_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,89}</string>
                <key>spriteSourceSize</key>
                <string>{150,89}</string>
                <key>textureRect</key>
                <string>{{200,931},{150,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunquan_yifu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{75,105}</string>
                <key>spriteSourceSize</key>
                <string>{75,113}</string>
                <key>textureRect</key>
                <string>{{310,371},{75,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sunquan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d374594dbf148f6829e1de6a2b060c03:d35572ce85ac7b09f28a9443d15ee7b4:0de3174486779e6359efc500df5e5b54$</string>
            <key>textureFileName</key>
            <string>sunquan.png</string>
        </dict>
    </dict>
</plist>
