<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caocao_dead_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,320},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,418},{90,96}}</string>
                <key>offset</key>
                <string>{17,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,77},{90,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,310},{90,82}}</string>
                <key>offset</key>
                <string>{-9,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,81},{90,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,874},{134,92}}</string>
                <key>offset</key>
                <string>{-39,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,113},{134,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{152,118}}</string>
                <key>offset</key>
                <string>{-48,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,94},{152,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{150,126}}</string>
                <key>offset</key>
                <string>{-47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,87},{150,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,722},{150,118}}</string>
                <key>offset</key>
                <string>{-47,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,99},{150,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,756},{150,124}}</string>
                <key>offset</key>
                <string>{-47,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,93},{150,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,570},{150,120}}</string>
                <key>offset</key>
                <string>{-47,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,97},{150,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,374},{150,102}}</string>
                <key>offset</key>
                <string>{-47,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,115},{150,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_dead_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,526},{150,94}}</string>
                <key>offset</key>
                <string>{-47,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,123},{150,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,262},{88,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{88,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,192}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,16},{180,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{174,170}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,26},{174,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,204}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,11},{202,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,106},{92,100}}</string>
                <key>offset</key>
                <string>{9,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,63},{92,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_huichen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,402},{168,54}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{168,54}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>caocao_huichen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,402},{174,48}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{174,48}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>caocao_huichen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,208},{164,58}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{164,58}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>caocao_huichen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,402},{166,48}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{166,48}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>caocao_huichen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{176,50}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{176,50}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>caocao_idle01_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,426},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,292},{82,96}}</string>
                <key>offset</key>
                <string>{-4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,67},{82,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,390},{80,94}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,69},{80,94}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,796},{76,102}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,61},{76,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,422},{88,100}}</string>
                <key>offset</key>
                <string>{-2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,63},{88,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,678},{116,98}}</string>
                <key>offset</key>
                <string>{12,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,65},{116,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{112,96}}</string>
                <key>offset</key>
                <string>{10,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,67},{112,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,908},{106,98}}</string>
                <key>offset</key>
                <string>{6,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,65},{106,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,784},{102,100}}</string>
                <key>offset</key>
                <string>{4,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,63},{102,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,580},{96,102}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,61},{96,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,678},{94,102}}</string>
                <key>offset</key>
                <string>{-1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,61},{94,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,888},{90,102}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,61},{90,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,316},{86,100}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,63},{86,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,198},{92,98}}</string>
                <key>offset</key>
                <string>{1,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,65},{92,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,102},{94,98}}</string>
                <key>offset</key>
                <string>{2,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,65},{94,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,426},{94,100}}</string>
                <key>offset</key>
                <string>{2,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,63},{94,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,214},{92,100}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,63},{92,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,320},{92,100}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,63},{92,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,528},{88,100}}</string>
                <key>offset</key>
                <string>{1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,63},{88,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,208},{84,100}}</string>
                <key>offset</key>
                <string>{-1,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,63},{84,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,736},{90,98}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,65},{90,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,634},{90,100}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,63},{90,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,630},{86,98}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,65},{86,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{86,104}}</string>
                <key>offset</key>
                <string>{-5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,368},{88,104}}</string>
                <key>offset</key>
                <string>{-1,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,59},{88,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,108},{86,104}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,908},{86,106}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,57},{86,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,214},{86,104}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{88,104}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,59},{88,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle01_0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,262},{88,104}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,59},{88,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,320},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,108},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,214},{86,104}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,678},{86,104}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,108},{84,104}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{84,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,214},{84,104}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{84,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,474},{86,104}}</string>
                <key>offset</key>
                <string>{2,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,368},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,474},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_idle_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,108},{86,104}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,59},{86,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{96,98}}</string>
                <key>offset</key>
                <string>{-18,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{96,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,156},{104,96}}</string>
                <key>offset</key>
                <string>{-21,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,64},{104,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{102,100}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,60},{102,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,888},{102,92}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,68},{102,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,104},{96,98}}</string>
                <key>offset</key>
                <string>{-18,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,62},{96,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,580},{100,96}}</string>
                <key>offset</key>
                <string>{-19,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,64},{100,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,884},{98,100}}</string>
                <key>offset</key>
                <string>{-18,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,60},{98,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{100,92}}</string>
                <key>offset</key>
                <string>{-20,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,68},{100,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,532},{100,98}}</string>
                <key>offset</key>
                <string>{-20,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,62},{100,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,874},{104,96}}</string>
                <key>offset</key>
                <string>{-20,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,64},{104,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,782},{98,100}}</string>
                <key>offset</key>
                <string>{-19,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,60},{98,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>caocao_run_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,524},{96,92}}</string>
                <key>offset</key>
                <string>{-18,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,68},{96,92}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YY_caocao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b79194946718f24e50806af315ce7367$</string>
            <key>textureFileName</key>
            <string>YY_caocao.png</string>
        </dict>
    </dict>
</plist>
