<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunquan_dead_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,318},{92,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{118,106}}</string>
                <key>offset</key>
                <string>{20,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,57},{118,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,378},{156,86}}</string>
                <key>offset</key>
                <string>{11,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,77},{156,86}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,208},{168,74}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,98},{168,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{176,64}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,109},{176,64}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,766},{176,60}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,115},{176,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,584},{180,60}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,114},{180,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{182,60}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,115},{182,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,402},{180,60}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,115},{180,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{180,60}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,115},{180,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_dead_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{180,60}}</string>
                <key>offset</key>
                <string>{10,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,115},{180,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_hit_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{92,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_hit_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{180,192}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,16},{180,192}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_hit_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,580},{174,170}}</string>
                <key>offset</key>
                <string>{10,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,26},{174,170}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_hit_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,204}}</string>
                <key>offset</key>
                <string>{10,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,11},{202,204}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_hit_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,430},{104,106}}</string>
                <key>offset</key>
                <string>{18,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,57},{104,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_huichen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,756},{168,54}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{168,54}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>sunquan_huichen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,402},{174,48}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{174,48}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>sunquan_huichen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,756},{164,58}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,6},{164,58}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>sunquan_huichen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,756},{166,48}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,16},{166,48}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>sunquan_huichen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,402},{176,50}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,14},{176,50}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>sunquan_idle01_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,114},{92,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,208},{92,108}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,112},{90,108}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{88,110}}</string>
                <key>offset</key>
                <string>{12,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,53},{88,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{88,108}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,55},{88,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,92},{86,108}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,55},{86,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,122},{84,108}}</string>
                <key>offset</key>
                <string>{9,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,55},{84,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{88,108}}</string>
                <key>offset</key>
                <string>{10,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,55},{88,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,204},{90,108}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,320},{92,108}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,314},{90,108}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,428},{90,108}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,520},{90,108}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,630},{88,108}}</string>
                <key>offset</key>
                <string>{11,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,55},{88,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{88,108}}</string>
                <key>offset</key>
                <string>{12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{88,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,204},{90,108}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle01_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,318},{90,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,866},{92,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,428},{90,108}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,756},{90,108}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,646},{90,108}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,536},{90,108}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,756},{92,108}}</string>
                <key>offset</key>
                <string>{15,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,646},{92,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,536},{92,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{90,108}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,112},{90,108}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,866},{92,108}}</string>
                <key>offset</key>
                <string>{13,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,55},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_idle_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,208},{90,108}}</string>
                <key>offset</key>
                <string>{14,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,55},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_run_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,208},{98,110}}</string>
                <key>offset</key>
                <string>{-5,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,50},{98,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,756},{94,108}}</string>
                <key>offset</key>
                <string>{-4,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,52},{94,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,926},{94,110}}</string>
                <key>offset</key>
                <string>{-2,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{101,50},{94,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,866},{92,108}}</string>
                <key>offset</key>
                <string>{-3,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,52},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,114},{92,108}}</string>
                <key>offset</key>
                <string>{-5,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{99,52},{92,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>sunquan_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{98,110}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,50},{98,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>YY_sunquan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5821e51dff0d8e20465cdcbf95113ca4$</string>
            <key>textureFileName</key>
            <string>YY_sunquan.png</string>
        </dict>
    </dict>
</plist>
