<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_bossjieshao1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,36}</string>
                <key>spriteSourceSize</key>
                <string>{205,154}</string>
                <key>textureRect</key>
                <string>{{415,1},{85,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bossjieshao3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,132}</string>
                <key>spriteSourceSize</key>
                <string>{205,154}</string>
                <key>textureRect</key>
                <string>{{1,364},{205,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bossjieshao5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,154}</string>
                <key>spriteSourceSize</key>
                <string>{205,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bossjieshao7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,154}</string>
                <key>spriteSourceSize</key>
                <string>{205,154}</string>
                <key>textureRect</key>
                <string>{{208,1},{205,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bossjieshao8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,154}</string>
                <key>spriteSourceSize</key>
                <string>{205,154}</string>
                <key>textureRect</key>
                <string>{{1,157},{205,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_bossjieshao9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,154}</string>
                <key>spriteSourceSize</key>
                <string>{205,154}</string>
                <key>textureRect</key>
                <string>{{157,157},{205,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_bossjieshaojiemiantexiao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f874875e58d9a7c9d9011b6cfe1988cc:184d2510df64009b27e284b6a70bfe43:f3963f86e1bd91a44459e9106c92f93e$</string>
            <key>textureFileName</key>
            <string>ui_bossjieshaojiemiantexiao.png</string>
        </dict>
    </dict>
</plist>
