<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gsz_00_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,546},{164,156}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,34},{164,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{130,184}}</string>
                <key>offset</key>
                <string>{36,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,43},{130,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,351},{170,128}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,100},{170,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,398},{174,104}}</string>
                <key>offset</key>
                <string>{14,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,124},{174,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,504},{174,82}}</string>
                <key>offset</key>
                <string>{10,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,145},{174,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,375},{170,62}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,165},{170,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,236},{168,54}}</string>
                <key>offset</key>
                <string>{6,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,168},{168,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,237},{146,112}}</string>
                <key>offset</key>
                <string>{13,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,37},{146,112}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{154,158}}</string>
                <key>offset</key>
                <string>{23,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,39},{154,158}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,433},{164,170}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,35},{164,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,228},{168,184}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,33},{168,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,255},{176,180}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,35},{176,180}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,231},{180,170}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{180,170}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,370},{176,174}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,35},{176,174}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,403},{174,176}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,38},{174,176}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,192},{176,182}}</string>
                <key>offset</key>
                <string>{12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,40},{176,182}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_02_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,579},{90,85}}</string>
                <key>offset</key>
                <string>{-96,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,50},{90,85}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,132},{222,97}}</string>
                <key>offset</key>
                <string>{-30,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,42},{222,97}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,97},{228,93}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{228,93}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,2},{244,101}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,38},{244,101}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,105},{240,121}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{240,121}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,119}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{262,119}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{252,93}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,33},{252,93}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,588},{172,105}}</string>
                <key>offset</key>
                <string>{29,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,26},{172,105}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,547},{96,85}}</string>
                <key>offset</key>
                <string>{67,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,38},{96,85}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>effect_gsz_02_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,297},{76,63}}</string>
                <key>offset</key>
                <string>{89,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,37},{76,63}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>gongsunzan_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,634},{88,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,105}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>gongsunzan_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,579},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,87}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>gongsunzan_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,123},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,62}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>gongsunzan_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,228},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,67}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>gongsunzan_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,523},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{107,109}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>gongsunzan_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,123},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,15}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>gongsunzan_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,210},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,25}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>gongsunzan_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,97},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,18}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>gongsunzan_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,132},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,32}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>gongsunzan_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,157},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>gongsunzan_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,176},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,58}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>gongsunzan_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,192},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,39}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>gongsunzan_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,151},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>gongsunzan_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{251,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{251,128}}</string>
                <key>sourceSize</key>
                <string>{253,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gold_gongsunzan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae3de65fccf9253af039d47f610585f:647fbdee9607cf2c5280e8a772390898:edf8e3f5007a81bf7287c8f262cb2a19$</string>
            <key>textureFileName</key>
            <string>gold_gongsunzan.png</string>
        </dict>
    </dict>
</plist>
