<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiaxu_attack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,276},{45,41}}</string>
                <key>offset</key>
                <string>{6,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,1},{45,41}}</string>
                <key>sourceSize</key>
                <string>{75,93}</string>
            </dict>
            <key>jiaxu_attack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,297},{69,81}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{69,81}}</string>
                <key>sourceSize</key>
                <string>{75,93}</string>
            </dict>
            <key>jiaxu_attack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,213},{67,65}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,23},{67,65}}</string>
                <key>sourceSize</key>
                <string>{75,93}</string>
            </dict>
            <key>jiaxu_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,324},{61,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{61,83}}</string>
                <key>sourceSize</key>
                <string>{63,85}</string>
            </dict>
            <key>jiaxu_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,110}}</string>
                <key>sourceSize</key>
                <string>{85,112}</string>
            </dict>
            <key>jiaxu_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,161},{50,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,42}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>jiaxu_long-body.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,325},{85,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,51}}</string>
                <key>sourceSize</key>
                <string>{85,51}</string>
            </dict>
            <key>jiaxu_long-head.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{66,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,97}}</string>
                <key>sourceSize</key>
                <string>{68,99}</string>
            </dict>
            <key>jiaxu_long-weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,213},{76,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,46}}</string>
                <key>sourceSize</key>
                <string>{76,46}</string>
            </dict>
            <key>jiaxu_long_l_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,80},{75,66}}</string>
                <key>offset</key>
                <string>{29,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,37},{75,66}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_l_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,432},{67,52}}</string>
                <key>offset</key>
                <string>{36,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,51},{67,52}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_l_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,380},{63,72}}</string>
                <key>offset</key>
                <string>{16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,98},{63,72}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_l_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{55,76}}</string>
                <key>offset</key>
                <string>{20,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,99},{55,76}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_l_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,213},{61,48}}</string>
                <key>offset</key>
                <string>{14,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,54},{61,48}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,299},{23,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,45}}</string>
                <key>sourceSize</key>
                <string>{25,47}</string>
            </dict>
            <key>jiaxu_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,161},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,50}}</string>
                <key>sourceSize</key>
                <string>{42,52}</string>
            </dict>
            <key>jiaxu_long_r_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{107,76}}</string>
                <key>offset</key>
                <string>{-17,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,35},{107,76}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_r_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{93,100}}</string>
                <key>offset</key>
                <string>{-12,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,13},{93,100}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_r_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{77,78}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,96},{77,78}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_r_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{57,96}}</string>
                <key>offset</key>
                <string>{10,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,96},{57,96}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_long_r_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,82},{77,68}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,39},{77,68}}</string>
                <key>sourceSize</key>
                <string>{165,208}</string>
            </dict>
            <key>jiaxu_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,363},{63,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,67}}</string>
                <key>sourceSize</key>
                <string>{65,69}</string>
            </dict>
            <key>jiaxu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,299},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>jiaxu_skill1_tu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,182},{57,45}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,14},{57,45}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>jiaxu_skill1_tu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,131},{59,47}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{59,47}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>jiaxu_skill1_tu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,454},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{55,47}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>jiaxu_skill1_tu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,131},{57,49}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{57,49}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>jiaxu_skill1_tu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,282},{63,49}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{63,49}}</string>
                <key>sourceSize</key>
                <string>{77,67}</string>
            </dict>
            <key>jiaxu_skill2_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,291},{53,70}}</string>
                <key>offset</key>
                <string>{12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,29},{53,70}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{65,74}}</string>
                <key>offset</key>
                <string>{-19,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{65,74}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect13.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,213},{61,84}}</string>
                <key>offset</key>
                <string>{-21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{61,84}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect15.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{75,48}}</string>
                <key>offset</key>
                <string>{-14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{75,48}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect17.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,114},{97,80}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,16},{97,80}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect19.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,414},{85,82}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{85,82}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{87,80}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{87,80}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect23.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,409},{81,74}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{81,74}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect25.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,157},{65,54}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{65,54}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect27.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,454},{55,44}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,33},{55,44}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,100},{63,80}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{63,80}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,213},{67,82}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,9},{67,82}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,69},{73,60}}</string>
                <key>offset</key>
                <string>{14,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,3},{73,60}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_skill2_effect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,347},{47,42}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,1},{47,42}}</string>
                <key>sourceSize</key>
                <string>{103,100}</string>
            </dict>
            <key>jiaxu_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,325},{87,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{87,82}}</string>
                <key>sourceSize</key>
                <string>{89,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiaxu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76338c74b34ab538ea24e64a940c1a2a:d5eada9ef5620d9dd9f22615f2249f53:7ea275ac88ae113f44c1fd0a81ccfde6$</string>
            <key>textureFileName</key>
            <string>jiaxu.png</string>
        </dict>
    </dict>
</plist>
