<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhangliao_02t_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{158,110}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,32},{158,110}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{192,136}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{192,136}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,162},{190,136}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,11},{190,136}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{194,140}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{194,140}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,140}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{196,140}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,162},{166,120}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{166,120}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{140,118}}</string>
                <key>offset</key>
                <string>{19,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,29},{140,118}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,356},{138,110}}</string>
                <key>offset</key>
                <string>{19,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,36},{138,110}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,330},{120,72}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,37},{120,72}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,218},{106,74}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,35},{106,74}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,294},{104,74}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,34},{104,74}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,404},{102,72}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,34},{102,72}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,370},{96,70}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,36},{96,70}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
            <key>skill_zhangliao_02t_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,144},{110,72}}</string>
                <key>offset</key>
                <string>{6,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,34},{110,72}}</string>
                <key>sourceSize</key>
                <string>{198,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhangliao_02t.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19663eb5b5d8005e6453c432aa3c56f3:2f7e97d4dd11e733ea080fd627a47673:6bfff3b4bb6b6fd8f986158fc6de3f1e$</string>
            <key>textureFileName</key>
            <string>skill_zhangliao_02t.png</string>
        </dict>
    </dict>
</plist>
