<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_ganning_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-47,10}</string>
                <key>spriteSize</key>
                <string>{19,26}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{484,41},{19,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ganning_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,10}</string>
                <key>spriteSize</key>
                <string>{27,38}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{484,1},{27,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ganning_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{129,66}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{136,404},{129,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ganning_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{131,68}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{73,271},{131,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ganning_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{133,68}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{73,136},{133,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ganning_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,70}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ganning_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,70}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{412,1},{133,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ganning_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,70}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{138,1},{135,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ganning_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,70}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{275,1},{135,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ganning_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,70}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{1,136},{133,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ganning_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,70}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{1,271},{133,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ganning_01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,70}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{1,406},{133,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ganning_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{133,50}</string>
                <key>spriteSourceSize</key>
                <string>{137,70}</string>
                <key>textureRect</key>
                <string>{{1,73},{133,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_ganning_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dca0f9d7b653e15e066f1802fe5bca9:b9eb4a2ea1c9a372786f30969b7f260c:a7922cd6abf25ae39c38c20f063269ad$</string>
            <key>textureFileName</key>
            <string>skill_ganning_01.png</string>
        </dict>
    </dict>
</plist>
