<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_npc_4_kuzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,46}</string>
                <key>spriteSourceSize</key>
                <string>{87,46}</string>
                <key>textureRect</key>
                <string>{{452,1},{87,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_4_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,106}</string>
                <key>spriteSourceSize</key>
                <string>{112,106}</string>
                <key>textureRect</key>
                <string>{{236,1},{112,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_4_tou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,211}</string>
                <key>spriteSourceSize</key>
                <string>{233,211}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_4_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{467,90},{21,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_4_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,87}</string>
                <key>spriteSourceSize</key>
                <string>{78,87}</string>
                <key>textureRect</key>
                <string>{{350,89},{78,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_4_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{439,90},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_4_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{350,1},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide_npc_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:857a4ac4a362f421dd3cff53855cc470:3a28dd7c0c8ac6589d5bd38392a41121:aa597e9ed722f4b06723f9c02f2fbdf9$</string>
            <key>textureFileName</key>
            <string>guide_npc_4.png</string>
        </dict>
    </dict>
</plist>
