<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_npc_1_kuzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,48}</string>
                <key>spriteSourceSize</key>
                <string>{89,48}</string>
                <key>textureRect</key>
                <string>{{444,214},{89,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_1_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,93}</string>
                <key>textureRect</key>
                <string>{{236,214},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_1_tou1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,211}</string>
                <key>spriteSourceSize</key>
                <string>{233,211}</string>
                <key>textureRect</key>
                <string>{{236,1},{233,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_1_tou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,212}</string>
                <key>spriteSourceSize</key>
                <string>{233,212}</string>
                <key>textureRect</key>
                <string>{{1,1},{233,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_1_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,25}</string>
                <key>spriteSourceSize</key>
                <string>{21,25}</string>
                <key>textureRect</key>
                <string>{{471,23},{21,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_1_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,87}</string>
                <key>spriteSourceSize</key>
                <string>{78,87}</string>
                <key>textureRect</key>
                <string>{{342,302},{78,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_1_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,26}</string>
                <key>spriteSourceSize</key>
                <string>{20,26}</string>
                <key>textureRect</key>
                <string>{{471,1},{20,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_1_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,86}</string>
                <key>textureRect</key>
                <string>{{342,214},{100,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide_npc_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdbbbaa3e2028581c54f7f253a45be21:e05b3ebdb419237f5d1427b906f2a275:1cb3378ddbcc61a6ba023264f6f5c3b0$</string>
            <key>textureFileName</key>
            <string>guide_npc_1.png</string>
        </dict>
    </dict>
</plist>
