<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_npc_9_huzi 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,28}</string>
                <key>textureRect</key>
                <string>{{172,271},{45,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_9_huzi 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,28}</string>
                <key>spriteSourceSize</key>
                <string>{45,28}</string>
                <key>textureRect</key>
                <string>{{172,318},{45,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_9_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,119}</string>
                <key>spriteSourceSize</key>
                <string>{138,119}</string>
                <key>textureRect</key>
                <string>{{1,373},{138,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_9_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,216}</string>
                <key>spriteSourceSize</key>
                <string>{204,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{204,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_9_yaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,61}</string>
                <key>spriteSourceSize</key>
                <string>{152,61}</string>
                <key>textureRect</key>
                <string>{{1,219},{152,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_9_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{198,219},{26,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_9_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,144}</string>
                <key>spriteSourceSize</key>
                <string>{106,144}</string>
                <key>textureRect</key>
                <string>{{64,219},{106,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_9_zuiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,24}</string>
                <key>spriteSourceSize</key>
                <string>{50,24}</string>
                <key>textureRect</key>
                <string>{{172,219},{50,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_9_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{202,249},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_9_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,142}</string>
                <key>spriteSourceSize</key>
                <string>{131,142}</string>
                <key>textureRect</key>
                <string>{{122,365},{131,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide_npc_9.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09474129e211a8a14797967bdc24c5c7:76a2cad972ce4d3ef127ee9044577454:bec0ed0c2d8be1117221fb23deaba2b6$</string>
            <key>textureFileName</key>
            <string>guide_npc_9.png</string>
        </dict>
    </dict>
</plist>
