<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_jiaxu_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,238},{125,97}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,18},{125,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{125,107}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{125,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{125,107}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{125,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,365},{125,105}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{125,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,238},{125,105}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{125,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{125,107}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{125,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,107}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{125,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,111},{125,105}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{125,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,107}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{125,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,107}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{125,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,365},{125,105}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{125,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{125,105}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{125,105}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,111},{125,103}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{125,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,238},{125,101}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{125,101}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>buff_jiaxu_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,111},{125,103}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,12},{125,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_jiaxu_1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:115ee4dd1cef26f4930a7d308ccb43f5:59f0b96766238d602acb7d9952491a02:8997fff11ec6fa6814d9db5623a1238c$</string>
            <key>textureFileName</key>
            <string>buff_jiaxu_1.png</string>
        </dict>
    </dict>
</plist>
