<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhouyu_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,159}</string>
                <key>spriteSourceSize</key>
                <string>{122,159}</string>
                <key>textureRect</key>
                <string>{{3,3},{122,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,79}</string>
                <key>spriteSourceSize</key>
                <string>{71,79}</string>
                <key>textureRect</key>
                <string>{{3,413},{71,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,66}</string>
                <key>spriteSourceSize</key>
                <string>{72,66}</string>
                <key>textureRect</key>
                <string>{{87,166},{72,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhouyu_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,54}</string>
                <key>spriteSourceSize</key>
                <string>{75,54}</string>
                <key>textureRect</key>
                <string>{{78,413},{75,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhouyu_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,63}</string>
                <key>spriteSourceSize</key>
                <string>{61,63}</string>
                <key>textureRect</key>
                <string>{{135,242},{61,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,90}</string>
                <key>spriteSourceSize</key>
                <string>{93,90}</string>
                <key>textureRect</key>
                <string>{{3,316},{93,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhouyu_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,26}</string>
                <key>spriteSourceSize</key>
                <string>{30,26}</string>
                <key>textureRect</key>
                <string>{{164,357},{30,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,35}</string>
                <key>spriteSourceSize</key>
                <string>{34,35}</string>
                <key>textureRect</key>
                <string>{{183,387},{34,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{196,426},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,44}</string>
                <key>spriteSourceSize</key>
                <string>{37,44}</string>
                <key>textureRect</key>
                <string>{{164,309},{37,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,43}</string>
                <key>spriteSourceSize</key>
                <string>{63,43}</string>
                <key>textureRect</key>
                <string>{{136,387},{63,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhouyu_display_long_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{97,315},{63,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{52,56}</string>
                <key>textureRect</key>
                <string>{{136,454},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhouyu_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,44}</string>
                <key>spriteSourceSize</key>
                <string>{69,44}</string>
                <key>textureRect</key>
                <string>{{87,242},{69,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhouyu_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{78,492},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhouyu_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,80}</string>
                <key>spriteSourceSize</key>
                <string>{146,80}</string>
                <key>textureRect</key>
                <string>{{3,166},{146,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhouyu_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:929ff40bc2ceb1f6d9a1bbe02310a537:88054f9a65bde6d2c1dfcbcb6c249c3f:916ca164345eb70a06bf8137e8440acf$</string>
            <key>textureFileName</key>
            <string>zhouyu_display.png</string>
        </dict>
    </dict>
</plist>
