<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bulianshi_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,89}</string>
                <key>spriteSourceSize</key>
                <string>{76,89}</string>
                <key>textureRect</key>
                <string>{{204,376},{76,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{80,85}</string>
                <key>textureRect</key>
                <string>{{282,359},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{367,436},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{268,106},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{204,114},{62,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{162,168},{104,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,46}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{327,2},{97,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,39}</string>
                <key>spriteSize</key>
                <string>{91,72}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{415,68},{91,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-36}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{401,142},{83,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-38}</string>
                <key>spriteSize</key>
                <string>{73,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{252,2},{73,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,36}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{282,444},{83,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{370,133},{29,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,27}</string>
                <key>spriteSize</key>
                <string>{112,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{82,169},{112,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,40}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{156,2},{94,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{331,268},{78,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-45}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{192,274},{66,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,26}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{362,352},{82,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,49}</string>
                <key>spriteSourceSize</key>
                <string>{44,49}</string>
                <key>textureRect</key>
                <string>{{324,106},{44,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,36}</string>
                <key>textureRect</key>
                <string>{{56,120},{47,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_long_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{369,180},{29,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{370,101},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{340,186},{27,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_long_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{340,157},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,68}</string>
                <key>spriteSourceSize</key>
                <string>{78,68}</string>
                <key>textureRect</key>
                <string>{{430,436},{78,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{118,495},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bulianshi_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,69}</string>
                <key>spriteSourceSize</key>
                <string>{89,69}</string>
                <key>textureRect</key>
                <string>{{260,268},{89,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bulianshi_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,165}</string>
                <key>spriteSourceSize</key>
                <string>{52,165}</string>
                <key>textureRect</key>
                <string>{{2,2},{52,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengyu_01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-33}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{415,2},{94,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengyu_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{98,80}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{258,168},{98,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengyu_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{100,84}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{118,393},{100,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengyu_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{108,90}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{100,283},{108,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengyu_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{2,289},{116,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengyu_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,14}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{2,407},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengyu_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,16}</string>
                <key>spriteSize</key>
                <string>{116,98}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{56,2},{116,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengyu_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,26}</string>
                <key>spriteSize</key>
                <string>{118,78}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{2,169},{118,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengyu_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,42}</string>
                <key>spriteSize</key>
                <string>{108,46}</string>
                <key>spriteSourceSize</key>
                <string>{120,130}</string>
                <key>textureRect</key>
                <string>{{94,120},{108,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bulianshi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adf6cee9b8d579ab77c4ca06372af538:891000cb2de1af07a37c0b17d49dc8f2:7f304ba7120712fe76132e2827312696$</string>
            <key>textureFileName</key>
            <string>bulianshi.png</string>
        </dict>
    </dict>
</plist>
