<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_yuji_01_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{163,65}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{71,236},{163,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_yuji_01_b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{2,2},{163,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yuji_01_b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{167,2},{163,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yuji_01_b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{332,2},{163,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yuji_01_b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{2,71},{163,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_yuji_01_b_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{2,236},{163,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_yuji_01_b_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{2,401},{163,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_yuji_01_b_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{163,67}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{71,71},{163,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_yuji_01_b_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{163,65}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{138,236},{163,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_yuji_01_b_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{163,63}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{140,71},{163,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_yuji_01_b_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{159,59}</string>
                <key>spriteSourceSize</key>
                <string>{163,71}</string>
                <key>textureRect</key>
                <string>{{167,401},{159,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff_yuji_01_b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26d746718bc9c69301da26ab49fa0bb7:00bcff63712daa08e39edc6305077108:060bb66ef26caca07637f349d598adaf$</string>
            <key>textureFileName</key>
            <string>buff_yuji_01_b.png</string>
        </dict>
    </dict>
</plist>
