<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoren_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,761},{55,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,88}}</string>
                <key>sourceSize</key>
                <string>{57,90}</string>
            </dict>
            <key>caoren_dao.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,727},{139,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,75}}</string>
                <key>sourceSize</key>
                <string>{141,77}</string>
            </dict>
            <key>caoren_dun.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,771},{77,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,98}}</string>
                <key>sourceSize</key>
                <string>{79,100}</string>
            </dict>
            <key>caoren_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,749},{72,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,102}}</string>
                <key>sourceSize</key>
                <string>{74,104}</string>
            </dict>
            <key>caoren_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,799},{36,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,59}}</string>
                <key>sourceSize</key>
                <string>{38,61}</string>
            </dict>
            <key>caoren_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,727},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,38}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>caoren_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{98,64}}</string>
                <key>sourceSize</key>
                <string>{98,66}</string>
            </dict>
            <key>caoren_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,771},{76,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,100}}</string>
                <key>sourceSize</key>
                <string>{78,102}</string>
            </dict>
            <key>caoren_long_l_leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,1000},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,29}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>caoren_long_l_leg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,29}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>caoren_long_r_leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,704},{30,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,43}}</string>
                <key>sourceSize</key>
                <string>{32,45}</string>
            </dict>
            <key>caoren_long_r_leg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,767},{30,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,42}}</string>
                <key>sourceSize</key>
                <string>{32,44}</string>
            </dict>
            <key>caoren_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,704},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,36}}</string>
                <key>sourceSize</key>
                <string>{58,36}</string>
            </dict>
            <key>caoren_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,704},{55,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,98}}</string>
                <key>sourceSize</key>
                <string>{57,100}</string>
            </dict>
            <key>caoren_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,504},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>skill_caoren_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,214},{148,150}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_caoren_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,364},{138,150}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{138,150}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_caoren_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,504},{136,146}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,4},{136,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_caoren_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,860},{122,134}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,14},{122,134}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_caoren_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,860},{118,120}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{118,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_caoren_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{152,210}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{152,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,500},{170,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,339},{170,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{170,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,463},{170,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,328},{170,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,167},{170,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,210}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,511},{128,202}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{128,202}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,641},{128,194}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{128,194}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,860},{90,138}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,39},{90,138}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{82,98}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,45},{82,98}}</string>
                <key>sourceSize</key>
                <string>{170,210}</string>
            </dict>
            <key>skill_caoren_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,642},{181,83}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,3},{181,83}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,2},{215,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{215,165}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{215,163}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{215,163}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{215,155}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,155}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,326},{215,135}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,135}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{215,163}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{215,163}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{215,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{215,167}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,167},{215,159}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{215,159}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,169},{215,155}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{215,155}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{215,115}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{215,115}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{215,85}}</string>
                <key>offset</key>
                <string>{0,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{215,85}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
            <key>skill_caoren_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,635},{205,67}}</string>
                <key>offset</key>
                <string>{-4,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,103},{205,67}}</string>
                <key>sourceSize</key>
                <string>{215,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caoren.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33d6db8c0fcff7887d616f0d9fa8fdfe:2da23ebc898ccf5c9420e5c1176d507a:c8e2a462dddc5823ade007fb9e85c2ef$</string>
            <key>textureFileName</key>
            <string>caoren.png</string>
        </dict>
    </dict>
</plist>
