<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangjiao_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{120,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,77}}</string>
                <key>sourceSize</key>
                <string>{122,79}</string>
            </dict>
            <key>zhangjiao_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,178},{86,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,87}}</string>
                <key>sourceSize</key>
                <string>{88,89}</string>
            </dict>
            <key>zhangjiao_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,487},{18,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,22}}</string>
                <key>sourceSize</key>
                <string>{20,24}</string>
            </dict>
            <key>zhangjiao_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,138},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,37}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>zhangjiao_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,454},{86,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,55}}</string>
                <key>sourceSize</key>
                <string>{88,57}</string>
            </dict>
            <key>zhangjiao_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,292},{72,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{72,94}}</string>
                <key>sourceSize</key>
                <string>{74,96}</string>
            </dict>
            <key>zhangjiao_long_l_chibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,294},{74,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,54}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>zhangjiao_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,487},{26,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,22}}</string>
                <key>sourceSize</key>
                <string>{28,24}</string>
            </dict>
            <key>zhangjiao_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,348},{31,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,31}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>zhangjiao_long_r_chibang.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,76},{104,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{104,60}}</string>
                <key>sourceSize</key>
                <string>{106,62}</string>
            </dict>
            <key>zhangjiao_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,267},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,24}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>zhangjiao_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,454},{31,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,38}}</string>
                <key>sourceSize</key>
                <string>{33,40}</string>
            </dict>
            <key>zhangjiao_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,418},{35,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,36}}</string>
                <key>sourceSize</key>
                <string>{37,38}</string>
            </dict>
            <key>zhangjiao_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,418},{50,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,59}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>zhangjiao_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,42},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>zhangjiao_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{20,38}}</string>
                <key>offset</key>
                <string>{39,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,62},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,487},{20,38}}</string>
                <key>offset</key>
                <string>{39,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,58},{20,38}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,124},{58,60}}</string>
                <key>offset</key>
                <string>{20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,32},{58,60}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,124},{58,58}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,28},{58,58}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,230},{100,60}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{100,60}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{104,72}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{104,72}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,184},{108,76}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,19},{108,76}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{106,90}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,350},{102,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{102,90}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,138},{100,90}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{100,90}}</string>
                <key>sourceSize</key>
                <string>{120,100}</string>
            </dict>
            <key>zhangjiao_skill2_effect20.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{80,108}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,83},{80,108}}</string>
                <key>sourceSize</key>
                <string>{130,200}</string>
            </dict>
            <key>zhangjiao_skill2_effect24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{122,178}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,17},{122,178}}</string>
                <key>sourceSize</key>
                <string>{130,200}</string>
            </dict>
            <key>zhangjiao_skill2_effect28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,180}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{124,180}}</string>
                <key>sourceSize</key>
                <string>{130,200}</string>
            </dict>
            <key>zhangjiao_skill2_effect32.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,184},{116,164}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{116,164}}</string>
                <key>sourceSize</key>
                <string>{130,200}</string>
            </dict>
            <key>zhangjiao_skill2_effect36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{106,140}}</string>
                <key>offset</key>
                <string>{9,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{106,140}}</string>
                <key>sourceSize</key>
                <string>{130,200}</string>
            </dict>
            <key>zhangjiao_skill2_effect40.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,112},{106,64}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,28},{106,64}}</string>
                <key>sourceSize</key>
                <string>{130,200}</string>
            </dict>
            <key>zhangjiao_skill2_effect44.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,294},{88,52}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{88,52}}</string>
                <key>sourceSize</key>
                <string>{130,200}</string>
            </dict>
            <key>zhangjiao_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,350},{84,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,135}}</string>
                <key>sourceSize</key>
                <string>{86,137}</string>
            </dict>
            <key>zhangjiao_wuqi_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,364},{88,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,140}}</string>
                <key>sourceSize</key>
                <string>{88,140}</string>
            </dict>
            <key>zhangjiao_xiashen.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,366},{91,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,50}}</string>
                <key>sourceSize</key>
                <string>{93,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangjiao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8fbb0ff87c2a25a35db168d132b69c1e:d814b2150b424a09e1dff06d0e3c725b:a94ee953c5649b0f07bf5a0d51f231a3$</string>
            <key>textureFileName</key>
            <string>zhangjiao.png</string>
        </dict>
    </dict>
</plist>
