<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_tongyonguangshu_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-23}</string>
                <key>spriteSize</key>
                <string>{328,204}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{1,215},{328,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_tongyonguangshu_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-19}</string>
                <key>spriteSize</key>
                <string>{314,212}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{771,303},{314,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_tongyonguangshu_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-15}</string>
                <key>spriteSize</key>
                <string>{300,220}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{781,1},{300,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_tongyonguangshu_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-20}</string>
                <key>spriteSize</key>
                <string>{310,210}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{1,631},{310,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_tongyonguangshu_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-21}</string>
                <key>spriteSize</key>
                <string>{314,208}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{1,421},{314,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_tongyonguangshu_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{378,216}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{391,205},{378,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_tongyonguangshu_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-19}</string>
                <key>spriteSize</key>
                <string>{388,212}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{388,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_tongyonguangshu_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-24}</string>
                <key>spriteSize</key>
                <string>{388,202}</string>
                <key>spriteSourceSize</key>
                <string>{400,250}</string>
                <key>textureRect</key>
                <string>{{391,1},{388,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_tongyonguangshu_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8b47ccdf708b5d855880e70d529bf0b:9a6146ad10cfe65b25512f7400147db0:7554144005e31eea91b5090a555543e5$</string>
            <key>textureFileName</key>
            <string>ui_tongyonguangshu_01.png</string>
        </dict>
    </dict>
</plist>
