<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yanliang_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,91}</string>
                <key>spriteSourceSize</key>
                <string>{107,91}</string>
                <key>textureRect</key>
                <string>{{148,3},{107,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,81}</string>
                <key>spriteSourceSize</key>
                <string>{66,81}</string>
                <key>textureRect</key>
                <string>{{366,3},{66,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{328,92},{35,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,45}</string>
                <key>spriteSourceSize</key>
                <string>{29,45}</string>
                <key>textureRect</key>
                <string>{{362,149},{29,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{451,3},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{451,71},{64,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{259,3},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{421,130},{28,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{328,131},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{411,162},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{448,139},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{259,92},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,70}</string>
                <key>spriteSourceSize</key>
                <string>{53,70}</string>
                <key>textureRect</key>
                <string>{{366,73},{53,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yanliang_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{363,130},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yanliang_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,92}</string>
                <key>spriteSourceSize</key>
                <string>{141,92}</string>
                <key>textureRect</key>
                <string>{{3,3},{141,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yanliang_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad8ee92d12a6ffdf7b4046a52d77002e:6c69436df20cf006d60d6a2fad771ebb:831fc35e1c434f0037be37e302e94d11$</string>
            <key>textureFileName</key>
            <string>yanliang_display.png</string>
        </dict>
    </dict>
</plist>
