<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_tx_pubu_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{107,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{112,147},{107,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{107,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{114,1},{107,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{107,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{112,293},{107,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{107,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{223,1},{107,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{107,142}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{221,326},{107,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{105,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{221,219},{105,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{103,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{367,227},{103,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{107,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{223,110},{107,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_01_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{111,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_01_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{111,142}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{369,1},{111,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_01_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,142}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{369,114},{111,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_01_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{109,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{109,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_01_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{109,144}</string>
                <key>spriteSourceSize</key>
                <string>{111,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{109,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene_tx_pubu_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16cb84b894be94c8fcd859f5853ff09e:069cbff389a552eb0d1cde63750458b9:aabc74ad952baf38b5eb5f757a114901$</string>
            <key>textureFileName</key>
            <string>scene_tx_pubu_01.png</string>
        </dict>
    </dict>
</plist>
