<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_effect_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{97,104}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,25},{97,104}}</string>
                <key>sourceSize</key>
                <string>{117,154}</string>
            </dict>
            <key>hit_effect_4_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,154}}</string>
                <key>sourceSize</key>
                <string>{117,154}</string>
            </dict>
            <key>hit_effect_4_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,158},{95,102}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,26},{95,102}}</string>
                <key>sourceSize</key>
                <string>{117,154}</string>
            </dict>
            <key>hit_effect_4_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{99,96}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,31},{99,96}}</string>
                <key>sourceSize</key>
                <string>{117,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_effect_4.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c3020de51b6afabe5b8e24cf78c0c52$</string>
            <key>textureFileName</key>
            <string>hit_effect_4.png</string>
        </dict>
    </dict>
</plist>
