<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_canglong_1b_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-22}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{314,383},{310,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-22}</string>
                <key>spriteSize</key>
                <string>{314,109}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{638,222},{314,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-20}</string>
                <key>spriteSize</key>
                <string>{316,107}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{664,113},{316,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{340,137}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{2,2},{340,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-4}</string>
                <key>spriteSize</key>
                <string>{310,145}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{634,333},{310,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-8}</string>
                <key>spriteSize</key>
                <string>{316,135}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{2,141},{316,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,1}</string>
                <key>spriteSize</key>
                <string>{318,147}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{344,2},{318,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{310,149}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{2,278},{310,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-15}</string>
                <key>spriteSize</key>
                <string>{312,123}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{320,258},{312,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-21}</string>
                <key>spriteSize</key>
                <string>{316,109}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{664,2},{316,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-20}</string>
                <key>spriteSize</key>
                <string>{316,105}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{320,151},{316,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_1b_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-22}</string>
                <key>spriteSize</key>
                <string>{310,107}</string>
                <key>spriteSourceSize</key>
                <string>{374,163}</string>
                <key>textureRect</key>
                <string>{{2,429},{310,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_canglong_1b.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81200ef753289169b7ee47f3b62ca94c:43ec434bef1a795cf0dffcfdc11601f7:48cf0200720f5df2e5b868d320d00f48$</string>
            <key>textureFileName</key>
            <string>playerskill_canglong_1b.png</string>
        </dict>
    </dict>
</plist>
