<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_xunyu_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{26,34}}</string>
                <key>offset</key>
                <string>{-1,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{26,34}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,168}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{44,150}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{44,150}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,48},{42,150}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{42,150}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,92},{38,150}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,0},{38,150}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,162},{28,148}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{28,148}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{24,148}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{24,148}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,210},{14,144}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{14,144}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,132},{28,150}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{28,150}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,192},{16,142}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,5},{16,142}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
            <key>hit_xunyu_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{16,148}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{16,148}}</string>
                <key>sourceSize</key>
                <string>{80,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_xunyu_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f5005fbd084fd7b5c02bf249c5dd109:225efe6666d633e4a3f65f1b1f445bc9:22fa6b0a9a685da5f685fd120d5217ab$</string>
            <key>textureFileName</key>
            <string>hit_xunyu_01.png</string>
        </dict>
    </dict>
</plist>
