<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_zoom_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-19}</string>
                <key>spriteSize</key>
                <string>{292,257}</string>
                <key>spriteSourceSize</key>
                <string>{300,309}</string>
                <key>textureRect</key>
                <string>{{1,302},{292,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_zoom_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,2}</string>
                <key>spriteSize</key>
                <string>{224,299}</string>
                <key>spriteSourceSize</key>
                <string>{300,309}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_zoom_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{242,279}</string>
                <key>spriteSourceSize</key>
                <string>{300,309}</string>
                <key>textureRect</key>
                <string>{{227,1},{242,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_zoom_tx_1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{260,374},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_zoom_tx_2_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-73,-1}</string>
                <key>spriteSize</key>
                <string>{110,94}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{259,718},{110,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_zoom_tx_2_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-68,-1}</string>
                <key>spriteSize</key>
                <string>{120,104}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{259,596},{120,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_zoom_tx_2_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-63,-1}</string>
                <key>spriteSize</key>
                <string>{130,118}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{255,828},{130,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_zoom_tx_2_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{230,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{131,596},{230,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_zoom_tx_2_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{232,128}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,596},{232,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_zoom_tx_2_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-1}</string>
                <key>spriteSize</key>
                <string>{184,126}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{1,830},{184,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_zoom_tx_2_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-1}</string>
                <key>spriteSize</key>
                <string>{176,124}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{129,830},{176,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_zoom_tx_2_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{79,-1}</string>
                <key>spriteSize</key>
                <string>{90,76}</string>
                <key>spriteSourceSize</key>
                <string>{256,128}</string>
                <key>textureRect</key>
                <string>{{260,282},{90,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide_zoom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98c42384fce4b2e19aeced3745c89884:5457d89cd68d4ba4bcbd7159fd812bbc:53329273937171a5df069c057910e899$</string>
            <key>textureFileName</key>
            <string>guide_zoom.png</string>
        </dict>
    </dict>
</plist>
