<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caiwenji_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,85}</string>
                <key>spriteSourceSize</key>
                <string>{74,85}</string>
                <key>textureRect</key>
                <string>{{159,3},{74,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,100}</string>
                <key>spriteSourceSize</key>
                <string>{72,100}</string>
                <key>textureRect</key>
                <string>{{3,283},{72,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{156,347},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,63}</string>
                <key>spriteSourceSize</key>
                <string>{57,63}</string>
                <key>textureRect</key>
                <string>{{210,425},{57,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,54}</string>
                <key>textureRect</key>
                <string>{{145,261},{82,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caiwenji_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,107}</string>
                <key>spriteSourceSize</key>
                <string>{100,107}</string>
                <key>textureRect</key>
                <string>{{55,3},{100,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,21}</string>
                <key>spriteSize</key>
                <string>{78,50}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{237,3},{78,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caiwenji_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{35,9}</string>
                <key>spriteSize</key>
                <string>{70,42}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{140,114},{70,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-31}</string>
                <key>spriteSize</key>
                <string>{50,72}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{156,425},{50,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-35}</string>
                <key>spriteSize</key>
                <string>{40,78}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{291,3},{40,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,17}</string>
                <key>spriteSize</key>
                <string>{60,42}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{203,244},{60,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caiwenji_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,41}</string>
                <key>textureRect</key>
                <string>{{3,475},{29,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caiwenji_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,18}</string>
                <key>spriteSize</key>
                <string>{114,66}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{3,165},{114,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caiwenji_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,30}</string>
                <key>spriteSize</key>
                <string>{90,92}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{73,165},{90,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-32}</string>
                <key>spriteSize</key>
                <string>{62,82}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{79,280},{62,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-34}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{3,387},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,22}</string>
                <key>spriteSize</key>
                <string>{80,64}</string>
                <key>spriteSourceSize</key>
                <string>{142,152}</string>
                <key>textureRect</key>
                <string>{{167,160},{80,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caiwenji_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,47}</string>
                <key>spriteSourceSize</key>
                <string>{40,47}</string>
                <key>textureRect</key>
                <string>{{55,114},{40,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{99,114},{47,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caiwenji_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,63}</string>
                <key>spriteSourceSize</key>
                <string>{77,63}</string>
                <key>textureRect</key>
                <string>{{214,92},{77,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{73,261},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{73,387},{79,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caiwenji_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,158}</string>
                <key>spriteSourceSize</key>
                <string>{48,158}</string>
                <key>textureRect</key>
                <string>{{3,3},{48,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>caiwenji_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13252fd7e8991b78c7189d5acd667e43:487a2099f0a5e5b6568e6c6d90aa06cb:1897986c887109f6009d811eac083dd2$</string>
            <key>textureFileName</key>
            <string>caiwenji_display.png</string>
        </dict>
    </dict>
</plist>
