<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengpu__atk_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{100,152}</string>
                <key>spriteSourceSize</key>
                <string>{130,300}</string>
                <key>textureRect</key>
                <string>{{565,275},{100,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengpu__atk_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{92,290}</string>
                <key>spriteSourceSize</key>
                <string>{130,300}</string>
                <key>textureRect</key>
                <string>{{1,589},{92,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu__atk_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{92,292}</string>
                <key>spriteSourceSize</key>
                <string>{130,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu__atk_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{92,292}</string>
                <key>spriteSourceSize</key>
                <string>{130,300}</string>
                <key>textureRect</key>
                <string>{{1,295},{92,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu__atk_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-10}</string>
                <key>spriteSize</key>
                <string>{94,178}</string>
                <key>spriteSourceSize</key>
                <string>{130,300}</string>
                <key>textureRect</key>
                <string>{{789,1},{94,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengpu_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{719,345},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengpu_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,117}</string>
                <key>spriteSourceSize</key>
                <string>{72,117}</string>
                <key>textureRect</key>
                <string>{{95,1},{72,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{967,166},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,44}</string>
                <key>spriteSourceSize</key>
                <string>{35,44}</string>
                <key>textureRect</key>
                <string>{{359,78},{35,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengpu_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{95,328},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{95,388},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{385,329},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{763,119},{28,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengpu_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{355,290},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{355,322},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{359,115},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{95,290},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,78}</string>
                <key>spriteSourceSize</key>
                <string>{57,78}</string>
                <key>textureRect</key>
                <string>{{490,329},{57,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{969,1},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengpu_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,75}</string>
                <key>spriteSourceSize</key>
                <string>{234,75}</string>
                <key>textureRect</key>
                <string>{{171,1},{234,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,13}</string>
                <key>spriteSize</key>
                <string>{154,170}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{591,119},{154,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengpu_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-50}</string>
                <key>spriteSize</key>
                <string>{184,104}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{405,111},{184,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-62}</string>
                <key>spriteSize</key>
                <string>{184,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{171,176},{184,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-60}</string>
                <key>spriteSize</key>
                <string>{176,82}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{789,97},{176,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-57}</string>
                <key>spriteSize</key>
                <string>{164,88}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{171,338},{164,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-56}</string>
                <key>spriteSize</key>
                <string>{162,80}</string>
                <key>spriteSourceSize</key>
                <string>{220,220}</string>
                <key>textureRect</key>
                <string>{{763,263},{162,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-11}</string>
                <key>spriteSize</key>
                <string>{168,70}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{95,120},{168,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengpu_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-12}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{969,18},{146,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengpu_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-15}</string>
                <key>spriteSize</key>
                <string>{134,36}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{359,154},{134,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengpu_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-33}</string>
                <key>spriteSize</key>
                <string>{184,116}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{603,1},{184,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,33}</string>
                <key>spriteSize</key>
                <string>{138,168}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,881},{138,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengpu_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,57}</string>
                <key>spriteSize</key>
                <string>{166,110}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{397,217},{166,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,68}</string>
                <key>spriteSize</key>
                <string>{164,80}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{763,181},{164,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,1}</string>
                <key>spriteSize</key>
                <string>{108,194}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{407,1},{108,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chengpu_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-52}</string>
                <key>spriteSize</key>
                <string>{186,96}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{171,78},{186,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-64}</string>
                <key>spriteSize</key>
                <string>{182,78}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{171,258},{182,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chengpu_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-32,-55}</string>
                <key>spriteSize</key>
                <string>{160,94}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{929,215},{160,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chengpu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:410eccd952db6b3aed260893c403dc7b:09f6d2ce1ed51f9c3695f8ded9d155f9:b8d64e1fe22bd16d437c4c021cdc954c$</string>
            <key>textureFileName</key>
            <string>chengpu.png</string>
        </dict>
    </dict>
</plist>
