<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaoshun_atk_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{57,0}</string>
                <key>spriteSize</key>
                <string>{116,134}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{549,325},{116,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_atk_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{240,130}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_atk_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{243,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_atk_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{228,98}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{485,1},{228,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_atk_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{198,64}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{715,1},{198,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_atk_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-28}</string>
                <key>spriteSize</key>
                <string>{152,36}</string>
                <key>spriteSourceSize</key>
                <string>{250,150}</string>
                <key>textureRect</key>
                <string>{{671,186},{152,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaoshun_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{577,221},{91,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,96}</string>
                <key>spriteSourceSize</key>
                <string>{77,96}</string>
                <key>textureRect</key>
                <string>{{243,357},{77,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaoshun_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{151,451},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,44}</string>
                <key>spriteSourceSize</key>
                <string>{39,44}</string>
                <key>textureRect</key>
                <string>{{671,101},{39,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{413,161},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{243,436},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{913,169},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{549,295},{28,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaoshun_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{309,436},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{883,245},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{671,147},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{413,123},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,83}</string>
                <key>spriteSourceSize</key>
                <string>{60,83}</string>
                <key>textureRect</key>
                <string>{{341,357},{60,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaoshun_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{896,165},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaoshun_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,61}</string>
                <key>spriteSourceSize</key>
                <string>{138,61}</string>
                <key>textureRect</key>
                <string>{{405,349},{138,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{138,154}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{883,275},{138,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-50}</string>
                <key>spriteSize</key>
                <string>{166,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,133},{166,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-61}</string>
                <key>spriteSize</key>
                <string>{166,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,133},{166,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gaoshun_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-59}</string>
                <key>spriteSize</key>
                <string>{160,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,313},{160,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-57}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,389},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-55}</string>
                <key>spriteSize</key>
                <string>{148,72}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{169,301},{148,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gaoshun_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-28}</string>
                <key>spriteSize</key>
                <string>{162,72}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{413,221},{162,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-28}</string>
                <key>spriteSize</key>
                <string>{142,52}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{405,295},{142,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-29}</string>
                <key>spriteSize</key>
                <string>{132,30}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{667,340},{132,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gaoshun_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-43}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{485,101},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{136,168}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{243,123},{136,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gaoshun_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,29}</string>
                <key>spriteSize</key>
                <string>{166,108}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{915,1},{166,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gaoshun_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,40}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{1,229},{166,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,8}</string>
                <key>spriteSize</key>
                <string>{146,172}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{709,245},{146,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gaoshun_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-44}</string>
                <key>spriteSize</key>
                <string>{186,96}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{715,67},{186,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-56}</string>
                <key>spriteSize</key>
                <string>{182,78}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{712,165},{182,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaoshun_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-46}</string>
                <key>spriteSize</key>
                <string>{160,94}</string>
                <key>spriteSourceSize</key>
                <string>{260,260}</string>
                <key>textureRect</key>
                <string>{{243,261},{160,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gaoshun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:992f1c9abf1b62213ec99534756019d0:e69f2775aafc12a12f725574a00cb514:7f43106ff48bfec9254c462d8779fea3$</string>
            <key>textureFileName</key>
            <string>gaoshun.png</string>
        </dict>
    </dict>
</plist>
