<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengyu_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,80}</string>
                <key>spriteSourceSize</key>
                <string>{82,80}</string>
                <key>textureRect</key>
                <string>{{70,273},{82,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,125}</string>
                <key>spriteSourceSize</key>
                <string>{65,125}</string>
                <key>textureRect</key>
                <string>{{3,144},{65,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,61}</string>
                <key>spriteSourceSize</key>
                <string>{62,61}</string>
                <key>textureRect</key>
                <string>{{121,137},{62,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,42}</string>
                <key>spriteSourceSize</key>
                <string>{57,42}</string>
                <key>textureRect</key>
                <string>{{3,467},{57,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{154,268},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{63,3},{98,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{72,213},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,19}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{156,3},{57,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-26}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{135,203},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{72,144},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{64,467},{51,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{115,105},{28,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,24}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,273},{95,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,372},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{119,444},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-34}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{84,359},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,23}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{188,436},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{63,105},{35,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{158,64},{46,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chengyu_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,73}</string>
                <key>spriteSourceSize</key>
                <string>{71,73}</string>
                <key>textureRect</key>
                <string>{{143,359},{71,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{154,330},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chengyu_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,137}</string>
                <key>spriteSourceSize</key>
                <string>{56,137}</string>
                <key>textureRect</key>
                <string>{{3,3},{56,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chengyu_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71b4ae060e8f5b79e4f920ef8080a0d0:638459ddf4df8ef803eccc0c373de847:a73971a0085ebdf504ccbf64caf1ef0b$</string>
            <key>textureFileName</key>
            <string>chengyu_display.png</string>
        </dict>
    </dict>
</plist>
