<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_gold_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-10}</string>
                <key>spriteSize</key>
                <string>{138,116}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{155,109},{138,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-21}</string>
                <key>spriteSize</key>
                <string>{132,94}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,307},{132,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_gold_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-32}</string>
                <key>spriteSize</key>
                <string>{122,72}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{141,227},{122,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-26}</string>
                <key>spriteSize</key>
                <string>{118,84}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{389,203},{118,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-22}</string>
                <key>spriteSize</key>
                <string>{112,92}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{307,383},{112,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_gold_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-24}</string>
                <key>spriteSize</key>
                <string>{120,88}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{389,113},{120,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-22}</string>
                <key>spriteSize</key>
                <string>{124,92}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{307,289},{124,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-22}</string>
                <key>spriteSize</key>
                <string>{126,92}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{295,113},{126,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_gold_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-22}</string>
                <key>spriteSize</key>
                <string>{132,92}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{97,307},{132,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UI_gold_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-20}</string>
                <key>spriteSize</key>
                <string>{138,96}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,209},{138,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-18}</string>
                <key>spriteSize</key>
                <string>{152,100}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,107},{152,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{156,104}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{156,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{152,106}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{159,1},{152,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-13}</string>
                <key>spriteSize</key>
                <string>{144,110}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{313,1},{144,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UI_gold_02_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-11}</string>
                <key>spriteSize</key>
                <string>{130,114}</string>
                <key>spriteSourceSize</key>
                <string>{210,160}</string>
                <key>textureRect</key>
                <string>{{191,301},{130,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guangsuxian_1_2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0c928e9a92468323c2dab987eee2ebf:a68df1bc975cdc33aca44f6b56f2bc29:207dfa1e6818bbcfc29e4446e9ca01a5$</string>
            <key>textureFileName</key>
            <string>guangsuxian_1_2.png</string>
        </dict>
    </dict>
</plist>
