<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_huatuo_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,210},{72,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{72,32}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,114},{92,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,27},{92,56}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{94,66}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{94,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{86,64}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,28},{86,64}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{76,74}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{76,74}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,162},{78,84}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{78,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,80},{80,66}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{80,66}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,90},{52,50}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,12},{52,50}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>hit_huatuo_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{54,42}}</string>
                <key>offset</key>
                <string>{5,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,4},{54,42}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_huatuo_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41941e556a475cd0ce31d8371dcba3eb:784c57d661d0d809039f0e48cb32e8ea:c4f5503b9e6b5c53bafeba5a9b08de6f$</string>
            <key>textureFileName</key>
            <string>hit_huatuo_2.png</string>
        </dict>
    </dict>
</plist>
