<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_dao_atk_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{114,132}}</string>
                <key>offset</key>
                <string>{57,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,9},{114,132}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>lan_dao_atk_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,128}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,12},{238,128}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>lan_dao_atk_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,118}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,21},{238,118}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>lan_dao_atk_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{226,96}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{226,96}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>lan_dao_atk_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{196,62}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,58},{196,62}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>lan_dao_atk_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,137},{150,34}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,86},{150,34}}</string>
                <key>sourceSize</key>
                <string>{250,150}</string>
            </dict>
            <key>lan_dao_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,373},{74,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,92}}</string>
                <key>sourceSize</key>
                <string>{74,92}</string>
            </dict>
            <key>lan_dao_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,292},{90,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,78}}</string>
                <key>sourceSize</key>
                <string>{90,78}</string>
            </dict>
            <key>lan_dao_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,288},{49,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,65}}</string>
                <key>sourceSize</key>
                <string>{49,65}</string>
            </dict>
            <key>lan_dao_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,380},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>lan_dao_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,323},{62,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,56}}</string>
                <key>sourceSize</key>
                <string>{64,58}</string>
            </dict>
            <key>lan_dao_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,288},{101,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,83}}</string>
                <key>sourceSize</key>
                <string>{103,85}</string>
            </dict>
            <key>lan_dao_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,432},{26,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,21}}</string>
                <key>sourceSize</key>
                <string>{28,23}</string>
            </dict>
            <key>lan_dao_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,28}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>lan_dao_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,288},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>lan_dao_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,100},{37,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,35}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>lan_dao_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,258},{63,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,34}}</string>
                <key>sourceSize</key>
                <string>{65,36}</string>
            </dict>
            <key>lan_dao_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>lan_dao_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,289},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>lan_dao_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,136},{123,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,60}}</string>
                <key>sourceSize</key>
                <string>{123,60}</string>
            </dict>
            <key>skill_lan_dao_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,198},{136,152}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,17},{136,152}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_lan_dao_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,386},{164,92}}</string>
                <key>offset</key>
                <string>{2,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,104},{164,92}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_lan_dao_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,122},{164,70}}</string>
                <key>offset</key>
                <string>{0,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,126},{164,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_lan_dao_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,132},{158,72}}</string>
                <key>offset</key>
                <string>{-4,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,123},{158,72}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_lan_dao_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,352},{146,76}}</string>
                <key>offset</key>
                <string>{-10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,119},{146,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_lan_dao_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,430},{146,70}}</string>
                <key>offset</key>
                <string>{-10,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,120},{146,70}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_lan_dao_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{160,70}}</string>
                <key>offset</key>
                <string>{16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,123},{160,70}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,304},{140,50}}</string>
                <key>offset</key>
                <string>{31,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,133},{140,50}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,258},{130,28}}</string>
                <key>offset</key>
                <string>{46,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,145},{130,28}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,100},{182,116}}</string>
                <key>offset</key>
                <string>{-24,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,115},{182,116}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,122},{134,166}}</string>
                <key>offset</key>
                <string>{-11,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,36},{134,166}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,218},{164,106}}</string>
                <key>offset</key>
                <string>{-17,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,48},{164,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{164,80}}</string>
                <key>offset</key>
                <string>{-22,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,50},{164,80}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,240},{144,170}}</string>
                <key>offset</key>
                <string>{36,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,37},{144,170}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,66},{184,94}}</string>
                <key>offset</key>
                <string>{-4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,127},{184,94}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,162},{180,76}}</string>
                <key>offset</key>
                <string>{-6,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,148},{180,76}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>skill_lan_dao_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{158,92}}</string>
                <key>offset</key>
                <string>{-22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,130},{158,92}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lan_dao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e8531fbd4b02308293b271f157e661:582b0ce61e8d22dd2d1bdb140091f2f8:430a9f4d6ab69d348116863dab043a23$</string>
            <key>textureFileName</key>
            <string>lan_dao.png</string>
        </dict>
    </dict>
</plist>
