<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ld_be0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,39}</string>
                <key>spriteSize</key>
                <string>{188,76}</string>
                <key>spriteSourceSize</key>
                <string>{240,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_be1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,47}</string>
                <key>spriteSize</key>
                <string>{158,82}</string>
                <key>spriteSourceSize</key>
                <string>{240,190}</string>
                <key>textureRect</key>
                <string>{{515,1},{158,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_be2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,44}</string>
                <key>spriteSize</key>
                <string>{162,96}</string>
                <key>spriteSourceSize</key>
                <string>{240,190}</string>
                <key>textureRect</key>
                <string>{{191,1},{162,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_be3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,45}</string>
                <key>spriteSize</key>
                <string>{70,60}</string>
                <key>spriteSourceSize</key>
                <string>{240,190}</string>
                <key>textureRect</key>
                <string>{{958,1},{70,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ld_he0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,14}</string>
                <key>spriteSize</key>
                <string>{106,113}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{671,151},{106,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ld_he1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,28}</string>
                <key>spriteSize</key>
                <string>{70,49}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{951,122},{70,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_he2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,14}</string>
                <key>spriteSize</key>
                <string>{128,111}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{1,219},{128,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_he3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,18}</string>
                <key>spriteSize</key>
                <string>{116,105}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{833,107},{116,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_he4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,13}</string>
                <key>spriteSize</key>
                <string>{158,107}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{355,1},{158,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_he5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,18}</string>
                <key>spriteSize</key>
                <string>{156,111}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{675,1},{156,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_he6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,13}</string>
                <key>spriteSize</key>
                <string>{158,105}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{178,99},{158,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_he7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,10}</string>
                <key>spriteSize</key>
                <string>{154,89}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{515,85},{154,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ld_he8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-14}</string>
                <key>spriteSize</key>
                <string>{114,35}</string>
                <key>spriteSourceSize</key>
                <string>{190,161}</string>
                <key>textureRect</key>
                <string>{{671,114},{114,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,66}</string>
                <key>spriteSourceSize</key>
                <string>{78,66}</string>
                <key>textureRect</key>
                <string>{{585,176},{76,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,104}</string>
                <key>spriteSourceSize</key>
                <string>{127,106}</string>
                <key>textureRect</key>
                <string>{{833,1},{123,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-head_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,142}</string>
                <key>spriteSourceSize</key>
                <string>{129,142}</string>
                <key>textureRect</key>
                <string>{{338,110},{129,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leilong-shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{139,110}</string>
                <key>spriteSourceSize</key>
                <string>{141,112}</string>
                <key>textureRect</key>
                <string>{{161,206},{139,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-shenti_ci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,158}</string>
                <key>spriteSourceSize</key>
                <string>{138,158}</string>
                <key>textureRect</key>
                <string>{{1,79},{138,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leilong-shetou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,40}</string>
                <key>spriteSourceSize</key>
                <string>{69,40}</string>
                <key>textureRect</key>
                <string>{{951,173},{69,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{91,104}</string>
                <key>textureRect</key>
                <string>{{827,214},{91,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leilong-weiba_ci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,101}</string>
                <key>spriteSourceSize</key>
                <string>{89,101}</string>
                <key>textureRect</key>
                <string>{{933,215},{89,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{105,79}</string>
                <key>textureRect</key>
                <string>{{482,176},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-xiaba_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,74}</string>
                <key>spriteSourceSize</key>
                <string>{99,74}</string>
                <key>textureRect</key>
                <string>{{585,244},{99,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leilong-youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,35}</string>
                <key>spriteSourceSize</key>
                <string>{53,35}</string>
                <key>textureRect</key>
                <string>{{772,267},{53,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-youjiao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,35}</string>
                <key>spriteSourceSize</key>
                <string>{52,35}</string>
                <key>textureRect</key>
                <string>{{772,304},{52,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{47,45}</string>
                <key>textureRect</key>
                <string>{{786,193},{35,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leilong-youshou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,39}</string>
                <key>spriteSourceSize</key>
                <string>{35,39}</string>
                <key>textureRect</key>
                <string>{{786,230},{35,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leilong-youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{59,49}</string>
                <key>textureRect</key>
                <string>{{661,311},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{53,51}</string>
                <key>spriteSourceSize</key>
                <string>{61,57}</string>
                <key>textureRect</key>
                <string>{{717,259},{53,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-zuojiao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,50}</string>
                <key>spriteSourceSize</key>
                <string>{54,50}</string>
                <key>textureRect</key>
                <string>{{661,259},{54,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{786,154},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong-zuoshou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,41}</string>
                <key>spriteSourceSize</key>
                <string>{38,41}</string>
                <key>textureRect</key>
                <string>{{787,114},{38,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>leilong-zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,47}</string>
                <key>spriteSourceSize</key>
                <string>{56,47}</string>
                <key>textureRect</key>
                <string>{{958,73},{56,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leilong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{161,79},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_leilong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd6189e355ea76fcf5b2e7662a0ec7d:09a85c1883c4b97bbe1ad7f3cc9bced6:03b16665c4550d3cabb261b7798424b7$</string>
            <key>textureFileName</key>
            <string>playerskill_leilong.png</string>
        </dict>
    </dict>
</plist>
