<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_fa_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,99}</string>
                <key>spriteSourceSize</key>
                <string>{83,99}</string>
                <key>textureRect</key>
                <string>{{3,152},{83,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{66,74}</string>
                <key>textureRect</key>
                <string>{{90,152},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,52}</string>
                <key>spriteSourceSize</key>
                <string>{51,52}</string>
                <key>textureRect</key>
                <string>{{160,146},{51,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,43}</string>
                <key>spriteSourceSize</key>
                <string>{57,43}</string>
                <key>textureRect</key>
                <string>{{38,105},{57,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,59}</string>
                <key>spriteSourceSize</key>
                <string>{49,59}</string>
                <key>textureRect</key>
                <string>{{129,255},{49,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{38,3},{98,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{73,449},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,19}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{133,337},{57,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-26}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{132,448},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{84,340},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{99,105},{51,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,32}</string>
                <key>spriteSourceSize</key>
                <string>{17,32}</string>
                <key>textureRect</key>
                <string>{{174,72},{17,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{131,72},{28,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,24}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,255},{95,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,354},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{131,3},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-34}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{70,255},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,23}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{200,3},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,39}</string>
                <key>spriteSourceSize</key>
                <string>{21,39}</string>
                <key>textureRect</key>
                <string>{{90,230},{21,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{84,409},{35,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,38}</string>
                <key>spriteSourceSize</key>
                <string>{46,38}</string>
                <key>textureRect</key>
                <string>{{154,104},{46,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,66}</string>
                <key>spriteSourceSize</key>
                <string>{59,66}</string>
                <key>textureRect</key>
                <string>{{3,449},{59,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_fa_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{129,318},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_fa_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,145}</string>
                <key>spriteSourceSize</key>
                <string>{31,145}</string>
                <key>textureRect</key>
                <string>{{3,3},{31,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lan_fa_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7791700a358862bd2d5351f504ca6757:b579e8b0ea6c35b24b867cfdc4e234ad:84a417d97b7e78ca17d4e266339c2a2a$</string>
            <key>textureFileName</key>
            <string>lan_fa_display.png</string>
        </dict>
    </dict>
</plist>
