<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_tx_pubu_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{1,419},{82,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{210,1},{82,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{419,1},{82,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{89,210},{82,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{89,1},{82,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{173,210},{82,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{210,419},{82,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>scene_tx_pubu_02_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{257,210},{82,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{341,210},{82,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{425,210},{82,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{86,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{1,210},{86,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scene_tx_pubu_02_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{82,207}</string>
                <key>spriteSourceSize</key>
                <string>{90,207}</string>
                <key>textureRect</key>
                <string>{{173,85},{82,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>scene_tx_pubu_02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102b230a3ab4e7600881e5231a48139f:3631064f95ef14e6e1a464666bb7e391:e4dfad2bbb91598936eba6a297dfe51c$</string>
            <key>textureFileName</key>
            <string>scene_tx_pubu_02.png</string>
        </dict>
    </dict>
</plist>
