<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangfei_atk_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,909},{132,94}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{132,94}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>zhangfei_atk_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,643},{116,98}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{116,98}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>zhangfei_atk_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,625},{142,90}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{142,90}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>zhangfei_atk_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,698},{142,78}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{142,78}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>zhangfei_atk_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,579},{134,62}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,36},{134,62}}</string>
                <key>sourceSize</key>
                <string>{150,98}</string>
            </dict>
            <key>zhangfei_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,709},{69,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,80}}</string>
                <key>sourceSize</key>
                <string>{69,80}</string>
            </dict>
            <key>zhangfei_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,974},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>zhangfei_long_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,316},{80,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,57}}</string>
                <key>sourceSize</key>
                <string>{80,57}</string>
            </dict>
            <key>zhangfei_long_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,219},{95,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,58}}</string>
                <key>sourceSize</key>
                <string>{95,58}</string>
            </dict>
            <key>zhangfei_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,420},{49,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,35}}</string>
                <key>sourceSize</key>
                <string>{49,35}</string>
            </dict>
            <key>zhangfei_long_xiaba.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,959},{73,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,62}}</string>
                <key>sourceSize</key>
                <string>{73,62}</string>
            </dict>
            <key>zhangfei_long_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,408},{28,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,31}}</string>
                <key>sourceSize</key>
                <string>{28,31}</string>
            </dict>
            <key>zhangfei_long_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,974},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>zhangfei_long_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>zhangfei_long_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,963},{33,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{33,23}</string>
            </dict>
            <key>zhangfei_long_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,408},{30,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,26}}</string>
                <key>sourceSize</key>
                <string>{30,26}</string>
            </dict>
            <key>zhangfei_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,588},{119,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,80}}</string>
                <key>sourceSize</key>
                <string>{119,80}</string>
            </dict>
            <key>zhangfei_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,1009},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>zhangfei_skill1_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,408},{144,144}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{144,144}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>zhangfei_skill1_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,741},{146,166}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{146,166}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>zhangfei_skill1_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,457},{148,166}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>zhangfei_skill1_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,440},{146,144}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,14},{146,144}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>zhangfei_skill1_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,554},{142,144}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{142,144}}</string>
                <key>sourceSize</key>
                <string>{150,166}</string>
            </dict>
            <key>zhangfei_skill1_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{226,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{226,108}}</string>
                <key>sourceSize</key>
                <string>{250,110}</string>
            </dict>
            <key>zhangfei_skill1_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{226,104}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{226,104}}</string>
                <key>sourceSize</key>
                <string>{250,110}</string>
            </dict>
            <key>zhangfei_skill1_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,225},{232,98}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{232,98}}</string>
                <key>sourceSize</key>
                <string>{250,110}</string>
            </dict>
            <key>zhangfei_skill1_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,459},{184,98}}</string>
                <key>offset</key>
                <string>{32,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{184,98}}</string>
                <key>sourceSize</key>
                <string>{250,110}</string>
            </dict>
            <key>zhangfei_skill1_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,645},{180,98}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,7},{180,98}}</string>
                <key>sourceSize</key>
                <string>{250,110}</string>
            </dict>
            <key>zhangfei_skill2_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,963},{88,32}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{88,32}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>zhangfei_skill2_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,579},{96,60}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,17},{96,60}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>zhangfei_skill2_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,641},{98,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,76}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>zhangfei_skill2_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,780},{76,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>zhangfei_skill2_2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,745},{212,183}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,22},{212,183}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,219},{278,199}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,10},{278,199}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{338,215}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{338,215}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,221}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{338,221}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,205},{338,201}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{338,201}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{338,201}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{338,201}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{234,155}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{234,155}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{232,157}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,66},{232,157}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,420},{230,157}}</string>
                <key>offset</key>
                <string>{-5,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,65},{230,157}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,750},{222,149}}</string>
                <key>offset</key>
                <string>{-7,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,74},{222,149}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_skill2_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,541},{228,97}}</string>
                <key>offset</key>
                <string>{-7,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,125},{228,97}}</string>
                <key>sourceSize</key>
                <string>{350,235}</string>
            </dict>
            <key>zhangfei_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,909},{88,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,95}}</string>
                <key>sourceSize</key>
                <string>{88,95}</string>
            </dict>
            <key>zhangfei_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,745},{216,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,93}}</string>
                <key>sourceSize</key>
                <string>{216,93}</string>
            </dict>
            <key>zhangfei_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,978},{40,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,71}}</string>
                <key>sourceSize</key>
                <string>{40,71}</string>
            </dict>
            <key>zhangfei_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,978},{38,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,41}}</string>
                <key>sourceSize</key>
                <string>{38,41}</string>
            </dict>
            <key>zhangfei_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,974},{28,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,33}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>zhangfei_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,398},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,52}}</string>
                <key>sourceSize</key>
                <string>{48,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhangfei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eeb0ab4db520ae5a9a53cbf2c7735db1:1900f68e2871427dd5e756ffb9d9e456:45c4ef60ffa274c616d0f264ab70edc1$</string>
            <key>textureFileName</key>
            <string>zhangfei.png</string>
        </dict>
    </dict>
</plist>
