<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_simayi_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{129,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,89}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>hit_simayi_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,89}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>hit_simayi_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{85,85}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{85,85}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>hit_simayi_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,133},{87,83}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{87,83}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>hit_simayi_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,133},{87,77}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{87,77}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
            <key>hit_simayi_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{65,69}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,8},{65,69}}</string>
                <key>sourceSize</key>
                <string>{129,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_simayi_00.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2c9444b5f4e39f05bec9b68b4654cde:fd3dcdafbf9abde498cb78fef3aff2fb:1fda341c26063eef6f0de9d77160c56f$</string>
            <key>textureFileName</key>
            <string>hit_simayi_00.png</string>
        </dict>
    </dict>
</plist>
