<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_shaoguang_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,46}</string>
                <key>spriteSize</key>
                <string>{52,86}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{241,299},{52,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_shaoguang_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,23}</string>
                <key>spriteSize</key>
                <string>{80,132}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{87,361},{80,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,1}</string>
                <key>spriteSize</key>
                <string>{106,176}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{241,121},{106,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{118,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{1,181},{118,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{169,1},{118,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_shaoguang_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{349,1},{118,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{121,181},{118,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{169,361},{118,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_shaoguang_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{112,178}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{349,181},{112,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-18}</string>
                <key>spriteSize</key>
                <string>{84,142}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{1,361},{84,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shaoguang_01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-41}</string>
                <key>spriteSize</key>
                <string>{58,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{121,121},{58,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_shaoguang_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-43,-64}</string>
                <key>spriteSize</key>
                <string>{32,50}</string>
                <key>spriteSourceSize</key>
                <string>{120,178}</string>
                <key>textureRect</key>
                <string>{{121,1},{32,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_shaoguang_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25dfebc8002fdc4c3865d2eaed370365:d2c2a8c6204ef5fbd6da1198426b7ad3:219637a7200374f94c58c65f0e13b26b$</string>
            <key>textureFileName</key>
            <string>ui_shaoguang_01.png</string>
        </dict>
    </dict>
</plist>
