<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_xixue_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,196},{40,102}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,56},{40,102}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,142},{40,108}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,50},{40,108}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{40,112}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,38},{40,112}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{42,120}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,25},{42,120}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{46,128}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,13},{46,128}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,138}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,138}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,146},{48,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{48,114}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,96},{48,116}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{48,116}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,46},{48,118}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{48,118}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,132},{46,122}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,122}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
            <key>buff_xixue_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{48,28}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,89},{48,28}}</string>
                <key>sourceSize</key>
                <string>{50,158}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_xixue_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ce6fa40f93d77b1ea5c8f037f1c0937:d727f8280df67f1b3c348ac6eb6e0e29:c20a053234454009bdbd2cb9ee6e34a0$</string>
            <key>textureFileName</key>
            <string>buff_xixue_01.png</string>
        </dict>
    </dict>
</plist>
