<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_lanlong_effect1_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,29}</string>
                <key>spriteSize</key>
                <string>{96,262}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{607,1},{96,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,9}</string>
                <key>spriteSize</key>
                <string>{134,322}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{483,331},{134,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{132,328}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{473,1},{132,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{118,332}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{353,1},{118,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{114,336}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{241,683},{114,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{112,336}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{239,1},{112,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{114,338}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{125,685},{114,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{114,338}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{233,343},{114,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{114,340}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{1,343},{114,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{114,340}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{117,343},{114,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{114,340}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{123,1},{114,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{120,340}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{1,1},{120,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{122,338}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{1,685},{122,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{132,334}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{349,339},{132,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{136,326}</string>
                <key>spriteSourceSize</key>
                <string>{150,340}</string>
                <key>textureRect</key>
                <string>{{357,675},{136,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_lanlong_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4570bb05816b148a67adfc7626b300e1:47b09b291830b84a02d120313f357d50:8165535a89f217af1ba80123aa163620$</string>
            <key>textureFileName</key>
            <string>playerskill_lanlong_effect.png</string>
        </dict>
    </dict>
</plist>
