<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luzhi_atk1_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,681},{82,60}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,40},{82,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,754},{78,68}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{78,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,754},{80,68}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{80,68}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{78,66}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{78,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,229},{86,72}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,19},{86,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,748},{88,78}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{88,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,366},{90,80}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{90,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,658},{88,82}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk1_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,926},{60,78}}</string>
                <key>offset</key>
                <string>{-11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{60,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>luzhi_atk_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,828},{98,138}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{98,138}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>luzhi_atk_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,824},{100,98}}</string>
                <key>offset</key>
                <string>{7,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,52},{100,98}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>luzhi_atk_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,558},{98,82}}</string>
                <key>offset</key>
                <string>{11,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,67},{98,82}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>luzhi_atk_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,392},{94,64}}</string>
                <key>offset</key>
                <string>{13,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,83},{94,64}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>luzhi_atk_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,105},{88,50}}</string>
                <key>offset</key>
                <string>{15,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,93},{88,50}}</string>
                <key>sourceSize</key>
                <string>{120,150}</string>
            </dict>
            <key>luzhi_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,366},{89,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,110}}</string>
                <key>sourceSize</key>
                <string>{91,112}</string>
            </dict>
            <key>luzhi_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,457},{99,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,86}}</string>
                <key>sourceSize</key>
                <string>{101,88}</string>
            </dict>
            <key>luzhi_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,281},{25,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,35}}</string>
                <key>sourceSize</key>
                <string>{27,37}</string>
            </dict>
            <key>luzhi_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,973},{36,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,32}</string>
            </dict>
            <key>luzhi_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{86,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{86,57}}</string>
                <key>sourceSize</key>
                <string>{88,59}</string>
            </dict>
            <key>luzhi_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,392},{88,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,84}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>luzhi_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,238},{27,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{27,41}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>luzhi_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,973},{35,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,48}}</string>
                <key>sourceSize</key>
                <string>{37,50}</string>
            </dict>
            <key>luzhi_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,195},{50,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,32}}</string>
                <key>sourceSize</key>
                <string>{52,34}</string>
            </dict>
            <key>luzhi_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,392},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,66}</string>
            </dict>
            <key>luzhi_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,201},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,35}}</string>
                <key>sourceSize</key>
                <string>{30,37}</string>
            </dict>
            <key>luzhi_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,973},{43,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,37}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>luzhi_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,90},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>luzhi_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,672},{152,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{152,80}}</string>
                <key>sourceSize</key>
                <string>{154,82}</string>
            </dict>
            <key>skill_luzhi_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,520},{180,150}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{180,150}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>skill_luzhi_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,366},{198,152}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{198,152}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>skill_luzhi_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,539},{212,140}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{212,140}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>skill_luzhi_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,482},{154,156}}</string>
                <key>offset</key>
                <string>{-29,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{154,156}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>skill_luzhi_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,638},{108,150}}</string>
                <key>offset</key>
                <string>{-51,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{108,150}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>skill_luzhi_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,317},{68,142}}</string>
                <key>offset</key>
                <string>{-65,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{68,142}}</string>
                <key>sourceSize</key>
                <string>{220,160}</string>
            </dict>
            <key>skill_luzhi_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,392},{222,145}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,41},{222,145}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,461},{228,157}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,38},{228,157}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,735},{236,161}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,36},{236,161}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,735},{256,173}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,30},{256,173}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{272,185}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{272,185}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,199},{296,191}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{296,191}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{320,197}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{320,197}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{314,195}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,34},{314,195}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{316,183}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,39},{316,183}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,201},{296,163}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{296,163}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
            <key>skill_luzhi_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{322,177}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,44},{322,177}}</string>
                <key>sourceSize</key>
                <string>{330,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>luzhi.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5ddbb81191517cbab191804690ad15a:99bba52a0cbd58f616d09e799a0ec599:66f807e41c5f167547f44abbf855056b$</string>
            <key>textureFileName</key>
            <string>luzhi.png</string>
        </dict>
    </dict>
</plist>
