<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_caocao_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,28},{24,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{24,25}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>hit_caocao_0_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{28,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{28,35}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>hit_caocao_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,2},{24,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,5},{24,25}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
            <key>hit_caocao_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,39},{24,23}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{24,23}}</string>
                <key>sourceSize</key>
                <string>{30,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_caocao_0.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:360143f1e33bc4babd5a39c7bed774d0:30fe953a3c5e79cef244a3e2df7a6327:6cd26d0be7233611184e7fcb31b517fa$</string>
            <key>textureFileName</key>
            <string>hit_caocao_0.png</string>
        </dict>
    </dict>
</plist>
