<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganning_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,935},{85,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,88}}</string>
                <key>sourceSize</key>
                <string>{87,90}</string>
            </dict>
            <key>ganning_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,935},{79,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,77}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>ganning_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,448},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ganning_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,379},{91,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,57}}</string>
                <key>sourceSize</key>
                <string>{91,57}</string>
            </dict>
            <key>ganning_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,906},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,98}}</string>
                <key>sourceSize</key>
                <string>{102,100}</string>
            </dict>
            <key>ganning_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,162},{37,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,18}}</string>
                <key>sourceSize</key>
                <string>{39,20}</string>
            </dict>
            <key>ganning_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,126},{34,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,25}}</string>
                <key>sourceSize</key>
                <string>{36,27}</string>
            </dict>
            <key>ganning_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,492},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,31}}</string>
                <key>sourceSize</key>
                <string>{36,33}</string>
            </dict>
            <key>ganning_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,906},{27,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,29}}</string>
                <key>sourceSize</key>
                <string>{29,31}</string>
            </dict>
            <key>ganning_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,494},{76,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,40}}</string>
                <key>sourceSize</key>
                <string>{76,40}</string>
            </dict>
            <key>ganning_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,494},{62,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{62,50}}</string>
                <key>sourceSize</key>
                <string>{64,52}</string>
            </dict>
            <key>ganning_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,492},{53,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,45}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>ganning_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,238},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>ganning_suolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,201},{14,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,176}}</string>
                <key>sourceSize</key>
                <string>{16,178}</string>
            </dict>
            <key>ganning_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,858},{119,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{119,140}}</string>
                <key>sourceSize</key>
                <string>{121,142}</string>
            </dict>
            <key>skill_ganning_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,374},{139,150}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{139,150}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>skill_ganning_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,713},{143,140}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{143,140}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>skill_ganning_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,244},{137,128}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{137,128}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>skill_ganning_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,244},{125,118}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,31},{125,118}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>skill_ganning_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,906},{107,98}}</string>
                <key>offset</key>
                <string>{-18,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,48},{107,98}}</string>
                <key>sourceSize</key>
                <string>{145,150}</string>
            </dict>
            <key>skill_ganning_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,448},{42,60}}</string>
                <key>offset</key>
                <string>{-84,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{42,60}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{216,110}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,13},{216,110}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{220,114}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{220,114}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,124},{222,118}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{222,118}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{224,120}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{224,120}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,224},{222,118}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{222,118}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{224,122}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{224,122}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,122}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{224,122}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,122},{222,120}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{222,120}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{224,118}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{224,118}}</string>
                <key>sourceSize</key>
                <string>{250,128}</string>
            </dict>
            <key>skill_ganning_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,763},{170,167}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,12},{170,167}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,309},{198,183}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{198,183}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,126},{204,181}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{204,181}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,585},{176,139}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{176,139}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{172,133}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,23},{172,133}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,585},{170,141}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{170,141}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,563},{170,133}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,33},{170,133}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{170,177}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,8},{170,177}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{200,173}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{200,173}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,735},{166,169}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{166,169}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,547},{164,157}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,23},{164,157}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{152,85}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,52},{152,85}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
            <key>skill_ganning_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,494},{136,67}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,61},{136,67}}</string>
                <key>sourceSize</key>
                <string>{220,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ganning.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ec023691085040df739dfb726dcbdea:63ba18e0fe13ffaad5b5b32512926d62:a12e5f0e6afae53e2e1dd4bde6b83faa$</string>
            <key>textureFileName</key>
            <string>ganning.png</string>
        </dict>
    </dict>
</plist>
