<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_liubei_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,54},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hit_liubei_00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{50,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hit_liubei_00_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{50,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>hit_liubei_00_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,56}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_liubei_00.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5165bf33e826f7329c0770bcce22b362:aa6f5164c8fe63c16658c6c56ec11524:b5514bb571262878fa7af1ca60f27294$</string>
            <key>textureFileName</key>
            <string>hit_liubei_00.png</string>
        </dict>
    </dict>
</plist>
