<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_bishaji_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-7}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{212,181}</string>
                <key>textureRect</key>
                <string>{{1,325},{88,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_bishaji_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{104,101}</string>
                <key>spriteSourceSize</key>
                <string>{212,181}</string>
                <key>textureRect</key>
                <string>{{173,164},{104,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bishaji_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-10}</string>
                <key>spriteSize</key>
                <string>{170,161}</string>
                <key>spriteSourceSize</key>
                <string>{212,181}</string>
                <key>textureRect</key>
                <string>{{1,162},{170,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bishaji_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{172,161}</string>
                <key>spriteSourceSize</key>
                <string>{212,181}</string>
                <key>textureRect</key>
                <string>{{177,1},{172,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bishaji_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-8}</string>
                <key>spriteSize</key>
                <string>{174,159}</string>
                <key>spriteSourceSize</key>
                <string>{212,181}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_bishaji_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,0}</string>
                <key>spriteSize</key>
                <string>{128,143}</string>
                <key>spriteSourceSize</key>
                <string>{212,181}</string>
                <key>textureRect</key>
                <string>{{351,1},{128,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_bishaji_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{132,133}</string>
                <key>spriteSourceSize</key>
                <string>{212,181}</string>
                <key>textureRect</key>
                <string>{{351,131},{132,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_bishaji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d86acd7259f648daedf3ce03118fa94:b6372d84f1e02c6c8eb6f7d9e6fab52a:beb959034acb367477f7f5524d849eb2$</string>
            <key>textureFileName</key>
            <string>ui_bishaji.png</string>
        </dict>
    </dict>
</plist>
