<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guojia_atk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,377},{59,54}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{59,54}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>guojia_atk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,145},{69,72}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{69,72}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>guojia_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,348},{59,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{59,64}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>guojia_atk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,314},{61,68}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{61,68}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>guojia_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,322},{49,70}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,5},{49,70}}</string>
                <key>sourceSize</key>
                <string>{75,80}</string>
            </dict>
            <key>guojia_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,141}}</string>
                <key>sourceSize</key>
                <string>{170,141}</string>
            </dict>
            <key>guojia_long-tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,96},{104,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,94}}</string>
                <key>sourceSize</key>
                <string>{104,94}</string>
            </dict>
            <key>guojia_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,371},{62,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,52}}</string>
                <key>sourceSize</key>
                <string>{62,52}</string>
            </dict>
            <key>guojia_long_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,377},{54,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,58}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>guojia_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,333},{47,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,36}}</string>
                <key>sourceSize</key>
                <string>{47,36}</string>
            </dict>
            <key>guojia_long_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,371},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>guojia_long_youtui.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,438},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>guojia_long_zuojiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,191},{27,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,17}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
            <key>guojia_long_zuotui.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,314},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>guojia_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,236},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>guojia_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,171},{31,23}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,39},{31,23}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>guojia_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,340},{41,53}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{41,53}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>guojia_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,377},{43,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{43,55}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>guojia_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,377},{43,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{43,57}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>guojia_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,421},{43,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{43,59}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>guojia_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,230},{43,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{43,61}}</string>
                <key>sourceSize</key>
                <string>{43,71}</string>
            </dict>
            <key>guojia_skill2_A_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,151},{38,20}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{38,20}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,395},{44,24}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{44,24}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,105},{44,20}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{44,20}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,377},{56,30}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,13},{56,30}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,192},{54,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{54,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,474},{54,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,474},{54,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{54,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,438},{50,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{50,36}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,248},{50,34}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{50,34}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_A_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,293},{48,38}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{48,38}}</string>
                <key>sourceSize</key>
                <string>{60,48}</string>
            </dict>
            <key>guojia_skill2_B_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,409},{63,63}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>guojia_skill2_B_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,438},{63,63}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>guojia_skill2_B_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,438},{63,63}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>guojia_skill2_B_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,438},{63,63}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>guojia_skill2_B_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{63,63}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>guojia_skill2_B_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,373},{63,63}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{63,63}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>guojia_skill2_C_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,283},{77,63}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{77,63}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>guojia_skill2_C_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,257},{77,63}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{77,63}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>guojia_skill2_C_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,192},{77,63}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{77,63}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>guojia_skill2_C_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{77,65}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{77,65}}</string>
                <key>sourceSize</key>
                <string>{85,65}</string>
            </dict>
            <key>guojia_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{82,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,75}}</string>
                <key>sourceSize</key>
                <string>{82,75}</string>
            </dict>
            <key>guojia_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{101,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,110}}</string>
                <key>sourceSize</key>
                <string>{101,110}</string>
            </dict>
            <key>guojia_youbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,343},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>guojia_youchibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{112,76}}</string>
                <key>offset</key>
                <string>{-5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{112,76}}</string>
                <key>sourceSize</key>
                <string>{122,190}</string>
            </dict>
            <key>guojia_youchibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{92,110}}</string>
                <key>offset</key>
                <string>{2,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{92,110}}</string>
                <key>sourceSize</key>
                <string>{122,190}</string>
            </dict>
            <key>guojia_youchibang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,236},{76,80}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,90},{76,80}}</string>
                <key>sourceSize</key>
                <string>{122,190}</string>
            </dict>
            <key>guojia_youchibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,105},{64,100}}</string>
                <key>offset</key>
                <string>{29,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,90},{64,100}}</string>
                <key>sourceSize</key>
                <string>{122,190}</string>
            </dict>
            <key>guojia_youchibang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,307},{80,68}}</string>
                <key>offset</key>
                <string>{10,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,35},{80,68}}</string>
                <key>sourceSize</key>
                <string>{122,190}</string>
            </dict>
            <key>guojia_youjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,300},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>guojia_youshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,171},{82,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,46}}</string>
                <key>sourceSize</key>
                <string>{82,46}</string>
            </dict>
            <key>guojia_zuobi.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,204},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,22}</string>
            </dict>
            <key>guojia_zuochibang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{95,86}}</string>
                <key>offset</key>
                <string>{6,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{95,86}}</string>
                <key>sourceSize</key>
                <string>{113,178}</string>
            </dict>
            <key>guojia_zuochibang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,216},{89,70}}</string>
                <key>offset</key>
                <string>{12,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,15},{89,70}}</string>
                <key>sourceSize</key>
                <string>{113,178}</string>
            </dict>
            <key>guojia_zuochibang3.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,153},{81,94}}</string>
                <key>offset</key>
                <string>{-13,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,78},{81,94}}</string>
                <key>sourceSize</key>
                <string>{113,178}</string>
            </dict>
            <key>guojia_zuochibang4.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,80},{71,100}}</string>
                <key>offset</key>
                <string>{-7,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,78},{71,100}}</string>
                <key>sourceSize</key>
                <string>{113,178}</string>
            </dict>
            <key>guojia_zuochibang5.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,219},{81,62}}</string>
                <key>offset</key>
                <string>{-16,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{81,62}}</string>
                <key>sourceSize</key>
                <string>{113,178}</string>
            </dict>
            <key>guojia_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,438},{61,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,35}}</string>
                <key>sourceSize</key>
                <string>{61,35}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guojia.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fad22441ccb9c9442faad2ffa94dc19a:c65c469f331ebb4418964967be38fdb8:67dd99ddd2f92d584ac86a96d22536a7$</string>
            <key>textureFileName</key>
            <string>guojia.png</string>
        </dict>
    </dict>
</plist>
