<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_daqiao_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{128,35}</string>
                <key>spriteSourceSize</key>
                <string>{130,35}</string>
                <key>textureRect</key>
                <string>{{215,132},{128,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,98}</string>
                <key>spriteSourceSize</key>
                <string>{46,98}</string>
                <key>textureRect</key>
                <string>{{375,306},{46,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_geboshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{474,358},{29,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_geboxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{71,43}</string>
                <key>textureRect</key>
                <string>{{374,422},{71,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,165}</string>
                <key>spriteSourceSize</key>
                <string>{172,165}</string>
                <key>textureRect</key>
                <string>{{2,262},{172,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{368,108},{32,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_houtoufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,70}</string>
                <key>spriteSourceSize</key>
                <string>{83,70}</string>
                <key>textureRect</key>
                <string>{{112,429},{83,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,97}</string>
                <key>spriteSourceSize</key>
                <string>{38,97}</string>
                <key>textureRect</key>
                <string>{{254,423},{38,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{330,467},{43,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{361,467},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{475,306},{50,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{374,354},{98,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{278,224},{95,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{254,463},{74,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{488,220},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,94}</string>
                <key>spriteSourceSize</key>
                <string>{83,94}</string>
                <key>textureRect</key>
                <string>{{278,338},{83,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,108}</string>
                <key>spriteSourceSize</key>
                <string>{89,118}</string>
                <key>textureRect</key>
                <string>{{2,429},{81,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_tui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,55}</string>
                <key>spriteSourceSize</key>
                <string>{88,55}</string>
                <key>textureRect</key>
                <string>{{197,417},{88,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_daqiao_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,9}</string>
                <key>spriteSize</key>
                <string>{111,110}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{252,112},{111,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_daqiao_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-3}</string>
                <key>spriteSize</key>
                <string>{111,84}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{375,220},{111,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_daqiao_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,1}</string>
                <key>spriteSize</key>
                <string>{139,76}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{365,142},{139,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_daqiao_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{147,108}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{219,2},{147,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_daqiao_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{141,104}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{368,2},{141,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_daqiao_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{153,100}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{176,262},{153,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_daqiao_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{211,128}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{2,132},{211,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_daqiao_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{215,128}</string>
                <key>spriteSourceSize</key>
                <string>{215,132}</string>
                <key>textureRect</key>
                <string>{{2,2},{215,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>daqiao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1697aa6ca2135c815d89d1f2d20e80c0:d2c69f8f8640087488511f883bc57f15:078a90b72249af984099f2d73e455c2d$</string>
            <key>textureFileName</key>
            <string>daqiao.png</string>
        </dict>
    </dict>
</plist>
