<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhaoyun_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,0}</string>
                <key>spriteSize</key>
                <string>{172,70}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{741,237},{172,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-1}</string>
                <key>spriteSize</key>
                <string>{146,52}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{734,545},{146,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,7}</string>
                <key>spriteSize</key>
                <string>{138,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,70}</string>
                <key>textureRect</key>
                <string>{{678,374},{138,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_zhaoyun_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,10}</string>
                <key>spriteSize</key>
                <string>{244,78}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{495,177},{244,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{210,54}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{1,295},{210,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,1}</string>
                <key>spriteSize</key>
                <string>{266,64}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{1,123},{266,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-7}</string>
                <key>spriteSize</key>
                <string>{212,44}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{1,249},{212,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-9}</string>
                <key>spriteSize</key>
                <string>{144,28}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{885,91},{144,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_zhaoyun_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,11}</string>
                <key>spriteSize</key>
                <string>{250,58}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{1,189},{250,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-5}</string>
                <key>spriteSize</key>
                <string>{216,78}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{253,221},{216,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-12}</string>
                <key>spriteSize</key>
                <string>{224,96}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{269,123},{224,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{86,6}</string>
                <key>spriteSize</key>
                <string>{196,92}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{247,301},{196,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,120}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{30,-10}</string>
                <key>spriteSize</key>
                <string>{410,88}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{503,1},{410,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhaoyun_02_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-4}</string>
                <key>spriteSize</key>
                <string>{380,84}</string>
                <key>spriteSourceSize</key>
                <string>{500,120}</string>
                <key>textureRect</key>
                <string>{{503,91},{380,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk1_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,-8}</string>
                <key>spriteSize</key>
                <string>{67,54}</string>
                <key>spriteSourceSize</key>
                <string>{125,70}</string>
                <key>textureRect</key>
                <string>{{212,395},{67,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk1_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,-6}</string>
                <key>spriteSize</key>
                <string>{75,58}</string>
                <key>spriteSourceSize</key>
                <string>{125,70}</string>
                <key>textureRect</key>
                <string>{{741,177},{75,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk1_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{97,52}</string>
                <key>spriteSourceSize</key>
                <string>{125,70}</string>
                <key>textureRect</key>
                <string>{{896,518},{97,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk1_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{99,46}</string>
                <key>spriteSourceSize</key>
                <string>{125,70}</string>
                <key>textureRect</key>
                <string>{{896,470},{99,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk1_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,4}</string>
                <key>spriteSize</key>
                <string>{107,62}</string>
                <key>spriteSourceSize</key>
                <string>{125,70}</string>
                <key>textureRect</key>
                <string>{{915,206},{107,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk1_00_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,0}</string>
                <key>spriteSize</key>
                <string>{79,70}</string>
                <key>spriteSourceSize</key>
                <string>{125,70}</string>
                <key>textureRect</key>
                <string>{{594,392},{79,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{53,-25}</string>
                <key>spriteSize</key>
                <string>{94,63}</string>
                <key>spriteSourceSize</key>
                <string>{200,145}</string>
                <key>textureRect</key>
                <string>{{882,572},{94,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-17}</string>
                <key>spriteSize</key>
                <string>{108,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,145}</string>
                <key>textureRect</key>
                <string>{{915,139},{108,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-9}</string>
                <key>spriteSize</key>
                <string>{148,67}</string>
                <key>spriteSourceSize</key>
                <string>{200,145}</string>
                <key>textureRect</key>
                <string>{{1,418},{148,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-2}</string>
                <key>spriteSize</key>
                <string>{152,65}</string>
                <key>spriteSourceSize</key>
                <string>{200,145}</string>
                <key>textureRect</key>
                <string>{{1,351},{152,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-7}</string>
                <key>spriteSize</key>
                <string>{158,95}</string>
                <key>spriteSourceSize</key>
                <string>{200,145}</string>
                <key>textureRect</key>
                <string>{{736,448},{158,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_atk_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{162,137}</string>
                <key>spriteSourceSize</key>
                <string>{200,145}</string>
                <key>textureRect</key>
                <string>{{739,309},{162,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{55,81}</string>
                <key>textureRect</key>
                <string>{{155,351},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,87}</string>
                <key>spriteSourceSize</key>
                <string>{111,87}</string>
                <key>textureRect</key>
                <string>{{903,338},{111,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{46,68}</string>
                <key>textureRect</key>
                <string>{{664,514},{46,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaoyun_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,66}</string>
                <key>spriteSourceSize</key>
                <string>{100,66}</string>
                <key>textureRect</key>
                <string>{{915,270},{100,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{52,51}</string>
                <key>textureRect</key>
                <string>{{151,434},{52,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,136}</string>
                <key>spriteSourceSize</key>
                <string>{108,136}</string>
                <key>textureRect</key>
                <string>{{915,1},{108,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,38}</string>
                <key>spriteSourceSize</key>
                <string>{26,38}</string>
                <key>textureRect</key>
                <string>{{997,470},{26,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,41}</string>
                <key>spriteSourceSize</key>
                <string>{100,41}</string>
                <key>textureRect</key>
                <string>{{903,427},{100,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_long_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{215,249},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaoyun_long_youshoubi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,30}</string>
                <key>spriteSourceSize</key>
                <string>{40,30}</string>
                <key>textureRect</key>
                <string>{{215,281},{40,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaoyun_long_youshoui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,57}</string>
                <key>spriteSourceSize</key>
                <string>{56,57}</string>
                <key>textureRect</key>
                <string>{{678,316},{56,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaoyun_long_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{28,40}</string>
                <key>textureRect</key>
                <string>{{995,518},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_long_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{213,323},{28,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaoyun_long_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,55}</string>
                <key>spriteSourceSize</key>
                <string>{68,55}</string>
                <key>textureRect</key>
                <string>{{594,464},{68,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,82}</string>
                <key>spriteSourceSize</key>
                <string>{147,82}</string>
                <key>textureRect</key>
                <string>{{445,392},{147,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,58}</string>
                <key>spriteSourceSize</key>
                <string>{44,58}</string>
                <key>textureRect</key>
                <string>{{818,177},{44,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhaoyun_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,59}</string>
                <key>textureRect</key>
                <string>{{678,257},{57,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaoyun_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{864,177},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhaoyun_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,133}</string>
                <key>spriteSourceSize</key>
                <string>{205,133}</string>
                <key>textureRect</key>
                <string>{{471,257},{205,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhaoyun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa5e7067ee6b13de64b17a1795902415:a9366ece16d7c69c431f98207ea2ede1:a0de1245f902d16eb00856ffd8f8ff79$</string>
            <key>textureFileName</key>
            <string>zhaoyun.png</string>
        </dict>
    </dict>
</plist>
