<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_weiyan_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,932},{86,134}}</string>
                <key>offset</key>
                <string>{-51,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,15},{86,134}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_weiyan_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,632},{162,164}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{162,164}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_weiyan_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,452},{178,186}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{178,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_weiyan_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,839},{176,186}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{176,186}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_weiyan_01b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,614},{104,60}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{104,60}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_weiyan_01b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,918},{156,80}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,22},{156,80}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_weiyan_01b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{218,102}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{218,102}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_weiyan_01b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{250,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,116}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_weiyan_01b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{250,114}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{250,114}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_weiyan_01b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,394},{250,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{250,116}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_weiyan_01b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,452},{250,98}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{250,98}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_weiyan_01t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,820},{100,196}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,196}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>skill_weiyan_01t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,822},{100,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>skill_weiyan_01t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>skill_weiyan_01t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,822},{100,198}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,198}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>skill_weiyan_01t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{100,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,200}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>skill_weiyan_01t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,612},{100,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{100,192}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>skill_weiyan_01t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,512},{100,192}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,192}}</string>
                <key>sourceSize</key>
                <string>{100,200}</string>
            </dict>
            <key>weiyan_atk1_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,452},{72,158}}</string>
                <key>offset</key>
                <string>{84,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,3},{72,158}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,796},{120,164}}</string>
                <key>offset</key>
                <string>{76,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,0},{120,164}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,632},{144,166}}</string>
                <key>offset</key>
                <string>{70,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,0},{144,166}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{292,164}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{292,164}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,150}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{300,150}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{286,136}}</string>
                <key>offset</key>
                <string>{7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,27},{286,136}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{280,136}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,31},{280,136}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{250,88}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,54},{250,88}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk1_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,800},{124,130}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,40},{124,130}}</string>
                <key>sourceSize</key>
                <string>{300,170}</string>
            </dict>
            <key>weiyan_atk_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,552},{220,208}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{220,208}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>weiyan_atk_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,140},{264,252}}</string>
                <key>offset</key>
                <string>{18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{264,252}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>weiyan_atk_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,236},{214,258}}</string>
                <key>offset</key>
                <string>{30,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{73,0},{214,258}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>weiyan_atk_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,220},{158,230}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,24},{158,230}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>weiyan_atk_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,2},{138,216}}</string>
                <key>offset</key>
                <string>{49,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,33},{138,216}}</string>
                <key>sourceSize</key>
                <string>{300,270}</string>
            </dict>
            <key>weiyan_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,762},{63,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,75}}</string>
                <key>sourceSize</key>
                <string>{65,77}</string>
            </dict>
            <key>weiyan_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,798},{92,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,75}}</string>
                <key>sourceSize</key>
                <string>{94,77}</string>
            </dict>
            <key>weiyan_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,236},{44,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,62}}</string>
                <key>sourceSize</key>
                <string>{46,64}</string>
            </dict>
            <key>weiyan_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,762},{89,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{89,58}}</string>
                <key>sourceSize</key>
                <string>{91,60}</string>
            </dict>
            <key>weiyan_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,676},{120,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{120,95}}</string>
                <key>sourceSize</key>
                <string>{122,97}</string>
            </dict>
            <key>weiyan_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,390},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,29}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
            <key>weiyan_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,358},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,32}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>weiyan_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,168},{34,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,36}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>weiyan_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,420},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,24}}</string>
                <key>sourceSize</key>
                <string>{25,26}</string>
            </dict>
            <key>weiyan_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,204},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,30}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>weiyan_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,394},{49,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,25}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>weiyan_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,762},{52,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,56}}</string>
                <key>sourceSize</key>
                <string>{54,58}</string>
            </dict>
            <key>weiyan_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,300},{44,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,56}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>weiyan_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,140},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>weiyan_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,168},{261,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{261,66}}</string>
                <key>sourceSize</key>
                <string>{263,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>weiyan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4be2919a644cd84f190624794e6eabdd:9b51ffffebd9fbfc638844da3765c6bc:27324b1f056c68f6b7a2f543be56b4ca$</string>
            <key>textureFileName</key>
            <string>weiyan.png</string>
        </dict>
    </dict>
</plist>
