<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jiaxu_1b_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{120,45}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{120,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,190},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,143},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,96},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,49},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,45}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{120,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,190},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,143},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
            <key>skill_jiaxu_1b_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,96},{118,45}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,21},{118,45}}</string>
                <key>sourceSize</key>
                <string>{156,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jiaxu_1b.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2327d5baebe16e5e3e53cbf3fb5236af:b2d203cae58bcfec31d0eed73ecbe41c:d6213dc55fefd87323904eaed2c6f989$</string>
            <key>textureFileName</key>
            <string>skill_jiaxu_1b.png</string>
        </dict>
    </dict>
</plist>
