<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_binglong_effect3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{118,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{227,329},{118,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{120,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{1,345},{120,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_binglong_effect3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{122,104}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{377,239},{122,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{1,219},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{267,111},{122,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{122,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{253,221},{122,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{122,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{129,217},{122,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{132,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{135,1},{132,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{132,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{130,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{269,1},{130,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{130,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{135,109},{130,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{126,106}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{1,111},{126,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{126,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{401,1},{126,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_binglong_effect3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{118,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{107,327},{118,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_binglong_effect3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{120,108}</string>
                <key>spriteSourceSize</key>
                <string>{138,124}</string>
                <key>textureRect</key>
                <string>{{391,129},{120,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_binglong_effect3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99842c8d545f950b91f9a9f0f7a69cc9:87c99831a35ebeb1605e9da423399b70:16022a26c9ebbc7fb69e7796f927b6da$</string>
            <key>textureFileName</key>
            <string>playerskill_binglong_effect3.png</string>
        </dict>
    </dict>
</plist>
