<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yuji_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,75}</string>
                <key>spriteSourceSize</key>
                <string>{69,75}</string>
                <key>textureRect</key>
                <string>{{173,76},{69,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuji_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,124}</string>
                <key>spriteSourceSize</key>
                <string>{102,124}</string>
                <key>textureRect</key>
                <string>{{3,3},{102,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuji_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{206,149},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuji_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,67}</string>
                <key>spriteSourceSize</key>
                <string>{91,67}</string>
                <key>textureRect</key>
                <string>{{3,131},{91,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuji_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,71}</string>
                <key>spriteSourceSize</key>
                <string>{83,71}</string>
                <key>textureRect</key>
                <string>{{74,131},{83,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuji_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{30,28}</string>
                <key>textureRect</key>
                <string>{{206,225},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuji_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,24}</string>
                <key>spriteSourceSize</key>
                <string>{21,24}</string>
                <key>textureRect</key>
                <string>{{3,226},{21,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuji_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{206,191},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuji_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{173,218},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuji_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,41}</string>
                <key>spriteSourceSize</key>
                <string>{65,41}</string>
                <key>textureRect</key>
                <string>{{149,149},{65,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuji_display_qiu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{28,226},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuji_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,54}</string>
                <key>spriteSourceSize</key>
                <string>{35,54}</string>
                <key>textureRect</key>
                <string>{{74,218},{35,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuji_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{31,37}</string>
                <key>textureRect</key>
                <string>{{132,218},{31,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuji_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{236,3},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>yuji_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,69}</string>
                <key>spriteSourceSize</key>
                <string>{123,69}</string>
                <key>textureRect</key>
                <string>{{109,3},{123,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuji_display.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:288240bb710c5a96f4dbc278a77cae83:814dfbd42c06af5a8ae2522e7b8bc2cc:9787d708b6e37e10871508c2b4b27a69$</string>
            <key>textureFileName</key>
            <string>yuji_display.png</string>
        </dict>
    </dict>
</plist>
