<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>honglong_effect0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{336,134}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{1,153},{336,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{336,134}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{679,147},{336,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{336,144}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{341,1},{336,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{334,142}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{673,451},{334,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{334,142}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{337,591},{334,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{334,144}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{1,441},{334,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{334,134}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{1,733},{334,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{336,136}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{341,147},{336,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{338,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{1,1},{338,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{334,158}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{339,285},{334,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{334,166}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{679,283},{334,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-1}</string>
                <key>spriteSize</key>
                <string>{334,144}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{337,445},{334,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{334,144}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{1,587},{334,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,2}</string>
                <key>spriteSize</key>
                <string>{334,150}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{1,289},{334,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>honglong_effect9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-1}</string>
                <key>spriteSize</key>
                <string>{336,144}</string>
                <key>spriteSourceSize</key>
                <string>{350,168}</string>
                <key>textureRect</key>
                <string>{{679,1},{336,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_honglong_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ddf137387cbe3ff0f0cd00432022318:7688266adf81a4d5eabe410100f08e5d:dd2a38d49c295e935f27a51c5ca68d6d$</string>
            <key>textureFileName</key>
            <string>playerskill_honglong_effect.png</string>
        </dict>
    </dict>
</plist>
