<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_pangtong_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{171,143}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,77},{171,143}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>hit_pangtong_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,147},{203,187}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{203,187}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>hit_pangtong_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,336},{241,171}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,60},{241,171}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>hit_pangtong_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{259,155}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,73},{259,155}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>hit_pangtong_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{273,137}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,73},{273,137}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>hit_pangtong_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{283,133}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,81},{283,133}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_pangtong_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:101db31a65fef81fcab5cafe575e5ae7:6c0e3c27453758613bf4ce07a6b1e504:0c3da3c85722a9ad94bfedd14a39b766$</string>
            <key>textureFileName</key>
            <string>hit_pangtong_01.png</string>
        </dict>
    </dict>
</plist>
