<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_daqiao_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{67,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{67,65}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>hit_daqiao_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,59},{51,55}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,11},{51,55}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>hit_daqiao_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,2},{55,55}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{55,55}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>hit_daqiao_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{57,53}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{57,53}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_daqiao_00.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce9ed51126efb94d97d544a752c2ed2e:dfcd9f4227206700be5e211d3e809996:4d29f783ea56be6bfc83adf2421928e2$</string>
            <key>textureFileName</key>
            <string>hit_daqiao_00.png</string>
        </dict>
    </dict>
</plist>
