<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bullet_lvmeng_01_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,66},{143,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,19},{143,56}}</string>
                <key>sourceSize</key>
                <string>{167,90}</string>
            </dict>
            <key>bullet_lvmeng_01_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,194},{203,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,19},{203,56}}</string>
                <key>sourceSize</key>
                <string>{227,90}</string>
            </dict>
            <key>bullet_lvmeng_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{268,62}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{268,62}}</string>
                <key>sourceSize</key>
                <string>{292,90}</string>
            </dict>
            <key>bullet_lvmeng_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,124},{205,62}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{205,62}}</string>
                <key>sourceSize</key>
                <string>{231,90}</string>
            </dict>
            <key>bullet_lvmeng_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{144,62}}</string>
                <key>offset</key>
                <string>{-13,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{144,62}}</string>
                <key>sourceSize</key>
                <string>{170,90}</string>
            </dict>
            <key>bullet_lvmeng_01_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,124},{262,60}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,17},{262,60}}</string>
                <key>sourceSize</key>
                <string>{286,90}</string>
            </dict>
            <key>bullet_lvmeng_01_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{321,62}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{321,62}}</string>
                <key>sourceSize</key>
                <string>{351,90}</string>
            </dict>
            <key>bullet_lvmeng_01_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{320,60}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,18},{320,60}}</string>
                <key>sourceSize</key>
                <string>{346,90}</string>
            </dict>
            <key>bullet_lvmeng_01_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{320,60}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,17},{320,60}}</string>
                <key>sourceSize</key>
                <string>{326,90}</string>
            </dict>
            <key>bullet_lvmeng_01_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{318,60}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{318,60}}</string>
                <key>sourceSize</key>
                <string>{318,90}</string>
            </dict>
            <key>bullet_lvmeng_01_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{317,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{317,62}}</string>
                <key>sourceSize</key>
                <string>{317,90}</string>
            </dict>
            <key>bullet_lvmeng_01_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{322,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{322,62}}</string>
                <key>sourceSize</key>
                <string>{322,90}</string>
            </dict>
            <key>bullet_lvmeng_01_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,62}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{328,62}}</string>
                <key>sourceSize</key>
                <string>{352,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lvmeng_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bd3fd15c1c84a99bb3ee910b78e244f:913dbd7ecaebcc102e64c1f927d2e3d8:acbb302ac0cd573bb293f05571b61355$</string>
            <key>textureFileName</key>
            <string>skill_lvmeng_01.png</string>
        </dict>
    </dict>
</plist>
