<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanghe_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,75}</string>
                <key>spriteSourceSize</key>
                <string>{72,75}</string>
                <key>textureRect</key>
                <string>{{346,3},{72,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,103}</string>
                <key>spriteSourceSize</key>
                <string>{110,103}</string>
                <key>textureRect</key>
                <string>{{3,59},{110,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghe_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,59}</string>
                <key>spriteSourceSize</key>
                <string>{46,59}</string>
                <key>textureRect</key>
                <string>{{258,78},{46,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,33}</string>
                <key>spriteSourceSize</key>
                <string>{30,33}</string>
                <key>textureRect</key>
                <string>{{365,79},{30,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,52}</string>
                <key>spriteSourceSize</key>
                <string>{137,52}</string>
                <key>textureRect</key>
                <string>{{3,3},{137,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghe_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,110}</string>
                <key>spriteSourceSize</key>
                <string>{107,110}</string>
                <key>textureRect</key>
                <string>{{144,3},{107,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_long_l_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{425,51},{47,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,20}</string>
                <key>spriteSourceSize</key>
                <string>{33,20}</string>
                <key>textureRect</key>
                <string>{{117,59},{33,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,26}</string>
                <key>spriteSourceSize</key>
                <string>{32,26}</string>
                <key>textureRect</key>
                <string>{{480,51},{32,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_long_r_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,44}</string>
                <key>spriteSourceSize</key>
                <string>{55,44}</string>
                <key>textureRect</key>
                <string>{{425,3},{55,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghe_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{402,102},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghe_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{480,87},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghe_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,84}</string>
                <key>spriteSourceSize</key>
                <string>{71,84}</string>
                <key>textureRect</key>
                <string>{{258,3},{71,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghe_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{321,79},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghe_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{117,96},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhanghe_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:776fa8e42601d5b4abfbfc67e1fef9a2:fe4762e73635bdd54793ce17d6b1430a:c0b342aaf0ade4a275cc4fe4d069be2e$</string>
            <key>textureFileName</key>
            <string>zhanghe_display.png</string>
        </dict>
    </dict>
</plist>
