<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_hueichen_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{170,56}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,105},{170,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hueichen_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{176,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,53},{176,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hueichen_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{166,58}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{181,1},{166,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_hueichen_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{168,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,163},{168,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_hueichen_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{178,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{178,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_hueichen_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb6f1f61f500a318047a1202c79237c:dcd98e6bd638ff6672c42ccd3567bd5f:f00b9682f31be2ae596215f9de66fc70$</string>
            <key>textureFileName</key>
            <string>ui_hueichen_01.png</string>
        </dict>
    </dict>
</plist>
