<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianwei_atk_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{144,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{521,307},{144,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_atk_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{144,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{189,742},{144,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianwei_atk_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{166,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{185,307},{166,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_atk_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{353,307},{166,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_atk_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_atk_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,183},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{833,211},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{858,955},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,88}</string>
                <key>spriteSourceSize</key>
                <string>{53,88}</string>
                <key>textureRect</key>
                <string>{{914,882},{53,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianwei_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,58}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{787,531},{66,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianwei_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,61}</string>
                <key>spriteSourceSize</key>
                <string>{65,61}</string>
                <key>textureRect</key>
                <string>{{924,937},{65,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,83}</string>
                <key>spriteSourceSize</key>
                <string>{89,83}</string>
                <key>textureRect</key>
                <string>{{753,881},{89,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,24}</string>
                <key>spriteSourceSize</key>
                <string>{34,24}</string>
                <key>textureRect</key>
                <string>{{367,575},{34,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianwei_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,22}</string>
                <key>spriteSourceSize</key>
                <string>{27,22}</string>
                <key>textureRect</key>
                <string>{{605,489},{27,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,32}</string>
                <key>spriteSourceSize</key>
                <string>{41,32}</string>
                <key>textureRect</key>
                <string>{{991,937},{41,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianwei_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,31}</string>
                <key>spriteSourceSize</key>
                <string>{36,31}</string>
                <key>textureRect</key>
                <string>{{555,645},{36,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,49}</string>
                <key>spriteSourceSize</key>
                <string>{52,49}</string>
                <key>textureRect</key>
                <string>{{807,966},{52,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianwei_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,72}</string>
                <key>spriteSourceSize</key>
                <string>{68,72}</string>
                <key>textureRect</key>
                <string>{{844,881},{68,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,46}</string>
                <key>spriteSourceSize</key>
                <string>{47,46}</string>
                <key>textureRect</key>
                <string>{{775,603},{47,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dianwei_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{103,825},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianwei_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,82}</string>
                <key>spriteSourceSize</key>
                <string>{186,82}</string>
                <key>textureRect</key>
                <string>{{367,645},{186,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,6}</string>
                <key>spriteSize</key>
                <string>{140,148}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{371,729},{140,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{156,158}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,867},{156,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{667,303},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{148,134}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{161,888},{148,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-24}</string>
                <key>spriteSize</key>
                <string>{136,106}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{763,701},{136,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{168,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{513,729},{168,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_01_b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{667,459},{180,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{605,531},{180,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{172,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{849,529},{172,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{174,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{849,457},{174,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_b_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{166,70}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{753,809},{166,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_b_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{158,68}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{954,285},{158,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_01_b_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-1}</string>
                <key>spriteSize</key>
                <string>{144,62}</string>
                <key>spriteSourceSize</key>
                <string>{180,70}</string>
                <key>textureRect</key>
                <string>{{420,879},{144,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_01_t_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-36}</string>
                <key>spriteSize</key>
                <string>{114,95}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{484,899},{114,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_01_t_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{176,165}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{189,575},{176,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_t_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{152,129}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{823,303},{152,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_01_t_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-30}</string>
                <key>spriteSize</key>
                <string>{130,107}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{311,888},{130,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_01_t_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-37}</string>
                <key>spriteSize</key>
                <string>{112,93}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{925,171},{112,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_01_t_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-37}</string>
                <key>spriteSize</key>
                <string>{102,93}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{921,601},{102,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_t_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-37}</string>
                <key>spriteSize</key>
                <string>{102,93}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{921,696},{102,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_01_t_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-39}</string>
                <key>spriteSize</key>
                <string>{102,89}</string>
                <key>spriteSourceSize</key>
                <string>{180,167}</string>
                <key>textureRect</key>
                <string>{{921,791},{102,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-7}</string>
                <key>spriteSize</key>
                <string>{194,74}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{397,569},{194,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{244,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{1,621},{244,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{252,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{183,103},{252,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{254,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{1,365},{254,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{246,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{441,1},{246,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{256,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{183,1},{256,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{242,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{183,205},{242,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{240,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{437,103},{240,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{218,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{427,205},{218,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{176,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{585,701},{176,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{158,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{581,905},{158,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,100}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{585,803},{166,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{180,96}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{593,603},{180,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{184,90}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{647,211},{184,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{210,84}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{185,489},{210,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,3}</string>
                <key>spriteSize</key>
                <string>{210,72}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{679,137},{210,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-2}</string>
                <key>spriteSize</key>
                <string>{206,78}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{397,489},{206,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-8}</string>
                <key>spriteSize</key>
                <string>{224,84}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{103,599},{224,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_02_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-12}</string>
                <key>spriteSize</key>
                <string>{246,76}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{689,1},{246,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-10}</string>
                <key>spriteSize</key>
                <string>{232,80}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{103,365},{232,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_02_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,-5}</string>
                <key>spriteSize</key>
                <string>{168,84}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{937,1},{168,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dianwei_02_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,11}</string>
                <key>spriteSize</key>
                <string>{224,56}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{689,79},{224,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dianwei_02_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{98,-2}</string>
                <key>spriteSize</key>
                <string>{64,54}</string>
                <key>spriteSourceSize</key>
                <string>{260,100}</string>
                <key>textureRect</key>
                <string>{{741,966},{64,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dianwei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52a6bee03a482841e33fdd32b3aaaa9a:ff6bc2c778d7e951c6824275477027f7:8660398f95f2e02d4298a2fe6c6ca5a3$</string>
            <key>textureFileName</key>
            <string>dianwei.png</string>
        </dict>
    </dict>
</plist>
