<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_huangzhong_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,120},{101,112}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{101,112}}</string>
                <key>sourceSize</key>
                <string>{165,122}</string>
            </dict>
            <key>hit_huangzhong_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{119,116}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{119,116}}</string>
                <key>sourceSize</key>
                <string>{165,122}</string>
            </dict>
            <key>hit_huangzhong_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,114}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{131,114}}</string>
                <key>sourceSize</key>
                <string>{165,122}</string>
            </dict>
            <key>hit_huangzhong_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{113,80}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{113,80}}</string>
                <key>sourceSize</key>
                <string>{165,122}</string>
            </dict>
            <key>hit_huangzhong_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{99,54}}</string>
                <key>offset</key>
                <string>{13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,28},{99,54}}</string>
                <key>sourceSize</key>
                <string>{165,122}</string>
            </dict>
            <key>hit_huangzhong_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,120},{85,26}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,44},{85,26}}</string>
                <key>sourceSize</key>
                <string>{165,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_huangzhong_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42615c9879828c3a4d30d526a22fdc06:d97b72e7d41ad3bd618664cd539f1488:1e96357e9ddd59b05b9ee68a68a7eb54$</string>
            <key>textureFileName</key>
            <string>hit_huangzhong_2.png</string>
        </dict>
    </dict>
</plist>
