<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caoaco_youjianjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,92},{33,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,73}}</string>
                <key>sourceSize</key>
                <string>{35,75}</string>
            </dict>
            <key>caocao_beijiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{138,88}}</string>
                <key>sourceSize</key>
                <string>{140,90}</string>
            </dict>
            <key>caocao_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{115,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,68}}</string>
                <key>sourceSize</key>
                <string>{117,70}</string>
            </dict>
            <key>caocao_long_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,412},{58,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{58,88}}</string>
                <key>sourceSize</key>
                <string>{60,90}</string>
            </dict>
            <key>caocao_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,297},{25,21}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{25,21}}</string>
                <key>sourceSize</key>
                <string>{27,23}</string>
            </dict>
            <key>caocao_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,254},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{32,30}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>caocao_long_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,215},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,38}}</string>
                <key>sourceSize</key>
                <string>{82,40}</string>
            </dict>
            <key>caocao_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,297},{25,26}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{25,26}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>caocao_long_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,167},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,46}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>caocao_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,288},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,30}}</string>
                <key>sourceSize</key>
                <string>{31,32}</string>
            </dict>
            <key>caocao_long_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,90},{124,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,92}}</string>
                <key>sourceSize</key>
                <string>{126,94}</string>
            </dict>
            <key>caocao_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,367},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{75,70}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>caocao_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,184},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>caocao_shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,296},{69,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,79}}</string>
                <key>sourceSize</key>
                <string>{71,81}</string>
            </dict>
            <key>caocao_tou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{78,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,94}}</string>
                <key>sourceSize</key>
                <string>{80,96}</string>
            </dict>
            <key>caocao_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{131,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,88}}</string>
                <key>sourceSize</key>
                <string>{133,90}</string>
            </dict>
            <key>caocao_zuojanjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,254},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,65}}</string>
                <key>sourceSize</key>
                <string>{53,67}</string>
            </dict>
            <key>caocao_zuoshou.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,439},{50,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,56}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>skill_caocao_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,94},{103,105}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{103,105}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>skill_caocao_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,228},{97,103}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{97,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>skill_caocao_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,199},{95,101}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{95,101}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>skill_caocao_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,414},{93,83}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,27},{93,83}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>skill_caocao_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,321},{81,61}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,45},{81,61}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>skill_caocao_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,2},{106,90}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,90}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{100,90}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,90}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,413},{98,90}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{98,90}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,324},{80,86}}</string>
                <key>offset</key>
                <string>{-34,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,86}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,327},{76,84}}</string>
                <key>offset</key>
                <string>{-36,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,84}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,327},{78,84}}</string>
                <key>offset</key>
                <string>{-35,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,84}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{126,86}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{126,86}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,92},{116,66}}</string>
                <key>offset</key>
                <string>{-11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{116,66}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{118,66}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{118,66}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,160},{110,66}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{110,66}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,184},{104,68}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,20},{104,68}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,412},{88,54}}</string>
                <key>offset</key>
                <string>{30,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,31},{88,54}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
            <key>skill_caocao_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,439},{72,56}}</string>
                <key>offset</key>
                <string>{38,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,32},{72,56}}</string>
                <key>sourceSize</key>
                <string>{148,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>caocao.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f5ce953ec923905e381d9d06738df05:391131e96d240fe2cc2d893bb4a6cf7d:7c758c9ca14b296d5a4102bf77f5ee94$</string>
            <key>textureFileName</key>
            <string>caocao.png</string>
        </dict>
    </dict>
</plist>
