<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_huangcheng_guangquan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{73,30}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{73,30}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>UI_huangcheng_guangquan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,214},{137,56}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,13},{137,56}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>UI_huangcheng_guangquan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{147,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{147,60}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>UI_huangcheng_guangquan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,214},{151,62}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{151,62}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>UI_huangcheng_guangquan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,205},{159,64}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{159,64}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>UI_huangcheng_guangquan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,34},{169,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,7},{169,70}}</string>
                <key>sourceSize</key>
                <string>{175,80}</string>
            </dict>
            <key>UI_huangcheng_shine_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,366},{254,204}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,20},{254,204}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{284,210}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{284,210}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{314,210}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,20},{314,210}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,210}}</string>
                <key>offset</key>
                <string>{5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{320,210}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,642},{258,210}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,20},{258,210}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,366},{274,210}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,20},{274,210}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{288,210}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,19},{288,210}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{278,204}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,21},{278,204}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
            <key>UI_huangcheng_shine_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,652},{276,184}}</string>
                <key>offset</key>
                <string>{23,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,36},{276,184}}</string>
                <key>sourceSize</key>
                <string>{330,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_citycraft_light_b.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f57c04640853ccacef56c0dd67f5040$</string>
            <key>textureFileName</key>
            <string>ui_citycraft_light_b.png</string>
        </dict>
    </dict>
</plist>
