<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ganning_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,90}</string>
                <key>spriteSourceSize</key>
                <string>{87,90}</string>
                <key>textureRect</key>
                <string>{{127,3},{87,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganning_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,79}</string>
                <key>spriteSourceSize</key>
                <string>{81,79}</string>
                <key>textureRect</key>
                <string>{{3,331},{81,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ganning_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{87,475},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganning_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,57}</string>
                <key>spriteSourceSize</key>
                <string>{91,57}</string>
                <key>textureRect</key>
                <string>{{79,109},{91,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganning_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,100}</string>
                <key>textureRect</key>
                <string>{{23,3},{102,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ganning_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,20}</string>
                <key>spriteSourceSize</key>
                <string>{39,20}</string>
                <key>textureRect</key>
                <string>{{86,389},{39,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganning_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{105,331},{36,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ganning_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,33}</string>
                <key>spriteSourceSize</key>
                <string>{36,33}</string>
                <key>textureRect</key>
                <string>{{47,475},{36,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganning_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{98,413},{29,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganning_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,40}</string>
                <key>spriteSourceSize</key>
                <string>{76,40}</string>
                <key>textureRect</key>
                <string>{{3,416},{76,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ganning_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,52}</string>
                <key>textureRect</key>
                <string>{{23,109},{64,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ganning_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,47}</string>
                <key>spriteSourceSize</key>
                <string>{55,47}</string>
                <key>textureRect</key>
                <string>{{47,416},{55,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ganning_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{86,331},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ganning_display_suolian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,178}</string>
                <key>spriteSourceSize</key>
                <string>{16,178}</string>
                <key>textureRect</key>
                <string>{{3,3},{16,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ganning_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,142}</string>
                <key>spriteSourceSize</key>
                <string>{121,142}</string>
                <key>textureRect</key>
                <string>{{3,185},{121,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ganning_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a3b26dd57b5a5d58b3ec403cb6ae68d:f3363da9a0a33ca23c3310e7ccaed854:6ab90ab304659028af6186c0d405a970$</string>
            <key>textureFileName</key>
            <string>ganning_display.png</string>
        </dict>
    </dict>
</plist>
