<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chengyu_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,341},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,78}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>chengyu_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{63,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,123}}</string>
                <key>sourceSize</key>
                <string>{65,125}</string>
            </dict>
            <key>chengyu_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,59}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>chengyu_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,64},{55,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,40}}</string>
                <key>sourceSize</key>
                <string>{57,42}</string>
            </dict>
            <key>chengyu_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,200},{47,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,56}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>chengyu_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,251},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,87}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>chengyu_long_l_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,106},{57,53}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,34},{57,53}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_l_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,204},{55,43}}</string>
                <key>offset</key>
                <string>{23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{55,43}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_l_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,461},{49,59}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,81},{49,59}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_l_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,205},{43,63}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,81},{43,63}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_l_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,461},{49,37}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{49,37}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,165},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,37}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>chengyu_long_r_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,110},{93,61}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,30},{93,61}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_r_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,250},{75,89}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{75,89}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_r_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,447},{63,63}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,79},{63,63}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_r_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,423},{53,79}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,79},{53,79}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_r_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,249},{63,53}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,35},{63,53}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>chengyu_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,165},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,46}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>chengyu_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,205},{44,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,37}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>chengyu_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,423},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,71}}</string>
                <key>sourceSize</key>
                <string>{71,73}</string>
            </dict>
            <key>chengyu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,120},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>chengyu_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,135}}</string>
                <key>sourceSize</key>
                <string>{56,137}</string>
            </dict>
            <key>skill_chengyu_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,110},{92,64}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,66},{92,64}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,349},{96,78}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,48},{96,78}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,361},{98,82}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{98,82}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,32},{106,88}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,135},{114,94}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{114,94}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{112,100}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{112,100}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{116,96}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{116,76}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,76}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,251},{108,44}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,44}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chengyu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e985226925521e6384711eb84f89589:620a37173212f5a85e44724dd075e189:78b709187a5a461182a5f887df0a4deb$</string>
            <key>textureFileName</key>
            <string>chengyu.png</string>
        </dict>
    </dict>
</plist>
