<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_xiaoqiao_02_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{313,1},{90,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_xiaoqiao_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{201,93},{90,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_xiaoqiao_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_xiaoqiao_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_xiaoqiao_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{1,115},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_xiaoqiao_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{421,1},{90,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_xiaoqiao_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{90,102}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{305,93},{90,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_xiaoqiao_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{90,108}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{203,1},{90,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_xiaoqiao_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{1,229},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_xiaoqiao_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{90,112}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{1,343},{90,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_xiaoqiao_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,122}</string>
                <key>textureRect</key>
                <string>{{93,93},{90,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff_xiaoqiao_02.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1840896689e13fa4a02598ba86aea0:65ba86bc6c767ed46d6512c2450133f0:1a3bf4aa90387106452b70c4c4b98ad5$</string>
            <key>textureFileName</key>
            <string>buff_xiaoqiao_02.png</string>
        </dict>
    </dict>
</plist>
