<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_luxun_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{79,77}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{79,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_luxun_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{63,65}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{82,66},{63,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hit_luxun_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{151,1},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_luxun_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{82,1},{67,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_luxun_00.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38a694d8043243ffc279fa4dc7e6404e:dfcd9f4227206700be5e211d3e809996:6360e516756c55f6480c227cc01268bb$</string>
            <key>textureFileName</key>
            <string>hit_luxun_00.png</string>
        </dict>
    </dict>
</plist>
