<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiangwei_attack_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,164},{166,63}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,7},{166,63}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
            <key>jiangwei_attack_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,918},{148,53}}</string>
                <key>offset</key>
                <string>{10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{148,53}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
            <key>jiangwei_attack_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{178,33}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{178,33}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
            <key>jiangwei_attack_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,229},{200,9}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,40},{200,9}}</string>
                <key>sourceSize</key>
                <string>{200,75}</string>
            </dict>
            <key>jiangwei_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,791},{43,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,69}}</string>
                <key>sourceSize</key>
                <string>{45,71}</string>
            </dict>
            <key>jiangwei_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,511},{131,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{131,95}}</string>
                <key>sourceSize</key>
                <string>{133,97}</string>
            </dict>
            <key>jiangwei_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,282},{45,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,56}}</string>
                <key>sourceSize</key>
                <string>{47,58}</string>
            </dict>
            <key>jiangwei_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,791},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>jiangwei_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,751},{93,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,124}}</string>
                <key>sourceSize</key>
                <string>{95,126}</string>
            </dict>
            <key>jiangwei_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,988},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,32}}</string>
                <key>sourceSize</key>
                <string>{35,34}</string>
            </dict>
            <key>jiangwei_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,997},{25,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,29}}</string>
                <key>sourceSize</key>
                <string>{27,31}</string>
            </dict>
            <key>jiangwei_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,973},{29,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,40}}</string>
                <key>sourceSize</key>
                <string>{31,42}</string>
            </dict>
            <key>jiangwei_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,992},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,30}}</string>
                <key>sourceSize</key>
                <string>{27,32}</string>
            </dict>
            <key>jiangwei_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,447},{67,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,40}}</string>
                <key>sourceSize</key>
                <string>{69,42}</string>
            </dict>
            <key>jiangwei_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,949},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{79,41}}</string>
                <key>sourceSize</key>
                <string>{81,43}</string>
            </dict>
            <key>jiangwei_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,988},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,34}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>jiangwei_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,949},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,53}}</string>
                <key>sourceSize</key>
                <string>{48,55}</string>
            </dict>
            <key>jiangwei_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,992},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>jiangwei_skill1_ci_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,973},{115,40}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,53},{115,40}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,302},{207,80}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,13},{207,80}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,112},{293,102}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{293,102}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{291,106}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{291,106}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{295,108}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{295,108}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,354},{285,100}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,8},{285,100}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,174},{233,106}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,3},{233,106}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,216},{229,84}}</string>
                <key>offset</key>
                <string>{-17,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{229,84}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_ci_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,216},{229,72}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,21},{229,72}}</string>
                <key>sourceSize</key>
                <string>{325,110}</string>
            </dict>
            <key>jiangwei_skill1_xuli_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,829},{124,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{124,118}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,667},{122,116}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{122,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,549},{122,116}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,13},{122,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,829},{122,116}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,13},{122,116}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,641},{108,100}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,21},{108,100}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,549},{100,92}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{100,92}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,723},{100,90}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,27},{100,90}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,928},{78,80}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{78,80}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,870},{78,82}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,29},{78,82}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,643},{78,88}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,26},{78,88}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill1_xuli_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,928},{76,84}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,34},{76,84}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>jiangwei_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,282},{174,162}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,25},{174,162}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,706},{226,172}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{226,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{262,170}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{262,170}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{270,172}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,22},{270,172}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{284,176}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,21},{284,176}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{236,174}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{236,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{236,174}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{236,174}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,2},{166,160}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,23},{166,160}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,302},{164,158}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,23},{164,158}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,446},{164,158}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,23},{164,158}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,462},{162,156}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,22},{162,156}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,389},{160,158}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,21},{160,158}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,229},{160,158}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,21},{160,158}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,762},{158,154}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,22},{158,154}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,620},{158,154}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,22},{158,154}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,606},{158,154}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,21},{158,154}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_skill2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,776},{156,150}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,25},{156,150}}</string>
                <key>sourceSize</key>
                <string>{300,200}</string>
            </dict>
            <key>jiangwei_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,644},{183,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{183,117}}</string>
                <key>sourceSize</key>
                <string>{185,119}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jiangwei.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4543df4377cd14802f880f88c089d4b2:7c20cae9402cbbbdfa1c98116d032907:43b0b50f5b6e743f631a1006513b754b$</string>
            <key>textureFileName</key>
            <string>jiangwei.png</string>
        </dict>
    </dict>
</plist>
