<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xuchu_01_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{83,29}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,28},{83,29}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,61},{101,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,57}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{101,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,57}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{101,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,57}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,57}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,95},{99,57}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{99,57}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{91,45}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{91,45}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{81,31}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{81,31}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
            <key>skill_xuchu_01_b_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,120},{79,27}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{79,27}}</string>
                <key>sourceSize</key>
                <string>{101,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_xuchu_ex_01_b.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3989baef323cd7cbdff9a5f6147cec82:f3c21068a7ba827f879e6f19890ab810:612460c38c26501cd5597f4e5a75b805$</string>
            <key>textureFileName</key>
            <string>skill_xuchu_ex_01_b.png</string>
        </dict>
    </dict>
</plist>
