<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xushu_atk_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,360},{146,138}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,31},{146,138}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xushu_atk_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xushu_atk_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,204},{154,144}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{154,144}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xushu_atk_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{154,136}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,32},{154,136}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xushu_atk_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,203},{152,132}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,35},{152,132}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xushu_atk_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{140,116}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{140,116}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>xushu_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,253},{94,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,76}}</string>
                <key>sourceSize</key>
                <string>{96,78}</string>
            </dict>
            <key>xushu_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,357},{74,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,91}}</string>
                <key>sourceSize</key>
                <string>{76,93}</string>
            </dict>
            <key>xushu_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,34},{26,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{28,37}</string>
            </dict>
            <key>xushu_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,158},{76,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,43}}</string>
                <key>sourceSize</key>
                <string>{78,45}</string>
            </dict>
            <key>xushu_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{106,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,60}}</string>
                <key>sourceSize</key>
                <string>{108,62}</string>
            </dict>
            <key>xushu_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,64},{91,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{91,102}}</string>
                <key>sourceSize</key>
                <string>{93,104}</string>
            </dict>
            <key>xushu_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,160},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{66,65}}</string>
                <key>sourceSize</key>
                <string>{68,67}</string>
            </dict>
            <key>xushu_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,158},{47,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,41}}</string>
                <key>sourceSize</key>
                <string>{49,43}</string>
            </dict>
            <key>xushu_long_leg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,133},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,25}}</string>
                <key>sourceSize</key>
                <string>{41,27}</string>
            </dict>
            <key>xushu_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,64},{67,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,62}}</string>
                <key>sourceSize</key>
                <string>{69,64}</string>
            </dict>
            <key>xushu_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,228},{25,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,37}}</string>
                <key>sourceSize</key>
                <string>{27,39}</string>
            </dict>
            <key>xushu_long_r_leg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{30,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,35}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>xushu_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,158},{39,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,33}}</string>
                <key>sourceSize</key>
                <string>{41,35}</string>
            </dict>
            <key>xushu_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,331},{90,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{90,77}}</string>
                <key>sourceSize</key>
                <string>{92,79}</string>
            </dict>
            <key>xushu_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,497},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>xushu_toufa.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,157},{94,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,77}}</string>
                <key>sourceSize</key>
                <string>{96,79}</string>
            </dict>
            <key>xushu_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{60,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{60,173}}</string>
                <key>sourceSize</key>
                <string>{62,175}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xushu.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:835ed5e3f5c8945245368c14702db080:de3133a0ee9e14b0e4024a9b2301d1bd:1d7cf71517ba32eac2125614132e1e4b$</string>
            <key>textureFileName</key>
            <string>xushu.png</string>
        </dict>
    </dict>
</plist>
