<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_5_guanyutou-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,170}</string>
                <key>spriteSourceSize</key>
                <string>{139,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_5_yun1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,42}</string>
                <key>spriteSourceSize</key>
                <string>{72,42}</string>
                <key>textureRect</key>
                <string>{{106,247},{72,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_5_yun2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,34}</string>
                <key>textureRect</key>
                <string>{{142,1},{60,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_5_yun3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,23}</string>
                <key>spriteSourceSize</key>
                <string>{44,23}</string>
                <key>textureRect</key>
                <string>{{60,480},{44,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_5_yun4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{48,36}</string>
                <key>textureRect</key>
                <string>{{142,63},{48,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_5_yun5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,14}</string>
                <key>spriteSourceSize</key>
                <string>{19,14}</string>
                <key>textureRect</key>
                <string>{{106,480},{19,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_5_yun6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,26}</string>
                <key>spriteSourceSize</key>
                <string>{57,26}</string>
                <key>textureRect</key>
                <string>{{1,480},{57,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_5_yun7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,45}</string>
                <key>spriteSourceSize</key>
                <string>{72,45}</string>
                <key>textureRect</key>
                <string>{{106,173},{72,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_5_zhangfeitou-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,147}</string>
                <key>spriteSourceSize</key>
                <string>{142,147}</string>
                <key>textureRect</key>
                <string>{{1,331},{142,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_5_zhangfeitou-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,103}</string>
                <key>spriteSourceSize</key>
                <string>{156,103}</string>
                <key>textureRect</key>
                <string>{{1,173},{156,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:051d6ac32cbf551677561477733e98b2:7f5ce098175907568e1535bcfc7fb9e0:5d5d1948fd8d57589bebdfcbf813df9e$</string>
            <key>textureFileName</key>
            <string>story_5.png</string>
        </dict>
    </dict>
</plist>
