<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhangfei_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,179},{37,12}}</string>
                <key>offset</key>
                <string>{24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,37},{37,12}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,193},{89,32}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,36},{89,32}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{276,198}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,36},{276,198}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{342,216}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{342,216}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,232}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,13},{342,232}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{340,202}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{340,202}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,220},{342,202}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,48},{342,202}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{342,200}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,47},{342,200}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,424},{340,202}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{340,202}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,628},{338,202}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,48},{338,202}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,520},{232,158}}</string>
                <key>offset</key>
                <string>{-3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,92},{232,158}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,202},{234,152}}</string>
                <key>offset</key>
                <string>{-4,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,95},{234,152}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{99,44}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,36},{99,44}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,680},{230,158}}</string>
                <key>offset</key>
                <string>{-2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,92},{230,158}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,356},{232,162}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,88},{232,162}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,840},{230,156}}</string>
                <key>offset</key>
                <string>{-5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,91},{230,156}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,840},{216,154}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,93},{216,154}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,642},{220,150}}</string>
                <key>offset</key>
                <string>{-6,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,100},{220,150}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,722},{222,106}}</string>
                <key>offset</key>
                <string>{-8,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,144},{222,106}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,284},{226,96}}</string>
                <key>offset</key>
                <string>{-7,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,151},{226,96}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
            <key>skill_zhangfei_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,590},{97,60}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,31},{97,60}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,652},{95,68}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{95,68}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,512},{97,76}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{97,76}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{89,78}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{89,78}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,946},{75,78}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{75,78}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,103},{41,74}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{41,74}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>skill_zhangfei_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,832},{212,184}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,46},{212,184}}</string>
                <key>sourceSize</key>
                <string>{400,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhangfei_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97332085eb798f3a4ebf5bd48b6bb32c$</string>
            <key>textureFileName</key>
            <string>skill_zhangfei_2.png</string>
        </dict>
    </dict>
</plist>
