<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_honglong_effect2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{173,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{1,167},{173,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{173,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{176,167},{173,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{175,81}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{1,1},{175,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{171,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{353,1},{171,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_honglong_effect2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-2}</string>
                <key>spriteSize</key>
                <string>{173,81}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{178,1},{173,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{171,81}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{1,84},{171,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{173,81}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{174,84},{173,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{173,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{1,252},{173,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{175,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{176,252},{175,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{175,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{1,337},{175,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{173,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{353,174},{173,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_honglong_effect2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-3}</string>
                <key>spriteSize</key>
                <string>{175,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{1,422},{175,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-2}</string>
                <key>spriteSize</key>
                <string>{173,83}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{178,337},{173,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_honglong_effect2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-3}</string>
                <key>spriteSize</key>
                <string>{173,85}</string>
                <key>spriteSourceSize</key>
                <string>{205,157}</string>
                <key>textureRect</key>
                <string>{{178,422},{173,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_honglong_effect2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:271591230cf8f9d71110a06e29d9dd60:cb9029ccb734863276295a0711cce365:e5aa58795afbbd4e0cb91b7edf79ba25$</string>
            <key>textureFileName</key>
            <string>playerskill_honglong_effect2.png</string>
        </dict>
    </dict>
</plist>
