<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xiahoudun_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,869},{198,128}}</string>
                <key>offset</key>
                <string>{-96,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{198,128}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,702},{216,126}}</string>
                <key>offset</key>
                <string>{-87,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{216,126}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,414},{258,128}}</string>
                <key>offset</key>
                <string>{-66,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{258,128}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,284},{258,128}}</string>
                <key>offset</key>
                <string>{-66,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{258,128}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,260},{280,128}}</string>
                <key>offset</key>
                <string>{-55,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{280,128}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{304,126}}</string>
                <key>offset</key>
                <string>{-43,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{304,126}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{326,126}}</string>
                <key>offset</key>
                <string>{-25,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,30},{326,126}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,130},{340,128}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{340,128}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,128}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{360,128}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{350,126}}</string>
                <key>offset</key>
                <string>{15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,30},{350,126}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{318,138}}</string>
                <key>offset</key>
                <string>{32,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,18},{318,138}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,130},{286,152}}</string>
                <key>offset</key>
                <string>{48,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,4},{286,152}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,390},{254,154}}</string>
                <key>offset</key>
                <string>{65,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,2},{254,154}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,544},{218,156}}</string>
                <key>offset</key>
                <string>{80,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,0},{218,156}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{192,154}}</string>
                <key>offset</key>
                <string>{99,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,2},{192,154}}</string>
                <key>sourceSize</key>
                <string>{390,156}</string>
            </dict>
            <key>skill_xiahoudun_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,830},{208,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{208,112}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,632},{138,78}}</string>
                <key>offset</key>
                <string>{36,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,27},{138,78}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,632},{138,76}}</string>
                <key>offset</key>
                <string>{35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,27},{138,76}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,395},{56,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,40},{56,40}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,715},{208,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{208,112}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,632},{210,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{210,114}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{210,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{210,114}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{210,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{210,114}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,503},{210,114}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{210,114}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,611},{210,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,112}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{210,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{210,112}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>skill_xiahoudun_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,715},{140,82}}</string>
                <key>offset</key>
                <string>{35,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,25},{140,82}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>xiahoudun_atk.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,468},{101,81}}</string>
                <key>offset</key>
                <string>{-25,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{101,81}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>xiahoudun_atk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,544},{133,49}}</string>
                <key>offset</key>
                <string>{11,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,11},{133,49}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>xiahoudun_atk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,551},{65,97}}</string>
                <key>offset</key>
                <string>{48,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,15},{65,97}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>xiahoudun_atk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,869},{141,67}}</string>
                <key>offset</key>
                <string>{11,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,52},{141,67}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>xiahoudun_atk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,437},{137,53}}</string>
                <key>offset</key>
                <string>{10,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,66},{137,53}}</string>
                <key>sourceSize</key>
                <string>{175,125}</string>
            </dict>
            <key>xiahoudun_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,576},{52,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{52,86}}</string>
                <key>sourceSize</key>
                <string>{54,88}</string>
            </dict>
            <key>xiahoudun_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,323},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,99}}</string>
                <key>sourceSize</key>
                <string>{100,101}</string>
            </dict>
            <key>xiahoudun_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,132},{30,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,58}}</string>
                <key>sourceSize</key>
                <string>{32,60}</string>
            </dict>
            <key>xiahoudun_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,284},{109,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{109,56}}</string>
                <key>sourceSize</key>
                <string>{111,58}</string>
            </dict>
            <key>xiahoudun_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,546},{84,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,96}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>xiahoudun_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,925},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,39}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>xiahoudun_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,830},{40,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{40,36}}</string>
                <key>sourceSize</key>
                <string>{42,38}</string>
            </dict>
            <key>xiahoudun_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,844},{73,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{73,39}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>xiahoudun_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,260},{100,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,61}}</string>
                <key>sourceSize</key>
                <string>{102,63}</string>
            </dict>
            <key>xiahoudun_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,192},{29,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,66}}</string>
                <key>sourceSize</key>
                <string>{31,68}</string>
            </dict>
            <key>xiahoudun_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{45,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{45,79}}</string>
                <key>sourceSize</key>
                <string>{47,81}</string>
            </dict>
            <key>xiahoudun_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,130},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>xiahoudun_skill1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,423},{78,115}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{78,115}}</string>
                <key>sourceSize</key>
                <string>{136,115}</string>
            </dict>
            <key>xiahoudun_skill1_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,546},{128,63}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{128,63}}</string>
                <key>sourceSize</key>
                <string>{136,115}</string>
            </dict>
            <key>xiahoudun_skill1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,773},{94,109}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,4},{94,109}}</string>
                <key>sourceSize</key>
                <string>{136,115}</string>
            </dict>
            <key>xiahoudun_skill1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,679},{92,107}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,5},{92,107}}</string>
                <key>sourceSize</key>
                <string>{136,115}</string>
            </dict>
            <key>xiahoudun_skill1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,400},{66,105}}</string>
                <key>offset</key>
                <string>{35,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,7},{66,105}}</string>
                <key>sourceSize</key>
                <string>{136,115}</string>
            </dict>
            <key>xiahoudun_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,925},{202,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{202,87}}</string>
                <key>sourceSize</key>
                <string>{204,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiahoudun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:662fcd6cbf562b47fa3ba28d53e4d271:3e906bcbb87dc66dbbd7b4f64553ff26:7414be4fe40cfd0424ce31fb998980e2$</string>
            <key>textureFileName</key>
            <string>xiahoudun.png</string>
        </dict>
    </dict>
</plist>
