<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guojia_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,141}</string>
                <key>spriteSourceSize</key>
                <string>{170,141}</string>
                <key>textureRect</key>
                <string>{{3,3},{170,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_long-tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{291,108},{104,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,52}</string>
                <key>spriteSourceSize</key>
                <string>{62,52}</string>
                <key>textureRect</key>
                <string>{{3,396},{62,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_long_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{54,58}</string>
                <key>textureRect</key>
                <string>{{89,321},{54,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,36}</string>
                <key>spriteSourceSize</key>
                <string>{47,36}</string>
                <key>textureRect</key>
                <string>{{3,462},{47,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_long_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{98,383},{29,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_long_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{79,461},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_long_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,17}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{377,206},{27,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_long_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{98,416},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{272,183},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,75}</string>
                <key>spriteSourceSize</key>
                <string>{82,75}</string>
                <key>textureRect</key>
                <string>{{3,317},{82,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,110}</string>
                <key>spriteSourceSize</key>
                <string>{101,110}</string>
                <key>textureRect</key>
                <string>{{293,3},{101,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_youbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{128,383},{27,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_youchibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,27}</string>
                <key>spriteSize</key>
                <string>{112,78}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{177,3},{112,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_youchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,40}</string>
                <key>spriteSize</key>
                <string>{94,110}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{177,85},{94,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_youchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-35}</string>
                <key>spriteSize</key>
                <string>{78,82}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{3,235},{78,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_youchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,-45}</string>
                <key>spriteSize</key>
                <string>{66,100}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{407,80},{66,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_youchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,26}</string>
                <key>spriteSize</key>
                <string>{82,70}</string>
                <key>spriteSourceSize</key>
                <string>{122,190}</string>
                <key>textureRect</key>
                <string>{{103,148},{82,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,38}</string>
                <key>spriteSourceSize</key>
                <string>{32,38}</string>
                <key>textureRect</key>
                <string>{{43,462},{32,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{82,46}</string>
                <key>textureRect</key>
                <string>{{291,206},{82,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_zuobi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,22}</string>
                <key>spriteSourceSize</key>
                <string>{24,22}</string>
                <key>textureRect</key>
                <string>{{147,321},{24,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_zuochibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,46}</string>
                <key>spriteSize</key>
                <string>{97,86}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{399,150},{97,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_zuochibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,39}</string>
                <key>spriteSize</key>
                <string>{91,72}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{177,183},{91,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guojia_display_zuochibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-36}</string>
                <key>spriteSize</key>
                <string>{83,96}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{3,148},{83,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_zuochibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-38}</string>
                <key>spriteSize</key>
                <string>{73,102}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{407,3},{73,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_zuochibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,36}</string>
                <key>spriteSize</key>
                <string>{83,64}</string>
                <key>spriteSourceSize</key>
                <string>{113,178}</string>
                <key>textureRect</key>
                <string>{{103,234},{83,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guojia_display_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,35}</string>
                <key>spriteSourceSize</key>
                <string>{61,35}</string>
                <key>textureRect</key>
                <string>{{59,396},{61,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guojia_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdbde632c0a44aeba4c7683102e65177:fdd105b491a7d17a07c6223619b9f956:4dca3bd40fce53d0ba6dc13a9cb613a3$</string>
            <key>textureFileName</key>
            <string>guojia_display.png</string>
        </dict>
    </dict>
</plist>
