<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_zuoci_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{50,47}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,39},{50,47}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,162},{54,69}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,17},{54,69}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{64,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{64,81}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{64,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{64,79}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,85},{64,79}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{64,79}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{66,79}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{66,79}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,83},{66,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{66,77}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,166},{66,77}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{66,77}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,81}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{66,81}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{54,77}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{54,77}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,51},{48,75}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{48,75}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
            <key>summon_zuoci_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,162},{28,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{28,69}}</string>
                <key>sourceSize</key>
                <string>{70,91}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>summon_zuoci_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce0ba09c2190e9b058a72f66a0059acb$</string>
            <key>textureFileName</key>
            <string>summon_zuoci_1.png</string>
        </dict>
    </dict>
</plist>
