<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baolong_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{91,91}</string>
                <key>textureRect</key>
                <string>{{351,924},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{866,242},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{155,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{865,506},{155,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{151,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{190,752},{151,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-10}</string>
                <key>spriteSize</key>
                <string>{151,80}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{610,854},{151,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-9}</string>
                <key>spriteSize</key>
                <string>{151,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{526,854},{151,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-11}</string>
                <key>spriteSize</key>
                <string>{149,78}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{692,931},{149,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{151,78}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{692,851},{151,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{866,330},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{861,592},{161,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{167,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{856,686},{167,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{167,80}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{169,498},{167,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{167,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{687,709},{167,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{167,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{1,412},{167,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{167,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{449,396},{167,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{167,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{696,451},{167,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{167,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{170,322},{167,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{167,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{446,482},{167,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{161,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{445,746},{161,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{161,80}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{444,854},{161,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-7}</string>
                <key>spriteSize</key>
                <string>{157,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{866,418},{157,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-3}</string>
                <key>spriteSize</key>
                <string>{159,88}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{190,662},{159,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{161,92}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{351,617},{161,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{167,90}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{170,230},{167,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{167,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{692,537},{167,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{167,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{856,770},{167,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{167,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{1,324},{167,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{167,88}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{697,361},{167,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{161,90}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{445,654},{161,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{163,92}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{257,854},{163,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{167,92}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{697,267},{167,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{167,90}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{453,304},{167,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{167,94}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{697,171},{167,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{167,94}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{1,134},{167,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{167,80}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{169,580},{167,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{167,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{1,854},{167,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{167,82}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{85,854},{167,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{167,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{446,568},{167,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{167,84}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{687,623},{167,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{165,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{1,588},{165,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-7}</string>
                <key>spriteSize</key>
                <string>{165,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{169,854},{165,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_01_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-6}</string>
                <key>spriteSize</key>
                <string>{165,88}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{1,498},{165,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{167,86}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{170,410},{167,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{167,94}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{170,134},{167,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{167,94}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{475,208},{167,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{167,92}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{1,230},{167,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_01_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{167,96}</string>
                <key>spriteSourceSize</key>
                <string>{167,100}</string>
                <key>textureRect</key>
                <string>{{476,110},{167,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,15}</string>
                <key>spriteSize</key>
                <string>{136,46}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{1,676},{136,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{134,46}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{339,204},{134,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{138,48}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{845,854},{138,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{142,50}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{608,799},{142,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{146,50}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{645,110},{146,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,14}</string>
                <key>spriteSize</key>
                <string>{136,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{615,613},{136,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_effect_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,14}</string>
                <key>spriteSize</key>
                <string>{136,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{1,780},{136,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,13}</string>
                <key>spriteSize</key>
                <string>{134,68}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{339,134},{134,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,22}</string>
                <key>spriteSize</key>
                <string>{132,60}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{890,1},{132,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,-15}</string>
                <key>spriteSize</key>
                <string>{108,74}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{339,388},{108,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-7}</string>
                <key>spriteSize</key>
                <string>{112,66}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{339,252},{112,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-7}</string>
                <key>spriteSize</key>
                <string>{112,66}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{339,320},{112,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_effect_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{118,70}</string>
                <key>spriteSourceSize</key>
                <string>{170,120}</string>
                <key>textureRect</key>
                <string>{{890,170},{118,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{866,171},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,107}</string>
                <key>spriteSourceSize</key>
                <string>{219,107}</string>
                <key>textureRect</key>
                <string>{{476,1},{219,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_shenti_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,131}</string>
                <key>spriteSourceSize</key>
                <string>{219,131}</string>
                <key>textureRect</key>
                <string>{{255,1},{219,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_shenti_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,131}</string>
                <key>spriteSourceSize</key>
                <string>{252,131}</string>
                <key>textureRect</key>
                <string>{{1,1},{252,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_shetou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,73}</string>
                <key>spriteSourceSize</key>
                <string>{95,73}</string>
                <key>textureRect</key>
                <string>{{622,309},{95,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,91}</string>
                <key>spriteSourceSize</key>
                <string>{142,91}</string>
                <key>textureRect</key>
                <string>{{351,780},{142,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_tou_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,168}</string>
                <key>spriteSourceSize</key>
                <string>{191,168}</string>
                <key>textureRect</key>
                <string>{{697,1},{191,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,105}</string>
                <key>spriteSourceSize</key>
                <string>{131,105}</string>
                <key>textureRect</key>
                <string>{{890,63},{131,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_xiaba_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,105}</string>
                <key>spriteSourceSize</key>
                <string>{151,105}</string>
                <key>textureRect</key>
                <string>{{339,464},{151,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,49}</string>
                <key>spriteSourceSize</key>
                <string>{63,49}</string>
                <key>textureRect</key>
                <string>{{139,676},{63,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>baolong_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{608,751},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_youjiao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{752,793},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_youqianzhua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,51}</string>
                <key>spriteSourceSize</key>
                <string>{47,51}</string>
                <key>textureRect</key>
                <string>{{55,724},{47,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_youqianzhua_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,53}</string>
                <key>spriteSourceSize</key>
                <string>{49,53}</string>
                <key>textureRect</key>
                <string>{{139,793},{49,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{76,61}</string>
                <key>textureRect</key>
                <string>{{618,406},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{618,469},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_zuojiao_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,70}</string>
                <key>spriteSourceSize</key>
                <string>{72,70}</string>
                <key>textureRect</key>
                <string>{{615,541},{72,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_zuoqianzhua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,49}</string>
                <key>spriteSourceSize</key>
                <string>{51,49}</string>
                <key>textureRect</key>
                <string>{{644,258},{51,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>baolong_zuoqianzhua_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1,724},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_baolong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621846214c856d5e6b91a37232ae1cb1:fac72c54b76b2e1201e2b560c5f8359c:c3bb4f0cd39adf6ccb42d46bc45a30a1$</string>
            <key>textureFileName</key>
            <string>playerskill_baolong.png</string>
        </dict>
    </dict>
</plist>
