<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhangjiao_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,112},{47,56}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,27},{47,56}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,181},{49,56}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{49,56}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,125},{69,48}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{69,48}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{71,48}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{71,48}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{73,48}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{73,48}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{73,48}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{73,48}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,48}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{73,48}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,52},{53,54}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{53,54}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,52},{57,58}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{57,58}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,119},{57,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{57,60}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{57,58}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{57,58}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,186},{61,60}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{61,60}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,119},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,13},{65,60}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,52},{65,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,11},{65,62}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
            <key>skill_zhangjiao_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,186},{65,46}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,10},{65,46}}</string>
                <key>sourceSize</key>
                <string>{79,86}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_zhangjiao_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89c378fc34e4ee32d6ff3a5e5b5ab4d7:ddc5501c0902511db5365f8bd3e53f6b:1ee79d65b82a7268f5863de70098fe24$</string>
            <key>textureFileName</key>
            <string>skill_zhangjiao_2.png</string>
        </dict>
    </dict>
</plist>
