<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_dianwei_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{1,143},{52,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_dianwei_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{1,1},{56,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_dianwei_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{54,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{59,1},{54,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_dianwei_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{115,1},{52,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_dianwei_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{52,65}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{182,1},{52,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buff_dianwei_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,69}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{1,72},{54,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_dianwei_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{57,72},{56,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff_dianwei_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{58,67}</string>
                <key>spriteSourceSize</key>
                <string>{58,69}</string>
                <key>textureRect</key>
                <string>{{55,143},{58,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buff_dianwei_ex_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd73bf53d06f353297d4975035a3d212:d0dda64e28e1e791f7b9a2f0187e7d8d:9890c7fce87f37b04c637e5bb034edea$</string>
            <key>textureFileName</key>
            <string>buff_dianwei_ex_01.png</string>
        </dict>
    </dict>
</plist>
