<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhangjiao_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,79}</string>
                <key>spriteSourceSize</key>
                <string>{122,79}</string>
                <key>textureRect</key>
                <string>{{3,144},{122,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangjiao_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{88,89}</string>
                <key>textureRect</key>
                <string>{{81,367},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,24}</string>
                <key>spriteSourceSize</key>
                <string>{20,24}</string>
                <key>textureRect</key>
                <string>{{61,480},{20,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{125,316},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,57}</string>
                <key>spriteSourceSize</key>
                <string>{88,57}</string>
                <key>textureRect</key>
                <string>{{86,144},{88,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangjiao_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,96}</string>
                <key>spriteSourceSize</key>
                <string>{74,96}</string>
                <key>textureRect</key>
                <string>{{3,380},{74,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_long_l_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,56}</string>
                <key>spriteSourceSize</key>
                <string>{76,56}</string>
                <key>textureRect</key>
                <string>{{125,236},{76,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangjiao_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{3,480},{28,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangjiao_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{173,423},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_long_r_chibang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,62}</string>
                <key>spriteSourceSize</key>
                <string>{106,62}</string>
                <key>textureRect</key>
                <string>{{3,270},{106,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhangjiao_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{31,480},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{33,40}</string>
                <key>textureRect</key>
                <string>{{139,460},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,38}</string>
                <key>spriteSourceSize</key>
                <string>{37,38}</string>
                <key>textureRect</key>
                <string>{{168,316},{37,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{173,358},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{81,460},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,137}</string>
                <key>spriteSourceSize</key>
                <string>{86,137}</string>
                <key>textureRect</key>
                <string>{{3,3},{86,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhangjiao_display_xiashen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,52}</string>
                <key>spriteSourceSize</key>
                <string>{93,52}</string>
                <key>textureRect</key>
                <string>{{69,270},{93,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhangjiao_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1813098eede654b08f17657b79273166:fbd6add9dee85cfe3a3a23ea28d51765:3284f96a9dc43af460cc9b01fffc33b5$</string>
            <key>textureFileName</key>
            <string>zhangjiao_display.png</string>
        </dict>
    </dict>
</plist>
