<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_lejin_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{110,99}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{110,99}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>hit_lejin_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{122,89}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,17},{122,89}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>hit_lejin_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,97}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{118,97}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>hit_lejin_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,103},{92,105}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,10},{92,105}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>hit_lejin_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,103},{90,67}}</string>
                <key>offset</key>
                <string>{25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,48},{90,67}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_lejin_02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3adfea45e70c820e1ebce3f0e4fbc70:86646be0566af997aace84a20f3b3dce:69aa5952b880bacca24664d6252e387c$</string>
            <key>textureFileName</key>
            <string>hit_lejin_02.png</string>
        </dict>
    </dict>
</plist>
