<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_machao_0_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,1}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{119,1},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_machao_0_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{61,1},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_machao_0_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{56,55}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{1,50},{56,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_machao_0_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,3}</string>
                <key>spriteSize</key>
                <string>{58,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_machao_0_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{74,65}</string>
                <key>textureRect</key>
                <string>{{169,1},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_machao_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66b11f8b3a9dbcbc6764b92b483afb9f:803b22addbfba8dba1a31d7ba6b413cf:ea8987f7901f385ae740d7b41aa07148$</string>
            <key>textureFileName</key>
            <string>hit_machao_0.png</string>
        </dict>
    </dict>
</plist>
