<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_zhaoyun_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,2}</string>
                <key>spriteSize</key>
                <string>{110,76}</string>
                <key>spriteSourceSize</key>
                <string>{138,80}</string>
                <key>textureRect</key>
                <string>{{115,1},{110,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhaoyun_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,-4}</string>
                <key>spriteSize</key>
                <string>{112,70}</string>
                <key>spriteSourceSize</key>
                <string>{138,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit_zhaoyun_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{66,62}</string>
                <key>spriteSourceSize</key>
                <string>{138,80}</string>
                <key>textureRect</key>
                <string>{{1,73},{66,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hit_zhaoyun_02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0a362b1bd7de0dd8c76b635dc7751af:7da0b6760f264330e7321b8190603494:b826070cf09b52393778384d3d252c23$</string>
            <key>textureFileName</key>
            <string>hit_zhaoyun_02.png</string>
        </dict>
    </dict>
</plist>
