<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_liubei_02b0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,333},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,416},{140,81}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{140,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b11.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,416},{140,81}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{140,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b12.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,333},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,329},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,250},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,250},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,250},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,108},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b7.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,55},{138,81}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{138,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{140,81}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{140,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{140,81}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{140,81}}</string>
                <key>sourceSize</key>
                <string>{148,111}</string>
            </dict>
            <key>skill_liubei_02b_dimian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,5},{150,47}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{166,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{166,51}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{150,45}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{150,45}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{150,45}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,55},{170,51}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{170,51}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{170,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{170,51}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{174,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{174,53}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian5.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,138},{176,53}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{176,53}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian6.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,193},{178,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{178,55}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian7.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,193},{178,55}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{178,55}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{150,45}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
            <key>skill_liubei_02b_dimian9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,7},{150,45}}</string>
                <key>sourceSize</key>
                <string>{192,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_liubei_02b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ca637f9082a021b64c93323de914ede:97e6a908684e54a70920aa8fa3ee2281:d521a15a8e0fc5fdffe645f546abc3e6$</string>
            <key>textureFileName</key>
            <string>skill_liubei_02b.png</string>
        </dict>
    </dict>
</plist>
