<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_zhugeliang_0_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,184},{69,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,15},{69,67}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_zhugeliang_0_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,99},{81,83}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{81,83}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_zhugeliang_0_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_zhugeliang_0_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,99},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_zhugeliang_0_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{95,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,95}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_zhugeliang_0_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,196},{73,49}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{73,49}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_zhugeliang_0_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,99},{73,59}}</string>
                <key>offset</key>
                <string>{-3,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{73,59}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>hit_zhugeliang_0_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{73,55}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{73,55}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_zhugeliang_0.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:083129266d6f3cb4233ca587e049b204:0d667d7cbd4cc8443ff7e7e45198076a:610192ddd40b0d53faf2b894d735a93a$</string>
            <key>textureFileName</key>
            <string>hit_zhugeliang_0.png</string>
        </dict>
    </dict>
</plist>
