<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_xiahoudun_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,59}}</string>
                <key>sourceSize</key>
                <string>{40,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_xiahoudun_02.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e79857d3dbbec99ecbb28590dbede7:cbe39165842271c8fa139d06d78d91e5:7c87ab86132524cd069f262202c1cf1a$</string>
            <key>textureFileName</key>
            <string>buff_xiahoudun_02.png</string>
        </dict>
    </dict>
</plist>
