<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luxun_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,88}</string>
                <key>spriteSourceSize</key>
                <string>{58,88}</string>
                <key>textureRect</key>
                <string>{{3,163},{58,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,88}</string>
                <key>spriteSourceSize</key>
                <string>{107,88}</string>
                <key>textureRect</key>
                <string>{{3,3},{107,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{65,161},{43,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,21}</string>
                <key>spriteSourceSize</key>
                <string>{27,21}</string>
                <key>textureRect</key>
                <string>{{219,46},{27,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,73}</string>
                <key>spriteSourceSize</key>
                <string>{101,73}</string>
                <key>textureRect</key>
                <string>{{114,3},{101,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,91}</string>
                <key>spriteSourceSize</key>
                <string>{81,91}</string>
                <key>textureRect</key>
                <string>{{112,163},{81,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{219,3},{39,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{65,218},{42,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,39}</string>
                <key>textureRect</key>
                <string>{{207,163},{74,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{3,95},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{219,71},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,79}</string>
                <key>textureRect</key>
                <string>{{114,80},{97,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luxun_display.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:938c9cf5e74b6b6c2c994f65965ced6b:a4bf80597be994785947b3818fff529b:513edcf043bc8573bdbab8ff5de1da16$</string>
            <key>textureFileName</key>
            <string>luxun_display.png</string>
        </dict>
    </dict>
</plist>
