<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_zhouyu_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,168},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,87},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,172},{83,77}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{83,77}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,87},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
            <key>buff_zhouyu_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,79}}</string>
                <key>sourceSize</key>
                <string>{83,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_zhouyu_2.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:638fe01cc323a421a8735e69e13ea0b1:a3e11efeb2668879b5deffcb2053afc4:6a7c2322d3f6733eda936607d7a85941$</string>
            <key>textureFileName</key>
            <string>buff_zhouyu_2.png</string>
        </dict>
    </dict>
</plist>
