<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_xuchu_02_t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,193},{185,167}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{185,167}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>hit_xuchu_02_t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,2},{193,189}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{193,189}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>hit_xuchu_02_t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{193,197}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{193,197}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>hit_xuchu_02_t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{185,195}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{185,195}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>hit_xuchu_02_t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,346},{149,141}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{149,141}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>hit_xuchu_02_t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,193},{151,139}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,25},{151,139}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
            <key>hit_xuchu_02_t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,380},{151,109}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,48},{151,109}}</string>
                <key>sourceSize</key>
                <string>{205,205}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_xuchu_ex_02_t.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3435fb2bd2d263dbd2b445c8332d710:aa82c517555d95d4afa642568739a180:901cffa236c1b0ae295f75c82f689dfc$</string>
            <key>textureFileName</key>
            <string>hit_xuchu_ex_02_t.png</string>
        </dict>
    </dict>
</plist>
