<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_shipper_select_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{186,97}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{197,207},{186,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shipper_select_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{196,101}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{199,1},{196,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shipper_select_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{196,89}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{1,106},{196,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shipper_select_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{196,101}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{199,104},{196,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shipper_select_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{194,103}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{1,197},{194,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shipper_select_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{186,105}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{397,195},{186,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_shipper_select_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{176,105}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{1,302},{176,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_shipper_select_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{192,105}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{397,1},{192,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_shipper_select_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{196,103}</string>
                <key>spriteSourceSize</key>
                <string>{198,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{196,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_shipper_select.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6e2acc028d32740300d8dc1fcd6c70:3cb894d54803a98687cbd43ac93a7be2:0703459f1d92fccc24686e73a456602a$</string>
            <key>textureFileName</key>
            <string>ui_shipper_select.png</string>
        </dict>
    </dict>
</plist>
