<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_canglong_effect2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{195,107}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{1,116},{195,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_effect2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{195,107}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{1,225},{195,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_effect2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{195,111}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{198,1},{195,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_effect2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{193,113}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{395,1},{193,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_canglong_effect2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{193,111}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{395,196},{193,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_canglong_effect2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{193,107}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{1,334},{193,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_effect2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{193,109}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{198,227},{193,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_effect2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{195,111}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{198,114},{195,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_canglong_effect2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{195,113}</string>
                <key>spriteSourceSize</key>
                <string>{195,117}</string>
                <key>textureRect</key>
                <string>{{1,1},{195,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_canglong_effect2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e133f5f5349ea4f9ae2b52b37c8af5a:a9d8615fb8f9ce6ac978119ed95fbd11:cfeb9a279cc660790f947314a9a9bb1d$</string>
            <key>textureFileName</key>
            <string>playerskill_canglong_effect2.png</string>
        </dict>
    </dict>
</plist>
