<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_fangyuxiajiang_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,209},{41,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{41,43}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{45,47}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{45,47}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,175},{49,51}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{49,51}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,122},{51,53}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{51,53}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,122},{55,57}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{55,57}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,138},{59,61}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{59,61}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{63,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{63,65}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,71}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{69,71}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{63,65}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{63,65}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,75},{59,61}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{59,61}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,63},{57,59}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{57,59}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{59,59}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,59}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{59,59}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{59,59}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,201},{51,53}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{51,53}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>buff_fangyuxiajiang_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,209},{41,43}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{41,43}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_fangyuxiajiang_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55e255b249202f5de83bd95d15634ab7:0692444b94a691f1a7a6b2e0a9007c47:1f71c7fa9384035e56603d26e9f705ca$</string>
            <key>textureFileName</key>
            <string>buff_fangyuxiajiang_01.png</string>
        </dict>
    </dict>
</plist>
