<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lvbu_atk_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{188,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{366,720},{188,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_atk_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{188,106}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{282,910},{188,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_atk_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-1}</string>
                <key>spriteSize</key>
                <string>{158,108}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{536,854},{158,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_atk_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{174,104}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{838,352},{174,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_atk_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-23}</string>
                <key>spriteSize</key>
                <string>{174,64}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{828,576},{174,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_atk_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-21}</string>
                <key>spriteSize</key>
                <string>{164,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,110}</string>
                <key>textureRect</key>
                <string>{{646,850},{164,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_hongying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,50}</string>
                <key>spriteSourceSize</key>
                <string>{42,50}</string>
                <key>textureRect</key>
                <string>{{865,867},{42,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_long-shenti_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{51,59}</string>
                <key>textureRect</key>
                <string>{{888,814},{51,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_long-shenti_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,49}</string>
                <key>spriteSourceSize</key>
                <string>{80,49}</string>
                <key>textureRect</key>
                <string>{{893,732},{80,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_long-tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,112}</string>
                <key>spriteSourceSize</key>
                <string>{86,112}</string>
                <key>textureRect</key>
                <string>{{194,910},{86,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_long-weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,46}</string>
                <key>spriteSourceSize</key>
                <string>{62,46}</string>
                <key>textureRect</key>
                <string>{{949,802},{62,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_long-youdatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{805,356},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_long-youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,15}</string>
                <key>spriteSourceSize</key>
                <string>{26,15}</string>
                <key>textureRect</key>
                <string>{{610,640},{26,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_long-zuodatui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{780,992},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_long-zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{865,919},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,80}</string>
                <key>spriteSourceSize</key>
                <string>{97,80}</string>
                <key>textureRect</key>
                <string>{{794,732},{97,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{316,464},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{780,858},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{188,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{610,450},{188,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{138,192}</string>
                <key>spriteSourceSize</key>
                <string>{160,200}</string>
                <key>textureRect</key>
                <string>{{460,660},{138,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{156,194}</string>
                <key>spriteSourceSize</key>
                <string>{160,200}</string>
                <key>textureRect</key>
                <string>{{452,464},{156,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,11}</string>
                <key>spriteSize</key>
                <string>{266,226}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{2,494},{266,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{312,244}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{2,248},{312,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{334,244}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{2,2},{334,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{310,238}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{338,2},{310,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{190,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{2,910},{190,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{250,228}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{650,2},{250,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{250,186}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{2,722},{250,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,1}</string>
                <key>spriteSize</key>
                <string>{224,180}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{270,494},{224,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,2}</string>
                <key>spriteSize</key>
                <string>{214,176}</string>
                <key>spriteSourceSize</key>
                <string>{350,250}</string>
                <key>textureRect</key>
                <string>{{316,248},{214,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{186,110}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{254,722},{186,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-25}</string>
                <key>spriteSize</key>
                <string>{168,62}</string>
                <key>spriteSourceSize</key>
                <string>{200,120}</string>
                <key>textureRect</key>
                <string>{{472,854},{168,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill2_black1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{156,80}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{698,850},{156,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill2_black3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{158,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{645,356},{158,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill2_black4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{156,90}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{702,642},{156,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill2_black6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{150,88}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{794,642},{150,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill2_red1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,11}</string>
                <key>spriteSize</key>
                <string>{188,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,126}</string>
                <key>textureRect</key>
                <string>{{600,660},{188,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill2_red2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{186,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,126}</string>
                <key>textureRect</key>
                <string>{{902,2},{186,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill2_red3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{186,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,126}</string>
                <key>textureRect</key>
                <string>{{650,232},{186,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill2_red4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{180,122}</string>
                <key>spriteSourceSize</key>
                <string>{200,126}</string>
                <key>textureRect</key>
                <string>{{704,450},{180,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_skill2_red5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{184,118}</string>
                <key>spriteSourceSize</key>
                <string>{200,126}</string>
                <key>textureRect</key>
                <string>{{838,232},{184,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_skill2_red6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{174,116}</string>
                <key>spriteSourceSize</key>
                <string>{200,126}</string>
                <key>textureRect</key>
                <string>{{828,458},{174,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,91}</string>
                <key>spriteSourceSize</key>
                <string>{72,91}</string>
                <key>textureRect</key>
                <string>{{946,642},{72,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,149}</string>
                <key>spriteSourceSize</key>
                <string>{206,149}</string>
                <key>textureRect</key>
                <string>{{494,242},{206,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_youhongying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,47}</string>
                <key>spriteSourceSize</key>
                <string>{79,47}</string>
                <key>textureRect</key>
                <string>{{702,800},{79,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_youjianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,95}</string>
                <key>spriteSourceSize</key>
                <string>{47,95}</string>
                <key>textureRect</key>
                <string>{{780,943},{47,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_zuohongying.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,42}</string>
                <key>spriteSourceSize</key>
                <string>{103,42}</string>
                <key>textureRect</key>
                <string>{{783,814},{103,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lvbu_zuojianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,78}</string>
                <key>spriteSourceSize</key>
                <string>{65,78}</string>
                <key>textureRect</key>
                <string>{{944,735},{65,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lvbu_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{902,190},{39,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lvbu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:835d380bac73a1674642fbadb25c3ff6:9f5860b85af05ccc9e09bd90b8cd0e18:4700e90fa1b6901cce2d88b5577ecc3e$</string>
            <key>textureFileName</key>
            <string>lvbu.png</string>
        </dict>
    </dict>
</plist>
