<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_zhaoyun_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,194},{72,56}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{72,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{74,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,60},{74,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,60},{74,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{74,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
            <key>buff_zhaoyun_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{74,56}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,56}}</string>
                <key>sourceSize</key>
                <string>{76,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_zhaoyun_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f25866f95a41f8b664e497a643998d50:8224b13d56a8a3afb1e8a2fc8171d220:5356ca5fc11cc17dc74979fca0af7095$</string>
            <key>textureFileName</key>
            <string>buff_zhaoyun_01.png</string>
        </dict>
    </dict>
</plist>
