<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>taishici_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,81}</string>
                <key>spriteSourceSize</key>
                <string>{50,81}</string>
                <key>textureRect</key>
                <string>{{102,81},{50,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taishici_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,86}</string>
                <key>spriteSourceSize</key>
                <string>{95,86}</string>
                <key>textureRect</key>
                <string>{{3,81},{95,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,67}</string>
                <key>spriteSourceSize</key>
                <string>{38,67}</string>
                <key>textureRect</key>
                <string>{{403,60},{38,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taishici_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,75}</string>
                <key>spriteSourceSize</key>
                <string>{105,75}</string>
                <key>textureRect</key>
                <string>{{197,3},{105,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,76}</string>
                <key>spriteSourceSize</key>
                <string>{93,76}</string>
                <key>textureRect</key>
                <string>{{306,3},{93,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{64,53}</string>
                <key>textureRect</key>
                <string>{{297,83},{64,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,48}</string>
                <key>spriteSourceSize</key>
                <string>{30,48}</string>
                <key>textureRect</key>
                <string>{{400,102},{30,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taishici_display_long_r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{187,126},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_long_r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,31}</string>
                <key>spriteSourceSize</key>
                <string>{29,31}</string>
                <key>textureRect</key>
                <string>{{365,83},{29,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taishici_display_long_r_leg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,27}</string>
                <key>spriteSourceSize</key>
                <string>{37,27}</string>
                <key>textureRect</key>
                <string>{{256,82},{37,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_long_r_leg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{27,36}</string>
                <key>textureRect</key>
                <string>{{256,113},{27,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taishici_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,53}</string>
                <key>spriteSourceSize</key>
                <string>{79,53}</string>
                <key>textureRect</key>
                <string>{{403,3},{79,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{187,82},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taishici_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{474,61},{35,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taishici_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{486,3},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>taishici_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,74}</string>
                <key>spriteSourceSize</key>
                <string>{190,74}</string>
                <key>textureRect</key>
                <string>{{3,3},{190,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>taishici_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d3d55bb9febd3f58b9cc9296c6a059b:01eed7e02cadd3fea148637da4628955:209b3a607892ed702ec8432494919422$</string>
            <key>textureFileName</key>
            <string>taishici_display.png</string>
        </dict>
    </dict>
</plist>
