<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_caocao_02t_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,340},{168,90}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,121},{168,90}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,170},{168,90}}</string>
                <key>offset</key>
                <string>{2,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,122},{168,90}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{174,104}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,108},{174,104}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{180,114}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,98},{180,114}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,114}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,98},{180,114}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,340},{168,136}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,81},{168,136}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,170},{168,138}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,81},{168,138}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,170},{166,142}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,77},{166,142}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{166,142}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,77},{166,142}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{162,140}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,79},{162,140}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
            <key>hit_caocao_02t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,338},{146,128}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,80},{146,128}}</string>
                <key>sourceSize</key>
                <string>{276,276}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_caocao_02t.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a00e365f08b6080d4b169d1951710b23:7ffb39c116cfc698f9813c30b5a571b1:7370107c8fcf420dc562733a1c733b1f$</string>
            <key>textureFileName</key>
            <string>hit_caocao_02t.png</string>
        </dict>
    </dict>
</plist>
