<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiaoqiao_display_limianshou .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,63}</string>
                <key>spriteSourceSize</key>
                <string>{77,63}</string>
                <key>textureRect</key>
                <string>{{3,150},{77,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,96}</string>
                <key>spriteSourceSize</key>
                <string>{50,96}</string>
                <key>textureRect</key>
                <string>{{281,94},{50,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_display_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,27}</string>
                <key>spriteSourceSize</key>
                <string>{36,27}</string>
                <key>textureRect</key>
                <string>{{245,122},{36,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_display_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,40}</string>
                <key>textureRect</key>
                <string>{{85,106},{51,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{3,217},{47,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_longshenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,58}</string>
                <key>spriteSourceSize</key>
                <string>{97,58}</string>
                <key>textureRect</key>
                <string>{{388,3},{97,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,87}</string>
                <key>spriteSourceSize</key>
                <string>{103,87}</string>
                <key>textureRect</key>
                <string>{{281,3},{103,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,47}</string>
                <key>spriteSourceSize</key>
                <string>{65,47}</string>
                <key>textureRect</key>
                <string>{{84,150},{65,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{489,3},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_display_shangbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,32}</string>
                <key>spriteSourceSize</key>
                <string>{22,32}</string>
                <key>textureRect</key>
                <string>{{245,96},{22,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_display_shanzi li.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,89}</string>
                <key>spriteSourceSize</key>
                <string>{135,89}</string>
                <key>textureRect</key>
                <string>{{148,3},{129,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_shanzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,99}</string>
                <key>spriteSourceSize</key>
                <string>{141,99}</string>
                <key>textureRect</key>
                <string>{{3,3},{141,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,85}</string>
                <key>spriteSourceSize</key>
                <string>{73,85}</string>
                <key>textureRect</key>
                <string>{{276,148},{73,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,93}</string>
                <key>spriteSourceSize</key>
                <string>{91,93}</string>
                <key>textureRect</key>
                <string>{{148,96},{91,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xiaoqiao_display_toufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{96,80}</string>
                <key>textureRect</key>
                <string>{{388,65},{96,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xiaoqiao_display_xiabi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,40}</string>
                <key>spriteSourceSize</key>
                <string>{78,40}</string>
                <key>textureRect</key>
                <string>{{3,106},{78,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xiaoqiao_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:15e7b6bca4ee2d6147ab4cc69aca4baa:9be562c316ef26a989532c6189e097ca:80436d33b3991cebc39f7e571c43b14f$</string>
            <key>textureFileName</key>
            <string>xiaoqiao_display.png</string>
        </dict>
    </dict>
</plist>
