<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>maliang_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,152},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,96}}</string>
                <key>sourceSize</key>
                <string>{103,98}</string>
            </dict>
            <key>maliang_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{82,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,120}}</string>
                <key>sourceSize</key>
                <string>{84,122}</string>
            </dict>
            <key>maliang_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,93},{57,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,68}}</string>
                <key>sourceSize</key>
                <string>{57,68}</string>
            </dict>
            <key>maliang_l_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,120},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,38}}</string>
                <key>sourceSize</key>
                <string>{31,40}</string>
            </dict>
            <key>maliang_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,177},{55,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{55,41}}</string>
                <key>sourceSize</key>
                <string>{57,43}</string>
            </dict>
            <key>maliang_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,97},{47,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{47,57}}</string>
                <key>sourceSize</key>
                <string>{49,59}</string>
            </dict>
            <key>maliang_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{96,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{96,87}}</string>
                <key>sourceSize</key>
                <string>{98,89}</string>
            </dict>
            <key>maliang_long_l_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,207},{57,53}}</string>
                <key>offset</key>
                <string>{20,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,34},{57,53}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_l_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,245},{55,43}}</string>
                <key>offset</key>
                <string>{23,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{55,43}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_l_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,100},{49,59}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,81},{49,59}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_l_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,177},{43,63}}</string>
                <key>offset</key>
                <string>{12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,81},{43,63}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_l_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,100},{49,37}}</string>
                <key>offset</key>
                <string>{6,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,48},{49,37}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,120},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{15,30}}</string>
                <key>sourceSize</key>
                <string>{17,32}</string>
            </dict>
            <key>maliang_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,120},{26,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,37}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>maliang_long_r_chibang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{93,61}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,30},{93,61}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_r_chibang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{75,89}}</string>
                <key>offset</key>
                <string>{-5,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{75,89}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_r_chibang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,112},{63,63}}</string>
                <key>offset</key>
                <string>{2,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,79},{63,63}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_r_chibang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{53,79}}</string>
                <key>offset</key>
                <string>{18,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,79},{53,79}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_r_chibang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,152},{63,53}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,35},{63,53}}</string>
                <key>sourceSize</key>
                <string>{123,169}</string>
            </dict>
            <key>maliang_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,255},{19,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,37}}</string>
                <key>sourceSize</key>
                <string>{21,39}</string>
            </dict>
            <key>maliang_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,355},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{33,46}}</string>
                <key>sourceSize</key>
                <string>{35,48}</string>
            </dict>
            <key>maliang_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,112},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,36}}</string>
                <key>sourceSize</key>
                <string>{46,38}</string>
            </dict>
            <key>maliang_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,57},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{53,74}}</string>
                <key>sourceSize</key>
                <string>{55,76}</string>
            </dict>
            <key>maliang_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,255},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>maliang_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{77,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{77,150}}</string>
                <key>sourceSize</key>
                <string>{79,152}</string>
            </dict>
            <key>skill_chengyu_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,151},{92,64}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,66},{92,64}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,151},{96,78}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,48},{96,78}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,255},{98,82}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,39},{98,82}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,390},{106,88}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,32},{106,88}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{114,94}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,22},{114,94}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,276},{112,100}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,1},{112,100}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,2},{116,96}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{116,96}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{116,76}}</string>
                <key>offset</key>
                <string>{-1,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,76}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
            <key>skill_chengyu_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,390},{108,44}}</string>
                <key>offset</key>
                <string>{-6,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,44}}</string>
                <key>sourceSize</key>
                <string>{120,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>maliang.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2026a499d41c50657e2898ab53a9f93f:b5886968c32084f42b88ea2439b0b956:fb0b7745b0202b908145b1301a3dba41$</string>
            <key>textureFileName</key>
            <string>maliang.png</string>
        </dict>
    </dict>
</plist>
