<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_benglong_effect3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{160,136}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{287,289},{160,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_benglong_effect3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{145,147},{160,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_benglong_effect3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{160,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{160,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_benglong_effect3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_benglong_effect3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{163,1},{160,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_benglong_effect3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,144}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{325,1},{160,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_benglong_effect3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{160,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{1,309},{160,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_benglong_effect3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{145,309},{160,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_benglong_effect3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{160,140}</string>
                <key>spriteSourceSize</key>
                <string>{160,144}</string>
                <key>textureRect</key>
                <string>{{287,147},{160,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_benglong_effect3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc78071e0f809f6609baf736c644cab4:67f1cbbf631b87a5b0222ecbb760528f:7676cf4f22dd35e1e88b15a041602aa9$</string>
            <key>textureFileName</key>
            <string>playerskill_benglong_effect3.png</string>
        </dict>
    </dict>
</plist>
