<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lejin_atk_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,485},{101,25}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,7},{101,25}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>lejin_atk_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,326},{155,39}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{155,39}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>lejin_atk_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,326},{157,39}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{157,39}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>lejin_atk_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,326},{153,39}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,2},{153,39}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>lejin_atk_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,138},{153,37}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{153,37}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>lejin_atk_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,326},{151,37}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{151,37}}</string>
                <key>sourceSize</key>
                <string>{165,45}</string>
            </dict>
            <key>lejin_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,106},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{82,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>lejin_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,389},{115,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,71}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>lejin_l_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,377},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
            <key>lejin_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,2},{102,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{102,74}}</string>
                <key>sourceSize</key>
                <string>{104,76}</string>
            </dict>
            <key>lejin_long_bozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,190},{106,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,70}}</string>
                <key>sourceSize</key>
                <string>{108,72}</string>
            </dict>
            <key>lejin_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,190},{139,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{139,105}}</string>
                <key>sourceSize</key>
                <string>{141,107}</string>
            </dict>
            <key>lejin_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,190},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,21}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>lejin_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,447},{37,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,21}}</string>
                <key>sourceSize</key>
                <string>{39,23}</string>
            </dict>
            <key>lejin_long_r_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,481},{35,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,24}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>lejin_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,293},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,31}}</string>
                <key>sourceSize</key>
                <string>{40,33}</string>
            </dict>
            <key>lejin_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,389},{56,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,67}}</string>
                <key>sourceSize</key>
                <string>{58,69}</string>
            </dict>
            <key>lejin_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,321},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>lejin_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,458},{45,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,39}}</string>
                <key>sourceSize</key>
                <string>{45,39}</string>
            </dict>
            <key>lejin_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,458},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>lejin_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{229,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{229,134}}</string>
                <key>sourceSize</key>
                <string>{231,136}</string>
            </dict>
            <key>skill_lejin_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,321},{138,38}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,38}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>skill_lejin_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,479},{126,30}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{126,30}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>skill_lejin_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,297},{122,22}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{122,22}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>skill_lejin_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,389},{118,12}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{118,12}}</string>
                <key>sourceSize</key>
                <string>{148,38}</string>
            </dict>
            <key>skill_lejin_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{184,92}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,92}}</string>
                <key>sourceSize</key>
                <string>{240,92}</string>
            </dict>
            <key>skill_lejin_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{200,92}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,92}}</string>
                <key>sourceSize</key>
                <string>{240,92}</string>
            </dict>
            <key>skill_lejin_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,96},{192,92}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{192,92}}</string>
                <key>sourceSize</key>
                <string>{240,92}</string>
            </dict>
            <key>skill_lejin_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{190,92}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{190,92}}</string>
                <key>sourceSize</key>
                <string>{240,92}</string>
            </dict>
            <key>skill_lejin_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{182,92}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,0},{182,92}}</string>
                <key>sourceSize</key>
                <string>{240,92}</string>
            </dict>
            <key>skill_lejin_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,297},{138,90}}</string>
                <key>offset</key>
                <string>{44,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,2},{138,90}}</string>
                <key>sourceSize</key>
                <string>{240,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lejin.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1e76dce91ed0d4d3ccf01c6b4f5814c:c31894a9b944496f6874101a51cc33ce:53852f810f4dc4933f00f819076c2726$</string>
            <key>textureFileName</key>
            <string>lejin.png</string>
        </dict>
    </dict>
</plist>
