<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_yuanshao_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,641},{148,146}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,146}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_yuanshao_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{138,140}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{138,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_yuanshao_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,642},{104,132}}</string>
                <key>offset</key>
                <string>{21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,16},{104,132}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_yuanshao_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,426},{106,126}}</string>
                <key>offset</key>
                <string>{18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,22},{106,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>yuanshao_atk1_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,789},{218,64}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{218,64}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,789},{218,64}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{218,64}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,789},{218,64}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{218,64}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,554},{218,66}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,426},{218,66}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{218,66}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,789},{218,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{218,68}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,554},{218,68}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{218,68}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,789},{218,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{218,70}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,789},{218,70}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{218,70}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,789},{218,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{218,72}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,789},{218,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{218,72}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{218,72}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{218,72}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk1_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,789},{218,70}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{218,70}}</string>
                <key>sourceSize</key>
                <string>{218,90}</string>
            </dict>
            <key>yuanshao_atk_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,196}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{308,196}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{306,204}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{306,204}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{292,200}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{292,200}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{282,202}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{282,202}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{236,206}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,12},{236,206}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,206},{252,214}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,10},{252,214}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,208},{242,216}}</string>
                <key>offset</key>
                <string>{45,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,8},{242,216}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,422},{236,218}}</string>
                <key>offset</key>
                <string>{48,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,6},{236,218}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,305},{148,198}}</string>
                <key>offset</key>
                <string>{53,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,7},{148,198}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,505},{134,166}}</string>
                <key>offset</key>
                <string>{51,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,37},{134,166}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_atk_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{118,176}}</string>
                <key>offset</key>
                <string>{50,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,26},{118,176}}</string>
                <key>sourceSize</key>
                <string>{338,230}</string>
            </dict>
            <key>yuanshao_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,309},{56,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,79}}</string>
                <key>sourceSize</key>
                <string>{58,81}</string>
            </dict>
            <key>yuanshao_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,402},{76,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,92}}</string>
                <key>sourceSize</key>
                <string>{78,94}</string>
            </dict>
            <key>yuanshao_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,206},{42,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{42,24}}</string>
                <key>sourceSize</key>
                <string>{44,26}</string>
            </dict>
            <key>yuanshao_l_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,208},{39,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{39,63}}</string>
                <key>sourceSize</key>
                <string>{41,65}</string>
            </dict>
            <key>yuanshao_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,642},{105,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{105,82}}</string>
                <key>sourceSize</key>
                <string>{107,84}</string>
            </dict>
            <key>yuanshao_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,180},{116,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{116,123}}</string>
                <key>sourceSize</key>
                <string>{118,125}</string>
            </dict>
            <key>yuanshao_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,491},{39,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>sourceSize</key>
                <string>{39,32}</string>
            </dict>
            <key>yuanshao_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,603},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>yuanshao_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,532},{38,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,31}}</string>
                <key>sourceSize</key>
                <string>{38,31}</string>
            </dict>
            <key>yuanshao_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,572},{30,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,29}}</string>
                <key>sourceSize</key>
                <string>{30,29}</string>
            </dict>
            <key>yuanshao_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,444},{50,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,45}}</string>
                <key>sourceSize</key>
                <string>{52,47}</string>
            </dict>
            <key>yuanshao_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,642},{119,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{119,69}}</string>
                <key>sourceSize</key>
                <string>{121,71}</string>
            </dict>
            <key>yuanshao_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,390},{56,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,52}}</string>
                <key>sourceSize</key>
                <string>{58,54}</string>
            </dict>
            <key>yuanshao_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,249},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,58}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>yuanshao_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,200},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>yuanshao_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,642},{121,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{121,131}}</string>
                <key>sourceSize</key>
                <string>{123,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yuanshao.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74b55e0ce8845f21be17b35a85272351:29d644f2690c7b47f0b25f0a2884e11b:5f48c8ec70c05c2055728d4e0ee04145$</string>
            <key>textureFileName</key>
            <string>yuanshao.png</string>
        </dict>
    </dict>
</plist>
