<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_huolong_effect3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{121,88}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{384,255},{121,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{127,86}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{136,99},{127,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,4}</string>
                <key>spriteSize</key>
                <string>{123,90}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{136,187},{123,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{121,92}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{261,195},{121,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{129,96}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{410,1},{129,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_huolong_effect3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,2}</string>
                <key>spriteSize</key>
                <string>{133,96}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{142,1},{133,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{139,94}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{139,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{133,96}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{1,97},{133,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,5}</string>
                <key>spriteSize</key>
                <string>{131,94}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{277,1},{131,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,6}</string>
                <key>spriteSize</key>
                <string>{129,96}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{277,97},{129,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,5}</string>
                <key>spriteSize</key>
                <string>{121,96}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{408,132},{121,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_huolong_effect3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{117,86}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{247,289},{117,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{119,88}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{126,279},{119,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{123,88}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{1,195},{123,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_huolong_effect3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-1}</string>
                <key>spriteSize</key>
                <string>{119,88}</string>
                <key>spriteSourceSize</key>
                <string>{193,148}</string>
                <key>textureRect</key>
                <string>{{1,285},{119,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_huolong_effect3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee35e6cc7bc69880a23713fd102b1e9b:0cd5992c20f86605981e79b3352c5554:cb9eef1abd61b288a434d8eac4b22dd0$</string>
            <key>textureFileName</key>
            <string>playerskill_huolong_effect3.png</string>
        </dict>
    </dict>
</plist>
