<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>binglong_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,72}</string>
                <key>spriteSourceSize</key>
                <string>{82,72}</string>
                <key>textureRect</key>
                <string>{{187,528},{82,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_effect0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{184,240}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_effect1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-5}</string>
                <key>spriteSize</key>
                <string>{184,240}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,243},{184,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_effect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{184,236}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{639,1},{184,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_effect3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-6}</string>
                <key>spriteSize</key>
                <string>{184,238}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,485},{184,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_effect4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{176,238}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{181,725},{176,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_effect5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{174,236}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{399,173},{174,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_effect6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{170,238}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{399,1},{170,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_effect7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{170,238}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{187,1},{170,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_effect8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-6}</string>
                <key>spriteSize</key>
                <string>{178,238}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{1,725},{178,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_effect9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-10}</string>
                <key>spriteSize</key>
                <string>{184,230}</string>
                <key>spriteSourceSize</key>
                <string>{200,250}</string>
                <key>textureRect</key>
                <string>{{637,187},{184,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{257,965},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{261,528},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_shenti_ci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,154}</string>
                <key>spriteSourceSize</key>
                <string>{108,154}</string>
                <key>textureRect</key>
                <string>{{187,241},{108,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_shetou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{359,221},{27,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_shetou_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,31}</string>
                <key>spriteSourceSize</key>
                <string>{27,31}</string>
                <key>textureRect</key>
                <string>{{359,250},{27,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{96,90}</string>
                <key>textureRect</key>
                <string>{{187,351},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_tou_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{869,287},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_tou_ci2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{399,349},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,45}</string>
                <key>spriteSourceSize</key>
                <string>{62,45}</string>
                <key>textureRect</key>
                <string>{{343,279},{62,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_weiba_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,53}</string>
                <key>spriteSourceSize</key>
                <string>{78,53}</string>
                <key>textureRect</key>
                <string>{{274,965},{78,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_weiba_ci2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,56}</string>
                <key>spriteSourceSize</key>
                <string>{78,56}</string>
                <key>textureRect</key>
                <string>{{41,965},{78,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,38}</string>
                <key>spriteSourceSize</key>
                <string>{57,38}</string>
                <key>textureRect</key>
                <string>{{1,965},{57,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_xiaba_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,51}</string>
                <key>spriteSourceSize</key>
                <string>{55,51}</string>
                <key>textureRect</key>
                <string>{{204,965},{55,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_youbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,22}</string>
                <key>spriteSourceSize</key>
                <string>{32,22}</string>
                <key>textureRect</key>
                <string>{{359,197},{32,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youchibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,25}</string>
                <key>spriteSize</key>
                <string>{111,77}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{877,1},{111,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youchibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,39}</string>
                <key>spriteSize</key>
                <string>{73,105}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{877,80},{73,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_youchibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-41}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{187,443},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youchibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-44}</string>
                <key>spriteSize</key>
                <string>{61,95}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{869,224},{61,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_youchibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,26}</string>
                <key>spriteSize</key>
                <string>{85,71}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{285,385},{85,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,33}</string>
                <key>spriteSourceSize</key>
                <string>{38,33}</string>
                <key>textureRect</key>
                <string>{{359,37},{38,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youjiao_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,29}</string>
                <key>spriteSourceSize</key>
                <string>{37,29}</string>
                <key>textureRect</key>
                <string>{{359,72},{37,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,34}</string>
                <key>spriteSourceSize</key>
                <string>{38,34}</string>
                <key>textureRect</key>
                <string>{{359,1},{38,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youtui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,41}</string>
                <key>spriteSourceSize</key>
                <string>{39,41}</string>
                <key>textureRect</key>
                <string>{{984,125},{39,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_youtui_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{43,39}</string>
                <key>spriteSourceSize</key>
                <string>{43,41}</string>
                <key>textureRect</key>
                <string>{{984,80},{43,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_zuochibang1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,50}</string>
                <key>spriteSize</key>
                <string>{97,67}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{877,155},{97,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_zuochibang2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,42}</string>
                <key>spriteSize</key>
                <string>{83,79}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{495,349},{83,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_zuochibang3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{79,75}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{266,611},{79,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_zuochibang4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{77,81}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{187,612},{77,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_zuochibang5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,47}</string>
                <key>spriteSize</key>
                <string>{81,55}</string>
                <key>spriteSourceSize</key>
                <string>{133,183}</string>
                <key>textureRect</key>
                <string>{{121,965},{81,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,22}</string>
                <key>spriteSourceSize</key>
                <string>{36,22}</string>
                <key>textureRect</key>
                <string>{{359,140},{36,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_zuojiao_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,43}</string>
                <key>spriteSourceSize</key>
                <string>{40,43}</string>
                <key>textureRect</key>
                <string>{{343,343},{40,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{359,164},{31,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>binglong_zuotui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,35}</string>
                <key>spriteSourceSize</key>
                <string>{36,35}</string>
                <key>textureRect</key>
                <string>{{359,103},{36,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>binglong_zuotui_ci1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,50}</string>
                <key>spriteSourceSize</key>
                <string>{43,50}</string>
                <key>textureRect</key>
                <string>{{354,965},{43,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_binglong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7e745c6398c19f66b19a80763c11c6a:1b365450b8b265486253456f82dc84dd:d7b23fe467ebe05ba00aac232c45c6f5$</string>
            <key>textureFileName</key>
            <string>playerskill_binglong.png</string>
        </dict>
    </dict>
</plist>
