<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_zulong_effect1t_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-7}</string>
                <key>spriteSize</key>
                <string>{164,204}</string>
                <key>spriteSourceSize</key>
                <string>{280,224}</string>
                <key>textureRect</key>
                <string>{{1,551},{164,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect1t_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,3}</string>
                <key>spriteSize</key>
                <string>{166,216}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{805,1},{166,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_zulong_effect1t_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{166,216}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{805,169},{166,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_zulong_effect1t_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{212,214}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{805,337},{212,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_zulong_effect1t_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-12}</string>
                <key>spriteSize</key>
                <string>{246,188}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{1,219},{246,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect1t_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{266,190}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{269,217},{266,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect1t_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{266,204}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{537,215},{266,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect1t_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,212}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{537,1},{266,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect1t_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{266,214}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{269,1},{266,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect1t_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{266,216}</string>
                <key>spriteSourceSize</key>
                <string>{266,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{266,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_zulong_effect1t.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c531fce071a88f46258dfacc598ade73:6d3b00b807cfba0571b213e804bc4edd:517ee761a8bc983fe3674140fbf03ba9$</string>
            <key>textureFileName</key>
            <string>playerskill_zulong_effect1t.png</string>
        </dict>
    </dict>
</plist>
