<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_gsz_00_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,676},{164,156}}</string>
                <key>offset</key>
                <string>{16,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,34},{164,156}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{130,184}}</string>
                <key>offset</key>
                <string>{36,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,43},{130,184}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,625},{170,128}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,100},{170,128}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,564},{174,104}}</string>
                <key>offset</key>
                <string>{14,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,124},{174,104}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,489},{174,82}}</string>
                <key>offset</key>
                <string>{10,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,145},{174,82}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,280},{170,62}}</string>
                <key>offset</key>
                <string>{5,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,165},{170,62}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_00_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,670},{168,54}}</string>
                <key>offset</key>
                <string>{6,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,168},{168,54}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>effect_gsz_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,622},{60,102}}</string>
                <key>offset</key>
                <string>{-97,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,49},{60,102}}</string>
                <key>sourceSize</key>
                <string>{254,220}</string>
            </dict>
            <key>effect_gsz_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,726},{152,136}}</string>
                <key>offset</key>
                <string>{-51,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{152,136}}</string>
                <key>sourceSize</key>
                <string>{254,220}</string>
            </dict>
            <key>effect_gsz_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,478},{224,196}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{224,196}}</string>
                <key>sourceSize</key>
                <string>{254,220}</string>
            </dict>
            <key>effect_gsz_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{248,220}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{248,220}}</string>
                <key>sourceSize</key>
                <string>{254,220}</string>
            </dict>
            <key>effect_gsz_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,356},{242,206}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{242,206}}</string>
                <key>sourceSize</key>
                <string>{254,220}</string>
            </dict>
            <key>effect_gsz_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,612},{86,108}}</string>
                <key>offset</key>
                <string>{64,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,112},{86,108}}</string>
                <key>sourceSize</key>
                <string>{254,220}</string>
            </dict>
            <key>effect_gsz_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,356},{158,111}}</string>
                <key>offset</key>
                <string>{-96,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,84},{158,111}}</string>
                <key>sourceSize</key>
                <string>{350,221}</string>
            </dict>
            <key>effect_gsz_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,211},{262,135}}</string>
                <key>offset</key>
                <string>{-44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{262,135}}</string>
                <key>sourceSize</key>
                <string>{350,221}</string>
            </dict>
            <key>effect_gsz_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,195},{320,159}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,56},{320,159}}</string>
                <key>sourceSize</key>
                <string>{350,221}</string>
            </dict>
            <key>effect_gsz_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,193}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{338,193}}</string>
                <key>sourceSize</key>
                <string>{350,221}</string>
            </dict>
            <key>effect_gsz_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{336,207}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{336,207}}</string>
                <key>sourceSize</key>
                <string>{350,221}</string>
            </dict>
            <key>effect_gsz_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{334,201}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{334,201}}</string>
                <key>sourceSize</key>
                <string>{350,221}</string>
            </dict>
            <key>effect_gsz_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{326,191}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{326,191}}</string>
                <key>sourceSize</key>
                <string>{350,221}</string>
            </dict>
            <key>gongsunzan_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,505},{88,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{88,105}}</string>
                <key>sourceSize</key>
                <string>{90,107}</string>
            </dict>
            <key>gongsunzan_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,400},{83,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,87}}</string>
                <key>sourceSize</key>
                <string>{85,89}</string>
            </dict>
            <key>gongsunzan_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,452},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,62}}</string>
                <key>sourceSize</key>
                <string>{53,64}</string>
            </dict>
            <key>gongsunzan_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,211},{71,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,67}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
            <key>gongsunzan_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,516},{107,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{107,109}}</string>
                <key>sourceSize</key>
                <string>{109,111}</string>
            </dict>
            <key>gongsunzan_long_l_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,221},{26,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,15}}</string>
                <key>sourceSize</key>
                <string>{28,17}</string>
            </dict>
            <key>gongsunzan_long_l_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,478},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,25}}</string>
                <key>sourceSize</key>
                <string>{28,27}</string>
            </dict>
            <key>gongsunzan_long_r_foot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,195},{24,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{24,18}}</string>
                <key>sourceSize</key>
                <string>{26,20}</string>
            </dict>
            <key>gongsunzan_long_r_leg.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,564},{23,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,32}}</string>
                <key>sourceSize</key>
                <string>{25,34}</string>
            </dict>
            <key>gongsunzan_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,564},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{51,28}}</string>
                <key>sourceSize</key>
                <string>{53,30}</string>
            </dict>
            <key>gongsunzan_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,665},{59,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{59,58}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>gongsunzan_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,665},{23,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{23,39}}</string>
                <key>sourceSize</key>
                <string>{25,41}</string>
            </dict>
            <key>gongsunzan_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,2},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>gongsunzan_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,348},{251,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{251,128}}</string>
                <key>sourceSize</key>
                <string>{253,130}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongsunzan.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:905a23febc7270a21c0bc76c1583aa2a:4acaeafd2a6839a68077b6a98fe24396:263191c8df453b19af2c7d4987db488d$</string>
            <key>textureFileName</key>
            <string>gongsunzan.png</string>
        </dict>
    </dict>
</plist>
