<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huolong_effect0.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,263},{36,43}}</string>
                <key>offset</key>
                <string>{-112,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,84},{36,43}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,301},{124,73}}</string>
                <key>offset</key>
                <string>{-67,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,70},{124,73}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect10.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,139},{264,127}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{264,127}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect11.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,280},{262,131}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,22},{262,131}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{266,135}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{266,135}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,135}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{266,135}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{264,135}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,14},{264,135}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{260,139}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{260,139}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect16.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,268},{262,141}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{262,141}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect17.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,135},{264,143}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,9},{264,143}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{250,141}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,12},{250,141}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect19.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,275},{256,143}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,11},{256,143}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,188},{152,85}}</string>
                <key>offset</key>
                <string>{-53,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,63},{152,85}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect20.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,280},{252,117}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,38},{252,117}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,790},{254,125}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,31},{254,125}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect22.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,411},{262,129}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{262,129}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect23.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{266,131}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,25},{266,131}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect24.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,917},{248,103}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,34},{248,103}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect25.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,542},{240,107}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,30},{240,107}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect26.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,542},{238,107}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,34},{238,107}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect27.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,799},{138,97}}</string>
                <key>offset</key>
                <string>{32,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,46},{138,97}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect28.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,917},{118,97}}</string>
                <key>offset</key>
                <string>{43,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,47},{118,97}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect29.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,899},{110,97}}</string>
                <key>offset</key>
                <string>{51,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,43},{110,97}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect3.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,97},{180,89}}</string>
                <key>offset</key>
                <string>{-40,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,61},{180,89}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect30.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,939},{80,81}}</string>
                <key>offset</key>
                <string>{67,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,51},{80,81}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect31.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,188},{56,73}}</string>
                <key>offset</key>
                <string>{71,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,51},{56,73}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect4.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,2},{202,93}}</string>
                <key>offset</key>
                <string>{-28,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,58},{202,93}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,799},{222,101}}</string>
                <key>offset</key>
                <string>{-19,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,51},{222,101}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect6.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,542},{236,107}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,45},{236,107}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,782},{248,115}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,37},{248,115}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect8.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,534},{254,119}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,33},{254,119}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
            <key>huolong_effect9.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,413},{258,125}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,28},{258,125}}</string>
                <key>sourceSize</key>
                <string>{300,163}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>playerskill_huolong_effect.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a741a5ba4cf75554be82b7edd56ab7b$</string>
            <key>textureFileName</key>
            <string>playerskill_huolong_effect.png</string>
        </dict>
    </dict>
</plist>
