<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xusheng_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,84}</string>
                <key>spriteSourceSize</key>
                <string>{102,84}</string>
                <key>textureRect</key>
                <string>{{233,3},{102,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,83}</string>
                <key>spriteSourceSize</key>
                <string>{79,83}</string>
                <key>textureRect</key>
                <string>{{339,3},{79,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xusheng_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,29}</string>
                <key>spriteSourceSize</key>
                <string>{33,29}</string>
                <key>textureRect</key>
                <string>{{287,132},{33,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,50}</string>
                <key>spriteSourceSize</key>
                <string>{47,50}</string>
                <key>textureRect</key>
                <string>{{233,91},{47,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xusheng_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{339,86},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{426,111},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{126,3},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{390,148},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{324,148},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{358,148},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{287,91},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{426,71},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xusheng_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,72}</string>
                <key>spriteSourceSize</key>
                <string>{64,72}</string>
                <key>textureRect</key>
                <string>{{426,3},{64,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xusheng_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{407,86},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xusheng_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,104}</string>
                <key>spriteSourceSize</key>
                <string>{119,104}</string>
                <key>textureRect</key>
                <string>{{3,3},{119,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>xusheng_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff3c53dc8639f16d1f9f80e9f210db93:925a3453da51f756cd7711fcdef0cca7:8ecb75f330f770af457d5913339a979a$</string>
            <key>textureFileName</key>
            <string>xusheng_display.png</string>
        </dict>
    </dict>
</plist>
