<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_1_cdan-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,55}</string>
                <key>spriteSourceSize</key>
                <string>{72,55}</string>
                <key>textureRect</key>
                <string>{{192,30},{72,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_1_cshenti-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,69}</string>
                <key>spriteSourceSize</key>
                <string>{84,69}</string>
                <key>textureRect</key>
                <string>{{106,1},{84,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_1_cshou-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,27}</string>
                <key>spriteSourceSize</key>
                <string>{60,27}</string>
                <key>textureRect</key>
                <string>{{192,1},{60,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_1_ctou_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,71}</string>
                <key>spriteSourceSize</key>
                <string>{103,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{103,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_1_dan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,49}</string>
                <key>spriteSourceSize</key>
                <string>{43,49}</string>
                <key>textureRect</key>
                <string>{{106,72},{43,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91429c5e898070a93ad72819ab7f2ae8:144d77e6dc0630be420c0fdf3ec32276:d8ccba46f55255cce994f4331edd4761$</string>
            <key>textureFileName</key>
            <string>story_1.png</string>
        </dict>
    </dict>
</plist>
