<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_animal_1-idle_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,213},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,161},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{52,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{52,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{52,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,109},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,101},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,101},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,140},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,88},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,68},{50,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{50,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{52,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{52,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-idle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{52,31}}</string>
                <key>sourceSize</key>
                <string>{58,33}</string>
            </dict>
            <key>battle_animal_1-walk_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,68},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,56},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,161},{49,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,161},{49,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,35},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,35},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,35},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,212},{49,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,161},{49,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{49,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,215},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,162},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,109},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,56},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
            <key>battle_animal_1-walk_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{51,31}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{51,31}}</string>
                <key>sourceSize</key>
                <string>{55,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle_animal_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22f38efc508de8d4d9b097e9f8be220e:fe78106b05d11f300fa1eefacb5c6d0d:c733c572c46294cbd0e7615f74c4ba24$</string>
            <key>textureFileName</key>
            <string>battle_animal_1.png</string>
        </dict>
    </dict>
</plist>
