<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huatuo_display_beibao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,96}</string>
                <key>spriteSourceSize</key>
                <string>{99,96}</string>
                <key>textureRect</key>
                <string>{{63,276},{99,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,96}</string>
                <key>textureRect</key>
                <string>{{3,381},{100,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,109}</string>
                <key>spriteSourceSize</key>
                <string>{83,109}</string>
                <key>textureRect</key>
                <string>{{3,163},{83,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huatuo_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,36}</string>
                <key>spriteSourceSize</key>
                <string>{24,36}</string>
                <key>textureRect</key>
                <string>{{3,485},{24,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_l_zrm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,39}</string>
                <key>spriteSourceSize</key>
                <string>{67,39}</string>
                <key>textureRect</key>
                <string>{{163,327},{67,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huatuo_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,56}</string>
                <key>spriteSourceSize</key>
                <string>{101,56}</string>
                <key>textureRect</key>
                <string>{{3,276},{101,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_long_guike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,69}</string>
                <key>spriteSourceSize</key>
                <string>{88,69}</string>
                <key>textureRect</key>
                <string>{{103,379},{88,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,79}</string>
                <key>spriteSourceSize</key>
                <string>{80,79}</string>
                <key>textureRect</key>
                <string>{{90,163},{80,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{90,247},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huatuo_display_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{121,247},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huatuo_display_long_r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{32,30}</string>
                <key>textureRect</key>
                <string>{{176,370},{32,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_long_r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{25,21}</string>
                <key>textureRect</key>
                <string>{{67,485},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huatuo_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,20}</string>
                <key>spriteSourceSize</key>
                <string>{24,20}</string>
                <key>textureRect</key>
                <string>{{43,485},{24,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,33}</string>
                <key>spriteSourceSize</key>
                <string>{26,33}</string>
                <key>textureRect</key>
                <string>{{154,471},{26,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huatuo_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,39}</string>
                <key>spriteSourceSize</key>
                <string>{76,39}</string>
                <key>textureRect</key>
                <string>{{163,247},{76,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huatuo_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{96,485},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huatuo_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,156}</string>
                <key>spriteSourceSize</key>
                <string>{102,156}</string>
                <key>textureRect</key>
                <string>{{3,3},{102,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huatuo_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25dec28061f9fd3a720e5064145a2dd1:874695bceff551fbe9a9d90559a7db0d:030c4c8e6bee71b1c2eb58ebedf01733$</string>
            <key>textureFileName</key>
            <string>huatuo_display.png</string>
        </dict>
    </dict>
</plist>
