<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_lanlong_effect3_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1,231},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1,461},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{1,691},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{226,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{691,1},{226,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_lanlong_effect3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{231,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{228,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{461,1},{228,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{691,229},{226,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_lanlong_effect3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{226,228}</string>
                <key>spriteSourceSize</key>
                <string>{230,230}</string>
                <key>textureRect</key>
                <string>{{231,231},{226,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_lanlong_effect3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39907eb9ef6c7dedc79f213d2524fa4b:d4fae247091a0a872ca64f6329206123:e762c370510220da3537779dd2e9004f$</string>
            <key>textureFileName</key>
            <string>playerskill_lanlong_effect3.png</string>
        </dict>
    </dict>
</plist>
