<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaxiong_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,83}</string>
                <key>spriteSourceSize</key>
                <string>{61,83}</string>
                <key>textureRect</key>
                <string>{{390,3},{61,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,101}</string>
                <key>spriteSourceSize</key>
                <string>{106,101}</string>
                <key>textureRect</key>
                <string>{{280,3},{106,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaxiong_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,50}</string>
                <key>spriteSourceSize</key>
                <string>{28,50}</string>
                <key>textureRect</key>
                <string>{{272,146},{28,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,74}</string>
                <key>spriteSourceSize</key>
                <string>{112,74}</string>
                <key>textureRect</key>
                <string>{{164,3},{112,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaxiong_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,93}</string>
                <key>spriteSourceSize</key>
                <string>{104,93}</string>
                <key>textureRect</key>
                <string>{{164,81},{104,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaxiong_display_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{381,117},{28,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,37}</string>
                <key>spriteSourceSize</key>
                <string>{22,37}</string>
                <key>textureRect</key>
                <string>{{429,122},{22,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_long_r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,48}</string>
                <key>spriteSourceSize</key>
                <string>{32,48}</string>
                <key>textureRect</key>
                <string>{{477,3},{32,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaxiong_display_long_r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,51}</string>
                <key>spriteSourceSize</key>
                <string>{34,51}</string>
                <key>textureRect</key>
                <string>{{272,108},{34,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,31}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{477,55},{44,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,59}</string>
                <key>spriteSourceSize</key>
                <string>{45,59}</string>
                <key>textureRect</key>
                <string>{{390,68},{45,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,50}</string>
                <key>spriteSourceSize</key>
                <string>{44,50}</string>
                <key>textureRect</key>
                <string>{{327,108},{44,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>huaxiong_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{453,103},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huaxiong_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,96}</string>
                <key>spriteSourceSize</key>
                <string>{157,96}</string>
                <key>textureRect</key>
                <string>{{3,3},{157,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>huaxiong_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7150ea32d746d56790a1e914ff90c35e:d750b227b21ea70d2067d1a1d090efc6:1353cbd11ebad9367cd097641ab47aab$</string>
            <key>textureFileName</key>
            <string>huaxiong_display.png</string>
        </dict>
    </dict>
</plist>
