<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>battle_kill_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{80,84}</string>
                <key>spriteSourceSize</key>
                <string>{80,102}</string>
                <key>textureRect</key>
                <string>{{135,1},{80,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>battle_kill_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>battle_kill_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,8}</string>
                <key>spriteSize</key>
                <string>{122,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,120}</string>
                <key>textureRect</key>
                <string>{{1,93},{122,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_kill.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02921a1ebcad83f0e4a0f7ea4052c026:000d5cf2f900d1672b5018478f0bb887:b847b4677f22c7fb9f07dfa207ec9790$</string>
            <key>textureFileName</key>
            <string>battle_kill.png</string>
        </dict>
    </dict>
</plist>
