<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menghuo_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,93}</string>
                <key>spriteSourceSize</key>
                <string>{88,93}</string>
                <key>textureRect</key>
                <string>{{405,58},{88,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menghuo_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,102}</string>
                <key>spriteSourceSize</key>
                <string>{76,102}</string>
                <key>textureRect</key>
                <string>{{299,3},{76,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menghuo_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,77}</string>
                <key>spriteSourceSize</key>
                <string>{53,77}</string>
                <key>textureRect</key>
                <string>{{299,83},{53,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menghuo_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{293,140},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{404,150},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,85}</string>
                <key>spriteSourceSize</key>
                <string>{103,85}</string>
                <key>textureRect</key>
                <string>{{192,3},{103,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,23}</string>
                <key>spriteSourceSize</key>
                <string>{28,23}</string>
                <key>textureRect</key>
                <string>{{472,150},{28,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{261,92},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{261,126},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,37}</string>
                <key>spriteSourceSize</key>
                <string>{39,37}</string>
                <key>textureRect</key>
                <string>{{361,141},{39,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,36}</string>
                <key>spriteSourceSize</key>
                <string>{65,36}</string>
                <key>textureRect</key>
                <string>{{192,92},{65,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menghuo_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,101}</string>
                <key>spriteSourceSize</key>
                <string>{51,101}</string>
                <key>textureRect</key>
                <string>{{405,3},{51,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menghuo_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{380,83},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>menghuo_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,97}</string>
                <key>spriteSourceSize</key>
                <string>{185,97}</string>
                <key>textureRect</key>
                <string>{{3,3},{185,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>menghuo_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d5e685ab2cc43153b99db9cd109b6df:3e11882ebd24993cf57d4f605668b592:1f6bb4d79fd194835f6b288b10c4f2f3$</string>
            <key>textureFileName</key>
            <string>menghuo_display.png</string>
        </dict>
    </dict>
</plist>
