<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>canglong_dan6_she.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,69}</string>
                <key>spriteSourceSize</key>
                <string>{112,69}</string>
                <key>textureRect</key>
                <string>{{802,298},{112,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{773,227},{41,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_shenti_1_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,27}</string>
                <key>spriteSourceSize</key>
                <string>{41,27}</string>
                <key>textureRect</key>
                <string>{{773,270},{41,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_shenti_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,73}</string>
                <key>spriteSourceSize</key>
                <string>{43,73}</string>
                <key>textureRect</key>
                <string>{{389,241},{43,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_shenti_2_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,72}</string>
                <key>spriteSourceSize</key>
                <string>{43,72}</string>
                <key>textureRect</key>
                <string>{{464,241},{43,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,73}</string>
                <key>spriteSourceSize</key>
                <string>{78,73}</string>
                <key>textureRect</key>
                <string>{{407,166},{78,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_3_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,70}</string>
                <key>spriteSourceSize</key>
                <string>{78,70}</string>
                <key>textureRect</key>
                <string>{{309,223},{78,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,95}</string>
                <key>spriteSourceSize</key>
                <string>{130,95}</string>
                <key>textureRect</key>
                <string>{{509,148},{130,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_4_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,93}</string>
                <key>spriteSourceSize</key>
                <string>{130,93}</string>
                <key>textureRect</key>
                <string>{{802,203},{130,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_4_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,92}</string>
                <key>spriteSourceSize</key>
                <string>{130,92}</string>
                <key>textureRect</key>
                <string>{{641,227},{130,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,144}</string>
                <key>spriteSourceSize</key>
                <string>{152,144}</string>
                <key>textureRect</key>
                <string>{{663,1},{152,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_5_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,145}</string>
                <key>spriteSourceSize</key>
                <string>{152,145}</string>
                <key>textureRect</key>
                <string>{{509,1},{152,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_shenti_5_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,198}</string>
                <key>spriteSourceSize</key>
                <string>{163,198}</string>
                <key>textureRect</key>
                <string>{{309,1},{163,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_shetou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,55}</string>
                <key>spriteSourceSize</key>
                <string>{96,55}</string>
                <key>textureRect</key>
                <string>{{309,166},{96,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,83}</string>
                <key>spriteSourceSize</key>
                <string>{153,83}</string>
                <key>textureRect</key>
                <string>{{1,164},{153,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_tou_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,81}</string>
                <key>spriteSourceSize</key>
                <string>{151,81}</string>
                <key>textureRect</key>
                <string>{{156,164},{151,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_tou_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,118}</string>
                <key>spriteSourceSize</key>
                <string>{152,118}</string>
                <key>textureRect</key>
                <string>{{817,1},{152,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,80}</string>
                <key>spriteSourceSize</key>
                <string>{141,80}</string>
                <key>textureRect</key>
                <string>{{817,121},{141,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_xiaba_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,78}</string>
                <key>spriteSourceSize</key>
                <string>{137,78}</string>
                <key>textureRect</key>
                <string>{{663,147},{137,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_youhouqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{960,141},{32,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_youhouqi_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{32,61}</string>
                <key>textureRect</key>
                <string>{{960,175},{32,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_youqianqi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,67}</string>
                <key>spriteSourceSize</key>
                <string>{35,67}</string>
                <key>textureRect</key>
                <string>{{389,286},{35,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_youqianqi2_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,67}</string>
                <key>spriteSourceSize</key>
                <string>{33,67}</string>
                <key>textureRect</key>
                <string>{{509,245},{33,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_zuohouqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{971,1},{68,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_zuohouqi_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,49}</string>
                <key>spriteSourceSize</key>
                <string>{68,49}</string>
                <key>textureRect</key>
                <string>{{971,71},{68,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_dan6_zuoqianqi2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,95}</string>
                <key>spriteSourceSize</key>
                <string>{84,95}</string>
                <key>textureRect</key>
                <string>{{934,290},{84,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canglong_dan6_zuoqianqi2_a1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,89}</string>
                <key>spriteSourceSize</key>
                <string>{79,89}</string>
                <key>textureRect</key>
                <string>{{934,209},{79,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canglong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{641,148},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,161}</string>
                <key>spriteSourceSize</key>
                <string>{306,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_canglong.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bc8d8cbdea6ca9afd871f72681708a7:e7448782285785704e310032ba2cdf08:794ce4296794c0eecee155d1d70a2f33$</string>
            <key>textureFileName</key>
            <string>playerskill_canglong.png</string>
        </dict>
    </dict>
</plist>
