<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_npc_2_biaoqing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,222}</string>
                <key>spriteSourceSize</key>
                <string>{261,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{261,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_2_biaoqing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,222}</string>
                <key>spriteSourceSize</key>
                <string>{261,222}</string>
                <key>textureRect</key>
                <string>{{264,1},{261,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_2_biaoqing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,222}</string>
                <key>spriteSourceSize</key>
                <string>{261,222}</string>
                <key>textureRect</key>
                <string>{{527,1},{261,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_2_biaoqing4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,222}</string>
                <key>spriteSourceSize</key>
                <string>{261,222}</string>
                <key>textureRect</key>
                <string>{{790,1},{261,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_jianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,42}</string>
                <key>spriteSourceSize</key>
                <string>{49,42}</string>
                <key>textureRect</key>
                <string>{{81,527},{49,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_qunjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{42,225},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_2_qunjia2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{174,225},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_2_qunjia3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,40}</string>
                <key>spriteSourceSize</key>
                <string>{65,40}</string>
                <key>textureRect</key>
                <string>{{1,640},{65,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,78}</string>
                <key>spriteSourceSize</key>
                <string>{111,78}</string>
                <key>textureRect</key>
                <string>{{1,527},{111,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,222}</string>
                <key>spriteSourceSize</key>
                <string>{261,222}</string>
                <key>textureRect</key>
                <string>{{1,264},{261,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{43,640},{54,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,53}</string>
                <key>spriteSourceSize</key>
                <string>{59,53}</string>
                <key>textureRect</key>
                <string>{{1,707},{59,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,39}</string>
                <key>spriteSourceSize</key>
                <string>{37,39}</string>
                <key>textureRect</key>
                <string>{{1,225},{37,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_2_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,35}</string>
                <key>spriteSourceSize</key>
                <string>{85,35}</string>
                <key>textureRect</key>
                <string>{{87,225},{85,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide_npc_2.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:435a65ad2a6a768e2f989ce8edf5ba7f:09db2369536f88425bc21e4f714644ec:3f75032db6e5c07dd6ddfae1165922a4$</string>
            <key>textureFileName</key>
            <string>guide_npc_2.png</string>
        </dict>
    </dict>
</plist>
