<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_guanxing_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,209},{68,36}}</string>
                <key>offset</key>
                <string>{-91,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{68,36}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,526},{150,76}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{150,76}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,390},{214,98}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{214,98}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{200,116}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{200,116}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{202,112}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,3},{202,112}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,626},{166,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,490},{188,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{188,134}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,398},{190,126}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{190,126}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,438},{190,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{190,122}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{190,114}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{190,114}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,186},{216,210}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{216,210}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,178},{218,210}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{218,210}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,238},{198,206}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{198,206}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{174,234}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{174,234}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,526},{186,180}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{186,180}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{240,182}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{240,182}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{256,234}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,236}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,236}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>zhoutai_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,781},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{92,86}}</string>
                <key>sourceSize</key>
                <string>{94,88}</string>
            </dict>
            <key>zhoutai_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,684},{106,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{106,95}}</string>
                <key>sourceSize</key>
                <string>{108,97}</string>
            </dict>
            <key>zhoutai_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,309},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,31}}</string>
                <key>sourceSize</key>
                <string>{31,33}</string>
            </dict>
            <key>zhoutai_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,279},{34,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,28}}</string>
                <key>sourceSize</key>
                <string>{36,30}</string>
            </dict>
            <key>zhoutai_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,469},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,53}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>zhoutai_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,781},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>zhoutai_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,19}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>zhoutai_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,390},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>zhoutai_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,340},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,26}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>zhoutai_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,178},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,37}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>zhoutai_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,368},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>zhoutai_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,424},{43,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{43,63}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>zhoutai_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,35},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>zhoutai_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,556},{126,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,167}}</string>
                <key>sourceSize</key>
                <string>{128,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhoutai.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08bf2060df15765913121faf54566739:dd95cca04af63af75dc3353449f6310e:a7b209e6d7abcc4dc0f46bbaf788ea5e$</string>
            <key>textureFileName</key>
            <string>zhoutai.png</string>
        </dict>
    </dict>
</plist>
