<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daqiao_display_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,98}</string>
                <key>spriteSourceSize</key>
                <string>{46,98}</string>
                <key>textureRect</key>
                <string>{{293,102},{46,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_geboshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,46}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{378,198},{29,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_geboxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,43}</string>
                <key>spriteSourceSize</key>
                <string>{71,43}</string>
                <key>textureRect</key>
                <string>{{378,231},{71,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,165}</string>
                <key>spriteSourceSize</key>
                <string>{172,165}</string>
                <key>textureRect</key>
                <string>{{3,3},{172,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_display_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{179,3},{32,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_houtoufa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,70}</string>
                <key>spriteSourceSize</key>
                <string>{83,70}</string>
                <key>textureRect</key>
                <string>{{425,245},{83,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_display_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,97}</string>
                <key>spriteSourceSize</key>
                <string>{38,97}</string>
                <key>textureRect</key>
                <string>{{179,126},{38,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{179,168},{43,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_display_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{395,102},{53,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{378,159},{50,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_display_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{441,3},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{325,3},{95,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{432,197},{74,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>daqiao_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{293,39},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,94}</string>
                <key>spriteSourceSize</key>
                <string>{83,94}</string>
                <key>textureRect</key>
                <string>{{280,152},{83,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,110}</string>
                <key>spriteSourceSize</key>
                <string>{89,118}</string>
                <key>textureRect</key>
                <string>{{179,39},{83,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>daqiao_display_tui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,55}</string>
                <key>spriteSourceSize</key>
                <string>{88,55}</string>
                <key>textureRect</key>
                <string>{{440,105},{88,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>daqiao_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fdb5f3bdf63384531f769334bb590fa:ca889568c73216a35d912c5f0753e05c:148b92697d164cc2786665617e698a78$</string>
            <key>textureFileName</key>
            <string>daqiao_display.png</string>
        </dict>
    </dict>
</plist>
