<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanghong_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,85}</string>
                <key>spriteSourceSize</key>
                <string>{96,85}</string>
                <key>textureRect</key>
                <string>{{3,299},{96,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,119}</string>
                <key>spriteSourceSize</key>
                <string>{90,119}</string>
                <key>textureRect</key>
                <string>{{3,176},{90,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,63}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{183,3},{64,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,42}</string>
                <key>spriteSourceSize</key>
                <string>{57,42}</string>
                <key>textureRect</key>
                <string>{{200,446},{57,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_bozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,58}</string>
                <key>spriteSourceSize</key>
                <string>{49,58}</string>
                <key>textureRect</key>
                <string>{{151,384},{49,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,89}</string>
                <key>spriteSourceSize</key>
                <string>{98,89}</string>
                <key>textureRect</key>
                <string>{{90,3},{98,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_l_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,24}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{250,3},{59,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_l_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,19}</string>
                <key>spriteSize</key>
                <string>{57,45}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{151,446},{57,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_l_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-26}</string>
                <key>spriteSize</key>
                <string>{51,61}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{208,71},{51,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_long_l_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-28}</string>
                <key>spriteSize</key>
                <string>{45,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{159,105},{45,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_long_l_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,18}</string>
                <key>spriteSize</key>
                <string>{51,39}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{170,291},{51,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_l_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{149,259},{28,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_r_chibang_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,24}</string>
                <key>spriteSize</key>
                <string>{95,63}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{3,399},{95,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_r_chibang_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,36}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{70,399},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_long_r_chibang_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-26}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{90,105},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_long_r_chibang_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-34}</string>
                <key>spriteSize</key>
                <string>{55,81}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{97,174},{55,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_long_r_chibang_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,23}</string>
                <key>spriteSize</key>
                <string>{65,55}</string>
                <key>spriteSourceSize</key>
                <string>{123,169}</string>
                <key>textureRect</key>
                <string>{{156,174},{65,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_r_leg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,48}</string>
                <key>spriteSourceSize</key>
                <string>{35,48}</string>
                <key>textureRect</key>
                <string>{{97,259},{35,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhanghong_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{46,39}</string>
                <key>textureRect</key>
                <string>{{192,243},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,81}</string>
                <key>spriteSourceSize</key>
                <string>{74,81}</string>
                <key>textureRect</key>
                <string>{{92,299},{74,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{70,494},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhanghong_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,169}</string>
                <key>spriteSourceSize</key>
                <string>{83,169}</string>
                <key>textureRect</key>
                <string>{{3,3},{83,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhanghong_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7c152b3ea2de580460c2b37cf02e988:7edc2fdcf2cf5863c8b70e40be78c39e:b443fff77752da72671d8f25277a1387$</string>
            <key>textureFileName</key>
            <string>zhanghong_display.png</string>
        </dict>
    </dict>
</plist>
