<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_luxun_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,42}</string>
                <key>spriteSize</key>
                <string>{50,93}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{947,158},{50,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,11}</string>
                <key>spriteSize</key>
                <string>{62,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{947,1},{62,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{184,175}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{755,180},{184,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{184,177}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{569,180},{184,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{186,177}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{571,1},{186,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{186,177}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{381,176},{186,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{188,173}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{381,1},{188,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{188,177}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{184,175}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{755,357},{184,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{188,177}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{191,1},{188,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{186,177}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{759,1},{186,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{184,171}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{1,180},{184,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_luxun_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{176,163}</string>
                <key>spriteSourceSize</key>
                <string>{190,177}</string>
                <key>textureRect</key>
                <string>{{187,180},{176,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_luxun_02.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c32a2ccddcb4ca84301db5e77a0a82a:81beba9f897d6d90421990850d49170a:01829e8784fd3f8da4a98cee43af3d43$</string>
            <key>textureFileName</key>
            <string>skill_luxun_02.png</string>
        </dict>
    </dict>
</plist>
