<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_zulong_effect4_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,4}</string>
                <key>spriteSize</key>
                <string>{175,114}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{1,373},{175,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,4}</string>
                <key>spriteSize</key>
                <string>{181,116}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{184,251},{181,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,5}</string>
                <key>spriteSize</key>
                <string>{181,114}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{1,257},{181,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,11}</string>
                <key>spriteSize</key>
                <string>{181,118}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{371,184},{181,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>playerskill_zulong_effect4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,16}</string>
                <key>spriteSize</key>
                <string>{183,120}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{186,129},{183,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect4_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,20}</string>
                <key>spriteSize</key>
                <string>{183,126}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{186,1},{183,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect4_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,22}</string>
                <key>spriteSize</key>
                <string>{183,132}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect4_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,16}</string>
                <key>spriteSize</key>
                <string>{181,120}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{1,135},{181,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_zulong_effect4_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,18}</string>
                <key>spriteSize</key>
                <string>{181,124}</string>
                <key>spriteSourceSize</key>
                <string>{233,200}</string>
                <key>textureRect</key>
                <string>{{371,1},{181,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_zulong_effect4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b24ef9ddd52ae523b948279c406b46cd:509155a268634dfe8aeb8fafc04fee91:8d4d2da02326cb2675b1b2f22317c132$</string>
            <key>textureFileName</key>
            <string>playerskill_zulong_effect4.png</string>
        </dict>
    </dict>
</plist>
