<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_qiang_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,89}</string>
                <key>spriteSourceSize</key>
                <string>{72,89}</string>
                <key>textureRect</key>
                <string>{{158,3},{72,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_qiang_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,72}</string>
                <key>spriteSourceSize</key>
                <string>{77,72}</string>
                <key>textureRect</key>
                <string>{{3,178},{77,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_qiang_display_l_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,60}</string>
                <key>spriteSourceSize</key>
                <string>{51,60}</string>
                <key>textureRect</key>
                <string>{{106,112},{51,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_qiang_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,55}</string>
                <key>spriteSourceSize</key>
                <string>{87,55}</string>
                <key>textureRect</key>
                <string>{{161,114},{87,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_qiang_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{3,75},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_qiang_display_long_l_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,21}</string>
                <key>spriteSourceSize</key>
                <string>{33,21}</string>
                <key>textureRect</key>
                <string>{{129,75},{33,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_qiang_display_long_l_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{148,213},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_qiang_display_long_r_foot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,28}</string>
                <key>spriteSourceSize</key>
                <string>{33,28}</string>
                <key>textureRect</key>
                <string>{{148,176},{33,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_qiang_display_long_r_foot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,39}</string>
                <key>spriteSourceSize</key>
                <string>{31,39}</string>
                <key>textureRect</key>
                <string>{{214,79},{31,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_qiang_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,29}</string>
                <key>spriteSourceSize</key>
                <string>{56,29}</string>
                <key>textureRect</key>
                <string>{{154,79},{56,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_qiang_display_r_arm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,69}</string>
                <key>spriteSourceSize</key>
                <string>{41,69}</string>
                <key>textureRect</key>
                <string>{{84,178},{41,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_qiang_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{129,176},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_qiang_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,68}</string>
                <key>spriteSourceSize</key>
                <string>{151,68}</string>
                <key>textureRect</key>
                <string>{{3,3},{151,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lan_qiang_display.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6449d93e63c4f8212fb0cc8dd45031b:23d0daaa69070698a09c1a808b2b99f8:93ca9f66b184db59d3ce04991b9e78e3$</string>
            <key>textureFileName</key>
            <string>lan_qiang_display.png</string>
        </dict>
    </dict>
</plist>
