<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff_shanghaijianmian_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,118},{50,52}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{50,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,118},{52,54}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{52,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,60},{56,56}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{56,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{56,58}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,3},{56,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,132},{58,60}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{56,60}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{56,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{54,62}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{54,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,64}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{56,62}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{56,62}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,194},{56,60}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{56,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{58,60}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,2},{58,60}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,58}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,64},{60,56}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,5},{60,56}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,62},{56,54}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{56,54}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>buff_shanghaijianmian_01_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,174},{52,52}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{52,52}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buff_shanghaijianmian_01.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9680b40e853d7a2cecd5618fd67e3ddc:438cb1a51c6b46024bffdbafcba508f6:f527e1314de6138de72dd8aef4941dcf$</string>
            <key>textureFileName</key>
            <string>buff_shanghaijianmian_01.png</string>
        </dict>
    </dict>
</plist>
