<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guanxing_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,562},{96,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{96,79}}</string>
                <key>sourceSize</key>
                <string>{98,79}</string>
            </dict>
            <key>guanxing_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,697},{112,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{112,85}}</string>
                <key>sourceSize</key>
                <string>{114,87}</string>
            </dict>
            <key>guanxing_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,307},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,46}}</string>
                <key>sourceSize</key>
                <string>{32,48}</string>
            </dict>
            <key>guanxing_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,355},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,25}}</string>
                <key>sourceSize</key>
                <string>{32,27}</string>
            </dict>
            <key>guanxing_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,438},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,53}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>guanxing_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,562},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>guanxing_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,19}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>guanxing_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,390},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>guanxing_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,279},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,26}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>guanxing_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,178},{29,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{29,37}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>guanxing_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,382},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>guanxing_pifeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,398},{71,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{71,81}}</string>
                <key>sourceSize</key>
                <string>{73,83}</string>
            </dict>
            <key>guanxing_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,238},{46,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,70}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>guanxing_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,35},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>guanxing_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,626},{121,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{121,176}}</string>
                <key>sourceSize</key>
                <string>{123,178}</string>
            </dict>
            <key>skill_guanxing_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,209},{68,36}}</string>
                <key>offset</key>
                <string>{-91,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{68,36}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,526},{150,76}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{150,76}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,390},{214,98}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{214,98}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{200,116}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{200,116}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{202,112}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,3},{202,112}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_guanxing_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,525},{166,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,490},{188,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{188,134}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,398},{190,126}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{190,126}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,438},{190,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{190,122}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{190,114}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{190,114}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_guanxing_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,186},{216,210}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{216,210}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,178},{218,210}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{218,210}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,238},{198,206}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{198,206}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{174,234}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{174,234}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,526},{186,180}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{186,180}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{240,182}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{240,182}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{256,234}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_guanxing_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,236}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,236}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guanxing.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd8790daeb15f727974e986dc9b92a73:d66be9628a2dfed819f592ced0e8ee0d:57a9c3fd640ed969c7d060758568007c$</string>
            <key>textureFileName</key>
            <string>guanxing.png</string>
        </dict>
    </dict>
</plist>
