<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>luxun_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,88}</string>
                <key>spriteSourceSize</key>
                <string>{58,88}</string>
                <key>textureRect</key>
                <string>{{293,208},{58,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,88}</string>
                <key>spriteSourceSize</key>
                <string>{107,88}</string>
                <key>textureRect</key>
                <string>{{385,755},{107,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,53}</string>
                <key>spriteSourceSize</key>
                <string>{43,53}</string>
                <key>textureRect</key>
                <string>{{403,972},{43,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,21}</string>
                <key>spriteSourceSize</key>
                <string>{27,21}</string>
                <key>textureRect</key>
                <string>{{293,997},{27,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,73}</string>
                <key>spriteSourceSize</key>
                <string>{101,73}</string>
                <key>textureRect</key>
                <string>{{195,109},{101,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,91}</string>
                <key>spriteSourceSize</key>
                <string>{81,91}</string>
                <key>textureRect</key>
                <string>{{293,1},{81,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,30}</string>
                <key>spriteSourceSize</key>
                <string>{39,30}</string>
                <key>textureRect</key>
                <string>{{195,212},{39,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,35}</string>
                <key>spriteSourceSize</key>
                <string>{42,35}</string>
                <key>textureRect</key>
                <string>{{458,972},{42,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,39}</string>
                <key>spriteSourceSize</key>
                <string>{74,39}</string>
                <key>textureRect</key>
                <string>{{495,972},{74,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{293,298},{72,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luxun_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{193,379},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luxun_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,79}</string>
                <key>textureRect</key>
                <string>{{270,109},{97,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapons_luxun_00_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-34}</string>
                <key>spriteSize</key>
                <string>{106,96}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{195,1},{106,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapons_luxun_00_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-17}</string>
                <key>spriteSize</key>
                <string>{108,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{293,887},{108,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_00_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-14}</string>
                <key>spriteSize</key>
                <string>{116,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{199,769},{116,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weapons_luxun_00_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{96,114}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{295,514},{96,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_00_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-3}</string>
                <key>spriteSize</key>
                <string>{96,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{97,1},{96,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_00_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,8}</string>
                <key>spriteSize</key>
                <string>{94,136}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_00_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-29,10}</string>
                <key>spriteSize</key>
                <string>{92,134}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,139},{92,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_00_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,12}</string>
                <key>spriteSize</key>
                <string>{90,130}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,275},{90,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_00_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-46,9}</string>
                <key>spriteSize</key>
                <string>{74,108}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{309,755},{74,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-13}</string>
                <key>spriteSize</key>
                <string>{100,106}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{403,864},{100,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,16}</string>
                <key>spriteSize</key>
                <string>{98,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,407},{98,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,18}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{293,637},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,18}</string>
                <key>spriteSize</key>
                <string>{98,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,773},{98,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,16}</string>
                <key>spriteSize</key>
                <string>{96,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,529},{96,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,17}</string>
                <key>spriteSize</key>
                <string>{98,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{193,261},{98,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,16}</string>
                <key>spriteSize</key>
                <string>{98,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{93,275},{98,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,17}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{97,651},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,16}</string>
                <key>spriteSize</key>
                <string>{94,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,651},{94,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,18}</string>
                <key>spriteSize</key>
                <string>{94,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{197,891},{94,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,19}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{99,529},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,20}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{101,397},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-20,21}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,893},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,22}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{199,396},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,22}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{99,893},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,21}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{101,771},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,15}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{195,649},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{98,120}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{95,139},{98,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weapons_luxun_02_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-18}</string>
                <key>spriteSize</key>
                <string>{96,118}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{197,517},{96,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luxun.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84bc9f0662269f28446bf3f5b870c3b7:64193d3fe53787f89b6f229f6ca93757:d359c3089b230c801c0e5e175714a134$</string>
            <key>textureFileName</key>
            <string>luxun.png</string>
        </dict>
    </dict>
</plist>
