<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>playerskill_lanlong_effect2_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{321,275},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{162,128}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{165,143},{162,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{162,134}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{329,139},{162,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{162,136}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{329,1},{162,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{162,142}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{162,140}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{165,1},{162,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{160,148}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,145},{160,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{156,150}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{163,273},{156,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playerskill_lanlong_effect2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{150,152}</string>
                <key>spriteSourceSize</key>
                <string>{162,162}</string>
                <key>textureRect</key>
                <string>{{1,295},{150,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playerskill_lanlong_effect2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39a3a4e5bffc02d0327e4f2dc83df91b:40d06aacb0af489d3cba4910306f1113:08501f7c0532485afe7de3d08ca8c0f9$</string>
            <key>textureFileName</key>
            <string>playerskill_lanlong_effect2.png</string>
        </dict>
    </dict>
</plist>
