<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_gong_display_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,64}</string>
                <key>spriteSourceSize</key>
                <string>{53,64}</string>
                <key>textureRect</key>
                <string>{{102,307},{53,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_geboshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,33}</string>
                <key>spriteSourceSize</key>
                <string>{29,33}</string>
                <key>textureRect</key>
                <string>{{178,295},{29,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_geboxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,47}</string>
                <key>spriteSourceSize</key>
                <string>{25,47}</string>
                <key>textureRect</key>
                <string>{{140,256},{25,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,156}</string>
                <key>spriteSourceSize</key>
                <string>{138,156}</string>
                <key>textureRect</key>
                <string>{{3,3},{138,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{3,163},{32,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,97}</string>
                <key>spriteSourceSize</key>
                <string>{38,97}</string>
                <key>textureRect</key>
                <string>{{39,265},{38,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_display_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{102,375},{43,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_display_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{135,375},{53,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{169,256},{50,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{39,163},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_display_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{3,309},{95,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{100,425},{74,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{159,307},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_gong_display_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,89}</string>
                <key>spriteSourceSize</key>
                <string>{65,89}</string>
                <key>textureRect</key>
                <string>{{109,163},{65,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_gong_display_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,75}</string>
                <key>spriteSourceSize</key>
                <string>{93,75}</string>
                <key>textureRect</key>
                <string>{{3,425},{93,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lan_gong_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:929a76e93a9e12905ab468c8e19765df:6777e8bd9c78ebdcae1da888f5ecca99:d037905a273afcf08cde8fa238c13090$</string>
            <key>textureFileName</key>
            <string>lan_gong_display.png</string>
        </dict>
    </dict>
</plist>
