<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_zhouyu_1b_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{123,73}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{1,399},{123,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{132,82},{129,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{1,84},{129,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{263,82},{129,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{1,268},{129,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_zhouyu_1b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{129,73}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{1,159},{129,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{129,81}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{129,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{129,79}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{132,1},{129,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{129,79}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{263,1},{129,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{127,77}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{394,139},{127,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_zhouyu_1b_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{117,69}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{394,1},{117,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_zhouyu_1b_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{103,65}</string>
                <key>spriteSourceSize</key>
                <string>{133,91}</string>
                <key>textureRect</key>
                <string>{{394,72},{103,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_zhouyu_1b.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74c92216750f0fd61cf964e066dc9014:9eb998b453e4ca97b9f64927af8bcfad:b007db61daa9d9ffcae4d8cf89ee5567$</string>
            <key>textureFileName</key>
            <string>skill_zhouyu_1b.png</string>
        </dict>
    </dict>
</plist>
