<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_qingyuan_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,134},{104,104}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,27},{104,104}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_qingyuan_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,134},{130,130}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,14},{130,130}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_qingyuan_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{130,132}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{130,132}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_qingyuan_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{132,134}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{132,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_qingyuan_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{134,134}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_qingyuan_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{134,134}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{134,134}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>ui_qingyuan_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,136}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{134,136}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_qingyuan_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7bf5e8e9417fd41411b5c928d0d6fbd:c9aea4cd86b9cacfbadc0f2856d722bf:96957dbc9eb41754b524050a28424a33$</string>
            <key>textureFileName</key>
            <string>ui_qingyuan_01.png</string>
        </dict>
    </dict>
</plist>
