<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhurong_gebo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,61}</string>
                <key>spriteSourceSize</key>
                <string>{49,61}</string>
                <key>textureRect</key>
                <string>{{133,170},{49,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_geboshang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,35}</string>
                <key>spriteSourceSize</key>
                <string>{24,35}</string>
                <key>textureRect</key>
                <string>{{36,284},{24,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_geboxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,48}</string>
                <key>spriteSourceSize</key>
                <string>{44,48}</string>
                <key>textureRect</key>
                <string>{{176,233},{44,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_gong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,166}</string>
                <key>spriteSourceSize</key>
                <string>{134,166}</string>
                <key>textureRect</key>
                <string>{{2,2},{134,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_gongjian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,142}</string>
                <key>spriteSourceSize</key>
                <string>{32,142}</string>
                <key>textureRect</key>
                <string>{{2,170},{32,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_longbozi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,97}</string>
                <key>spriteSourceSize</key>
                <string>{38,97}</string>
                <key>textureRect</key>
                <string>{{140,401},{38,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_longhoutui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,29}</string>
                <key>textureRect</key>
                <string>{{170,340},{43,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_longqiantui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,41}</string>
                <key>spriteSourceSize</key>
                <string>{53,41}</string>
                <key>textureRect</key>
                <string>{{133,233},{53,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_longqiantui2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,35}</string>
                <key>spriteSourceSize</key>
                <string>{50,35}</string>
                <key>textureRect</key>
                <string>{{170,288},{50,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_longshenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,66}</string>
                <key>spriteSourceSize</key>
                <string>{98,66}</string>
                <key>textureRect</key>
                <string>{{102,301},{98,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_longtou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,112}</string>
                <key>spriteSourceSize</key>
                <string>{95,112}</string>
                <key>textureRect</key>
                <string>{{36,170},{95,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_longweiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,44}</string>
                <key>spriteSourceSize</key>
                <string>{74,44}</string>
                <key>textureRect</key>
                <string>{{94,429},{74,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{73,284},{54,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhurong_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,90}</string>
                <key>spriteSourceSize</key>
                <string>{76,90}</string>
                <key>textureRect</key>
                <string>{{2,429},{76,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhurong_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{115,100}</string>
                <key>textureRect</key>
                <string>{{2,314},{113,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zhurong.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fedfe64348e9b119b552d0d0015a8e35:5e72c6b2dd73d633fcdc165997c5e835:011f3ad48d15f4ace3a941e137af2280$</string>
            <key>textureFileName</key>
            <string>zhurong.png</string>
        </dict>
    </dict>
</plist>
