<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pangtong_display_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,74}</string>
                <key>spriteSourceSize</key>
                <string>{57,74}</string>
                <key>textureRect</key>
                <string>{{277,70},{57,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangtong_display_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,98}</string>
                <key>spriteSourceSize</key>
                <string>{138,98}</string>
                <key>textureRect</key>
                <string>{{3,3},{138,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangtong_display_l_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,58}</string>
                <key>spriteSourceSize</key>
                <string>{40,58}</string>
                <key>textureRect</key>
                <string>{{145,101},{40,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangtong_display_l_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{264,131},{25,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangtong_display_long_body.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,63}</string>
                <key>spriteSourceSize</key>
                <string>{94,63}</string>
                <key>textureRect</key>
                <string>{{277,3},{94,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangtong_display_long_head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,84}</string>
                <key>spriteSourceSize</key>
                <string>{79,84}</string>
                <key>textureRect</key>
                <string>{{375,3},{79,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangtong_display_long_l_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,46}</string>
                <key>spriteSourceSize</key>
                <string>{31,46}</string>
                <key>textureRect</key>
                <string>{{463,50},{31,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangtong_display_long_r_foot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,53}</string>
                <key>spriteSourceSize</key>
                <string>{40,53}</string>
                <key>textureRect</key>
                <string>{{207,101},{40,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangtong_display_long_weiba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{463,3},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangtong_display_long_xiaba.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{65,56}</string>
                <key>textureRect</key>
                <string>{{374,86},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangtong_display_r_hand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,44}</string>
                <key>spriteSourceSize</key>
                <string>{59,44}</string>
                <key>textureRect</key>
                <string>{{443,127},{59,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangtong_display_r_hujian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,38}</string>
                <key>spriteSourceSize</key>
                <string>{45,38}</string>
                <key>textureRect</key>
                <string>{{463,85},{45,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pangtong_display_shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{54,15}</string>
                <key>spriteSourceSize</key>
                <string>{56,15}</string>
                <key>textureRect</key>
                <string>{{355,70},{54,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pangtong_display_wuqi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,94}</string>
                <key>spriteSourceSize</key>
                <string>{128,94}</string>
                <key>textureRect</key>
                <string>{{145,3},{128,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pangtong_display.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56a7025f2f70e372454f57296bf50d43:2f997da3a05542686b5947f2dbd1f0a1:ddd181d5f82e370d2398e4618caeb43e$</string>
            <key>textureFileName</key>
            <string>pangtong_display.png</string>
        </dict>
    </dict>
</plist>
