<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_qiang_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,398},{72,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,89}}</string>
                <key>sourceSize</key>
                <string>{72,89}</string>
            </dict>
            <key>lan_qiang_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,489},{77,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,72}}</string>
                <key>sourceSize</key>
                <string>{77,72}</string>
            </dict>
            <key>lan_qiang_l_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,402},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>lan_qiang_long_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,455},{85,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{85,53}}</string>
                <key>sourceSize</key>
                <string>{87,55}</string>
            </dict>
            <key>lan_qiang_long_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,591},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{97,97}}</string>
                <key>sourceSize</key>
                <string>{99,99}</string>
            </dict>
            <key>lan_qiang_long_l_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{31,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,19}}</string>
                <key>sourceSize</key>
                <string>{33,21}</string>
            </dict>
            <key>lan_qiang_long_l_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,375},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>lan_qiang_long_r_foot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,248},{31,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{31,28}}</string>
                <key>sourceSize</key>
                <string>{33,28}</string>
            </dict>
            <key>lan_qiang_long_r_foot_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,278},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>lan_qiang_long_weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,319},{54,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{54,27}}</string>
                <key>sourceSize</key>
                <string>{56,29}</string>
            </dict>
            <key>lan_qiang_r_arm.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,238},{41,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,69}}</string>
                <key>sourceSize</key>
                <string>{41,69}</string>
            </dict>
            <key>lan_qiang_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,35},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>lan_qiang_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,438},{151,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,68}}</string>
                <key>sourceSize</key>
                <string>{151,68}</string>
            </dict>
            <key>skill_lan_qiang_00_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,178},{68,36}}</string>
                <key>offset</key>
                <string>{-91,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,42},{68,36}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_lan_qiang_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,542},{150,76}}</string>
                <key>offset</key>
                <string>{-43,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,25},{150,76}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_lan_qiang_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,390},{214,98}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,16},{214,98}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_lan_qiang_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{200,116}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,4},{200,116}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_lan_qiang_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{202,112}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,3},{202,112}}</string>
                <key>sourceSize</key>
                <string>{250,120}</string>
            </dict>
            <key>skill_lan_qiang_01_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,554},{166,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{166,170}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_lan_qiang_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,526},{188,134}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{188,134}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_lan_qiang_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,398},{190,126}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,31},{190,126}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_lan_qiang_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,490},{190,122}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{190,122}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_lan_qiang_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,438},{190,114}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{190,114}}</string>
                <key>sourceSize</key>
                <string>{190,170}</string>
            </dict>
            <key>skill_lan_qiang_02_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,186},{216,210}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{216,210}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_lan_qiang_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,178},{218,210}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{218,210}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_lan_qiang_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,238},{198,206}}</string>
                <key>offset</key>
                <string>{-19,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{198,206}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_lan_qiang_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{174,234}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,15},{174,234}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_lan_qiang_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{186,180}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,40},{186,180}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_lan_qiang_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{240,182}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{240,182}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_lan_qiang_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{256,234}}</string>
                <key>offset</key>
                <string>{2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{256,234}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
            <key>skill_lan_qiang_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,236}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,236}}</string>
                <key>sourceSize</key>
                <string>{260,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lan_qiang.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c03ba901f8f5e0b0a0fe91227c670e8:e4816de15488ecac9425e64a899e0996:76acd003954ff31b3964dd4b34380556$</string>
            <key>textureFileName</key>
            <string>lan_qiang.png</string>
        </dict>
    </dict>
</plist>
