<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>story_6_guangxiao-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{50,76}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,176},{50,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>story_6_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,118}</string>
                <key>spriteSourceSize</key>
                <string>{139,118}</string>
                <key>textureRect</key>
                <string>{{118,1},{139,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>story_6_tou2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{115,173}</string>
                <key>spriteSourceSize</key>
                <string>{129,173}</string>
                <key>textureRect</key>
                <string>{{1,1},{115,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>story_6.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d29938bf7b358ce5bc4c1fe6cb63b68:d6e8da75be877c2521ecae912e8b4efe:062d47355c2498f19be430cb7e2c28bc$</string>
            <key>textureFileName</key>
            <string>story_6.png</string>
        </dict>
    </dict>
</plist>
