<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guide_npc_8_biaoqing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,201}</string>
                <key>spriteSourceSize</key>
                <string>{223,201}</string>
                <key>textureRect</key>
                <string>{{1,227},{223,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_biaoqing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,201}</string>
                <key>spriteSourceSize</key>
                <string>{223,201}</string>
                <key>textureRect</key>
                <string>{{1,452},{223,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_biaoqing2_NU.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{292,452},{40,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_biaoqing3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,201}</string>
                <key>spriteSourceSize</key>
                <string>{222,201}</string>
                <key>textureRect</key>
                <string>{{225,1},{222,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_biaoqing3_qi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,26}</string>
                <key>spriteSourceSize</key>
                <string>{27,26}</string>
                <key>textureRect</key>
                <string>{{266,533},{27,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_8_biaoqing4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,201}</string>
                <key>spriteSourceSize</key>
                <string>{223,201}</string>
                <key>textureRect</key>
                <string>{{1,677},{223,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_biaoqing5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,224}</string>
                <key>spriteSourceSize</key>
                <string>{222,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{222,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_8_pifeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,117}</string>
                <key>spriteSourceSize</key>
                <string>{156,117}</string>
                <key>textureRect</key>
                <string>{{1,902},{156,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_8_shenti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,116}</string>
                <key>spriteSourceSize</key>
                <string>{103,116}</string>
                <key>textureRect</key>
                <string>{{159,902},{103,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_8_tou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,201}</string>
                <key>spriteSourceSize</key>
                <string>{223,201}</string>
                <key>textureRect</key>
                <string>{{204,227},{223,201}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_yaodai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,30}</string>
                <key>spriteSourceSize</key>
                <string>{107,30}</string>
                <key>textureRect</key>
                <string>{{204,452},{107,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_youjiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,28}</string>
                <key>spriteSourceSize</key>
                <string>{26,28}</string>
                <key>textureRect</key>
                <string>{{236,533},{26,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_npc_8_youshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,79}</string>
                <key>spriteSourceSize</key>
                <string>{54,79}</string>
                <key>textureRect</key>
                <string>{{236,452},{54,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_8_zuojiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,28}</string>
                <key>spriteSourceSize</key>
                <string>{25,28}</string>
                <key>textureRect</key>
                <string>{{292,494},{25,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_npc_8_zuoshou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,98}</string>
                <key>spriteSourceSize</key>
                <string>{93,98}</string>
                <key>textureRect</key>
                <string>{{204,561},{93,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>guide_npc_8.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f37825f64d7b69feb847ce9fe73a6c34:1b002c473f44d21df83b81dacbeb6a38:8c2e07bd06fc02b97039ed55f4c37a21$</string>
            <key>textureFileName</key>
            <string>guide_npc_8.png</string>
        </dict>
    </dict>
</plist>
