<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dongzhuo_body.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{63,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{63,74}}</string>
                <key>sourceSize</key>
                <string>{65,76}</string>
            </dict>
            <key>dongzhuo_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,325},{130,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,103}}</string>
                <key>sourceSize</key>
                <string>{132,105}</string>
            </dict>
            <key>dongzhuo_l_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,300},{31,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{31,53}}</string>
                <key>sourceSize</key>
                <string>{33,55}</string>
            </dict>
            <key>dongzhuo_l_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,722},{124,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{124,92}}</string>
                <key>sourceSize</key>
                <string>{126,94}</string>
            </dict>
            <key>dongzhuo_long-jiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,325},{94,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,97}}</string>
                <key>sourceSize</key>
                <string>{96,99}</string>
            </dict>
            <key>dongzhuo_long-shenti.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,949},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{101,61}}</string>
                <key>sourceSize</key>
                <string>{103,63}</string>
            </dict>
            <key>dongzhuo_long-weiba.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,128},{37,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{37,47}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>dongzhuo_long-youhoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,35},{20,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{20,29}}</string>
                <key>sourceSize</key>
                <string>{22,31}</string>
            </dict>
            <key>dongzhuo_long-youqianjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{21,31}}</string>
                <key>sourceSize</key>
                <string>{23,33}</string>
            </dict>
            <key>dongzhuo_long-zuohoujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,253},{34,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{34,45}}</string>
                <key>sourceSize</key>
                <string>{36,47}</string>
            </dict>
            <key>dongzhuo_long-zuoqianjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,355},{28,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{28,48}}</string>
                <key>sourceSize</key>
                <string>{30,50}</string>
            </dict>
            <key>dongzhuo_r_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,177},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{27,36}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>dongzhuo_r_hujian.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,206},{35,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{35,45}}</string>
                <key>sourceSize</key>
                <string>{37,47}</string>
            </dict>
            <key>dongzhuo_r_wuqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,946},{127,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{127,74}}</string>
                <key>sourceSize</key>
                <string>{129,76}</string>
            </dict>
            <key>dongzhuo_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,66},{52,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{52,13}}</string>
                <key>sourceSize</key>
                <string>{56,15}</string>
            </dict>
            <key>skill_dongzhuo_00_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,924},{97,61}}</string>
                <key>offset</key>
                <string>{-12,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,21},{97,61}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,949},{69,103}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,13},{69,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,816},{55,97}}</string>
                <key>offset</key>
                <string>{26,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,30},{55,97}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,939},{55,81}}</string>
                <key>offset</key>
                <string>{29,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,46},{55,81}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,424},{55,59}}</string>
                <key>offset</key>
                <string>{29,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,66},{55,59}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,534},{55,51}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,73},{55,51}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,630},{101,57}}</string>
                <key>offset</key>
                <string>{-17,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{101,57}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,325},{55,107}}</string>
                <key>offset</key>
                <string>{21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,7},{55,107}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,630},{51,103}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,24},{51,103}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,727},{55,85}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,42},{55,85}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,957},{55,63}}</string>
                <key>offset</key>
                <string>{29,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,62},{55,63}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_00_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,481},{55,51}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,73},{55,51}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_dongzhuo_01_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{314,90}}</string>
                <key>offset</key>
                <string>{-4,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,59},{314,90}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>skill_dongzhuo_01_b_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,444},{306,142}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,17},{306,142}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>skill_dongzhuo_01_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,128},{306,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,12},{306,140}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>skill_dongzhuo_01_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{314,132}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,21},{314,132}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>skill_dongzhuo_01_b_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{322,124}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,33},{322,124}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>skill_dongzhuo_01_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{330,124}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,36},{330,124}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>skill_dongzhuo_01_b_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{336,124}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,36},{336,124}}</string>
                <key>sourceSize</key>
                <string>{360,160}</string>
            </dict>
            <key>skill_dongzhuo_01_t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,932},{142,90}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,40},{142,90}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>skill_dongzhuo_01_t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,630},{168,110}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{168,110}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>skill_dongzhuo_01_t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,633},{154,114}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{154,114}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>skill_dongzhuo_01_t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,622},{144,98}}</string>
                <key>offset</key>
                <string>{24,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,32},{144,98}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>skill_dongzhuo_01_t_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,325},{118,106}}</string>
                <key>offset</key>
                <string>{32,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,24},{118,106}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>skill_dongzhuo_01_t_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,325},{106,100}}</string>
                <key>offset</key>
                <string>{41,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,30},{106,100}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>skill_dongzhuo_01_t_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,939},{82,88}}</string>
                <key>offset</key>
                <string>{52,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,42},{82,88}}</string>
                <key>sourceSize</key>
                <string>{200,130}</string>
            </dict>
            <key>skill_dongzhuo_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,727},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,425},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,425},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,627},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,128},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,128},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,325},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,430},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,735},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,742},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,742},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,128},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,128},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,128},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,433},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,433},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,433},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,128},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,128},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,749},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,436},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,752},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,752},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
            <key>skill_dongzhuo_02_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{195,98}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{195,98}}</string>
                <key>sourceSize</key>
                <string>{207,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dongzhuo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ea67c0458c69f2367573bb02b41a500:200c8b9ac8bacdbbf3b3682622ec9082:42ed097a77948ec9c4f18f325765ea5b$</string>
            <key>textureFileName</key>
            <string>dongzhuo.png</string>
        </dict>
    </dict>
</plist>
