<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit_simayi_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{273,120}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{273,120}}</string>
                <key>sourceSize</key>
                <string>{273,176}</string>
            </dict>
            <key>hit_simayi_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,176}}</string>
                <key>sourceSize</key>
                <string>{273,176}</string>
            </dict>
            <key>hit_simayi_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{185,172}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{185,172}}</string>
                <key>sourceSize</key>
                <string>{273,176}</string>
            </dict>
            <key>hit_simayi_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,164},{217,168}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{217,168}}</string>
                <key>sourceSize</key>
                <string>{273,176}</string>
            </dict>
            <key>hit_simayi_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{233,160}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{233,160}}</string>
                <key>sourceSize</key>
                <string>{273,176}</string>
            </dict>
            <key>hit_simayi_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,334},{189,162}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{189,162}}</string>
                <key>sourceSize</key>
                <string>{273,176}</string>
            </dict>
            <key>hit_simayi_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,334},{117,138}}</string>
                <key>offset</key>
                <string>{-2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,4},{117,138}}</string>
                <key>sourceSize</key>
                <string>{273,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hit_simayi_01.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b7c0090560b2b98124cae8e496f7cd4:844dfecda692f5fbbe122816d2917655:b8457cfe6606480783127e5b41e9c19f$</string>
            <key>textureFileName</key>
            <string>hit_simayi_01.png</string>
        </dict>
    </dict>
</plist>
